<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>put a block of 4 in the container</string>
	<key>ANIMATIONS_ENABLED</key>
	<true/>
	<key>OPERATOR_MODE</key>
	<string>ALL</string>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>TAG</key>
			<string>block1</string>
			<key>DIMENSION_COLS</key>
			<integer>2</integer>
			<key>DIMENSION_ROWS</key>
			<integer>2</integer>
			<key>DIMENSION_UNIT_COUNT</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>TAG</key>
			<string>block2</string>
			<key>DIMENSION_COLS</key>
			<integer>3</integer>
			<key>DIMENSION_ROWS</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>INIT_CONTAINERS</key>
	<array>
		<dict>
			<key>TAG</key>
			<string>container1</string>
			<key>CAPACITY_COUNT</key>
			<integer>1</integer>
			<key>MAX_OBJECT_SIZE</key>
			<integer>4</integer>
			<key>CAPACITY_SIZE</key>
			<integer>4</integer>
		</dict>
	</array>
	<key>SOLUTIONS</key>
	<array>
		<dict>
			<key>SOLUTION_SCORE</key>
			<integer>1</integer>
			<key>PLAY_SOUND</key>
			<string>complete.wav</string>
			<key>SOLUTION_DISPLAY_TEXT</key>
			<string>Congratulations!</string>
			<key>CLAUSES</key>
			<array>
				<dict>
					<key>ITEM1_CONTAINER_TAG</key>
					<string>container1</string>
					<key>ITEM2_VALUE</key>
					<integer>4</integer>
					<key>CLAUSE_TYPE</key>
					<string>SIZE_EQUAL_TO</string>
				</dict>
				<dict>
					<key>ITEM1_CONTAINER_TAG</key>
					<string>container1</string>
					<key>ITEM2_VALUE</key>
					<integer>1</integer>
					<key>CLAUSE_TYPE</key>
					<string>COUNT_EQUAL_TO</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>TUTORIALS</key>
	<array>
		<dict>
			<key>PROBLEM_SUBTITLE</key>
			<string></string>
			<key>PRE_ACTIONS</key>
			<dict>
				<key>PLAY_SOUND</key>
				<string>place_a_block_of_four_in_the_container.wav</string>
			</dict>
			<key>CLAUSES</key>
			<array>
				<dict>
					<key>ITEM1_CONTAINER_TAG</key>
					<string>container1</string>
					<key>ITEM2_VALUE</key>
					<integer>4</integer>
					<key>CLAUSE_TYPE</key>
					<string>SIZE_EQUAL_TO</string>
				</dict>
				<dict>
					<key>ITEM1_CONTAINER_TAG</key>
					<string>container1</string>
					<key>ITEM2_VALUE</key>
					<integer>1</integer>
					<key>CLAUSE_TYPE</key>
					<string>COUNT_EQUAL_TO</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
