<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Show that there are ten 0.1s in 1.</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>equivalent fractions with cuisenaire rods</string>
	<key>TOOL_KEY</key>
	<string>NumberBonds</string>
	<key>INIT_BARS</key>
	<array>
		<dict>
			<key>LOCKED</key>
			<true/>
			<key>LENGTH</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>LOCKED</key>
			<false/>
			<key>LENGTH</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>LABEL</key>
			<string>1</string>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>LENGTH</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>INIT_CAGES</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<string>10</string>
			<key>LABEL</key>
			<string>0.1</string>
			<key>LENGTH</key>
			<string>1</string>
		</dict>
	</array>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>REJECT_MODE</key>
	<integer>1</integer>
	<key>REJECT_TYPE</key>
	<integer>1</integer>
	<key>SHOW_BADGES</key>
	<false/>
	<key>SOLUTION_MODE</key>
	<integer>1</integer>
	<key>BAR_ASSISTANCE</key>
	<true/>
</dict>
</plist>
