<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>RatioTool</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Red, green and blue goo is mixed in the ratio {100*$r} : {100*$g} : {100*$b}. {40*$b} blue goo are used. Complete the mix.</string>
	<key>EVAL_MODE</key>
	<string>1</string>
	<key>REJECT_MODE</key>
	<string>0</string>
	<key>RECIPE_RED</key>
	<string>{100*$r}</string>
	<key>RECIPE_GREEN</key>
	<string>{100*$g}</string>
	<key>RECIPE_BLUE</key>
	<string>{100*$b}</string>
	<key>EVAL_VALUE_RED</key>
	<string>{40*$r}</string>
	<key>EVAL_VALUE_GREEN</key>
	<string>{40*$g}</string>
	<key>WHEEL_MAX</key>
	<string>250</string>
	<key>INIT_VALUE_BLUE</key>
	<string>{40*$b}</string>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$r</string>
			<key>RECALL</key>
			<string>{$r}</string>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>5</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$g</string>
			<key>RECALL</key>
			<string>{$g}</string>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>5</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$b</string>
			<key>RECALL</key>
			<string>{$b}</string>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>5</string>
		</dict>
	</array>
</dict>
</plist>
