<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>7plus7eq15</string>
	<key>EXPRESSION_FILE</key>
	<string>/Problems/tools-dev/expr-tests/7plus7eq15.mathml</string>
	<key>TOOL_KEY</key>
	<string>ExprScene</string>
</dict>
</plist>
