<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>What number is this?</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>NP what number</string>
	<key>TOOL_KEY</key>
	<string>PlaceValue</string>
	<key>COL_BASE_VALUE</key>
	<integer>10</integer>
	<key>FIRST_COL_VALUE</key>
	<integer>10</integer>
	<key>NUMBER_COLS</key>
	<integer>2</integer>
	<key>DEFAULT_COL</key>
	<integer>1</integer>
	<key>ROPES_PER_COL</key>
	<integer>2</integer>
	<key>ROWS_PER_COL</key>
	<integer>5</integer>
	<key>ALLOW_CONDENSING</key>
	<false/>
	<key>ALLOW_MULCHING</key>
	<false/>
	<key>ALLOW_PANNING</key>
	<false/>
	<key>SHOW_CAGE</key>
	<false/>
	<key>X_OFFSET</key>
	<string>-0.25</string>
	<key>SHOW_NEG_CAGE</key>
	<false/>
	<key>SHOW_COUNT</key>
	<false/>
	<key>SHOW_COUNT_BLOCK</key>
	<false/>
	<key>SHOW_COL_HEADER</key>
	<false/>
	<key>CAGE_POS_DISABLE_ADD</key>
	<dict>
		<key>1</key>
		<true/>
	</dict>
	<key>CAGE_POS_DISABLE_DELETE</key>
	<dict>
		<key>10</key>
		<true/>
	</dict>
	<key>CAGE_NEG_DISABLE_ADD</key>
	<dict>
		<key>1</key>
		<true/>
	</dict>
	<key>CAGE_NEG_DISABLE_DELETE</key>
	<dict>
		<key>10</key>
		<true/>
	</dict>
	<key>SHOW_VALUE</key>
	<false/>
	<key>SHOW_BASE_SELECTION</key>
	<true/>
	<key>PICKUP_SPRITE_FILENAME</key>
	<string>/images/placevalue/cage-neg.png</string>
	<key>PROXIMITY_SPRITE_FILENAME</key>
	<string>/images/placevalue/cage-pos.png</string>
	<key>COLUMN_ROPES</key>
	<dict>
		<key>10</key>
		<integer>2</integer>
	</dict>
	<key>COLUMN_ROWS</key>
	<dict>
		<key>10</key>
		<integer>5</integer>
	</dict>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>PUT_IN_COL</key>
			<integer>0</integer>
			<key>NUMBER</key>
			<integer>8</integer>
		</dict>
	</array>
	<key>REJECT_MODE</key>
	<integer>1</integer>
	<key>SOLUTION</key>
	<dict>
		<key>SOLUTION_TYPE</key>
		<string>TOTAL_COUNT</string>
		<key>SOLUTION_VALUE</key>
		<string>80</string>
		<key>PLAY_SOUND</key>
		<string>complete.wav</string>
	</dict>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>COLUMN_SPRITES</key>
	<dict>
		<key>10</key>
		<string>/images/placevalue/obj-placevalue-unit10.png</string>
		<key>1</key>
		<string>/images/placevalue/obj-placevalue-unit1.png</string>
	</dict>
	<key>COLUMN_NEG_CAGES</key>
	<dict>
		<key>10</key>
		<false/>
		<key>1</key>
		<false/>
	</dict>
	<key>COLUMN_CAGES</key>
	<dict>
		<key>10</key>
		<false/>
		<key>1</key>
		<false/>
	</dict>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>What number is this?</string>
		<key>INTERNAL_DESCRIPTION</key>
		<string>write eighty in numerals.</string>
		<key>PICKER_LAYOUT</key>
		<integer>1</integer>
		<key>ANIMATE_FROM_PICKER</key>
		<true/>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<string>80</string>
	</dict>
</dict>
</plist>
