<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>What is the distance between {$x} and {$x} + {$y}?</string>
		<key>INTERNAL_DESCRIPTION</key>
		<string>number picker additive inverse</string>
		<key>PICKER_LAYOUT</key>
		<integer>1</integer>
		<key>ANIMATE_FROM_PICKER</key>
		<true/>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<string>{$y}</string>
		<key>DVARS</key>
		<dict>
			<key>$x</key>
			<dict>
				<key>MIN</key>
				<string>1</string>
				<key>MAX</key>
				<string>30</string>
				<key>RECALL</key>
				<string>{$x}</string>
			</dict>
			<key>$y</key>
			<dict>
				<key>MIN</key>
				<string>1</string>
				<key>MAX</key>
				<string>3</string>
				<key>RECALL</key>
				<string>{$y}</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
