<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Count up in fifths to four fifths. </string>
	<key>TOOL_KEY</key>
	<string>CountingTimer</string>
	<key>SOLUTION</key>
	<string>4/5</string>
	<key>SHOW_COUNT</key>
	<true/>
	<key>COUNT_TYPE</key>
	<integer>1</integer>
	<key>INCREMENT</key>
	<string>1/5</string>
	<key>COUNT_MIN</key>
	<integer>0</integer>
	<key>COUNT_MAX</key>
	<integer>2</integer>
	<key>BUTTON_FLASH</key>
	<true/>
</dict>
</plist>
