<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Crystal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,3046},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>Crystal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,2991},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>Crystal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,3427},{109,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,110}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
            <key>Crystal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3663,2082},{103,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,113}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>Crystal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2022,1494},{126,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,121}}</string>
                <key>sourceSize</key>
                <string>{126,121}</string>
            </dict>
            <key>Feature_Stage1_Size1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3890},{165,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,108}}</string>
                <key>sourceSize</key>
                <string>{165,108}</string>
            </dict>
            <key>Feature_Stage1_Size1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,2862},{127,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,87}}</string>
                <key>sourceSize</key>
                <string>{127,87}</string>
            </dict>
            <key>Feature_Stage1_Size2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2096,683},{78,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,50}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>Feature_Stage1_Size2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2096,613},{68,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,51}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>Feature_Stage1_Size3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,3890},{131,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,118}}</string>
                <key>sourceSize</key>
                <string>{131,118}</string>
            </dict>
            <key>Feature_Stage1_Size3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2022,1813},{194,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,123}}</string>
                <key>sourceSize</key>
                <string>{194,123}</string>
            </dict>
            <key>Feature_Stage1_Size4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3832,978},{282,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,253}}</string>
                <key>sourceSize</key>
                <string>{282,253}</string>
            </dict>
            <key>Feature_Stage1_Size4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3776,2357},{315,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,252}}</string>
                <key>sourceSize</key>
                <string>{315,252}</string>
            </dict>
            <key>Feature_Stage1_Size5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3208,2},{673,525}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{673,525}}</string>
                <key>sourceSize</key>
                <string>{673,525}</string>
            </dict>
            <key>Feature_Stage1_Size5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3176,1002},{639,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,471}}</string>
                <key>sourceSize</key>
                <string>{639,471}</string>
            </dict>
            <key>Feature_Stage2_Size1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,3171},{128,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,79}}</string>
                <key>sourceSize</key>
                <string>{128,79}</string>
            </dict>
            <key>Feature_Stage2_Size1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,2794},{90,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,66}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>Feature_Stage2_Size2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2096,833},{75,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,48}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>Feature_Stage2_Size2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2096,763},{68,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,50}}</string>
                <key>sourceSize</key>
                <string>{68,50}</string>
            </dict>
            <key>Feature_Stage2_Size3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,2009},{132,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,118}}</string>
                <key>sourceSize</key>
                <string>{132,118}</string>
            </dict>
            <key>Feature_Stage2_Size3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2022,1617},{194,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,123}}</string>
                <key>sourceSize</key>
                <string>{194,123}</string>
            </dict>
            <key>Feature_Stage2_Size4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3123,2360},{246,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,221}}</string>
                <key>sourceSize</key>
                <string>{246,221}</string>
            </dict>
            <key>Feature_Stage2_Size4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3346,2364},{288,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,231}}</string>
                <key>sourceSize</key>
                <string>{288,231}</string>
            </dict>
            <key>Feature_Stage2_Size5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3174,1475},{604,472}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,472}}</string>
                <key>sourceSize</key>
                <string>{604,472}</string>
            </dict>
            <key>Feature_Stage2_Size5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3191,529},{639,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,471}}</string>
                <key>sourceSize</key>
                <string>{639,471}</string>
            </dict>
            <key>Feature_Stage3_Size3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,3304},{121,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,109}}</string>
                <key>sourceSize</key>
                <string>{121,109}</string>
            </dict>
            <key>Feature_Stage3_Size3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3663,2187},{175,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,111}}</string>
                <key>sourceSize</key>
                <string>{175,111}</string>
            </dict>
            <key>Feature_Stage3_Size4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3696},{192,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,171}}</string>
                <key>sourceSize</key>
                <string>{192,171}</string>
            </dict>
            <key>Feature_Stage3_Size4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3817,1262},{266,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,214}}</string>
                <key>sourceSize</key>
                <string>{266,214}</string>
            </dict>
            <key>Feature_Stage3_Size5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3137,1949},{524,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,409}}</string>
                <key>sourceSize</key>
                <string>{524,409}</string>
            </dict>
            <key>Feature_Stage3_Size5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2794},{509,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,375}}</string>
                <key>sourceSize</key>
                <string>{509,375}</string>
            </dict>
            <key>Feature_Stage4_Size2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2096,538},{73,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,51}}</string>
                <key>sourceSize</key>
                <string>{73,51}</string>
            </dict>
            <key>Feature_Stage4_Size2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,4023},{73,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,61}}</string>
                <key>sourceSize</key>
                <string>{73,61}</string>
            </dict>
            <key>Feature_Stage4_Size3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3663,1949},{131,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,115}}</string>
                <key>sourceSize</key>
                <string>{131,115}</string>
            </dict>
            <key>Feature_Stage4_Size3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,3046},{263,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,162}}</string>
                <key>sourceSize</key>
                <string>{263,162}</string>
            </dict>
            <key>Feature_Stage4_Size4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3832,758},{256,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,218}}</string>
                <key>sourceSize</key>
                <string>{256,218}</string>
            </dict>
            <key>Feature_Stage4_Size4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3780,1656},{289,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,229}}</string>
                <key>sourceSize</key>
                <string>{289,229}</string>
            </dict>
            <key>Feature_Stage5_Size2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2082,1254},{78,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,67}}</string>
                <key>sourceSize</key>
                <string>{78,67}</string>
            </dict>
            <key>Feature_Stage5_Size2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2096,458},{57,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,78}}</string>
                <key>sourceSize</key>
                <string>{57,78}</string>
            </dict>
            <key>Feature_Stage5_Size3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3883,152},{208,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,148}}</string>
                <key>sourceSize</key>
                <string>{208,148}</string>
            </dict>
            <key>Feature_Stage5_Size3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3883,2},{208,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,148}}</string>
                <key>sourceSize</key>
                <string>{208,148}</string>
            </dict>
            <key>Feature_Stage5_Size4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3832,568},{260,188}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,62},{260,188}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>Feature_Stage5_Size4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3780,1478},{290,176}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,74},{290,176}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>Feature_Stage5_Size5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,2794},{372,250}}</string>
                <key>offset</key>
                <string>{-2,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,250},{372,250}}</string>
                <key>sourceSize</key>
                <string>{650,500}</string>
            </dict>
            <key>Feature_Stage5_Size5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3780,1887},{468,288}}</string>
                <key>offset</key>
                <string>{0,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,212},{468,288}}</string>
                <key>sourceSize</key>
                <string>{650,500}</string>
            </dict>
            <key>Mastery_Complete_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3500},{194,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,151}}</string>
                <key>sourceSize</key>
                <string>{194,151}</string>
            </dict>
            <key>Mastery_Complete_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3304},{194,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,151}}</string>
                <key>sourceSize</key>
                <string>{194,151}</string>
            </dict>
            <key>Mastery_Incomplete_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,2597},{194,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,152}}</string>
                <key>sourceSize</key>
                <string>{194,152}</string>
            </dict>
            <key>Mastery_Incomplete_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,2401},{194,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,152}}</string>
                <key>sourceSize</key>
                <string>{194,152}</string>
            </dict>
            <key>Node_Attempted_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,3171},{206,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,131}}</string>
                <key>sourceSize</key>
                <string>{206,131}</string>
            </dict>
            <key>Node_Attempted_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3171},{206,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,131}}</string>
                <key>sourceSize</key>
                <string>{206,131}</string>
            </dict>
            <key>Node_Complete_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{3636,2364},{206,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,131}}</string>
                <key>sourceSize</key>
                <string>{206,131}</string>
            </dict>
            <key>Node_Complete_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,2129},{206,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,131}}</string>
                <key>sourceSize</key>
                <string>{206,131}</string>
            </dict>
            <key>Node_Incomplete_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{3883,435},{206,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,131}}</string>
                <key>sourceSize</key>
                <string>{206,131}</string>
            </dict>
            <key>Node_Incomplete_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{3883,302},{206,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,131}}</string>
                <key>sourceSize</key>
                <string>{206,131}</string>
            </dict>
            <key>Sand_10_Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,2},{1076,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1076,454}}</string>
                <key>sourceSize</key>
                <string>{1076,454}</string>
            </dict>
            <key>Sand_10_Yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1076,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1076,454}}</string>
                <key>sourceSize</key>
                <string>{1076,454}</string>
            </dict>
            <key>Sand_1_Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2150,1386},{1022,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1022,432}}</string>
                <key>sourceSize</key>
                <string>{1022,432}</string>
            </dict>
            <key>Sand_1_Yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2152,952},{1022,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1022,432}}</string>
                <key>sourceSize</key>
                <string>{1022,432}</string>
            </dict>
            <key>Sand_2_Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2139,2324},{982,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{982,420}}</string>
                <key>sourceSize</key>
                <string>{982,420}</string>
            </dict>
            <key>Sand_2_Yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2308},{982,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{982,420}}</string>
                <key>sourceSize</key>
                <string>{982,420}</string>
            </dict>
            <key>Sand_3_Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{1042,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1042,474}}</string>
                <key>sourceSize</key>
                <string>{1042,474}</string>
            </dict>
            <key>Sand_3_Yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,458},{1042,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1042,474}}</string>
                <key>sourceSize</key>
                <string>{1042,474}</string>
            </dict>
            <key>Sand_4_Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1418},{1008,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1008,430}}</string>
                <key>sourceSize</key>
                <string>{1008,430}</string>
            </dict>
            <key>Sand_4_Yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1400},{1008,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1008,430}}</string>
                <key>sourceSize</key>
                <string>{1008,430}</string>
            </dict>
            <key>Sand_5_Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1850},{1000,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,456}}</string>
                <key>sourceSize</key>
                <string>{1000,456}</string>
            </dict>
            <key>Sand_5_Yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1832},{1000,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,456}}</string>
                <key>sourceSize</key>
                <string>{1000,456}</string>
            </dict>
            <key>Sand_6_Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2147,1820},{988,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{988,502}}</string>
                <key>sourceSize</key>
                <string>{988,502}</string>
            </dict>
            <key>Sand_6_Yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2290},{988,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{988,502}}</string>
                <key>sourceSize</key>
                <string>{988,502}</string>
            </dict>
            <key>Sand_7_Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{1048,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1048,464}}</string>
                <key>sourceSize</key>
                <string>{1048,464}</string>
            </dict>
            <key>Sand_7_Yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2158,2},{1048,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1048,464}}</string>
                <key>sourceSize</key>
                <string>{1048,464}</string>
            </dict>
            <key>Sand_8_Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2730},{970,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{970,330}}</string>
                <key>sourceSize</key>
                <string>{970,330}</string>
            </dict>
            <key>Sand_8_Yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{3123,2611},{970,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{970,330}}</string>
                <key>sourceSize</key>
                <string>{970,330}</string>
            </dict>
            <key>Sand_9_Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,934},{1034,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1034,482}}</string>
                <key>sourceSize</key>
                <string>{1034,482}</string>
            </dict>
            <key>Sand_9_Yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2155,468},{1034,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1034,482}}</string>
                <key>sourceSize</key>
                <string>{1034,482}</string>
            </dict>
            <key>spacer.png</key>
            <dict>
                <key>frame</key>
                <string>{{4093,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>star_holder_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,2337},{156,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{156,62}}</string>
                <key>sourceSize</key>
                <string>{158,68}</string>
            </dict>
            <key>star_holder_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2082,1334},{158,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{158,66}}</string>
                <key>sourceSize</key>
                <string>{158,68}</string>
            </dict>
            <key>star_holder_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2082,1094},{158,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,68}}</string>
                <key>sourceSize</key>
                <string>{158,68}</string>
            </dict>
            <key>star_holder_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2082,934},{158,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,68}}</string>
                <key>sourceSize</key>
                <string>{158,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jmapsm-ipadhd.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:500355c00c011e2c3228ba8b3ff2af8d$</string>
            <key>textureFileName</key>
            <string>jmapsm-ipadhd.png</string>
        </dict>
    </dict>
</plist>
