<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Crystal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,483},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>Crystal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,659},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>Crystal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,574},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>Crystal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,387},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>Crystal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,413},{59,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,55}}</string>
                <key>sourceSize</key>
                <string>{59,55}</string>
            </dict>
            <key>Feature_Stage1_Size1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,428},{81,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,54}}</string>
                <key>sourceSize</key>
                <string>{81,54}</string>
            </dict>
            <key>Feature_Stage1_Size1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,473},{58,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,41}}</string>
                <key>sourceSize</key>
                <string>{58,41}</string>
            </dict>
            <key>Feature_Stage1_Size2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,552},{39,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,24}}</string>
                <key>sourceSize</key>
                <string>{39,24}</string>
            </dict>
            <key>Feature_Stage1_Size2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,515},{35,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,25}}</string>
                <key>sourceSize</key>
                <string>{35,25}</string>
            </dict>
            <key>Feature_Stage1_Size3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,345},{66,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,59}}</string>
                <key>sourceSize</key>
                <string>{66,59}</string>
            </dict>
            <key>Feature_Stage1_Size3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,246},{97,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,63}}</string>
                <key>sourceSize</key>
                <string>{97,63}</string>
            </dict>
            <key>Feature_Stage1_Size4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,387},{148,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,132}}</string>
                <key>sourceSize</key>
                <string>{148,132}</string>
            </dict>
            <key>Feature_Stage1_Size4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,352},{162,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,130}}</string>
                <key>sourceSize</key>
                <string>{162,130}</string>
            </dict>
            <key>Feature_Stage1_Size5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{322,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,251}}</string>
                <key>sourceSize</key>
                <string>{322,251}</string>
            </dict>
            <key>Feature_Stage1_Size5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,242}}</string>
                <key>sourceSize</key>
                <string>{326,242}</string>
            </dict>
            <key>Feature_Stage3_Size3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,442},{58,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,51}}</string>
                <key>sourceSize</key>
                <string>{58,51}</string>
            </dict>
            <key>Feature_Stage3_Size3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,442},{88,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,56}}</string>
                <key>sourceSize</key>
                <string>{88,56}</string>
            </dict>
            <key>Feature_Stage3_Size4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,352},{82,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,74}}</string>
                <key>sourceSize</key>
                <string>{82,74}</string>
            </dict>
            <key>Feature_Stage3_Size4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,475},{146,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,117}}</string>
                <key>sourceSize</key>
                <string>{146,117}</string>
            </dict>
            <key>Feature_Stage3_Size5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{258,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,198}}</string>
                <key>sourceSize</key>
                <string>{258,198}</string>
            </dict>
            <key>Feature_Stage3_Size5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{260,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,194}}</string>
                <key>sourceSize</key>
                <string>{260,194}</string>
            </dict>
            <key>Feature_Stage5_Size2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,623},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>Feature_Stage5_Size2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,440},{31,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,42}}</string>
                <key>sourceSize</key>
                <string>{31,42}</string>
            </dict>
            <key>Feature_Stage5_Size3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,139},{97,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,70}}</string>
                <key>sourceSize</key>
                <string>{97,70}</string>
            </dict>
            <key>Feature_Stage5_Size3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{93,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,67}}</string>
                <key>sourceSize</key>
                <string>{93,67}</string>
            </dict>
            <key>Feature_Stage5_Size4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{135,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,100}}</string>
                <key>sourceSize</key>
                <string>{135,100}</string>
            </dict>
            <key>Feature_Stage5_Size4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,484},{141,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,88}}</string>
                <key>sourceSize</key>
                <string>{141,88}</string>
            </dict>
            <key>Feature_Stage5_Size5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,255},{193,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,130}}</string>
                <key>sourceSize</key>
                <string>{193,130}</string>
            </dict>
            <key>Feature_Stage5_Size5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,202},{242,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,148}}</string>
                <key>sourceSize</key>
                <string>{242,148}</string>
            </dict>
            <key>Mastery_Complete_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,343},{123,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,130}}</string>
                <key>sourceSize</key>
                <string>{123,130}</string>
            </dict>
            <key>Mastery_Complete_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,211},{123,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,130}}</string>
                <key>sourceSize</key>
                <string>{123,130}</string>
            </dict>
            <key>Mastery_Incomplete_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,369},{112,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,121}}</string>
                <key>sourceSize</key>
                <string>{112,121}</string>
            </dict>
            <key>Mastery_Incomplete_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,255},{112,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,121}}</string>
                <key>sourceSize</key>
                <string>{112,121}</string>
            </dict>
            <key>Node_Attempted_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,484},{95,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,69}}</string>
                <key>sourceSize</key>
                <string>{95,69}</string>
            </dict>
            <key>Node_Attempted_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,483},{95,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,69}}</string>
                <key>sourceSize</key>
                <string>{95,69}</string>
            </dict>
            <key>Node_Complete_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,623},{95,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,68}}</string>
                <key>sourceSize</key>
                <string>{95,68}</string>
            </dict>
            <key>Node_Complete_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,555},{95,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,68}}</string>
                <key>sourceSize</key>
                <string>{95,68}</string>
            </dict>
            <key>Node_Incomplete_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,625},{95,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,66}}</string>
                <key>sourceSize</key>
                <string>{95,66}</string>
            </dict>
            <key>Node_Incomplete_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,574},{95,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,66}}</string>
                <key>sourceSize</key>
                <string>{95,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>node-icons.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67cd45e013f818d4a1400edf7840ffb9$</string>
            <key>textureFileName</key>
            <string>node-icons.png</string>
        </dict>
    </dict>
</plist>
