<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mastery-complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{59,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,36}}</string>
                <key>sourceSize</key>
                <string>{59,36}</string>
            </dict>
            <key>mastery-incomplete.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,36}}</string>
                <key>sourceSize</key>
                <string>{59,36}</string>
            </dict>
            <key>node-complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,58},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>node-incomplete.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,58},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>sign-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{12,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,54}}</string>
                <key>sourceSize</key>
                <string>{12,54}</string>
            </dict>
            <key>sign-middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{2,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,54}}</string>
                <key>sourceSize</key>
                <string>{2,54}</string>
            </dict>
            <key>sign-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{12,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,54}}</string>
                <key>sourceSize</key>
                <string>{12,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>node-icons.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45d90ac30f78591899b09ac2f372a6af$</string>
            <key>textureFileName</key>
            <string>node-icons.png</string>
        </dict>
    </dict>
</plist>
