<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Shade 1/4 of this rectangle.</string>
	<key>TOOL_KEY</key>
	<string>DotGrid</string>
	<key>EVAL_MODE</key>
	<string>1</string>
	<key>DOTGRID_EVAL_TYPE</key>
	<string>1</string>
	<key>DOTGRID_EVAL_DIVIDEND</key>
	<integer>1</integer>
	<key>DOTGRID_EVAL_DIVISOR</key>
	<integer>4</integer>
	<key>ANCHOR_SPACE</key>
	<integer>85</integer>
	<key>DRAW_MODE</key>
	<integer>0</integer>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>&lt;b:on numerator=&quot;4&quot; denominator=&quot;5&quot; /&gt;</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>&lt;b:on numerator=&quot;3&quot; denominator=&quot;4&quot; /&gt;</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>Which is larger?</string>
		<key>INTERNAL_DESCRIPTION</key>
		<string>Which of these is true?</string>
		<key>PROBLEM_DESCRIPTION</key>
		<string>Which of these is true?</string>
	</dict>
</dict>
</plist>
