<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>MASTERY</key>
    <false/>
    <key>PROBLEM_DESCRIPTION</key>
    <string>Place the bubble on the absolute value of -7.</string>
    <key>INTERNAL_DESCRIPTION</key>
    <string>Place the bubble on the absolute value of -7.</string>
    <key>TOOL_KEY</key>
    <string>NLine</string>
    <key>START_VALUE</key>
    <string>-7</string>
    <key>MIN_VALUE</key>
    <string>-10</string>
    <key>MAX_VALUE</key>
    <string>10</string>
    <key>EVAL_MODE</key>
    <integer>1</integer>
    <key>REJECT_MODE</key>
    <integer>1</integer>
    <key>EVAL_TARGET</key>
    <integer>7</integer>
    <key>HIDE_ALL_NUMBERS</key>
    <false/>
    <key>SHOW_NUMBERS_AT_INTERVALS</key>
    <array>
      <string>1</string>
    </array>
    <key>HIDE_ALL_NOTCHES</key>
    <false/>
    <key>HIDE_START_NUMBER</key>
    <false/>
    <key>HIDE_END_NUMBER</key>
    <false/>
    <key>HIDE_START_NOTCH</key>
    <false/>
    <key>HIDE_END_NOTCH</key>
    <false/>
    <key>DISABLE_SNAPPING_TO_NOTCH</key>
    <false/>
    <key>EVAL_PLUS_MINUS_THRESHOLD</key>
    <integer>0</integer>
    <key>SEGMENT_VALUE</key>
    <integer>1</integer>
    <key>COUNT_OUT_LOUD_AT_INTERVALS</key>
    <array>
      <integer>1</integer>
    </array>
    <key>SHOW_COUNT_HISTORY_AT_INTERVALS</key>
    <array>
      <string>1</string>
    </array>
    <key>RENDER_STITCHES_AT_INTERVAL</key>
    <integer>0</integer>
  </dict>
</plist>
