<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>EVAL_TYPE</key>
	<string>ALL_ENABLED</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;Fill in the gaps.&lt;/b:t&gt;</string>
		<string>&lt;b:t&gt;A hill rises&lt;/b:t&gt;&lt;b:ot&gt;1&lt;/b:ot&gt;&lt;b:t&gt;metre for every&lt;/b:t&gt;&lt;b:ot&gt;10&lt;/b:ot&gt;&lt;b:t&gt;metres it goes along. This means that if I walked&lt;/b:t&gt;&lt;b:on number=&quot;{10*$x}&quot;/&gt;&lt;b:t&gt;metres, I would be&lt;/b:t&gt;&lt;b:on usePicker=&quot;yes&quot; pickerTarget=&quot;{$x}&quot;/&gt;&lt;b:t&gt;metres above where I started.&lt;/b:t&gt;</string>
	</array>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>4</string>
			<key>MAX</key>
			<string>9</string>
		</dict>
	</array>
</dict>
</plist>
