<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>EVAL_TYPE</key>
	<string>ALL_ENABLED</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;Fill in the gaps&lt;/b:t&gt;</string>
		<string>&lt;b:t&gt;A car travels 40 miles in one hour. This means that it will travel&lt;/b:t&gt;&lt;b:on number=&quot;{40*$x}&quot;&lt;/b:ot&gt;&lt;b:t&gt;miles in&lt;/b:t&gt;&lt;b:ot picker=&quot;yes&quot; pickerTarget=&quot;{$x}&quot; enabled=&quot;no&quot;&gt;{$x}&lt;/b:ot&gt;&lt;b:t&gt;hours.&lt;/b:t&gt;</string>
	</array>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>6</string>
		</dict>
	</array>
</dict>
</plist>
