<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>EVAL_TYPE</key>
	<string>ALL_ENABLED</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;A car travels at 50 mph.&lt;/b:t&gt;</string>
		<string>&lt;b:t&gt;After&lt;/b:t&gt;&lt;b:on usePicker=&quot;yes&quot; pickerTarget=&quot;{$x}&quot;/&gt;&lt;b:t&gt;hours it will have travelled&lt;/b:t&gt;&lt;b:ot&gt;{50*$x}&lt;/b:ot&gt;&lt;b:t&gt; miles.&lt;/b:t&gt;</string>
		<string>&lt;b:t&gt;After&lt;/b:t&gt;&lt;b:on usePicker=&quot;yes&quot; pickerTarget=&quot;{$y}&quot;/&gt;&lt;b:t&gt;hours it will have travelled&lt;/b:t&gt;&lt;b:ot&gt;{50*$y}&lt;/b:ot&gt;&lt;b:t&gt;miles.&lt;/b:t&gt;</string>
		<string>&lt;b:t&gt;After&lt;/b:t&gt;&lt;b:ot&gt;{$z}&lt;/b:ot&gt;&lt;b:t&gt; hours, it will have travelled&lt;/b:t&gt;&lt;b:on usePicker=&quot;yes&quot; pickerTarget=&quot;{$z}&quot;/&gt;&lt;b:t&gt;miles.&lt;/b:t&gt;</string>
	</array>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>4</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$y</string>
			<key>MIN</key>
			<string>5</string>
			<key>MAX</key>
			<string>6</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$z</string>
			<key>MIN</key>
			<string>7</string>
			<key>MAX</key>
			<string>8</string>
		</dict>
	</array>
</dict>
</plist>
