<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>EVAL_TYPE</key>
	<string>ALL_ENABLED</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;Fill in the gaps&lt;/b:t&gt;</string>
		<string>&lt;b:t&gt;A recipe for 12 muffins uses 120g of butter. This means that&lt;/b:t&gt;&lt;b:on number=&quot;{12*$x}&quot;&lt;/b:ot&gt;&lt;b:t&gt;muffins will need&lt;/b:t&gt;&lt;b:ot picker=&quot;yes&quot; pickerTarget=&quot;{120*$x}&quot; enabled=&quot;no&quot;&gt;{120*$x}&lt;/b:ot&gt;&lt;b:t&gt;grams of butter.&lt;/b:t&gt;</string>
	</array>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>4</string>
		</dict>
	</array>
</dict>
</plist>
