<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Show that 2 + 8 = 8 + 2.</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>10 = 3 + 7</string>
	<key>TOOL_KEY</key>
	<string>NumberBonds</string>
	<key>INIT_BARS</key>
	<array>
		<dict>
			<key>LOCKED</key>
			<true/>
			<key>LENGTH</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>LOCKED</key>
			<false/>
			<key>LENGTH</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>LOCKED</key>
			<false/>
			<key>LENGTH</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>INIT_HINTS</key>
	<array>
		<dict>
			<key>PUT_IN_ROW</key>
			<integer>1</integer>
			<key>LENGTH</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>PUT_IN_ROW</key>
			<integer>1</integer>
			<key>LENGTH</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>PUT_IN_ROW</key>
			<integer>2</integer>
			<key>LENGTH</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>PUT_IN_ROW</key>
			<integer>2</integer>
			<key>LENGTH</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>LABEL</key>
			<string>10</string>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>LENGTH</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>INIT_CAGES</key>
	<array>
		<dict>
			<key>LENGTH</key>
			<integer>2</integer>
			<key>LABEL</key>
			<string>2</string>
			<key>QUANTITY</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>LENGTH</key>
			<integer>8</integer>
			<key>LABEL</key>
			<string>8</string>
			<key>QUANTITY</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>SOLUTION_MODE</key>
	<integer>1</integer>
	<key>REJECT_MODE</key>
	<integer>1</integer>
	<key>REJECT_TYPE</key>
	<integer>1</integer>
	<key>SOLUTIONS</key>
	<array>
		<array>
			<string>10</string>
		</array>
		<array>
			<integer>2</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>2</integer>
		</array>
	</array>
</dict>
</plist>
