<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Press on the top pipe to get a block. Put the block in the bottom pipe.</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>intro to floating block 1</string>
	<key>TOOL_KEY</key>
	<string>FloatingBlock</string>
	<key>EVAL_MODE</key>
	<integer>0</integer>
	<key>SOLUTION</key>
	<integer>1</integer>
	<key>INIT_BUBBLES</key>
	<integer>1</integer>
	<key>BUBBLE_AUTO_OPERATE</key>
	<true/>
</dict>
</plist>
