<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Drag one pie and one box onto the board. Put the pie into the box.</string>
	<key>TOOL_KEY</key>
	<string>PieSplitter</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>DIVIDEND</key>
	<integer>1</integer>
	<key>DIVISOR</key>
	<integer>1</integer>
	<key>NUMBER_ACTIVE_PIES</key>
	<integer>0</integer>
	<key>NUMBER_ACTIVE_SQUARES</key>
	<integer>0</integer>
	<key>SPLIT_WITH_CORRECT_NUMBERS</key>
	<true/>
	<key>NUMBER_CAGED_PIES</key>
	<integer>1</integer>
	<key>NUMBER_CAGED_SQUARES</key>
	<integer>1</integer>
</dict>
</plist>
