<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INTERNAL_DESCRIPTION</key>
	<string>MQ partition</string>
	<key>MASTERY</key>
	<true/>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_COMPLETE_TEXT</key>
		<string>Great!</string>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>1</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>10</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$answer-10}</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$answer-9}</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$answer}</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>Pick two numbers which add to {$answer}</string>
		<key>META_QUESTION_INCOMPLETE_TEXT</key>
		<string>Try again.</string>
	</dict>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$answer</string>
			<key>MAX</key>
			<integer>19</integer>
			<key>MIN</key>
			<integer>11</integer>
		</dict>
	</array>
</dict>
</plist>
