<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/tokcm-authoring/Number/place_value/understanding_tens/5608a59d6797796ce9e11484fd177bed/101tenplus.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/understanding_tens/5608a59d6797796ce9e11484fd177bed/102tenplus.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/understanding_tens/5608a59d6797796ce9e11484fd177bed/103tenplus.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/understanding_tens/5608a59d6797796ce9e11484fd177bed/105tenplus.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/understanding_tens/5608a59d6797796ce9e11484fd177bed/106tenplus.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/understanding_tens/5608a59d6797796ce9e11484fd177bed/108tenplus.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/understanding_tens/5608a59d6797796ce9e11484fd177bed/109tenplus.plist</string>
</array>
</plist>
