<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Show that (9/3) x 3 = 9.</string>
	<key>TOOL_KEY</key>
	<string>FloatingBlock</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>SOLUTION</key>
	<integer>9</integer>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>NUMBER</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>NUMBER</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>NUMBER</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>BUBBLE_AUTO_OPERATE</key>
	<false/>
	<key>SUPPORTED_OPERATORS</key>
	<array>
		<string>+</string>
		<string>-</string>
		<string>x</string>
		<string>/</string>
	</array>
	<key>SHOW_SOLUTION_ON_PIPE</key>
	<true/>
</dict>
</plist>
