<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EVAL_TYPE</key>
	<string>EXPRESSION_EQUALITIES</string>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>EVAL_EXCLUDE_ROWS</key>
	<array>
		<string>2</string>
	</array>
	<key>EVAL_MODE</key>
	<string>1</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;Use the numbers&lt;/b:t&gt;&lt;b:on number=&quot;{$x}&quot; enabled=&quot;yes&quot;/&gt;&lt;b:t&gt;,&lt;/b:t&gt;&lt;b:on number=&quot;{$y}&quot; enabled=&quot;yes&quot;/&gt;&lt;b:t&gt;and&lt;/b:t&gt;&lt;b:on number=&quot;{$x*$y}&quot; enabled=&quot;yes&quot;/&gt;&lt;b:t&gt;to make four mathematical sentences.&lt;/b:t&gt;
            </string>
		<string>&lt;b:ph/&gt;
                &lt;b:oo value=&quot;=&quot;/&gt;
                &lt;b:ph/&gt;
                &lt;b:oo value=&quot;x&quot;/&gt;
                &lt;b:ph/&gt;</string>
		<string>&lt;b:ph/&gt;
                &lt;b:oo value=&quot;=&quot;/&gt;
                &lt;b:ph/&gt;
                &lt;b:oo value=&quot;/&quot;/&gt;
                &lt;b:ph/&gt;</string>
		<string>&lt;b:ph/&gt;
                &lt;b:oo value=&quot;=&quot;/&gt;
                &lt;b:ph/&gt;
                &lt;b:oo value=&quot;x&quot;/&gt;
                &lt;b:ph/&gt;</string>
		<string>&lt;b:ph/&gt;
                &lt;b:oo value=&quot;=&quot;/&gt;
                &lt;b:ph/&gt;
                &lt;b:oo value=&quot;/&quot;/&gt;
                &lt;b:ph/&gt;</string>
	</array>
	<key>INTERNAL_DESCRIPTION</key>
	<string>3x2=6</string>
	<key>REPEAT_AS_IS_MIN</key>
	<integer>3</integer>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$y</string>
			<key>MIN</key>
			<string>0</string>
			<key>MAX</key>
			<string>20</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>100</string>
			<key>MAX</key>
			<string>1000</string>
		</dict>
	</array>
</dict>
</plist>
