<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>EVAL_TYPE</key>
	<string>ALL_PICKERS_CORRECT</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;To make bread, every 100g of flour needs 60ml of water. Fill in the gaps.&lt;/b:t&gt;</string>
		<string>&lt;b:ot&gt;100 grams of flour&lt;/b:ot&gt;&lt;b:t&gt;:&lt;/b:t&gt;&lt;b:ot&gt;60ml of water&lt;/b:ot&gt;</string>
		<string>&lt;b:ot&gt;{100*$x}&lt;/b:ot&gt;&lt;b:t&gt;:&lt;/b:t&gt;&lt;b:on usePicker=&quot;yes&quot; pickerTarget=&quot;{60*$x}&quot;/&gt;</string>
		<string>&lt;b:on usePicker=&quot;yes&quot; pickerTarget=&quot;{100*$z}&quot;/&gt;&lt;b:t&gt;:&lt;/b:t&gt;&lt;b:ot&gt;{$z*60}&lt;/b:ot&gt;</string>
		<string>&lt;b:ot&gt;{100*$y}&lt;/b:ot&gt;&lt;b:t&gt;:&lt;/b:t&gt;&lt;b:on usePicker=&quot;yes&quot; pickerTarget=&quot;{60*$y}&quot;/&gt;</string>
	</array>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>4</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$y</string>
			<key>MIN</key>
			<string>5</string>
			<key>MAX</key>
			<string>6</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$z</string>
			<key>MIN</key>
			<string>7</string>
			<key>MAX</key>
			<string>9</string>
		</dict>
	</array>
	<key>EVAL_MODE</key>
	<string>1</string>
</dict>
</plist>
