<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>EVAL_TYPE</key>
	<string>ALL_PICKERS_CORRECT</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;Fill in the gaps&lt;/b:t&gt;</string>
		<string>&lt;b:t&gt;A car travels&lt;/b:t&gt;&lt;b:on number=&quot;40&quot; suffix=&quot; miles&quot;/&gt;&lt;b:t&gt;in &lt;/b:t&gt;&lt;b:on suffix=&quot; hour&quot; number=&quot;1&quot;/&gt;&lt;b:t&gt;.&lt;/b:t&gt;</string>
		<string>&lt;b:t&gt; This means that it will travel&lt;/b:t&gt;&lt;b:on number=&quot;{40*$x}&quot; suffix=&quot; miles&quot;/&gt;&lt;b:t&gt; in&lt;/b:t&gt;&lt;b:on usePicker=&quot;yes&quot; suffix=&quot; hours&quot; pickerTarget=&quot;{$x}&quot;/&gt;&lt;b:t&gt;hours.&lt;/b:t&gt;</string>
	</array>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>6</string>
		</dict>
	</array>
	<key>EVAL_MODE</key>
	<string>1</string>
</dict>
</plist>
