<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FOUNDATION</key>
	<true/>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>&lt;b:t&gt;Share the&lt;/b:t&gt;&lt;b:obj count=&quot;2&quot;/&gt;&lt;b:t&gt;fairly between&lt;/b:t&gt; &lt;b:oi tag=&quot;thing_3&quot;/&gt; &lt;b:t&gt;and &lt;/b:t&gt;&lt;b:oi tag=&quot;thing_1&quot;/&gt;&lt;b:t&gt;.&lt;/b:t&gt;</string>
	<key>DISTRIBUTION_EVAL_TYPE</key>
	<integer>1</integer>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>BOND_ALL_OBJECTS</key>
	<false/>
	<key>DOCK_TYPE</key>
	<string>15</string>
	<key>HAS_CAGE</key>
	<true/>
	<key>CAGE_OBJECT_COUNT</key>
	<integer>11</integer>
	<key>SOLUTION</key>
	<array>
		<dict>
			<key>thing_3</key>
			<integer>4</integer>
		</dict>
	</array>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<integer>1</integer>
			<key>LABEL</key>
			<string>&lt;b:oi tag=&quot;thing_3&quot;/&gt;</string>
		</dict>
		<dict>
			<key>QUANTITY</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>QUANTITY</key>
			<integer>6</integer>
			<key>LABEL</key>
			<string>&lt;b:oi tag=&quot;thing_1&quot;/&gt;</string>
		</dict>
	</array>
	<key>DSTRINGS</key>
	<dict>
		<key>@item</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>goos</string>
				<string>goos</string>
				<string>goos</string>
				<string>goos</string>
				<string>goos</string>
				<string>goos</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
