<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Which fraction?</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>DISTRIBUTION_EVAL_TYPE</key>
	<integer>0</integer>
	<key>DOCK_TYPE</key>
	<string>Infinite</string>
	<key>HAS_INACTIVE_AREA</key>
	<false/>
	<key>HAS_CAGE</key>
	<false/>
	<key>BOND_ALL_OBJECTS</key>
	<true/>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>5</string>
		</dict>
	</array>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>1</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>1</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>1/2</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>2/4</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$x}/{2*$x}</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>5/9</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>What fraction of the objects are&lt;/b:t&gt;&lt;b:oi tag=&quot;30_DT_Shape_Square&quot; /&gt; &lt;b:t&gt;?</string>
	</dict>
	<key>SOLUTION</key>
	<array>
		<integer>5</integer>
	</array>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>BLOCK_TYPE</key>
			<string>Circle</string>
			<key>QUANTITY</key>
			<string>{$x}</string>
		</dict>
		<dict>
			<key>BLOCK_TYPE</key>
			<string>Square</string>
			<key>QUANTITY</key>
			<string>{$x}</string>
		</dict>
	</array>
</dict>
</plist>
