<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Split 8 into two equal groups.</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<integer>8</integer>
			<key>POS_X</key>
			<integer>500</integer>
			<key>POS_Y</key>
			<integer>450</integer>
		</dict>
	</array>
	<key>SOLUTION</key>
	<array>
		<integer>4</integer>
		<integer>4</integer>
	</array>
</dict>
</plist>
