<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>&lt;b:t&gt;There are 4 groups of 2 &lt;/b:t&gt;&lt;b:oi tag=&quot;30_DT_Shape_Circle&quot;/&gt;&lt;b:t&gt;. How many &lt;/b:t&gt;&lt;b:oi tag=&quot;30_DT_Shape_Circle&quot;/&gt;&lt;b:t&gt; are there in total?&lt;/b:t&gt;</string>
	<key>SOLUTION</key>
	<array/>
	<key>HOST_BACKGROUND_IMAGE</key>
	<string>/images/bg/bg-ipad-addition_2_7_9.png</string>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>BLOCK_TYPE</key>
			<string>Circle</string>
			<key>QUANTITY</key>
			<string>2</string>
		</dict>
		<dict>
			<key>BLOCK_TYPE</key>
			<string>Circle</string>
			<key>QUANTITY</key>
			<string>2</string>
		</dict>
		<dict>
			<key>BLOCK_TYPE</key>
			<string>Circle</string>
			<key>QUANTITY</key>
			<string>2</string>
		</dict>
		<dict>
			<key>BLOCK_TYPE</key>
			<string>Circle</string>
			<key>QUANTITY</key>
			<string>2</string>
		</dict>
	</array>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>&lt;b:t&gt;There are 4 groups of 2 &lt;/b:t&gt;&lt;b:oi tag=&quot;30_DT_Shape_Circle&quot;/&gt;&lt;b:t&gt;. How many &lt;/b:t&gt;&lt;b:oi tag=&quot;30_DT_Shape_Circle&quot;/&gt;&lt;b:t&gt; are there in total?&lt;/b:t&gt;</string>
		<key>PICKER_EVAL_MODE</key>
		<string>1</string>
		<key>EVAL_VALUE</key>
		<string>8</string>
	</dict>
</dict>
</plist>
