.DS_Store
*.swp
*~.nib

build/

.xcodeproj/ 
!*.xcodeproj/project.pbxproj

*.mode1v3
*.mode2v3

xcuserdata

.hg/
.hgignore
settings/local-settings.plist
belugapad.xcodeproj/project.pbxproj

/pipeline-testing/sa-test-14d299.plist
/pipeline-testing/sa-test-1554fb.plist
/pipeline-testing/sa-test-1d45.plist
/pipeline-testing/sa-test-2bc70.plist
/pipeline-testing/sa-test-400a.plist
/pipeline-testing/sa-test-7387.plist
/pipeline-testing/sa-test-7a49.plist
/pipeline-testing/sa-test-97f8.plist
/pipeline-testing/sa-test-a02e.plist
/pipeline-testing/sa-test-b4eb.plist
/pipeline-testing/sa-test-cae1.plist
/pipeline-testing/sa-test-ffcc.plist
/pipeline-testing/sa-test-fractions.plist