<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/19thJuly/count_1-10/pv_1-10.plist</string>
	<string>/Problems/19thJuly/count_1-10/nl_1-10.plist</string>
	<string>/Problems/19thJuly/count_1-10/nl_1-8.plist</string>
	<string>/Problems/19thJuly/count_1-10/nl_1-10_word.plist</string>
	<string>/Problems/19thJuly/count_1-10/metaq_1-10_dyn.plist</string>
	<string>/Problems/19thJuly/count_1-10/nl_10-20.plist</string>
	<string>/Problems/19thJuly/count_1-10/metaq_1-20_dyn.plist</string>
</array>
</plist>
