<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>HOST_BACKGROUND_IMAGE</key>
    <string>/images/bg/bg-ipad-addition_2_7_9.png</string>
    <key>META_QUESTION</key>
    <dict>
      <key>META_QUESTION_ANSWERS</key>
      <array>
        <dict>
          <key>META_ANSWER_TEXT</key>
          <string>Yes</string>
          <key>META_ANSWER_VALUE</key>
          <true/>
        </dict>
        <dict>
          <key>META_ANSWER_TEXT</key>
          <string>No</string>
          <key>META_ANSWER_VALUE</key>
          <false/>
        </dict>
      </array>
      <key>META_QUESTION_TITLE</key>
      <string>Is 6 x 2 the same as 2 x 6?</string>
      <key>META_QUESTION_COMPLETE_TEXT</key>
      <string>well done!!</string>
      <key>META_QUESTION_EVAL_MODE</key>
      <integer>0</integer>
      <key>META_QUESTION_INCOMPLETE_TEXT</key>
      <string>Try again</string>
      <key>META_QUESTION_ANSWER_MODE</key>
      <integer>0</integer>
      <key>META_QUESTION_RANDOMISE_ANSWERS</key>
      <false/>
    </dict>
  </dict>
</plist>
