<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FOUNDATION</key>
	<true/>
	<key>PROBLEM_DESCRIPTION</key>
	<string>15 is in the middle of 10 and 20. When rounding it to the nearest ten, we round up. What is the nearest ten to 15?</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>dyn rounding numbers</string>
	<key>TOOL_KEY</key>
	<string>NLine</string>
	<key>START_VALUE</key>
	<string>15</string>
	<key>MIN_VALUE</key>
	<string>10</string>
	<key>MAX_VALUE</key>
	<string>20</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>REJECT_MODE</key>
	<integer>1</integer>
	<key>EVAL_TARGET</key>
	<string>20</string>
	<key>COUNT_OUT_LOUD_AT_INTERVALS</key>
	<true/>
	<key>HIDE_ALL_NUMBERS</key>
	<false/>
	<key>HIDE_ALL_NOTCHES</key>
	<false/>
	<key>HIDE_START_NUMBER</key>
	<false/>
	<key>HIDE_END_NUMBER</key>
	<false/>
	<key>SHOW_NUMBERS_AT_INTERVALS</key>
	<array>
		<string>5</string>
	</array>
	<key>HIDE_START_NOTCH</key>
	<false/>
	<key>HIDE_END_NOTCH</key>
	<false/>
	<key>DISABLE_SNAPPING_TO_NOTCH</key>
	<false/>
	<key>EVAL_PLUS_MINUS_THRESHOLD</key>
	<integer>0</integer>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$start</string>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>99</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$round</string>
			<key>VALUE</key>
			<string>{%start}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$toround</string>
			<key>VALUE</key>
			<string>{$start/10}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$rounded</string>
			<key>VALUE</key>
			<string>{%toround}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$ans</string>
			<key>VALUE</key>
			<string>{10*$rounded}</string>
		</dict>
	</array>
</dict>
</plist>
