<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,426},{28,28}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,32},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,126},{148,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,374},{28,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,60}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,610},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_Counter_Start.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,498},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_Counter_Stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,498},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_DG_sq.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,498},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_DT_Shape_Circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_DT_Shape_Circle_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_DT_Shape_Diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,488},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_DT_Shape_Ellipse.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_DT_Shape_House.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,440},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_DT_Shape_RoundedSquare.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,548},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_DT_Shape_Square.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,548},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_FB_Pipe_In.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,64},{121,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{121,56}}</string>
                <key>sourceSize</key>
                <string>{121,60}</string>
            </dict>
            <key>30_NB_Block.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{148,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{148,60}</string>
            </dict>
            <key>30_NB_Block1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,188},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>30_NB_Block2.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,276},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>30_NB_Block_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{148,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{148,60}</string>
            </dict>
            <key>30_NB_grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{466,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,60}}</string>
                <key>sourceSize</key>
                <string>{466,60}</string>
            </dict>
            <key>30_NB_grid_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{466,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,60}}</string>
                <key>sourceSize</key>
                <string>{466,60}</string>
            </dict>
            <key>30_NL_Yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_NW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,424},{34,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,60}}</string>
                <key>sourceSize</key>
                <string>{34,60}</string>
            </dict>
            <key>30_NW_2col.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,250},{72,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,60}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>30_PV_Block_Neg_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,378},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_PV_Block_Neg_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,378},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_PV_cage-variable.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,64},{176,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,60}}</string>
                <key>sourceSize</key>
                <string>{176,60}</string>
            </dict>
            <key>30_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,550},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_QM.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,550},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_SB_Drop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{111,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,60}}</string>
                <key>sourceSize</key>
                <string>{111,60}</string>
            </dict>
            <key>30_TT_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,486},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_TT_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,426},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_TT_Grid_Block.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,436},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_TT_Tile_Black.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,436},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,436},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_commit.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,188},{117,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,60}}</string>
                <key>sourceSize</key>
                <string>{117,60}</string>
            </dict>
            <key>30_mq_true.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{186,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,60}}</string>
                <key>sourceSize</key>
                <string>{186,60}</string>
            </dict>
            <key>30_nl_jump_forward.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,250},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{110,60}</string>
            </dict>
            <key>30_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,364},{50,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,58}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>30_pipe_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,302},{38,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,60}}</string>
                <key>sourceSize</key>
                <string>{38,60}</string>
            </dict>
            <key>30_pv_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,502},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_pv_block_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,502},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_pv_block_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,502},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_pv_dock_with_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,302},{99,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,60}}</string>
                <key>sourceSize</key>
                <string>{99,60}</string>
            </dict>
            <key>30_pv_grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,178},{119,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,60}}</string>
                <key>sourceSize</key>
                <string>{119,60}</string>
            </dict>
            <key>30_pv_grid_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,178},{119,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,60}}</string>
                <key>sourceSize</key>
                <string>{119,60}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,610},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{88,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,374},{88,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,240},{118,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{118,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,126},{148,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>thing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,364},{93,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,60}}</string>
                <key>sourceSize</key>
                <string>{93,60}</string>
            </dict>
            <key>thing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,374},{86,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,60}}</string>
                <key>sourceSize</key>
                <string>{86,60}</string>
            </dict>
            <key>thing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{91,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,60}}</string>
                <key>sourceSize</key>
                <string>{91,60}</string>
            </dict>
            <key>thing_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,312},{88,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,60}}</string>
                <key>sourceSize</key>
                <string>{88,60}</string>
            </dict>
            <key>thing_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,312},{88,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,60}}</string>
                <key>sourceSize</key>
                <string>{88,60}</string>
            </dict>
            <key>thing_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,122},{120,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,54}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>thing_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,312},{88,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,60}}</string>
                <key>sourceSize</key>
                <string>{88,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goo_things-ipadhd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58c13918ae029ff02e4c1d01090c519c$</string>
            <key>textureFileName</key>
            <string>goo_things-ipadhd.png</string>
        </dict>
    </dict>
</plist>
