<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,418},{28,28}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,32},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,64},{148,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,461},{28,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,60}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,250},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_Counter_Start.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,312},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_Counter_Stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,250},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_DG_sq.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,188},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_DT_Shape_Circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,188},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_DT_Shape_Diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,312},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_DT_Shape_Ellipse.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,64},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{50,60}</string>
            </dict>
            <key>30_DT_Shape_House.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,250},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_DT_Shape_RoundedSquare.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,374},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_DT_Shape_Square.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,436},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_NB_Block.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,358},{101,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,60}}</string>
                <key>sourceSize</key>
                <string>{101,60}</string>
            </dict>
            <key>30_NB_grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{466,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,60}}</string>
                <key>sourceSize</key>
                <string>{466,60}</string>
            </dict>
            <key>30_NW_2col.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,126},{72,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,60}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>30_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,436},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_TT_Grid_Block.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,188},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,126},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_commit.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,461},{47,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,30}}</string>
                <key>sourceSize</key>
                <string>{47,30}</string>
            </dict>
            <key>30_mq_true.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{186,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,60}}</string>
                <key>sourceSize</key>
                <string>{186,60}</string>
            </dict>
            <key>30_nl_jump_forward.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,246},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{110,60}</string>
            </dict>
            <key>30_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,227},{94,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,60}}</string>
                <key>sourceSize</key>
                <string>{94,60}</string>
            </dict>
            <key>30_pipe_in.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{106,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,60}}</string>
                <key>sourceSize</key>
                <string>{106,60}</string>
            </dict>
            <key>30_pipe_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{38,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,60}}</string>
                <key>sourceSize</key>
                <string>{38,60}</string>
            </dict>
            <key>30_pv_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,374},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>30_pv_dock_with_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,126},{99,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,60}}</string>
                <key>sourceSize</key>
                <string>{99,60}</string>
            </dict>
            <key>30_pv_grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,64},{119,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,60}}</string>
                <key>sourceSize</key>
                <string>{119,60}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,310},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,306},{88,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,396},{88,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,64},{118,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,126},{118,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{148,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,60}}</string>
                <key>sourceSize</key>
                <string>{150,60}</string>
            </dict>
            <key>thing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,323},{93,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,60}}</string>
                <key>sourceSize</key>
                <string>{93,60}</string>
            </dict>
            <key>thing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,126},{86,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,60}}</string>
                <key>sourceSize</key>
                <string>{86,60}</string>
            </dict>
            <key>thing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,418},{91,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,60}}</string>
                <key>sourceSize</key>
                <string>{91,60}</string>
            </dict>
            <key>thing_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,216},{88,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,60}}</string>
                <key>sourceSize</key>
                <string>{88,60}</string>
            </dict>
            <key>thing_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,126},{88,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,60}}</string>
                <key>sourceSize</key>
                <string>{88,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goo_things-ipadhd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee8f28e5bf1585ac573d4162eebd84ff$</string>
            <key>textureFileName</key>
            <string>goo_things-ipadhd.png</string>
        </dict>
    </dict>
</plist>
