<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,227},{15,14}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,30}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{75,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,30}}</string>
                <key>sourceSize</key>
                <string>{75,30}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,290},{15,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,30}}</string>
                <key>sourceSize</key>
                <string>{15,30}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_Counter_Start.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,288},{40,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>30_Counter_Stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,259},{40,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>30_DG_Handle.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,258},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>30_DG_sq.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,386},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_DT_2Circles.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,276},{15,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,30}}</string>
                <key>sourceSize</key>
                <string>{15,30}</string>
            </dict>
            <key>30_DT_Dock.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,98},{60,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
            <key>30_DT_Shape_Circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_DT_Shape_Circle_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_DT_Shape_Diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,416},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_DT_Shape_Ellipse.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,66},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_DT_Shape_House.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,387},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_DT_Shape_RoundedSquare.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,386},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_DT_Shape_Square.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,366},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_DT_Shape_Value_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,366},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_FB_Block.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,354},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_FB_Bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_FB_Bubble_Plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,384},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_FB_Pipe_In.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,98},{61,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{61,28}}</string>
                <key>sourceSize</key>
                <string>{61,30}</string>
            </dict>
            <key>30_FB_Plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,355},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_LD_NP_Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,256},{47,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,30}}</string>
                <key>sourceSize</key>
                <string>{47,30}</string>
            </dict>
            <key>30_NB_Block.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,66},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>30_NB_Block1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,448},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>30_NB_Block2.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,194},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>30_NB_Block_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,66},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>30_NB_Grid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,366},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>30_NB_Grid_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,66},{71,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,30}}</string>
                <key>sourceSize</key>
                <string>{71,30}</string>
            </dict>
            <key>30_NB_grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,30}}</string>
                <key>sourceSize</key>
                <string>{233,30}</string>
            </dict>
            <key>30_NB_grid_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,30}}</string>
                <key>sourceSize</key>
                <string>{233,30}</string>
            </dict>
            <key>30_NL_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,354},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_NL_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,334},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_NL_MoveButtonBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,192},{55,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,30}}</string>
                <key>sourceSize</key>
                <string>{55,30}</string>
            </dict>
            <key>30_NL_Yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,334},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_NW_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{17,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,30}}</string>
                <key>sourceSize</key>
                <string>{17,30}</string>
            </dict>
            <key>30_NW_2col.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,302},{36,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>30_PV_Block_Neg_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,264},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>30_PV_Block_Neg_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,264},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>30_PV_Cage_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{56,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,30}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>30_PV_Cage_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,160},{56,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,30}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>30_PV_Grid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,322},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_PV_cage-variable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{88,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,30}}</string>
                <key>sourceSize</key>
                <string>{88,30}</string>
            </dict>
            <key>30_PV_unit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_PV_unit10.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,352},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_PV_unit1_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,323},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_QM.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,323},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_SB_Drop.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,162},{56,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,30}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>30_TT_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,322},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_TT_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,226},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>30_TT_Grid_Block.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_TT_Tile_Black.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,320},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,291},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_commit.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,131},{59,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,30}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>30_counter_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,288},{40,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>30_counter_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,259},{40,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>30_mq_true.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,34},{83,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,30}}</string>
                <key>sourceSize</key>
                <string>{83,30}</string>
            </dict>
            <key>30_nl_jump_forward.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,163},{55,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,30}}</string>
                <key>sourceSize</key>
                <string>{55,30}</string>
            </dict>
            <key>30_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{63,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,30}}</string>
                <key>sourceSize</key>
                <string>{63,30}</string>
            </dict>
            <key>30_pipe_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,194},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>30_pv_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,290},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_pv_block_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,290},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_pv_block_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,290},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>30_pv_dock_with_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{56,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,30}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>30_pv_grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,130},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>30_pv_grid_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,130},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,258},{45,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,30}}</string>
                <key>sourceSize</key>
                <string>{45,30}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{45,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,30}}</string>
                <key>sourceSize</key>
                <string>{45,30}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,98},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,128},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,34},{75,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,30}}</string>
                <key>sourceSize</key>
                <string>{75,30}</string>
            </dict>
            <key>thing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,227},{47,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{47,30}}</string>
                <key>sourceSize</key>
                <string>{49,30}</string>
            </dict>
            <key>thing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,226},{47,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{47,30}}</string>
                <key>sourceSize</key>
                <string>{49,30}</string>
            </dict>
            <key>thing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{47,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{47,30}}</string>
                <key>sourceSize</key>
                <string>{49,30}</string>
            </dict>
            <key>thing_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,224},{47,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{47,30}}</string>
                <key>sourceSize</key>
                <string>{49,30}</string>
            </dict>
            <key>thing_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,195},{49,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,30}}</string>
                <key>sourceSize</key>
                <string>{49,30}</string>
            </dict>
            <key>thing_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>thing_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,227},{47,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{47,30}}</string>
                <key>sourceSize</key>
                <string>{49,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goo_things.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99db19cee25dd906265a1f8574b1fb63$</string>
            <key>textureFileName</key>
            <string>goo_things.png</string>
        </dict>
    </dict>
</plist>
