<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>is 3 &amp;lt; 5? Or is 5 &amp;gt; 3? How are Tom &amp;amp; Jerry? What about tom&apos;s &quot;apples&quot;? What about if the text flows ... &amp;amp; flows and flows</string>
</dict>
</plist>
