<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CORE</key>
	<true/>
	<key>REPEAT_AS_IS_MIN</key>
	<string>3</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Round {$no12}.{$no3} to the nearest ten.</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>dyn rounding numbers</string>
	<key>TOOL_KEY</key>
	<string>NLine</string>
	<key>START_VALUE</key>
	<string>{$no12}{$no3}</string>
	<key>MIN_VALUE</key>
	<string>0</string>
	<key>MAX_VALUE</key>
	<string>90</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>REJECT_MODE</key>
	<integer>1</integer>
	<key>EVAL_TARGET</key>
	<string>{$no12}0</string>
	<key>COUNT_OUT_LOUD_AT_INTERVALS</key>
	<true/>
	<key>HIDE_ALL_NUMBERS</key>
	<false/>
	<key>HIDE_ALL_NOTCHES</key>
	<false/>
	<key>SEGMENT_VALUE</key>
	<real>0.5</real>
	<key>HIDE_START_NUMBER</key>
	<false/>
	<key>HIDE_END_NUMBER</key>
	<false/>
	<key>HIDE_START_NOTCH</key>
	<false/>
	<key>SHOW_NUMBERS_AT_INTERVALS</key>
	<array>
		<integer>5</integer>
	</array>
	<key>HIDE_END_NOTCH</key>
	<false/>
	<key>DISABLE_SNAPPING_TO_NOTCH</key>
	<false/>
	<key>EVAL_PLUS_MINUS_THRESHOLD</key>
	<integer>0</integer>
	<key>DISPLAY_NUMBER_MULTIPLIER</key>
	<real>0.1</real>
</dict>
</plist>
