<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/order-of-operations/pipeline-V8I74TU0-RSZV-CDYU-Y9NU-B94AWFM04531/pdef_8.plist</string>
	<string>/Problems/order-of-operations/pipeline-V8I74TU0-RSZV-CDYU-Y9NU-B94AWFM04531/pdef_9.plist</string>
	<string>/Problems/order-of-operations/pipeline-V8I74TU0-RSZV-CDYU-Y9NU-B94AWFM04531/pdef_10.plist</string>
	<string>/Problems/order-of-operations/pipeline-V8I74TU0-RSZV-CDYU-Y9NU-B94AWFM04531/pdef_11.plist</string>
</array>
</plist>
