<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f05d/101addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f05d/102addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f05d/103addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f05d/201addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f05d/202addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f05d/203mq-addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f05d/301addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f05d/302mq-addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f05d/303addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f05d/304mq-addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f05d/401mq-addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f05d/402addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f05d/403np-addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f05d/404np-addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f05d/405np-addtaketen.plist</string>
</array>
</plist>
