<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Tom has 3 sweets. Gareth has 5 sweets. Gareth gives Tom 2 sweets, how many sweets does Tom have?</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<integer>5</integer>
			<key>POS_X</key>
			<integer>125</integer>
			<key>POS_Y</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>QUANTITY</key>
			<integer>3</integer>
			<key>POS_X</key>
			<integer>700</integer>
			<key>POS_Y</key>
			<integer>80</integer>
		</dict>
	</array>
	<key>SOLUTION</key>
	<array>
		<integer>5</integer>
		<integer>3</integer>
	</array>
</dict>
</plist>
