<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>On [[$day1]], Tom caught {$augend} fish. The next [[$day2]], Gareth caught 4 fish and gave {$addend} of them to Tom. How many fish does Tom have?</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$augend</string>
			<key>MIN</key>
			<string>3</string>
			<key>MAX</key>
			<string>9</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$addend</string>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>4</string>
		</dict>
	</array>
	<key>DSTRINGS</key>
	<dict>
		<key>$day2</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>Monday</string>
				<string>Tuesday</string>
				<string>Wednesday</string>
				<string>Thursday</string>
				<string>Friday</string>
				<string>Saturday</string>
				<string>Sunday</string>
			</array>
		</dict>
		<key>$day1</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>Monday</string>
				<string>Tuesday</string>
				<string>Wednesday</string>
				<string>Thursday</string>
				<string>Friday</string>
				<string>Saturday</string>
				<string>Sunday</string>
			</array>
		</dict>
	</dict>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<string>{$augend}</string>
			<key>POS_X</key>
			<integer>80</integer>
			<key>POS_Y</key>
			<integer>400</integer>
		</dict>
		<dict>
			<key>QUANTITY</key>
			<integer>4</integer>
			<key>POS_X</key>
			<integer>700</integer>
			<key>POS_Y</key>
			<integer>400</integer>
		</dict>
	</array>
	<key>SOLUTION</key>
	<array>
		<string>{$augend+$addend}</string>
		<string>{4-$addend}</string>
	</array>
</dict>
</plist>
