<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>[[$time]], Tom went for a swim. First, he swam for 3 miles, then stopped for a break. He then swam for 4 more miles. Count how far Tom swam.</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>count on 4 from 3</string>
	<key>TOOL_KEY</key>
	<string>PlaceValue</string>
	<key>NUMBER_COLS</key>
	<integer>1</integer>
	<key>FIRST_COL_VALUE</key>
	<integer>1</integer>
	<key>COL_BASE_VALUE</key>
	<string>10</string>
	<key>DEFAULT_COL</key>
	<integer>1</integer>
	<key>ROPES_PER_COL</key>
	<integer>10</integer>
	<key>ROWS_PER_COL</key>
	<integer>1</integer>
	<key>ALLOW_CONDENSING</key>
	<false/>
	<key>ALLOW_MULCHING</key>
	<false/>
	<key>EVAL_MODE</key>
	<integer>0</integer>
	<key>REJECT_MODE</key>
	<integer>0</integer>
	<key>SHOW_CAGE</key>
	<true/>
	<key>SHOW_COUNT</key>
	<false/>
	<key>SHOW_COUNT_BLOCK</key>
	<true/>
	<key>CUSTOM_COLUMN_HEADERS</key>
	<true/>
	<key>DSTRINGS</key>
	<dict>
		<key>$time</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>Yesterday</string>
				<string>On Thursday</string>
				<string>Last night</string>
				<string>This morning</string>
				<string>Today</string>
			</array>
		</dict>
	</dict>
	<key>COLUMN_HEADERS</key>
	<dict>
		<key>0</key>
		<string>ones</string>
	</dict>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>PUT_IN_COL</key>
			<integer>0</integer>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>NUMBER</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>SOLUTION</key>
	<dict>
		<key>SOLUTION_TYPE</key>
		<string>TOTAL_COUNT_AND_COUNT_SEQUENCE</string>
		<key>SOLUTION_VALUE</key>
		<integer>7</integer>
	</dict>
</dict>
</plist>
