<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>What is {$addend} {@operator} {$augend}?</string>
		<key>INTERNAL_DESCRIPTION</key>
		<string>memorise number facts for addition within 5 </string>
		<key>PICKER_LAYOUT</key>
		<integer>1</integer>
		<key>ANIMATE_FROM_PICKER</key>
		<true/>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<string>{$addend+$augend}</string>
	</dict>
	<key>DSTRINGS</key>
	<dict>
		<key>@operator</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>plus</string>
				<string>add</string>
				<string>+</string>
				<string>more than</string>
				<string>increased by</string>
				<string>and</string>
			</array>
		</dict>
	</dict>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$addend</string>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>4</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$augend</string>
			<key>MIN</key>
			<string>0</string>
			<key>MAX</key>
			<string>2</string>
		</dict>
	</array>
</dict>
</plist>
