<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>This is 2 + 6. Make 2 (1 + 3).</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>EVAL_AREAS</key>
	<array>
		<dict>
			<key>AREA_SIZE</key>
			<string>16</string>
			<key>AREA_WIDTH</key>
			<string>4</string>
		</dict>
		<dict>
			<key>AREA_SIZE</key>
			<string>16</string>
			<key>AREA_WIDTH</key>
			<string>4</string>
		</dict>
	</array>
	<key>SOLUTION</key>
	<array>
		<dict>
			<key>EVAL_SQUARES_REQUIRED</key>
			<string>1</string>
			<key>EVAL_CIRCLES_REQUIRED</key>
			<string>3</string>
		</dict>
		<dict>
			<key>EVAL_SQUARES_REQUIRED</key>
			<string>1</string>
			<key>EVAL_CIRCLES_REQUIRED</key>
			<string>3</string>
		</dict>
	</array>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<integer>2</integer>
			<key>POS_X</key>
			<integer>300</integer>
			<key>POS_Y</key>
			<integer>400</integer>
			<key>BLOCK_TYPE</key>
			<string>Square</string>
		</dict>
		<dict>
			<key>QUANTITY</key>
			<integer>6</integer>
			<key>POS_X</key>
			<integer>700</integer>
			<key>POS_Y</key>
			<integer>500</integer>
			<key>BLOCK_TYPE</key>
			<string>Circle</string>
		</dict>
	</array>
	<key>HOST_BACKGROUND_IMAGE</key>
	<string>/images/bg/bg-ipad-addition_2_7_9.png</string>
	<key>ENABLE_CALCULATOR</key>
	<true/>
</dict>
</plist>
