<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MASTERY</key>
	<true/>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Make 1.06 . </string>
	<key>TOOL_KEY</key>
	<string>PlaceValue</string>
	<key>COL_BASE_VALUE</key>
	<integer>10</integer>
	<key>FIRST_COL_VALUE</key>
	<integer>1</integer>
	<key>NUMBER_COLS</key>
	<integer>3</integer>
	<key>DEFAULT_COL</key>
	<integer>0</integer>
	<key>ROPES_PER_COL</key>
	<integer>2</integer>
	<key>ROWS_PER_COL</key>
	<integer>5</integer>
	<key>ALLOW_CONDENSING</key>
	<true/>
	<key>ALLOW_MULCHING</key>
	<true/>
	<key>ALLOW_PANNING</key>
	<false/>
	<key>SHOW_CAGE</key>
	<true/>
	<key>DEFAULT_SCALE</key>
	<integer>1</integer>
	<key>SHOW_NEG_CAGE</key>
	<true/>
	<key>X_OFFSET</key>
	<string>0.28</string>
	<key>SHOW_COL_HEADER</key>
	<false/>
	<key>SHOW_BASE_SELECTION</key>
	<true/>
	<key>SHOW_VALUE</key>
	<true/>
	<key>PICKUP_SPRITE_FILENAME</key>
	<string>/images/placevalue/cage-neg.png</string>
	<key>PROXIMITY_SPRITE_FILENAME</key>
	<string>/images/placevalue/cage-pos.png</string>
	<key>SOLUTION</key>
	<dict>
		<key>SOLUTION_TYPE</key>
		<string>TOTAL_COUNT</string>
		<key>SOLUTION_VALUE</key>
		<string>1.06</string>
	</dict>
	<key>INIT_OBJECTS</key>
	<array/>
	<key>REJECT_MODE</key>
	<integer>1</integer>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>COLUMN_SPRITES</key>
	<dict>
		<key>10</key>
		<string>/images/placevalue/obj-placevalue-unit10.png</string>
		<key>1</key>
		<string>/images/placevalue/obj-placevalue-unit1.png</string>
		<key>0.1</key>
		<string>/images/placevalue/obj-placevalue-unit1tenth.png</string>
		<key>0.01</key>
		<string>/images/placevalue/obj-placevalue-unit1hundredth.png</string>
		<key>0.001</key>
		<string>/images/placevalue/obj-placevalue-unit1thousandth.png</string>
	</dict>
	<key>COLUMN_CAGES</key>
	<dict>
		<key>10</key>
		<false/>
		<key>1</key>
		<false/>
		<key>0.1</key>
		<true/>
	</dict>
	<key>COLUMN_NEG_CAGES</key>
	<dict>
		<key>10</key>
		<false/>
		<key>1</key>
		<false/>
	</dict>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$ten</string>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>9</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$tens</string>
			<key>VALUE</key>
			<string>{$ten*10}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$units</string>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>4</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>VALUE</key>
			<string>{$tens+$units}</string>
		</dict>
	</array>
</dict>
</plist>
