<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NODE_ID</key>
	<string>5608a59d6797796ce9e11484fd1335d0</string>
	<key>PIPELINE_NAME</key>
	<string>build_1.06</string>
	<key>PROBLEMS</key>
	<array>
		<string>/Problems/tokcm-authoring/Number/decimals_and_primes/decimals/5608a59d6797796ce9e11484fd1335d0/101ca.plist</string>
		<string>/Problems/tokcm-authoring/Number/decimals_and_primes/decimals/5608a59d6797796ce9e11484fd1335d0/102ca.plist</string>
		<string>/Problems/tokcm-authoring/Number/decimals_and_primes/decimals/5608a59d6797796ce9e11484fd1335d0/103ca.plist</string>
		<string>/Problems/tokcm-authoring/Number/decimals_and_primes/decimals/5608a59d6797796ce9e11484fd1335d0/104ca.plist</string>
		<string>/Problems/tokcm-authoring/Number/decimals_and_primes/decimals/5608a59d6797796ce9e11484fd1335d0/401ld.plist</string>
		<string>/Problems/tokcm-authoring/Number/decimals_and_primes/decimals/5608a59d6797796ce9e11484fd1335d0/402ld.plist</string>
		<string>/Problems/tokcm-authoring/Number/decimals_and_primes/decimals/5608a59d6797796ce9e11484fd1335d0/403ld.plist</string>
		<string>/Problems/tokcm-authoring/Number/decimals_and_primes/decimals/5608a59d6797796ce9e11484fd1335d0/404ld.plist</string>
		<string>/Problems/tokcm-authoring/Number/decimals_and_primes/decimals/5608a59d6797796ce9e11484fd1335d0/405ld.plist</string>
		<string>/Problems/tokcm-authoring/Number/decimals_and_primes/decimals/5608a59d6797796ce9e11484fd1335d0/406ld.plist</string>
		<string>/Problems/tokcm-authoring/Number/decimals_and_primes/decimals/5608a59d6797796ce9e11484fd1335d0/407ld.plist</string>
		<string>/Problems/tokcm-authoring/Number/decimals_and_primes/decimals/5608a59d6797796ce9e11484fd1335d0/408ld.plist</string>
	</array>
</dict>
</plist>
