<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MASTERY</key>
	<false/>
	<key>PROBLEM_DESCRIPTION</key>
	<string>0 C &gt; -3 C. Which temperature is warmer?</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>0 C &gt; -3 C. Which temperature is warmer?</string>
	<key>TOOL_KEY</key>
	<string>NLine</string>
	<key>START_VALUE</key>
	<string>0</string>
	<key>MIN_VALUE</key>
	<string>-10</string>
	<key>MAX_VALUE</key>
	<string>3</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>REJECT_MODE</key>
	<integer>1</integer>
	<key>EVAL_TARGET</key>
	<integer>12</integer>
	<key>HIDE_ALL_NUMBERS</key>
	<false/>
	<key>SHOW_NUMBERS_AT_INTERVALS</key>
	<array>
		<string>1</string>
	</array>
	<key>HIDE_ALL_NOTCHES</key>
	<false/>
	<key>HIDE_START_NUMBER</key>
	<false/>
	<key>HIDE_END_NUMBER</key>
	<false/>
	<key>HIDE_START_NOTCH</key>
	<false/>
	<key>HIDE_END_NOTCH</key>
	<false/>
	<key>DISABLE_SNAPPING_TO_NOTCH</key>
	<false/>
	<key>EVAL_PLUS_MINUS_THRESHOLD</key>
	<integer>0</integer>
	<key>SEGMENT_VALUE</key>
	<integer>1</integer>
	<key>COUNT_OUT_LOUD_AT_INTERVALS</key>
	<array>
		<integer>1</integer>
	</array>
	<key>SHOW_COUNT_HISTORY_AT_INTERVALS</key>
	<array>
		<string>1</string>
	</array>
	<key>RENDER_STITCHES_AT_INTERVAL</key>
	<integer>0</integer>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_RANDOMISE_ANSWERS</key>
		<false/>
		<key>META_QUESTION_COMPLETE_TEXT</key>
		<string>well done!!</string>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>0 C</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>-3 C</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>0 C &gt; -3 C. Which temperature is warmer?</string>
		<key>META_QUESTION_INCOMPLETE_TEXT</key>
		<string>Try again</string>
	</dict>
	<key>HOST_BACKGROUND_IMAGE</key>
	<string>/images/bg/bg-ipad-addition_2_7_9.png</string>
</dict>
</plist>
