<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>what is 7+7?</string>
	<key>TOOL_KEY</key>
	<string>PartitionTool</string>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>LENGTH</key>
			<integer>7</integer>
			<key>LABEL</key>
			<string>7</string>
		</dict>
		<dict>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>LENGTH</key>
			<integer>7</integer>
			<key>LABEL</key>
			<string>7</string>
		</dict>
		<dict>
			<key>PUT_IN_ROW</key>
			<integer>1</integer>
			<key>LENGTH</key>
			<integer>7</integer>
			<key>LABEL</key>
			<string>7</string>
		</dict>
		<dict>
			<key>PUT_IN_ROW</key>
			<integer>1</integer>
			<key>LENGTH</key>
			<integer>3</integer>
			<key>LABEL</key>
			<string>3</string>
		</dict>
		<dict>
			<key>PUT_IN_ROW</key>
			<integer>1</integer>
			<key>LENGTH</key>
			<integer>4</integer>
			<key>LABEL</key>
			<string>4</string>
		</dict>
		<dict>
			<key>PUT_IN_ROW</key>
			<integer>2</integer>
			<key>LENGTH</key>
			<integer>10</integer>
			<key>LABEL</key>
			<string>10</string>
		</dict>
		<dict>
			<key>PUT_IN_ROW</key>
			<integer>2</integer>
			<key>LENGTH</key>
			<integer>4</integer>
			<key>LABEL</key>
			<string>4</string>
		</dict>
	</array>
	<key>INIT_BARS</key>
	<array>
		<dict>
			<key>LOCKED</key>
			<true/>
			<key>LENGTH</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>LOCKED</key>
			<true/>
			<key>LENGTH</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>LOCKED</key>
			<true/>
			<key>LENGTH</key>
			<integer>14</integer>
		</dict>
	</array>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_COMPLETE_TEXT</key>
		<string>well done!!</string>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>12</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>13</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>14</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>15</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>what is 7 + 7 ?</string>
		<key>META_QUESTION_INCOMPLETE_TEXT</key>
		<string>Try again</string>
	</dict>
	<key>REJECT_MODE</key>
	<integer>0</integer>
</dict>
</plist>
