<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MASTERY</key>
	<true/>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>x&gt;y</string>
	<key>EVAL_MODE</key>
	<string>1</string>
	<key>EVAL_TYPE</key>
	<string>ALL_ENABLED</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;Complete the sentences using the following numbers.&lt;/b:t&gt;</string>
		<string>&lt;b:ot tag=&quot;a&quot;&gt;{$x}&lt;/b:ot&gt;
&lt;b:ot tag=&quot;b&quot;&gt;{$y}&lt;/b:ot&gt;</string>
		<string>&lt;b:ph targetTag=&quot;b&quot; /&gt;
&lt;b:t&gt;is larger than&lt;/b:t&gt;
&lt;b:ph targetTag=&quot;a&quot; /&gt;&lt;b:t&gt;.&lt;/b:t&gt;</string>
		<string>&lt;b:ph targetTag=&quot;a&quot; /&gt;
&lt;b:t&gt;is smaller than&lt;/b:t&gt;
&lt;b:ph targetTag=&quot;b&quot; /&gt;&lt;b:t&gt;.&lt;/b:t&gt;</string>
	</array>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>3</string>
			<key>MAX</key>
			<string>6</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$y</string>
			<key>MIN</key>
			<string>7</string>
			<key>MAX</key>
			<string>10</string>
		</dict>
	</array>
	<key>REPEAT_AS_IS_MIN</key>
	<integer>2</integer>
	<key>NUMBER_MODE</key>
	<string>numicon</string>
</dict>
</plist>
