<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ColumnAddition</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Find the total of 62.35 and 15.82</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>col add carrying</string>
	<key>NUMBER_A</key>
	<real>62.35</real>
	<key>NUMBER_B</key>
	<real>15.82</real>
</dict>
</plist>
