<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ColumnAddition</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>What is the sum of 15.5 and 84.5?</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>col add carrying</string>
	<key>NUMBER_A</key>
	<real>15.5</real>
	<key>NUMBER_B</key>
	<real>84.5</real>
</dict>
</plist>
