<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>NODE_ID</key>
		<string>5608a59d6797796ce9e11484fd14c173</string>
		<key>PIPELINE_NAME</key>
		<string>build_1.06</string>
		<key>PROBLEMS</key>
        <array>
            <string>/Problems/tokcm-authoring/Number/fractions/early_fractions/5608a59d6797796ce9e11484fd14c173/fb_1-5_subtr.plist</string>
            <string>/Problems/tokcm-authoring/Number/fractions/early_fractions/5608a59d6797796ce9e11484fd14c173/fb_1-6_add.plist</string>
            <string>/Problems/tokcm-authoring/Number/fractions/early_fractions/5608a59d6797796ce9e11484fd14c173/fb_1-7_add.plist</string>
            <string>/Problems/tokcm-authoring/Number/fractions/early_fractions/5608a59d6797796ce9e11484fd14c173/fb_1-6_subtr.plist</string>
            <string>/Problems/tokcm-authoring/Number/fractions/early_fractions/5608a59d6797796ce9e11484fd14c173/fb_1-8_subtr.plist</string>
            <string>/Problems/tokcm-authoring/Number/fractions/early_fractions/5608a59d6797796ce9e11484fd14c173/fb_1-9_add.plist</string>
            <string>/Problems/tokcm-authoring/Number/fractions/early_fractions/5608a59d6797796ce9e11484fd14c173/fb_1-9_subtr.plist</string>
            <string>/Problems/tokcm-authoring/Number/fractions/early_fractions/5608a59d6797796ce9e11484fd14c173/fb_1-10_add.plist</string>
            <string>/Problems/tokcm-authoring/Number/fractions/early_fractions/5608a59d6797796ce9e11484fd14c173/fb_1-7_subtr.plist</string>
            <string>/Problems/tokcm-authoring/Number/fractions/early_fractions/5608a59d6797796ce9e11484fd14c173/fb_1-12_add.plist</string>
            <string>/Problems/tokcm-authoring/Number/fractions/early_fractions/5608a59d6797796ce9e11484fd14c173/fb_1-12_add2.plist</string>
            <string>/Problems/tokcm-authoring/Number/fractions/early_fractions/5608a59d6797796ce9e11484fd14c173/fb_1-12_subtr.plist</string>
            <string>/Problems/tokcm-authoring/Number/fractions/early_fractions/5608a59d6797796ce9e11484fd14c173/fb_1-14_add.plist</string>
        </array>
	</dict>
</plist>
