<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>Complete the sentence:</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:ot tag=&quot;a&quot;&gt;is bigger than&lt;/b:ot&gt;
&lt;b:ot tag=&quot;b&quot;&gt;is equal to&lt;/b:ot&gt;
&lt;b:ot tag=&quot;c&quot;&gt;is smaller than&lt;/b:ot&gt;</string>
		<string>&lt;b:t&gt;915&lt;/b:t&gt;
&lt;b:ot tag=&quot;c&quot; enabled=&quot;no&quot;&gt; &gt; &lt;/b:ot&gt;
&lt;b:t&gt;315&lt;/b:t&gt;</string>
	</array>
</dict>
</plist>
