<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>Complete the sentence:</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:ot tag=&quot;a&quot;&gt; &amp;lt; &lt;/b:ot&gt;
&lt;b:ot tag=&quot;b&quot;&gt; = &lt;/b:ot&gt;
&lt;b:ot tag=&quot;c&quot;&gt; &amp;gt; &lt;/b:ot&gt;</string>
		<string>&lt;b:t&gt;{$y}&lt;/b:t&gt;
&lt;b:ot tag=&quot;c&quot; enabled=&quot;no&quot;&gt; &amp;gt; &lt;/b:ot&gt;
&lt;b:t&gt;{$x}&lt;/b:t&gt;</string>
	</array>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>389</string>
			<key>MAX</key>
			<string>493</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$y</string>
			<key>MIN</key>
			<string>495</string>
			<key>MAX</key>
			<string>600</string>
		</dict>
	</array>
</dict>
</plist>
