<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>backwards forwards</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:ot tag=&quot;a&quot;&gt; &amp;lt; &lt;/b:ot&gt;
&lt;b:ot tag=&quot;b&quot;&gt; = &lt;/b:ot&gt;
&lt;b:ot tag=&quot;c&quot;&gt; &amp;gt; &lt;/b:ot&gt;</string>
		<string>&lt;b:t&gt;{$a}{$b}{$c}&lt;/b:t&gt;
&lt;b:ot tag=&quot;a&quot; enabled=&quot;no&quot;&gt; &amp;lt; &lt;/b:ot&gt;
&lt;b:t&gt;{$c}{$b}{$a}&lt;/b:t&gt;</string>
	</array>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$a</string>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>5</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$b</string>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>9</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$c</string>
			<key>MIN</key>
			<string>6</string>
			<key>MAX</key>
			<string>9</string>
		</dict>
	</array>
</dict>
</plist>
