<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>&lt;b:t&gt;Show that the difference between&lt;/b:t&gt;&lt;b:on numerator=&quot;11&quot; denominator=&quot;4&quot; showAsMixedFraction=&quot;yes&quot;/&gt;&lt;b:t&gt;and&lt;/b:t&gt;&lt;b:on numerator=&quot;5&quot; denominator=&quot;4&quot; showAsMixedFraction=&quot;yes&quot;/&gt;&lt;b:t&gt;is&lt;/b:t&gt;&lt;b:on numerator=&quot;6&quot; denominator=&quot;4&quot; showAsMixedFraction=&quot;yes&quot;/&gt;</string>
	<key>TOOL_KEY</key>
	<string>NumberBonds</string>
	<key>SOLUTION_MODE</key>
	<string>0</string>
	<key>INIT_BARS</key>
	<array>
		<dict>
			<key>LOCKED</key>
			<true/>
			<key>LENGTH</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>LOCKED</key>
			<false/>
			<key>LENGTH</key>
			<integer>11</integer>
		</dict>
	</array>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>LENGTH</key>
			<integer>4</integer>
			<key>LABEL</key>
			<string>1</string>
		</dict>
		<dict>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>LENGTH</key>
			<integer>4</integer>
			<key>LABEL</key>
			<string>1</string>
		</dict>
		<dict>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>LENGTH</key>
			<integer>4</integer>
			<key>LABEL</key>
			<string>&lt;b:on numerator=&quot;3&quot; denominator=&quot;4&quot;/&gt;</string>
		</dict>
		<dict>
			<key>PUT_IN_ROW</key>
			<integer>1</integer>
			<key>LENGTH</key>
			<integer>5</integer>
			<key>LABEL</key>
			<string>&lt;b:on numerator=&quot;5&quot; denominator=&quot;4&quot;/&gt;</string>
		</dict>
	</array>
	<key>INIT_CAGES</key>
	<array>
		<dict>
			<key>LENGTH</key>
			<integer>1</integer>
			<key>LABEL</key>
			<string>&lt;b:on numerator=&quot;1&quot; denominator=&quot;4&quot;/&gt;</string>
			<key>QUANTITY</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>LENGTH</key>
			<integer>2</integer>
			<key>LABEL</key>
			<string>&lt;b:on numerator=&quot;2&quot; denominator=&quot;4&quot;/&gt;</string>
			<key>QUANTITY</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>LENGTH</key>
			<integer>3</integer>
			<key>LABEL</key>
			<string>&lt;b:on numerator=&quot;3&quot; denominator=&quot;4&quot;/&gt;</string>
			<key>QUANTITY</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>LENGTH</key>
			<integer>4</integer>
			<key>LABEL</key>
			<string>&lt;b:on numerator=&quot;4&quot; denominator=&quot;4&quot;/&gt;</string>
			<key>QUANTITY</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>LENGTH</key>
			<integer>5</integer>
			<key>LABEL</key>
			<string>&lt;b:on numerator=&quot;5&quot; denominator=&quot;4&quot;/&gt;</string>
			<key>QUANTITY</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>LENGTH</key>
			<integer>6</integer>
			<key>LABEL</key>
			<string>&lt;b:on numerator=&quot;6&quot; denominator=&quot;4&quot;/&gt;</string>
			<key>QUANTITY</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>SOLUTIONS</key>
	<array/>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>REJECT_MODE</key>
	<integer>0</integer>
</dict>
</plist>
