<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>EVAL_TYPE</key>
	<string>ALL_ENABLED</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;The top row is proportional to the bottom row. What is the missing number?&lt;/b:t&gt;</string>
		<string>&lt;b:on number=&quot;{$x*$a}&quot;/&gt;&lt;b:on number=&quot;{$y*$a}&quot;/&gt;</string>
		<string>&lt;b:on number=&quot;{$x*$b}&quot;/&gt;&lt;b:ot&gt;x&lt;/b:ot&gt;</string>
	</array>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_COMPLETE_TEXT</key>
		<string>well done!!</string>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$y*$b}</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$y*$a}</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$y*$x}</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>What is the missing number?</string>
		<key>META_QUESTION_INCOMPLETE_TEXT</key>
		<string>Try again</string>
	</dict>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>8</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$y</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>8</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$a</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>8</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$b</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>8</string>
		</dict>
	</array>
</dict>
</plist>
