<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>EVAL_TYPE</key>
	<string>ALL_PICKERS_CORRECT</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;What is the missing number?&lt;/b:t&gt;</string>
		<string>&lt;b:t&gt;3x table&lt;/b:t&gt;&lt;b:on number=&quot;9&quot;/&gt;&lt;b:on number=&quot;15&quot;/&gt;</string>
		<string>&lt;b:t&gt;4x table&lt;/b:t&gt;&lt;b:on number=&quot;12&quot;/&gt;&lt;b:on usePicker=&quot;yes&quot; pickerTarget=&quot;20&quot;/&gt;</string>
	</array>
</dict>
</plist>
