<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/tokcm/counting-and-sorting/5608a59d6797796ce9e11484fd180be3/count_0-1.plist</string>
	<string>/Problems/tokcm/counting-and-sorting/5608a59d6797796ce9e11484fd180be3/count_0-2.plist</string>
	<string>/Problems/tokcm/counting-and-sorting/5608a59d6797796ce9e11484fd180be3/count_0-3.plist</string>
	<string>/Problems/tokcm/counting-and-sorting/5608a59d6797796ce9e11484fd180be3/count_0-5.plist</string>
	<string>/Problems/tokcm/counting-and-sorting/5608a59d6797796ce9e11484fd180be3/count_0-20.plist</string>
</array>
</plist>
