<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>count 5 ice blocks</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>count 5</string>
	<key>TOOL_KEY</key>
	<string>BlockFloating</string>
	<key>EVAL_MODE</key>
	<integer>0</integer>
	<key>REJECT_MODE</key>
	<integer>0</integer>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>TAG</key>
			<string>block1</string>
			<key>DIMENSION_COLS</key>
			<integer>1</integer>
			<key>DIMENSION_ROWS</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>TAG</key>
			<string>block2</string>
			<key>DIMENSION_COLS</key>
			<integer>1</integer>
			<key>DIMENSION_ROWS</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>TAG</key>
			<string>block3</string>
			<key>DIMENSION_COLS</key>
			<integer>1</integer>
			<key>DIMENSION_ROWS</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>TAG</key>
			<string>block4</string>
			<key>DIMENSION_COLS</key>
			<integer>1</integer>
			<key>DIMENSION_ROWS</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>TAG</key>
			<string>block5</string>
			<key>DIMENSION_COLS</key>
			<integer>1</integer>
			<key>DIMENSION_ROWS</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>INIT_CONTAINERS</key>
	<array>
		<dict>
			<key>TAG</key>
			<string>container1</string>
		</dict>
	</array>
	<key>SOLUTIONS</key>
	<array>
		<dict>
			<key>PLAY_SOUND</key>
			<string>complete.wav</string>
			<key>SOLUTION_SCORE</key>
			<integer>1</integer>
			<key>CLAUSES</key>
			<array>
				<dict>
					<key>ITEM1_CONTAINER_TAG</key>
					<string>container1</string>
					<key>ITEM2_VALUE</key>
					<integer>5</integer>
					<key>CLAUSE_TYPE</key>
					<string>COUNT_EQUAL_TO</string>
				</dict>
				<dict>
					<key>ITEM1_CONTAINER_TAG</key>
					<string>container1</string>
					<key>ITEM2_VALUE</key>
					<integer>5</integer>
					<key>CLAUSE_TYPE</key>
					<string>SIZE_EQUAL_TO</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
