<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FOUNDATION</key>
	<true/>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Make {$z} x {$total}.</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>z(x+y)</string>
	<key>TOOL_KEY</key>
	<string>FloatingBlock</string>
	<key>EVAL_MODE</key>
	<integer>0</integer>
	<key>SOLUTION</key>
	<string>{$z*$total}</string>
	<key>INIT_BUBBLES</key>
	<integer>2</integer>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>NUMBER</key>
			<string>{$x}</string>
		</dict>
		<dict>
			<key>NUMBER</key>
			<string>{$z}</string>
		</dict>
		<dict>
			<key>NUMBER</key>
			<string>{$y}</string>
		</dict>
	</array>
	<key>BUBBLE_AUTO_OPERATE</key>
	<false/>
	<key>SHOW_MULTIPLE_CONTROLS</key>
	<true/>
	<key>SUPPORTED_OPERATORS</key>
	<array>
		<string>x</string>
		<string>+</string>
	</array>
	<key>SHOW_INPUT_PIPE</key>
	<false/>
	<key>SHOW_SOLUTION_ON_PIPE</key>
	<true/>
	<key>DVARS</key>
	<array>
		<dict>
			<key>RETAIN</key>
			<true/>
			<key>VAR_NAME</key>
			<string>$z</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>3</string>
		</dict>
		<dict>
			<key>RECALL</key>
			<string>$x</string>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>3</string>
		</dict>
		<dict>
			<key>RECALL</key>
			<string>$y</string>
			<key>VAR_NAME</key>
			<string>$y</string>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>2</string>
		</dict>
		<dict>
			<key>RETAIN</key>
			<true/>
			<key>VAR_NAME</key>
			<string>$total</string>
			<key>VALUE</key>
			<string>{$x+$y}</string>
		</dict>
	</array>
</dict>
</plist>
