<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>This is 0.17. Make 0.17 x 10. </string>
	<key>TOOL_KEY</key>
	<string>PlaceValue</string>
	<key>COL_BASE_VALUE</key>
	<integer>10</integer>
	<key>FIRST_COL_VALUE</key>
	<integer>1</integer>
	<key>NUMBER_COLS</key>
	<integer>3</integer>
	<key>DEFAULT_COL</key>
	<integer>0</integer>
	<key>ROPES_PER_COL</key>
	<integer>2</integer>
	<key>ROWS_PER_COL</key>
	<integer>5</integer>
	<key>ALLOW_CONDENSING</key>
	<true/>
	<key>ALLOW_MULCHING</key>
	<true/>
	<key>ALLOW_PANNING</key>
	<false/>
	<key>COLUMN_SPACING</key>
	<string>0.3</string>
	<key>X_OFFSET</key>
	<string>0.28</string>
	<key>DEFAULT_SCALE</key>
	<string>1</string>
	<key>SHOW_CAGE</key>
	<true/>
	<key>SHOW_NEG_CAGE</key>
	<false/>
	<key>SHOW_COUNT</key>
	<false/>
	<key>SHOW_COUNT_BLOCK</key>
	<false/>
	<key>SHOW_COL_HEADER</key>
	<false/>
	<key>SHOW_VALUE</key>
	<false/>
	<key>SHOW_BASE_SELECTION</key>
	<true/>
	<key>PICKUP_SPRITE_FILENAME</key>
	<string>/images/placevalue/cage-neg.png</string>
	<key>PROXIMITY_SPRITE_FILENAME</key>
	<string>/images/placevalue/cage-pos.png</string>
	<key>REJECT_MODE</key>
	<integer>1</integer>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>PUT_IN_COL</key>
			<integer>1</integer>
			<key>NUMBER</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>PUT_IN_COL</key>
			<integer>2</integer>
			<key>NUMBER</key>
			<integer>7</integer>
		</dict>
	</array>
	<key>SOLUTION</key>
	<dict>
		<key>SOLUTION_TYPE</key>
		<string>TOTAL_COUNT</string>
		<key>SOLUTION_VALUE</key>
		<string>1.7</string>
	</dict>
	<key>COLUMN_SPRITES</key>
	<dict>
		<key>100</key>
		<string>/images/placevalue/obj-placevalue-unit100.png</string>
		<key>10</key>
		<string>/images/placevalue/obj-placevalue-unit10.png</string>
		<key>1</key>
		<string>/images/placevalue/obj-placevalue-unit1.png</string>
		<key>0.1</key>
		<string>/images/placevalue/obj-placevalue-unit1tenth.png</string>
		<key>0.01</key>
		<string>/images/placevalue/obj-placevalue-unit1hundredth.png</string>
	</dict>
	<key>COLUMN_CAGES</key>
	<dict>
		<key>100</key>
		<true/>
		<key>10</key>
		<true/>
		<key>1</key>
		<true/>
		<key>0.1</key>
		<true/>
		<key>0.0.1</key>
		<true/>
	</dict>
</dict>
</plist>
