<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>This is 100%. Shade {10*$x}%.</string>
	<key>TOOL_KEY</key>
	<string>FractionBuilder</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>INIT_FRACTIONS</key>
	<array>
		<dict>
			<key>POS_Y</key>
			<integer>600</integer>
			<key>FRACTION_MODE</key>
			<integer>0</integer>
			<key>VALUE</key>
			<integer>1</integer>
			<key>TAG</key>
			<integer>1</integer>
			<key>SHOW_CURRENT_FRACTIONS</key>
			<true/>
			<key>CREATE_CHUNKS_ON_INIT</key>
			<true/>
			<key>MARKER_START_POSITION</key>
			<integer>4</integer>
		</dict>
	</array>
	<key>SOLUTIONS</key>
	<array>
		<dict>
			<key>TAG</key>
			<integer>1</integer>
			<key>DIVIDEND</key>
			<string>{10*$x}</string>
			<key>DIVISOR</key>
			<string>100</string>
		</dict>
	</array>
	<key>DVARS</key>
	<array>
		<dict>
			<key>RECALL</key>
			<string>$x</string>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>9</string>
		</dict>
	</array>
</dict>
</plist>
