<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>&lt;b:t&gt;What is&lt;/b:t&gt; &lt;b:on numerator=&quot;2&quot; denominator=&quot;3&quot; /&gt;&lt;b:t&gt; + &lt;/b:t&gt; &lt;b:on numerator=&quot;1&quot; denominator=&quot;4&quot; /&gt;&lt;b:t&gt;?&lt;/b:t&gt;</string>
	<key>TOOL_KEY</key>
	<string>FractionBuilder</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>INIT_FRACTIONS</key>
	<array>
		<dict>
			<key>POS_Y</key>
			<integer>600</integer>
			<key>FRACTION_MODE</key>
			<integer>0</integer>
			<key>VALUE</key>
			<integer>1</integer>
			<key>TAG</key>
			<integer>1</integer>
			<key>SHOW_CURRENT_FRACTIONS</key>
			<true/>
		</dict>
		<dict>
			<key>POS_Y</key>
			<integer>400</integer>
			<key>FRACTION_MODE</key>
			<integer>0</integer>
			<key>VALUE</key>
			<integer>1</integer>
			<key>TAG</key>
			<integer>2</integer>
			<key>SHOW_CURRENT_FRACTIONS</key>
			<true/>
		</dict>
		<dict>
			<key>POS_Y</key>
			<integer>200</integer>
			<key>FRACTION_MODE</key>
			<integer>1</integer>
			<key>VALUE</key>
			<integer>1</integer>
			<key>TAG</key>
			<integer>3</integer>
			<key>SHOW_CURRENT_FRACTIONS</key>
			<true/>
		</dict>
	</array>
	<key>SOLUTIONS</key>
	<array>
		<dict>
			<key>TAG</key>
			<integer>1</integer>
			<key>DIVIDEND</key>
			<integer>0</integer>
			<key>DIVISOR</key>
			<string>12</string>
		</dict>
		<dict>
			<key>TAG</key>
			<integer>2</integer>
			<key>DIVIDEND</key>
			<integer>0</integer>
			<key>DIVISOR</key>
			<string>12</string>
		</dict>
		<dict>
			<key>TAG</key>
			<integer>3</integer>
			<key>DIVIDEND</key>
			<integer>11</integer>
			<key>DIVISOR</key>
			<string>12</string>
		</dict>
	</array>
</dict>
</plist>
