<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Make 1/2 + 1/4 by moving the arrows to a common denominator. Tap the correct number of bars and move to the third row.  </string>
	<key>TOOL_KEY</key>
	<string>FractionBuilder</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>INIT_FRACTIONS</key>
	<array>
		<dict>
			<key>POS_Y</key>
			<integer>600</integer>
			<key>FRACTION_MODE</key>
			<integer>0</integer>
			<key>VALUE</key>
			<integer>1</integer>
			<key>TAG</key>
			<integer>1</integer>
			<key>SHOW_CURRENT_FRACTIONS</key>
			<true/>
		</dict>
		<dict>
			<key>POS_Y</key>
			<integer>400</integer>
			<key>FRACTION_MODE</key>
			<integer>0</integer>
			<key>VALUE</key>
			<integer>1</integer>
			<key>TAG</key>
			<integer>2</integer>
			<key>SHOW_CURRENT_FRACTIONS</key>
			<true/>
		</dict>
		<dict>
			<key>POS_Y</key>
			<integer>200</integer>
			<key>FRACTION_MODE</key>
			<integer>1</integer>
			<key>VALUE</key>
			<integer>1</integer>
			<key>TAG</key>
			<integer>3</integer>
			<key>SHOW_CURRENT_FRACTIONS</key>
			<true/>
		</dict>
	</array>
	<key>SOLUTIONS</key>
	<array>
		<dict>
			<key>TAG</key>
			<integer>1</integer>
			<key>DIVIDEND</key>
			<integer>0</integer>
			<key>DIVISOR</key>
			<string>4</string>
		</dict>
		<dict>
			<key>TAG</key>
			<integer>2</integer>
			<key>DIVIDEND</key>
			<integer>0</integer>
			<key>DIVISOR</key>
			<string>4</string>
		</dict>
		<dict>
			<key>TAG</key>
			<integer>3</integer>
			<key>DIVIDEND</key>
			<integer>3</integer>
			<key>DIVISOR</key>
			<string>4</string>
		</dict>
	</array>
</dict>
</plist>
