<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>This is {$x}. Make {$x-1}</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>some negatives and some positives. Ask ‘This is x. Make ($x-1)’. Add negatives.</string>
	<key>TOOL_KEY</key>
	<string>PlaceValue</string>
	<key>COL_BASE_VALUE</key>
	<integer>10</integer>
	<key>FIRST_COL_VALUE</key>
	<integer>1</integer>
	<key>NUMBER_COLS</key>
	<integer>1</integer>
	<key>DEFAULT_COL</key>
	<integer>1</integer>
	<key>ROPES_PER_COL</key>
	<integer>5</integer>
	<key>ROWS_PER_COL</key>
	<integer>2</integer>
	<key>ALLOW_CONDENSING</key>
	<false/>
	<key>ALLOW_MULCHING</key>
	<false/>
	<key>IS_NEGATIVE_PROBLEM</key>
	<true/>
	<key>EXPLODE_MODE</key>
	<true/>
	<key>CAGE_DEFAULT_VALUE</key>
	<integer>1</integer>
	<key>CAGE_POS_DISABLE_ADD</key>
	<dict>
		<key>1</key>
		<true/>
	</dict>
	<key>CAGE_POS_DISABLE_DELETE</key>
	<dict>
		<key>1</key>
		<true/>
	</dict>
	<key>CAGE_NEG_DISABLE_ADD</key>
	<dict>
		<key>1</key>
		<false/>
	</dict>
	<key>CAGE_NEG_DISABLE_DELETE</key>
	<dict>
		<key>1</key>
		<false/>
	</dict>
	<key>SHOW_CAGE</key>
	<false/>
	<key>SHOW_NEG_CAGE</key>
	<true/>
	<key>SHOW_COUNT</key>
	<true/>
	<key>SHOW_COUNT_BLOCK</key>
	<true/>
	<key>SHOW_COL_HEADER</key>
	<false/>
	<key>SHOW_VALUE</key>
	<false/>
	<key>SHOW_BASE_SELECTION</key>
	<false/>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>5</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>0</string>
			<key>MAX</key>
			<string>{$x}</string>
		</dict>
	</array>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>PUT_IN_COL</key>
			<integer>0</integer>
			<key>NUMBER</key>
			<string>{$y}</string>
			<key>NUMBER_NEGATIVE</key>
			<string>{$y-$x}</string>
		</dict>
	</array>
	<key>SOLUTION</key>
	<dict>
		<key>SOLUTION_TYPE</key>
		<string>TOTAL_COUNT</string>
		<key>SOLUTION_VALUE</key>
		<string>{$x-1}</string>
	</dict>
	<key>REJECT_MODE</key>
	<integer>1</integer>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>DISABLE_CAGE_DELETE</key>
	<true/>
</dict>
</plist>
