<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MASTERY</key>
	<true/>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>&lt;b:t&gt;Drag one&lt;/b:t&gt;&lt;b:oi tag=&quot;30_DT_Shape_Circle_s&quot;/&gt;&lt;b:t&gt;away to form 2 groups of 1.&lt;/b:t&gt;&lt;b:t&gt;Press the&lt;/b:t&gt;&lt;b:oi tag=&quot;30_commit&quot;/&gt;&lt;b:t&gt;.&lt;/b:t&gt;</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<string>2</string>
		</dict>
	</array>
	<key>SOLUTION</key>
	<array>
		<string>1</string>
		<string>1</string>
	</array>
</dict>
</plist>
