<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Make a shape of 15 by 2. This will split into 2 rectangles. Add together the total number of squares in each rectangle.</string>
	<key>TOOL_KEY</key>
	<string>DotGrid</string>
	<key>EVAL_MODE</key>
	<string>1</string>
	<key>DOTGRID_EVAL_TYPE</key>
	<string>2</string>
	<key>ANCHOR_SPACE</key>
	<integer>40</integer>
	<key>DRAW_MODE</key>
	<integer>0</integer>
	<key>DISABLE_DRAWING</key>
	<true/>
	<key>SHOW_DRAGGABLE_BLOCK</key>
	<true/>
	<key>SHAPE_BASE_SIZE</key>
	<integer>10</integer>
	<key>USE_SHAPE_GROUPS</key>
	<true/>
	<key>SELECT_WHOLE_SHAPE</key>
	<true/>
	<key>SHOW_NUMBERWHEEL_FOR_SHAPES</key>
	<true/>
	<key>SHOW_COUNT_BUBBLE</key>
	<true/>
	<key>RENDER_SHAPE_DIMENSIONS</key>
	<true/>
	<key>AUTO_UPDATE_WHEEL</key>
	<false/>
	<key>SOLUTION_VALUE</key>
	<string>30</string>
	<key>REQUIRED_SHAPES</key>
	<array>
		<array>
			<string>10</string>
			<string>2</string>
		</array>
		<array>
			<string>5</string>
			<string>2</string>
		</array>
	</array>
	<key>SHOW_MORE_LESS_ARROWS</key>
	<false/>
</dict>
</plist>
