<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INTRO</key>
	<true/>
	<key>PROBLEM_DESCRIPTION</key>
	<string>&lt;b:t&gt;Drag the&lt;/b:t&gt;&lt;b:oi tag=&quot;30_DG_sq&quot;/&gt;&lt;b:t&gt;to the dot grid and press the&lt;/b:t&gt;&lt;b:oi tag=&quot;30_commit&quot;/&gt;&lt;b:t&gt;.&lt;/b:t&gt;</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>Drag the block to the grid. Press the green button. </string>
	<key>TOOL_KEY</key>
	<string>DotGrid</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>DOTGRID_EVAL_TYPE</key>
	<integer>0</integer>
	<key>DOTGRID_EVAL_TOTALSIZE</key>
	<integer>1</integer>
	<key>ANCHOR_SPACE</key>
	<integer>85</integer>
	<key>DRAW_MODE</key>
	<integer>0</integer>
</dict>
</plist>
