<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GOOD_BAD_HIGHLIGHT</key>
	<true/>
	<key>TOOL_KEY</key>
	<string>LongDivision</string>
	<key>DIVISOR</key>
	<integer>2</integer>
	<key>ROW_MULTIPLIER</key>
	<integer>1</integer>
	<key>HIDE_RENDERLAYER</key>
	<true/>
	<key>DIVIDEND</key>
	<integer>4</integer>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>START_ROW</key>
	<integer>1</integer>
	<key>COLUMNS_IN_PICKER</key>
	<integer>3</integer>
	<key>PROBLEM_DESCRIPTION</key>
	<string>&lt;b:t&gt;How many 2s are there in 4? Scroll the&lt;/b:t&gt;&lt;b:oi tag=&quot;30_LD_NP_Green&quot;/&gt;&lt;b:t&gt;down until the bar reaches 4, then press the&lt;/b:t&gt;&lt;b:oi tag=&quot;30_commit&quot;/&gt;&lt;b:t&gt;.&lt;/b:t&gt;</string>
</dict>
</plist>
