<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INTRO</key>
	<true/>
	<key>PROBLEM_DESCRIPTION</key>
	<string>&lt;b:t&gt;Move the&lt;/b:t&gt;&lt;b:oi tag=&quot;30_bubble&quot;/&gt;&lt;b:t&gt;to&lt;/b:t&gt;&lt;b:oi tag=&quot;30_NL_2&quot;/&gt;&lt;b:t&gt;and press the&lt;/b:t&gt;&lt;b:oi tag=&quot;30_nl_jump_forward&quot;/&gt;&lt;b:t&gt;. Press the&lt;/b:t&gt;&lt;b:oi tag=&quot;30_commit&quot;/&gt;&lt;b:t&gt;.&lt;/b:t&gt;</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>Move the bubble to 1 and press jump. </string>
	<key>TOOL_KEY</key>
	<string>NLine</string>
	<key>START_VALUE</key>
	<string>0</string>
	<key>MIN_VALUE</key>
	<string>0</string>
	<key>MAX_VALUE</key>
	<string>10</string>
	<key>SEGMENT_VALUE</key>
	<integer>1</integer>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>EVAL_TYPE</key>
	<string>REPEATED_ADDITION</string>
	<key>REJECT_MODE</key>
	<integer>0</integer>
	<key>EVAL_TARGET</key>
	<integer>2</integer>
	<key>EVAL_INTERVAL</key>
	<string>2</string>
	<key>HIDE_ALL_NUMBERS</key>
	<false/>
	<key>HIDE_ALL_NOTCHES</key>
	<false/>
	<key>SHOW_NOTCHES_AT_INTERVALS</key>
	<array>
		<string>1</string>
	</array>
	<key>HIDE_START_NUMBER</key>
	<false/>
	<key>HIDE_END_NUMBER</key>
	<false/>
	<key>HIDE_START_NOTCH</key>
	<false/>
	<key>HIDE_END_NOTCH</key>
	<false/>
	<key>DISABLE_SNAPPING_TO_NOTCH</key>
	<false/>
	<key>EVAL_PLUS_MINUS_THRESHOLD</key>
	<integer>0</integer>
	<key>JUMP_MODE</key>
	<true/>
	<key>SHOW_COUNT_HISTORY_AT_INTERVALS</key>
	<array>
		<string>2</string>
	</array>
	<key>MARKER_POSITIONS</key>
	<array>
		<string>10</string>
		<string>50</string>
	</array>
</dict>
</plist>
