<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>this is 20/100. What other fractions is it?</string>
	<key>TOOL_KEY</key>
	<string>DotGrid</string>
	<key>ANCHOR_SPACE</key>
	<integer>50</integer>
	<key>DRAW_MODE</key>
	<integer>2</integer>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>SHOW_DRAGGABLE_BLOCK</key>
	<false/>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>START_X</key>
			<integer>3</integer>
			<key>START_Y</key>
			<integer>1</integer>
			<key>END_X</key>
			<integer>13</integer>
			<key>END_Y</key>
			<integer>11</integer>
			<key>SHOW_RESIZE</key>
			<false/>
			<key>SHOW_MOVE</key>
			<false/>
			<key>SHOW_LABELS</key>
			<false/>
			<key>PRE_COUNTED_TILES</key>
			<array>
				<dict>
					<key>POS_X</key>
					<integer>3</integer>
					<key>POS_Y</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>4</integer>
					<key>POS_Y</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>5</integer>
					<key>POS_Y</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>6</integer>
					<key>POS_Y</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>7</integer>
					<key>POS_Y</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>8</integer>
					<key>POS_Y</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>9</integer>
					<key>POS_Y</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>10</integer>
					<key>POS_Y</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>11</integer>
					<key>POS_Y</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>12</integer>
					<key>POS_Y</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>3</integer>
					<key>POS_Y</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>4</integer>
					<key>POS_Y</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>5</integer>
					<key>POS_Y</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>6</integer>
					<key>POS_Y</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>7</integer>
					<key>POS_Y</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>8</integer>
					<key>POS_Y</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>9</integer>
					<key>POS_Y</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>10</integer>
					<key>POS_Y</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>11</integer>
					<key>POS_Y</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>12</integer>
					<key>POS_Y</key>
					<integer>2</integer>
				</dict>
			</array>
			<key>DISABLE_COUNTING</key>
			<true/>
		</dict>
	</array>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_COMPLETE_TEXT</key>
		<string>well done!!</string>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>1</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>&lt;b:on numerator=&quot;1&quot; denominator=&quot;5&quot;/&gt;</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>&lt;b:on numerator=&quot;2&quot; denominator=&quot;10&quot;/&gt;</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>&lt;b:on numerator=&quot;4&quot; denominator=&quot;20&quot;/&gt;</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>&lt;b:on numerator=&quot;10&quot; denominator=&quot;50&quot;/&gt;</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>This is 20/100. What other fractions is it?</string>
		<key>META_QUESTION_INCOMPLETE_TEXT</key>
		<string>Try again</string>
	</dict>
</dict>
</plist>
