<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>What decimal is this?</string>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>0.70 &amp;gt; 0.7</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>0.70 &amp;lt; 0.7</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>0.70 = 0.7</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>Which is correct?</string>
	</dict>
</dict>
</plist>
