<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>tom&apos;s apples</string>
	<key>EVAL_TYPE</key>
	<string>EXPRESSION_EQUALITIES_NOT_IDENTICAL</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>NUMBER_CARD_ROW_MIN</key>
	<integer>1</integer>
	<key>NUMBER_CARD_ROW_MAX</key>
	<integer>10</integer>
	<key>NUMBER_CARD_INTERVAL</key>
	<integer>1</integer>
	<key>NUMBER_CARD_PICK_RANDOM_SELECTION_OF</key>
	<string>5</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;operator things -- make 6 two ways&lt;/b:t&gt;&lt;b:oo value=&quot;+&quot; /&gt;&lt;b:oo value=&quot;x&quot; /&gt;&lt;b:oo value=&quot;=&quot; /&gt;&lt;b:oo value=&quot;/&quot; /&gt;&lt;b:ot tag=&quot;text&quot;&gt;text&lt;/b:ot&gt;</string>
		<string>&lt;b:on number=&quot;6&quot;/&gt;&lt;b:oo value=&quot;=&quot; /&gt;&lt;b:ph /&gt;&lt;b:ph /&gt;&lt;b:ph /&gt;&lt;b:ph /&gt;&lt;b:ph /&gt;&lt;b:ph /&gt;&lt;b:ph /&gt;&lt;b:ph /&gt;</string>
		<string>&lt;b:on number=&quot;6&quot;/&gt;&lt;b:oo value=&quot;=&quot; /&gt;&lt;b:ph /&gt;&lt;b:ph /&gt;&lt;b:ph /&gt;&lt;b:ph /&gt;&lt;b:ph /&gt;&lt;b:ph /&gt;&lt;b:ph /&gt;&lt;b:ph /&gt;</string>
	</array>
</dict>
</plist>
