<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MASTERY</key>
	<true/>
	<key>MARKER_POSITIONS</key>
	<array>
		<string>{$y}</string>
	</array>
	<key>PROBLEM_DESCRIPTION</key>
	<string>What is {$x} + {0-$a} ?</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>What is {$x} + {0-$a} ?</string>
	<key>TOOL_KEY</key>
	<string>NLine</string>
	<key>START_VALUE</key>
	<string>{$x}</string>
	<key>MIN_VALUE</key>
	<string>-20</string>
	<key>MAX_VALUE</key>
	<string>10</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>REJECT_MODE</key>
	<integer>0</integer>
	<key>EVAL_TARGET</key>
	<string>{$answer}</string>
	<key>HIDE_ALL_NUMBERS</key>
	<false/>
	<key>HIDE_ALL_NOTCHES</key>
	<false/>
	<key>HIDE_START_NUMBER</key>
	<false/>
	<key>HIDE_END_NUMBER</key>
	<false/>
	<key>HIDE_START_NOTCH</key>
	<false/>
	<key>COUNT_OUT_LOUD_FROM_START_VALUE</key>
	<true/>
	<key>HIDE_END_NOTCH</key>
	<false/>
	<key>DISABLE_SNAPPING_TO_NOTCH</key>
	<false/>
	<key>EVAL_PLUS_MINUS_THRESHOLD</key>
	<integer>0</integer>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>-10</string>
			<key>MAX</key>
			<string>1</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$a</string>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>7</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$y</string>
			<key>VALUE</key>
			<string>{$x-$a}</string>
		</dict>
	</array>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_COMPLETE_TEXT</key>
		<string>Great!</string>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>1</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>1</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$x} + {$y} = {$a}</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$x} - {$a} = {$y}</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$x} + {0-$a} = {$y}</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>Which of the following are true?</string>
		<key>META_QUESTION_INCOMPLETE_TEXT</key>
		<string>Try again.</string>
	</dict>
</dict>
</plist>
