<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/decimals/pipeline-0KFFQ7BU-10QP-Y4H4-6THT-0ZCMM29ASV6B/pdef_0.plist</string>
	<string>/Problems/decimals/pipeline-0KFFQ7BU-10QP-Y4H4-6THT-0ZCMM29ASV6B/pdef_1.plist</string>
	<string>/Problems/decimals/pipeline-0KFFQ7BU-10QP-Y4H4-6THT-0ZCMM29ASV6B/pdef_2.plist</string>
	<string>/Problems/decimals/pipeline-0KFFQ7BU-10QP-Y4H4-6THT-0ZCMM29ASV6B/pdef_3.plist</string>
	<string>/Problems/decimals/pipeline-0KFFQ7BU-10QP-Y4H4-6THT-0ZCMM29ASV6B/pdef_4.plist</string>
	<string>/Problems/decimals/pipeline-0KFFQ7BU-10QP-Y4H4-6THT-0ZCMM29ASV6B/pdef_5.plist</string>
	<string>/Problems/decimals/pipeline-0KFFQ7BU-10QP-Y4H4-6THT-0ZCMM29ASV6B/pdef_6.plist</string>
	<string>/Problems/decimals/pipeline-0KFFQ7BU-10QP-Y4H4-6THT-0ZCMM29ASV6B/pdef_7.plist</string>
	<string>/Problems/decimals/pipeline-0KFFQ7BU-10QP-Y4H4-6THT-0ZCMM29ASV6B/pdef_8.plist</string>
	<string>/Problems/decimals/pipeline-0KFFQ7BU-10QP-Y4H4-6THT-0ZCMM29ASV6B/pdef_9.plist</string>
	<string>/Problems/decimals/pipeline-0KFFQ7BU-10QP-Y4H4-6THT-0ZCMM29ASV6B/pdef_10.plist</string>
	<string>/Problems/decimals/pipeline-0KFFQ7BU-10QP-Y4H4-6THT-0ZCMM29ASV6B/pdef_11.plist</string>
	<string>/Problems/decimals/pipeline-0KFFQ7BU-10QP-Y4H4-6THT-0ZCMM29ASV6B/pdef_12.plist</string>
	<string>/Problems/decimals/pipeline-0KFFQ7BU-10QP-Y4H4-6THT-0ZCMM29ASV6B/pdef_13.plist</string>
	<string>/Problems/decimals/pipeline-0KFFQ7BU-10QP-Y4H4-6THT-0ZCMM29ASV6B/pdef_14.plist</string>
	<string>/Problems/decimals/pipeline-0KFFQ7BU-10QP-Y4H4-6THT-0ZCMM29ASV6B/pdef_15.plist</string>
	<string>/Problems/decimals/pipeline-0KFFQ7BU-10QP-Y4H4-6THT-0ZCMM29ASV6B/pdef_16.plist</string>
	<string>/Problems/decimals/pipeline-0KFFQ7BU-10QP-Y4H4-6THT-0ZCMM29ASV6B/pdef_17.plist</string>
</array>
</plist>
