<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>MASTERY</key>
    <true/>
    <key>TOOL_KEY</key>
    <string>DistributionTool</string>
    <key>PROBLEM_DESCRIPTION</key>
    <string>&lt;b:t&gt;There are 10 goo in a packet. Pull out&lt;/b:t&gt;&lt;b:on numerator=&quot;9&quot; denominator=&quot;10&quot;/&gt;&lt;b:t&gt;of the packet.&lt;/b:t&gt;</string>
    <key>EVAL_MODE</key>
    <integer>1</integer>
    <key>INIT_OBJECTS</key>
    <array/>
    <key>SOLUTION</key>
    <array>
      <string>9</string>
    </array>
    <key>DSTRINGS</key>
    <dict>
      <key>@bname</key>
      <dict>
        <key>MODE</key>
        <string>RANDOM</string>
        <key>DATA</key>
        <array>
          <string>Gareth</string>
          <string>Nick</string>
          <string>Ed</string>
          <string>Dave</string>
          <string>Richard</string>
          <string>Mark</string>
          <string>Scott</string>
        </array>
      </dict>
      <key>@gname</key>
      <dict>
        <key>DATA</key>
        <array>
          <string>Claire</string>
          <string>Winnie</string>
          <string>Sarah</string>
          <string>Simone</string>
          <string>Elaine</string>
        </array>
        <key>MODE</key>
        <string>RANDOM</string>
      </dict>
      <key>@item</key>
      <dict>
        <key>MODE</key>
        <string>RANDOM</string>
        <key>DATA</key>
        <array>
          <string>cookies</string>
          <string>pens</string>
          <string>crayons</string>
          <string>coins</string>
          <string>batteries</string>
          <string>drinks</string>
        </array>
      </dict>
    </dict>
    <key>HOST_BACKGROUND_IMAGE</key>
    <string>/images/bg/bg-ipad-addition_2_7_9.png</string>
    <key>HAS_CAGE</key>
    <true/>
    <key>DOCK_TYPE</key>
    <string>15</string>
    <key>CAGE_OBJECT_COUNT</key>
    <string>10</string>
    <key>BOND_ALL_OBJECTS</key>
    <true/>
  </dict>
</plist>
