<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>PROBLEM_DESCRIPTION</key>
    <string>&lt;b:t&gt;Make&lt;/b:t&gt;&lt;b:on numerator=&quot;1&quot; denominator=&quot;10&quot;/&gt;&lt;b:t&gt;.&lt;/b:t&gt;</string>
    <key>INTERNAL_DESCRIPTION</key>
    <string>fraction to decimal</string>
    <key>TOOL_KEY</key>
    <string>PlaceValue</string>
    <key>X_OFFSET</key>
    <string>0.28</string>
    <key>COLUMN_SPACING</key>
    <string>0.3</string>
    <key>NUMBER_COLS</key>
    <integer>3</integer>
    <key>FIRST_COL_VALUE</key>
    <integer>1</integer>
    <key>DEFAULT_COL</key>
    <integer>1</integer>
    <key>ROPES_PER_COL</key>
    <integer>2</integer>
    <key>ROWS_PER_COL</key>
    <integer>5</integer>
    <key>ALLOW_CONDENSING</key>
    <false/>
    <key>ALLOW_MULCHING</key>
    <false/>
    <key>EVAL_MODE</key>
    <integer>1</integer>
    <key>REJECT_MODE</key>
    <integer>0</integer>
    <key>SHOW_CAGE</key>
    <true/>
    <key>COL_BASE_VALUE</key>
    <string>10</string>
    <key>INIT_OBJECTS</key>
    <array/>
    <key>PICKUP_SPRITE_FILENAME</key>
    <string>/images/placevalue/cage-neg.png</string>
    <key>PROXIMITY_SPRITE_FILENAME</key>
    <string>/images/placevalue/cage-pos.png</string>
    <key>SOLUTION</key>
    <dict>
      <key>SOLUTION_TYPE</key>
      <string>TOTAL_COUNT</string>
      <key>SOLUTION_VALUE</key>
      <string>0.1</string>
      <key>PLAY_SOUND</key>
      <string>complete.wav</string>
    </dict>
    <key>COLUMN_SPRITES</key>
    <dict>
      <key>1</key>
      <string>/images/placevalue/obj-placevalue-unit1.png</string>
      <key>0.1</key>
      <string>/images/placevalue/obj-placevalue-unit1tenth-fraction.png</string>
      <key>0.01</key>
      <string>/images/placevalue/obj-placevalue-unit1hundredth-fraction.png</string>
    </dict>
    <key>COLUMN_TOTAL_COUNT_TYPE</key>
    <string>FRACTION</string>
  </dict>
</plist>
