<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>TOOL_KEY</key>
    <string>PlaceValue</string>
    <key>COL_BASE_VALUE</key>
    <integer>10</integer>
    <key>FIRST_COL_VALUE</key>
    <integer>100</integer>
    <key>NUMBER_COLS</key>
    <integer>2</integer>
    <key>DEFAULT_COL</key>
    <integer>10</integer>
    <key>ROPES_PER_COL</key>
    <integer>2</integer>
    <key>ROWS_PER_COL</key>
    <integer>3</integer>
    <key>ALLOW_CONDENSING</key>
    <false/>
    <key>ALLOW_MULCHING</key>
    <false/>
    <key>ALLOW_PANNING</key>
    <string>NO</string>
    <key>SHOW_CAGE</key>
    <false/>
    <key>SHOW_NEG_CAGE</key>
    <false/>
    <key>SHOW_COUNT</key>
    <false/>
    <key>SHOW_COUNT_BLOCK</key>
    <false/>
    <key>SHOW_COL_HEADER</key>
    <true/>
    <key>SHOW_VALUE</key>
    <false/>
    <key>SHOW_BASE_SELECTION</key>
    <false/>
    <key>PICKUP_SPRITE_FILENAME</key>
    <string>/images/placevalue/cage-neg.png</string>
    <key>PROXIMITY_SPRITE_FILENAME</key>
    <string>/images/placevalue/cage-pos.png</string>
    <key>CUSTOM_COLUMN_HEADERS</key>
    <dict>
      <key>10</key>
      <string>&lt;b:oi tag=&quot;thing_3&quot;/&gt; </string>
      <key>100</key>
      <string>&lt;b:oi tag=&quot;thing_5&quot;/&gt; </string>
    </dict>
    <key>SOLUTION</key>
    <dict>
      <key>SOLUTION_MATRIX</key>
      <array>
        <dict>
          <key>PUT_IN_COL</key>
          <integer>1</integer>
          <key>PUT_IN_ROW</key>
          <integer>0</integer>
          <key>NUMBER</key>
          <integer>2</integer>
        </dict>
        <dict>
          <key>PUT_IN_COL</key>
          <integer>1</integer>
          <key>PUT_IN_ROW</key>
          <integer>1</integer>
          <key>NUMBER</key>
          <integer>2</integer>
        </dict>
        <dict>
          <key>PUT_IN_COL</key>
          <integer>1</integer>
          <key>PUT_IN_ROW</key>
          <integer>2</integer>
          <key>NUMBER</key>
          <integer>2</integer>
        </dict>
      </array>
      <key>SOLUTION_TYPE</key>
      <string>TOTAL_COUNT</string>
      <key>SOLUTION_VALUE</key>
      <integer>100</integer>
      <key>SOLUTION_DISPLAY_TEXT</key>
      <string>success!</string>
      <key>PLAY_SOUND</key>
      <string>complete.wav</string>
    </dict>
    <key>REJECT_MODE</key>
    <integer>0</integer>
    <key>EVAL_MODE</key>
    <integer>1</integer>
    <key>INIT_OBJECTS</key>
    <array>
      <dict>
        <key>PUT_IN_COL</key>
        <integer>1</integer>
        <key>PUT_IN_ROW</key>
        <integer>0</integer>
        <key>NUMBER</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>PUT_IN_COL</key>
        <integer>0</integer>
        <key>PUT_IN_ROW</key>
        <integer>2</integer>
        <key>NUMBER</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>PUT_IN_COL</key>
        <integer>0</integer>
        <key>PUT_IN_ROW</key>
        <integer>0</integer>
        <key>NUMBER</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>PUT_IN_COL</key>
        <integer>0</integer>
        <key>PUT_IN_ROW</key>
        <integer>1</integer>
        <key>NUMBER</key>
        <integer>2</integer>
      </dict>
    </array>
    <key>COLUMN_CAGES</key>
    <dict>
      <key>10</key>
      <false/>
      <key>100</key>
      <false/>
    </dict>
    <key>COLUMN_NEG_CAGES</key>
    <dict>
      <key>10</key>
      <false/>
      <key>100</key>
      <false/>
    </dict>
    <key>CAGE_POS_DISABLE_ADD</key>
    <dict>
      <key>10</key>
      <true/>
    </dict>
    <key>CAGE_POS_DISABLE_DELETE</key>
    <dict>
      <key>100</key>
      <true/>
    </dict>
    <key>CAGE_NEG_DISABLE_ADD</key>
    <dict>
      <key>10</key>
      <true/>
    </dict>
    <key>CAGE_NEG_DISABLE_DELETE</key>
    <dict>
      <key>100</key>
      <false/>
    </dict>
    <key>X_OFFSET</key>
    <real>-0.28</real>
    <key>META_QUESTION</key>
    <dict>
      <key>META_QUESTION_COMPLETE_TEXT</key>
      <string>well done!!</string>
      <key>META_QUESTION_EVAL_MODE</key>
      <integer>0</integer>
      <key>META_QUESTION_ANSWER_MODE</key>
      <integer>0</integer>
      <key>META_QUESTION_ANSWERS</key>
      <array>
        <dict>
          <key>META_ANSWER_TEXT</key>
          <string>4</string>
          <key>META_ANSWER_VALUE</key>
          <true/>
        </dict>
        <dict>
          <key>META_ANSWER_TEXT</key>
          <string>8</string>
          <key>META_ANSWER_VALUE</key>
          <false/>
        </dict>
        <dict>
          <key>META_ANSWER_TEXT</key>
          <string>5</string>
          <key>META_ANSWER_VALUE</key>
          <false/>
        </dict>
      </array>
      <key>META_QUESTION_TITLE</key>
      <string>&lt;b:oi tag=&quot;thing_5&quot;/&gt;&lt;b:t&gt;has 6&lt;/b:t&gt;&lt;b:obj count=&quot;6&quot;/&gt;&lt;b:t&gt;.&lt;/b:t&gt;&lt;b:oi tag=&quot;thing_3&quot;/&gt;&lt;b:t&gt;has 2&lt;/b:t&gt;&lt;b:obj count=&quot;2&quot;/&gt;&lt;b:t&gt;. How many more does&lt;/b:t&gt;&lt;b:oi tag=&quot;thing_5&quot;/&gt;&lt;b:t&gt;have than&lt;/b:t&gt;&lt;b:oi tag=&quot;thing_3&quot;/&gt;&lt;b:t&gt;?&lt;/b:t&gt;</string>
      <key>META_QUESTION_INCOMPLETE_TEXT</key>
      <string>Try again</string>
    </dict>
    <key>DVARS</key>
    <dict>
      <key>$number_larger</key>
      <dict>
        <key>MAX</key>
        <string>20</string>
        <key>MIN</key>
        <string>15</string>
      </dict>
      <key>$number_smaller</key>
      <dict>
        <key>MAX</key>
        <string>14</string>
        <key>MIN</key>
        <string>11</string>
      </dict>
    </dict>
    <key>HOST_BACKGROUND_IMAGE</key>
    <string>/images/bg/bg-ipad-addition_2_7_9.png</string>
    <key>SHOW_COLUMN_USER_COUNT</key>
    <false/>
    <key>SHOW_COLUMN_TOTAL_COUNT</key>
    <false/>
  </dict>
</plist>
