<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>META_QUESTION</key>
    <dict>
      <key>META_QUESTION_EVAL_MODE</key>
      <integer>0</integer>
      <key>META_QUESTION_ANSWER_MODE</key>
      <integer>0</integer>
      <key>META_QUESTION_ANSWERS</key>
      <array>
        <dict>
          <key>META_ANSWER_TEXT</key>
          <string>80% of 15</string>
          <key>META_ANSWER_VALUE</key>
          <true/>
        </dict>
        <dict>
          <key>META_ANSWER_TEXT</key>
          <string>8% of 15</string>
          <key>META_ANSWER_VALUE</key>
          <false/>
        </dict>
        <dict>
          <key>META_ANSWER_TEXT</key>
          <string>15% of 8</string>
          <key>META_ANSWER_VALUE</key>
          <false/>
        </dict>
      </array>
      <key>META_QUESTION_TITLE</key>
      <string>The calculation 0.8 x 15 is finding...</string>
    </dict>
  </dict>
</plist>
