<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>10/2=5</string>
	<key>EVAL_MODE</key>
	<string>1</string>
	<key>EVAL_TYPE</key>
	<string>ALL_PICKERS_CORRECT</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;Fill in the gaps.&lt;/b:t&gt;</string>
		<string>&lt;b:t&gt;Finding 0.3 is the same as finding&lt;/b:t&gt; &lt;b:on usePicker=&quot;yes&quot; pickerTarget=&quot;30&quot; suffix=&quot;%&quot;/&gt;&lt;b:t&gt;.&lt;/b:t&gt;</string>
	</array>
</dict>
</plist>
