<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EVAL_TYPE</key>
	<string>ALL_ENABLED</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>Arrange from smallest to largest. </string>
	<key>EVAL_MODE</key>
	<string>1</string>
	<key>EVAL_EXCLUDE_ROWS</key>
	<string>2</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;Arrange from smallest to largest. &lt;/b:t&gt;</string>
		<string>&lt;b:ot tag=&quot;c&quot;&gt;4 shared between 7&lt;/b:ot&gt;
&lt;b:ot tag=&quot;d&quot;&gt;4 shared between 18&lt;/b:ot&gt;
&lt;b:ot tag=&quot;a&quot;&gt;4 shared between 3&lt;/b:ot&gt;
&lt;b:ot tag=&quot;b&quot;&gt;4 shared between 5&lt;/b:ot&gt;</string>
		<string>&lt;b:ph targetTag=&quot;a&quot;/&gt;
&lt;b:ph targetTag=&quot;b&quot;/&gt;
&lt;b:ph targetTag=&quot;c&quot;/&gt;
&lt;b:ph targetTag=&quot;d&quot;/&gt;</string>
	</array>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
</dict>
</plist>
