<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EVAL_TYPE</key>
	<string>SEQUENCE_ASC</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>Arrange the numbers from smallest to largest. </string>
	<key>EVAL_MODE</key>
	<string>1</string>
	<key>NUMBER_CARD_ROW_MAX</key>
	<string>4/4</string>
	<key>NUMBER_CARD_INTERVAL</key>
	<string>1/4</string>
	<key>NUMBER_CARD_RANDOMISE</key>
	<true/>
	<key>NUMBER_CARD_ROW_MIN</key>
	<string>1/4</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;Arrange the numbers from smallest to largest. &lt;/b:t&gt;</string>
		<string>&lt;b:ph/&gt;&lt;b:ph/&gt;&lt;b:ph/&gt;&lt;b:ph/&gt;</string>
	</array>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
</dict>
</plist>
