<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>blue-violet goo</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;To make blue-violet goo,&lt;/b:t&gt;
&lt;b:ot tag=&quot;a&quot;&gt;3 parts of blue goo&lt;/b:ot&gt;
&lt;b:t&gt;is needed for every&lt;/b:t&gt;
&lt;b:ot tag=&quot;b&quot;&gt;1 part of red goo.&lt;/b:ot&gt;
&lt;b:t&gt;What is the ratio of blue goo to red goo?&lt;/b:t&gt;</string>
		<string>&lt;b:ot tag=&quot;a&quot; enabled=&quot;no&quot;&gt;3&lt;/b:ot&gt;
&lt;b:op op=&quot;:&quot; picker=&quot;yes&quot; /&gt;
&lt;b:ot tag=&quot;b&quot; enabled=&quot;no&quot;&gt;1&lt;/b:ot&gt;</string>
		<string>&lt;b:t&gt;What is the ratio of red goo to blue goo?&lt;/b:t&gt;</string>
		<string>&lt;b:ot tag=&quot;b&quot; enabled=&quot;no&quot;&gt;1&lt;/b:ot&gt;
&lt;b:op op=&quot;:&quot; picker=&quot;yes&quot; /&gt;
&lt;b:ot tag=&quot;a&quot; enabled=&quot;no&quot;&gt;3&lt;/b:ot&gt;</string>
		<string>&lt;b:t&gt;There are&lt;/b:t&gt;
&lt;b:ot tag=&quot;c&quot;&gt;2 tubs of red goo.&lt;/b:ot&gt;
&lt;b:t&gt;How much blue goo is needed to make blue-violet goo?&lt;/b:t&gt;</string>
		<string>&lt;b:ot tag=&quot;c&quot; enabled=&quot;no&quot;&gt;2&lt;/b:ot&gt;
&lt;b:op op=&quot;x&quot; picker=&quot;yes&quot; /&gt;
&lt;b:ot tag=&quot;a&quot; enabled=&quot;no&quot;&gt;3&lt;/b:ot&gt;
&lt;b:ot picker=&quot;yes&quot; pickerTarget=&quot;6&quot;&gt;6&lt;/b:ot&gt;</string>
		<string>&lt;b:t&gt;There are&lt;/b:t&gt;
&lt;b:ot tag=&quot;c&quot;&gt;9 tubs of blue goo.&lt;/b:ot&gt;
&lt;b:t&gt;How much red goo is needed to make blue-violet goo?&lt;/b:t&gt;</string>
		<string>&lt;b:ot tag=&quot;c&quot; enabled=&quot;no&quot;&gt;9&lt;/b:ot&gt;
&lt;b:op op=&quot;x&quot; picker=&quot;yes&quot; /&gt;
&lt;b:ot tag=&quot;a&quot; enabled=&quot;no&quot;&gt;1/3&lt;/b:ot&gt;
&lt;b:ot picker=&quot;yes&quot; pickerTarget=&quot;3&quot;&gt;3&lt;/b:ot&gt;</string>
	</array>
	<key>DVARS</key>
	<dict>
		<key>$apples</key>
		<dict>
			<key>MIN</key>
			<string>4</string>
			<key>MAX</key>
			<string>9</string>
		</dict>
		<key>$decrementor</key>
		<dict>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>3</string>
		</dict>
		<key>$tomsapples</key>
		<dict>
			<key>VALUE</key>
			<string>{$apples-$decrementor}</string>
		</dict>
	</dict>
	<key>DSTRINGS</key>
	<dict>
		<key>$operator</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>x</string>
				<string>multiplied by</string>
				<string>times</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
