<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>EVAL_TYPE</key>
	<string>ALL_PICKERS_CORRECT</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;There are 3 feet in 1 yard. Fill in the gaps.&lt;/b:t&gt;</string>
		<string>&lt;b:on number=&quot;3&quot;/&gt;&lt;b:t&gt;feet&lt;/b:t&gt;&lt;b:oo value=&quot;=&quot; /&gt;&lt;b:on number=&quot;1&quot;/&gt;&lt;b:t&gt;yard&lt;/b:t&gt;</string>
		<string>&lt;b:on number=&quot;5&quot;/&gt;&lt;b:t&gt;feet&lt;/b:t&gt;&lt;b:oo value=&quot;=&quot; /&gt;&lt;b:on usePicker=&quot;yes&quot; pickerTarget=&quot;15&quot;/&gt;&lt;b:t&gt;yards&lt;/b:t&gt;</string>
		<string>&lt;b:on usePicker=&quot;yes&quot; pickerTarget=&quot;3&quot;/&gt;&lt;b:t&gt;feet&lt;/b:t&gt;&lt;b:oo value=&quot;=&quot; /&gt;&lt;b:on number=&quot;9&quot;/&gt;&lt;b:t&gt;yards&lt;/b:t&gt;</string>
		<string>&lt;b:on usePicker=&quot;yes&quot; pickerTarget=&quot;2&quot;/&gt;&lt;b:t&gt;feet&lt;/b:t&gt;&lt;b:oo value=&quot;=&quot; /&gt;&lt;b:on number=&quot;6&quot;/&gt;&lt;b:t&gt;yards&lt;/b:t&gt;</string>
	</array>
</dict>
</plist>
