<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>which is larger?</string>
	<key>TOOL_KEY</key>
	<string>PlaceValue</string>
	<key>COL_BASE_VALUE</key>
	<integer>10</integer>
	<key>FIRST_COL_VALUE</key>
	<integer>10</integer>
	<key>NUMBER_COLS</key>
	<integer>2</integer>
	<key>DEFAULT_COL</key>
	<integer>1</integer>
	<key>ROPES_PER_COL</key>
	<integer>6</integer>
	<key>ROWS_PER_COL</key>
	<integer>1</integer>
	<key>ALLOW_CONDENSING</key>
	<false/>
	<key>ALLOW_MULCHING</key>
	<false/>
	<key>SHOW_CAGE</key>
	<false/>
	<key>SHOW_NEG_CAGE</key>
	<false/>
	<key>SHOW_COUNT</key>
	<false/>
	<key>SHOW_COUNT_BLOCK</key>
	<false/>
	<key>SHOW_COL_HEADER</key>
	<true/>
	<key>SHOW_VALUE</key>
	<false/>
	<key>CUSTOM_COLUMN_HEADERS</key>
	<dict>
		<key>10</key>
		<string></string>
		<key>1</key>
		<string></string>
	</dict>
	<key>COLUMN_ROPES</key>
	<dict>
		<key>1</key>
		<integer>2</integer>
	</dict>
	<key>COLUMN_ROWS</key>
	<dict>
		<key>1</key>
		<integer>4</integer>
	</dict>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>PUT_IN_COL</key>
			<integer>0</integer>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>NUMBER</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>PUT_IN_COL</key>
			<integer>1</integer>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>NUMBER</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>PUT_IN_COL</key>
			<integer>1</integer>
			<key>PUT_IN_ROW</key>
			<integer>1</integer>
			<key>NUMBER</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>PUT_IN_COL</key>
			<integer>1</integer>
			<key>PUT_IN_ROW</key>
			<integer>2</integer>
			<key>NUMBER</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>COLUMN_SPRITES</key>
	<dict>
		<key>10</key>
		<string>/images/placevalue/obj-placevalue-unit1.png</string>
		<key>1</key>
		<string>/images/placevalue/obj-placevalue-unit1.png</string>
	</dict>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_COMPLETE_TEXT</key>
		<string>well done!!</string>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>left set</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>right set</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>which is larger?</string>
		<key>META_QUESTION_INCOMPLETE_TEXT</key>
		<string>Try again</string>
	</dict>
	<key>COLUMN_CAGES</key>
	<dict>
		<key>10</key>
		<false/>
		<key>1</key>
		<false/>
	</dict>
	<key>COLUMN_NEG_CAGES</key>
	<dict>
		<key>10</key>
		<false/>
		<key>1</key>
		<false/>
	</dict>
	<key>CAGE_POS_DISABLE_ADD</key>
	<dict>
		<key>1</key>
		<false/>
	</dict>
	<key>CAGE_POS_DISABLE_DELETE</key>
	<dict>
		<key>10</key>
		<false/>
	</dict>
	<key>CAGE_NEG_DISABLE_ADD</key>
	<dict>
		<key>1</key>
		<true/>
	</dict>
	<key>CAGE_NEG_DISABLE_DELETE</key>
	<dict>
		<key>100</key>
		<false/>
	</dict>
	<key>X_OFFSET</key>
	<real>-0.28</real>
	<key>ALLOW_PANNING</key>
	<false/>
	<key>DEFAULT_SCALE</key>
	<real>0.9</real>
</dict>
</plist>
