<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>count back to {$target}</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>dynamic count back 12</string>
	<key>TOOL_KEY</key>
	<string>NLine</string>
	<key>START_VALUE</key>
	<string>{$start_value}</string>
	<key>MIN_VALUE</key>
	<string>0</string>
	<key>MAX_VALUE</key>
	<string>40</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>REJECT_MODE</key>
	<integer>0</integer>
	<key>EVAL_TARGET</key>
	<string>{$target}</string>
	<key>DVARS</key>
	<dict>
		<key>$start_value</key>
		<dict>
			<key>MIN</key>
			<string>14</string>
			<key>MAX</key>
			<string>40</string>
		</dict>
		<key>$target</key>
		<dict>
			<key>VALUE</key>
			<string>{$start_value-12}</string>
		</dict>
	</dict>
	<key>HIDE_ALL_NUMBERS</key>
	<true/>
	<key>SHOW_NUMBERS_AT_INTERVALS</key>
	<array>
		<integer>10</integer>
	</array>
	<key>HIDE_ALL_NOTCHES</key>
	<false/>
	<key>SHOW_NOTCHES_AT_INTERVALS</key>
	<array/>
	<key>HIDE_START_NUMBER</key>
	<false/>
	<key>HIDE_END_NUMBER</key>
	<false/>
	<key>HIDE_START_NOTCH</key>
	<false/>
	<key>HIDE_END_NOTCH</key>
	<false/>
	<key>DISABLE_SNAPPING_TO_NOTCH</key>
	<false/>
	<key>EVAL_PLUS_MINUS_THRESHOLD</key>
	<integer>0</integer>
	<key>COUNT_OUT_LOUD_AT_INTERVALS</key>
	<array>
		<integer>1</integer>
	</array>
	<key>SHOW_COUNT_HISTORY_AT_INTERVALS</key>
	<array/>
	<key>USER_POPULATED_NUMBERS</key>
	<array>
		<string>2</string>
		<string>4</string>
		<string>6</string>
		<string>8</string>
	</array>
	<key>RENDER_STITCHES_AT_INTERVAL</key>
	<integer>0</integer>
</dict>
</plist>
