<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>&lt;b:t&gt;is driving to see&lt;/b:t&gt;&lt;b:t&gt;. The journey is 20 miles, and &lt;/b:t&gt;&lt;b:t&gt;is&lt;/b:t&gt;&lt;b:on numerator=&quot;3&quot; denominator=&quot;5&quot;/&gt;&lt;b:t&gt;of the way. How far has &lt;/b:t&gt;&lt;b:t&gt;travelled so far?&lt;/b:t&gt;</string>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<integer>12</integer>
	</dict>
</dict>
</plist>
