<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>&lt;b:t&gt;is doing a maths test. There are 60 questions, and&lt;/b:t&gt;&lt;b:t&gt;is&lt;/b:t&gt;&lt;b:on numerator=&quot;3&quot; denominator=&quot;4&quot;/&gt;&lt;b:t&gt;of the way through. How many questions have been answered?&lt;/b:t&gt;</string>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<integer>45</integer>
	</dict>
</dict>
</plist>
