<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>tom&apos;s apples</string>
	<key>EVAL_TYPE</key>
	<string>SEQUENCE_ASC</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;Place in order&lt;/b:t&gt;&lt;b:on numerator=&quot;2&quot; denominator=&quot;100&quot; /&gt;&lt;b:on numerator=&quot;2&quot; denominator=&quot;87&quot; /&gt;&lt;b:on numerator=&quot;2&quot; denominator=&quot;102&quot; /&gt;&lt;b:on numerator=&quot;2&quot; denominator=&quot;123&quot; /&gt;&lt;b:on numerator=&quot;2&quot; denominator=&quot;24&quot; /&gt;&lt;b:on numerator=&quot;3&quot; denominator=&quot;17&quot; /&gt;&lt;b:on numerator=&quot;2&quot; denominator=&quot;4&quot; /&gt;&lt;b:on numerator=&quot;1&quot; denominator=&quot;4&quot; /&gt;&lt;b:on numerator=&quot;4&quot; denominator=&quot;11&quot; /&gt;&lt;b:on numerator=&quot;2&quot; denominator=&quot;17&quot; /&gt;&lt;b:on numerator=&quot;8&quot; denominator=&quot;8&quot; /&gt;</string>
		<string>&lt;b:ph /&gt;&lt;b:ph /&gt;&lt;b:ph /&gt;</string>
	</array>
</dict>
</plist>
