<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>NODE_ID</key>
		<string>5608a59d6797796ce9e11484fd16d9a8</string>
		<key>PIPELINE_NAME</key>
		<string>build_1.06</string>
		<key>PROBLEMS</key>
        <array>
            <string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_100/5608a59d6797796ce9e11484fd16d9a8/pv_intro_add_1.plist</string>
            <string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_100/5608a59d6797796ce9e11484fd16d9a8/pv_intro_2.plist</string>
            <string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_100/5608a59d6797796ce9e11484fd16d9a8/21_4_add.plist</string>
            <string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_100/5608a59d6797796ce9e11484fd16d9a8/32_6_add.plist</string>
            <string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_100/5608a59d6797796ce9e11484fd16d9a8/44_4_add.plist</string>
            <string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_100/5608a59d6797796ce9e11484fd16d9a8/35_5_add.plist</string>
            <string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_100/5608a59d6797796ce9e11484fd16d9a8/30_5_add_np.plist</string>
            <string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_100/5608a59d6797796ce9e11484fd16d9a8/64_3_add_np.plist</string>
            <string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_100/5608a59d6797796ce9e11484fd16d9a8/51_7_add_np.plist</string>
            <string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_100/5608a59d6797796ce9e11484fd16d9a8/pv_intro_condense.plist</string>
            <string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_100/5608a59d6797796ce9e11484fd16d9a8/pv_intro_mulch.plist</string>
            <string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_100/5608a59d6797796ce9e11484fd16d9a8/19_2_add.plist</string>
            <string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_100/5608a59d6797796ce9e11484fd16d9a8/29_6_add.plist</string>
            <string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_100/5608a59d6797796ce9e11484fd16d9a8/48_8_add.plist</string>
            <string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_100/5608a59d6797796ce9e11484fd16d9a8/56_8_add.plist</string>
            <string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_100/5608a59d6797796ce9e11484fd16d9a8/84_8_add.plist</string>
            <string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_100/5608a59d6797796ce9e11484fd16d9a8/46_9_add_np.plist</string>
            <string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_100/5608a59d6797796ce9e11484fd16d9a8/58_7_add_np.plist</string>
            <string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_100/5608a59d6797796ce9e11484fd16d9a8/63_7_add_np.plist</string>
            <string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_100/5608a59d6797796ce9e11484fd16d9a8/90_10_add.plist</string>
            <string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_100/5608a59d6797796ce9e11484fd16d9a8/95_5_add.plist</string>
            <string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_100/5608a59d6797796ce9e11484fd16d9a8/78_22_add.plist</string>
            <string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_100/5608a59d6797796ce9e11484fd16d9a8/80_20_add_np.plist</string>
            <string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_100/5608a59d6797796ce9e11484fd16d9a8/94_6_add_np.plist</string>
            <string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_100/5608a59d6797796ce9e11484fd16d9a8/68_32_add_np.plist</string>
        </array>
	</dict>
</plist>
