<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/timestable/table2/medium/mq-np/table2-medium-1.plist</string>
	<string>/Problems/timestable/table2/medium/mq-np/table2-medium-2.plist</string>
	<string>/Problems/timestable/table2/medium/mq-np/table2-medium-3.plist</string>
	<string>/Problems/timestable/table2/medium/tools/table2-medium-A.plist</string>
	<string>/Problems/timestable/table2/medium/tools/table2-medium-A-1.plist</string>
	<string>/Problems/timestable/table2/medium/tools/table2-medium-B.plist</string>
	<string>/Problems/timestable/table2/medium/tools/table2-medium-C.plist</string>
</array>
</plist>
