<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/test/26d0e/pdef_0.plist</string>
	<string>/Problems/test/26d0e/pdef_1.plist</string>
	<string>/Problems/test/26d0e/pdef_2.plist</string>
	<string>/Problems/test/26d0e/pdef_3.plist</string>
</array>
</plist>
