<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/pipeline-WY9E78OU-NQAA-HKXY-JJM1-TGFORTO8J8YP/pdef_0 2.plist</string>
	<string>/Problems/pipeline-WY9E78OU-NQAA-HKXY-JJM1-TGFORTO8J8YP/pdef_3 2.plist</string>
	<string>/Problems/pipeline-WY9E78OU-NQAA-HKXY-JJM1-TGFORTO8J8YP/pdef_5 2.plist</string>
	<string>/Problems/pipeline-WY9E78OU-NQAA-HKXY-JJM1-TGFORTO8J8YP/pdef_7.plist</string>
	<string>/Problems/pipeline-WY9E78OU-NQAA-HKXY-JJM1-TGFORTO8J8YP/pdef_3.plist</string>
	<string>/Problems/pipeline-WY9E78OU-NQAA-HKXY-JJM1-TGFORTO8J8YP/pdef_4.plist</string>
	<string>/Problems/pipeline-WY9E78OU-NQAA-HKXY-JJM1-TGFORTO8J8YP/pdef_5.plist</string>
	<string>/Problems/pipeline-WY9E78OU-NQAA-HKXY-JJM1-TGFORTO8J8YP/pdef_6.plist</string>
</array>
</plist>
