<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/tokcm/counting-and-sorting/5608a59d6797796ce9e11484fd179442/countback_2-1.plist</string>
	<string>/Problems/tokcm/counting-and-sorting/5608a59d6797796ce9e11484fd179442/countback_5-3.plist</string>
	<string>/Problems/tokcm/counting-and-sorting/5608a59d6797796ce9e11484fd179442/countback_10-5.plist</string>
	<string>/Problems/tokcm/counting-and-sorting/5608a59d6797796ce9e11484fd179442/countback_20-2.plist</string>
	<string>/Problems/tokcm/counting-and-sorting/5608a59d6797796ce9e11484fd179442/countback_20-10.plist</string>
</array>
</plist>
