<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>1</integer>
		<key>META_QUESTION_INCOMPLETE_TEXT</key>
		<string>Try again.</string>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_COMPLETE_TEXT</key>
		<string>Great!</string>
		<key>META_QUESTION_TITLE</key>
		<string>Which of these are correct?</string>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$x} is less than {$y}</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$a} is less than {$b}</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$c} is more than {$d}</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Which of these are correct?</string>
	<key>REPEAT_SET</key>
	<string>a</string>
	<key>DVARS</key>
	<array>
		<dict>
			<key>MAX</key>
			<string>-3</string>
			<key>RECALL</key>
			<string>{$x}</string>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>-7</string>
		</dict>
		<dict>
			<key>RECALL</key>
			<string>{$y}</string>
			<key>VALUE</key>
			<string>{$x-1}</string>
			<key>VAR_NAME</key>
			<string>$y</string>
		</dict>
		<dict>
			<key>MAX</key>
			<string>-9</string>
			<key>RECALL</key>
			<string>{$a}</string>
			<key>VAR_NAME</key>
			<string>$a</string>
			<key>MIN</key>
			<string>-14</string>
		</dict>
		<dict>
			<key>MAX</key>
			<string>-3</string>
			<key>RECALL</key>
			<string>{$b}</string>
			<key>VAR_NAME</key>
			<string>$b</string>
			<key>MIN</key>
			<string>-7</string>
		</dict>
		<dict>
			<key>MAX</key>
			<string>7</string>
			<key>RECALL</key>
			<string>{$c}</string>
			<key>VAR_NAME</key>
			<string>$c</string>
			<key>MIN</key>
			<string>4</string>
		</dict>
		<dict>
			<key>MAX</key>
			<string>3</string>
			<key>RECALL</key>
			<string>{$d}</string>
			<key>VAR_NAME</key>
			<string>$d</string>
			<key>MIN</key>
			<string>1</string>
		</dict>
	</array>
	<key>INTERNAL_DESCRIPTION</key>
	<string>Which of these is correct?</string>
</dict>
</plist>
