<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>

	<string>/Problems/tokcm-authoring/Second Batch/0010c2/pdef_12.plist</string>
    <string>/Problems/tokcm-authoring/Second Batch/4b856/pdef_3.plist</string>
	<string>/Problems/tokcm-authoring/Second Batch/4b856/pdef_5.plist</string>
    <string>/Problems/tokcm-authoring/Second Batch/4b856/pdef_7.plist</string>
</array>
</plist>
