<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>6/3</string>
	<key>EVAL_MODE</key>
	<integer>0</integer>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<integer>6</integer>
			<key>POS_X</key>
			<integer>350</integer>
			<key>POS_Y</key>
			<integer>500</integer>
		</dict>
	</array>
	<key>SOLUTION</key>
	<array>
		<integer>7</integer>
	</array>
	<key>DSTRINGS</key>
	<dict>
		<key>@item</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>cookies</string>
				<string>pens</string>
				<string>crayons</string>
				<string>coins</string>
				<string>batteries</string>
				<string>packs of crisps</string>
				<string>drinks</string>
			</array>
		</dict>
	</dict>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_COMPLETE_TEXT</key>
		<string>well done!!</string>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>Jack</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>Elaine</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>Joseph</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>They get the same</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>6 {@item} are split evenly between Jack, Elaine and Joseph. Who gets the most?</string>
		<key>META_QUESTION_INCOMPLETE_TEXT</key>
		<string>Try again</string>
	</dict>
	<key>HOST_BACKGROUND_IMAGE</key>
	<string>/images/bg/bg-ipad-addition_2_7_9.png</string>
</dict>
</plist>
