<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f77b/101addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f77b/102addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f77b/103addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f77b/104addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f77b/200addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f77b/201addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f77b/202mq-addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f77b/203addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f77b/204addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f77b/205mq-addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f77b/301mq-addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f77b/302mq-addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f77b/401mq-addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f77b/403np-addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f77b/404np-addtaketen.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd15f77b/405np-addtaketen.plist</string>
</array>
</plist>
