<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd16d145/101mq.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd16d145/102mq.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd16d145/201np.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd16d145/202np.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd16d145/301mq.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd16d145/302mq.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd16d145/401np.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd16d145/402np.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd16d145/501mq.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/working_with_tens/5608a59d6797796ce9e11484fd16d145/502mq.plist</string>
</array>
</plist>
