<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>what number is this?</string>
	<key>TOOL_KEY</key>
	<string>DotGrid</string>
	<key>ANCHOR_SPACE</key>
	<integer>50</integer>
	<key>DRAW_MODE</key>
	<integer>0</integer>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>START_X</key>
			<integer>3</integer>
			<key>START_Y</key>
			<integer>1</integer>
			<key>END_X</key>
			<integer>13</integer>
			<key>END_Y</key>
			<integer>11</integer>
			<key>SHOW_RESIZE</key>
			<false/>
			<key>SHOW_MOVE</key>
			<false/>
			<key>SHOW_LABELS</key>
			<false/>
			<key>PRE_COUNTED_TILES</key>
			<array>
				<dict>
					<key>POS_X</key>
					<integer>3</integer>
					<key>POS_Y</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>3</integer>
					<key>POS_Y</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>3</integer>
					<key>POS_Y</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>3</integer>
					<key>POS_Y</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>3</integer>
					<key>POS_Y</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>3</integer>
					<key>POS_Y</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>3</integer>
					<key>POS_Y</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>3</integer>
					<key>POS_Y</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>3</integer>
					<key>POS_Y</key>
					<integer>9</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>3</integer>
					<key>POS_Y</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>4</integer>
					<key>POS_Y</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>4</integer>
					<key>POS_Y</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>4</integer>
					<key>POS_Y</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>4</integer>
					<key>POS_Y</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>4</integer>
					<key>POS_Y</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>4</integer>
					<key>POS_Y</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>4</integer>
					<key>POS_Y</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>4</integer>
					<key>POS_Y</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>4</integer>
					<key>POS_Y</key>
					<integer>9</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>4</integer>
					<key>POS_Y</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>5</integer>
					<key>POS_Y</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>5</integer>
					<key>POS_Y</key>
					<integer>9</integer>
				</dict>
			</array>
			<key>DISABLE_COUNTING</key>
			<true/>
		</dict>
	</array>
	<key>HIDDEN_ROWS</key>
	<dict>
		<key>12</key>
		<true/>
		<key>11</key>
		<true/>
		<key>10</key>
		<true/>
		<key>9</key>
		<true/>
		<key>8</key>
		<true/>
		<key>7</key>
		<true/>
		<key>6</key>
		<true/>
		<key>5</key>
		<true/>
		<key>4</key>
		<true/>
		<key>3</key>
		<true/>
		<key>2</key>
		<true/>
		<key>1</key>
		<true/>
		<key>0</key>
		<true/>
	</dict>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_COMPLETE_TEXT</key>
		<string>well done!!</string>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>0.2</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>0.21</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>0.22</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>0.23</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>what number is this?</string>
		<key>META_QUESTION_INCOMPLETE_TEXT</key>
		<string>Try again</string>
	</dict>
</dict>
</plist>
