<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>EVAL_TYPE</key>
	<string>ALL_ENABLED</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>EXPR_STAGES</key>
	<array>
		<string>Is {$x} proportional to {$y} ?</string>
		<string>&lt;b:t&gt;{$x}x table&lt;/b:t&gt;&lt;b:on number=&quot;{$x}&quot;/&gt;&lt;b:on number=&quot;{2*$x}&quot;/&gt;&lt;b:on number=&quot;{4*$x}&quot;/&gt; &lt;b:on number=&quot;{6*$x}&quot;/&gt;</string>
		<string>&lt;b:t&gt;{$y}x table&lt;/b:t&gt;&lt;b:on number=&quot;{$y}&quot;/&gt;&lt;b:on number=&quot;{2*$y}&quot;/&gt;&lt;b:on number=&quot;{4*$y}&quot;/&gt;&lt;b:on number=&quot;{6*$y}&quot;/&gt;</string>
	</array>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>SELECT_FROM</key>
			<array>
				<string>2</string>
				<string>3</string>
				<string>4</string>
			</array>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$y</string>
			<key>SELECT_FROM</key>
			<array>
				<string>5</string>
				<string>6</string>
				<string>7</string>
			</array>
		</dict>
	</array>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_COMPLETE_TEXT</key>
		<string>well done!!</string>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>Yes</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>No</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>Can&apos;t tell</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>Is {$x} proportional to {$y} ?</string>
		<key>META_QUESTION_INCOMPLETE_TEXT</key>
		<string>Try again</string>
	</dict>
</dict>
</plist>
