<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NODE_ID</key>
	<string>5608a59d6797796ce9e11484fd167ab6</string>
	<key>PIPELINE_NAME</key>
	<string>build_1.06</string>
	<key>PROBLEMS</key>
	<array>
        <string>/Problems/tokcm-authoring/Number/multiplication_and_division/sharing/5608a59d6797796ce9e11484fd167ab6/dt_6.plist</string>
        <string>/Problems/tokcm-authoring/Number/multiplication_and_division/sharing/5608a59d6797796ce9e11484fd167ab6/dt_6_sets.plist</string>
        <string>/Problems/tokcm-authoring/Number/multiplication_and_division/sharing/5608a59d6797796ce9e11484fd167ab6/dt_8.plist</string>
        <string>/Problems/tokcm-authoring/Number/multiplication_and_division/sharing/5608a59d6797796ce9e11484fd167ab6/dt_10.plist</string>
        <string>/Problems/tokcm-authoring/Number/multiplication_and_division/sharing/5608a59d6797796ce9e11484fd167ab6/dt_10_50p.plist</string>
        <string>/Problems/tokcm-authoring/Number/multiplication_and_division/sharing/5608a59d6797796ce9e11484fd167ab6/dt_12.plist</string>
        <string>/Problems/tokcm-authoring/Number/multiplication_and_division/sharing/5608a59d6797796ce9e11484fd167ab6/dt_12_sets.plist</string>
        <string>/Problems/tokcm-authoring/Number/multiplication_and_division/sharing/5608a59d6797796ce9e11484fd167ab6/dt_14.plist</string>
    </array>
</dict>
</plist>
