<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>There are 18 {@items}. Divide it equally between 2 people.</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<integer>18</integer>
			<key>POS_X</key>
			<integer>80</integer>
			<key>POS_Y</key>
			<integer>300</integer>
		</dict>
	</array>
	<key>SOLUTION</key>
	<array>
		<integer>9</integer>
		<integer>9</integer>
	</array>
	<key>DSTRINGS</key>
	<dict>
		<key>@items</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>packs of chewing gum</string>
				<string>strawberry laces</string>
				<string>cookies</string>
				<string>haribos</string>
				<string>wine gums</string>
				<string>chocolates</string>
				<string>packs of crisps</string>
				<string>drinks</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
