<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>count to 1 in 0.1s</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>jump!</string>
	<key>TOOL_KEY</key>
	<string>NLine</string>
	<key>START_VALUE</key>
	<string>0</string>
	<key>MIN_VALUE</key>
	<string>0</string>
	<key>MAX_VALUE</key>
	<string>10</string>
	<key>SEGMENT_VALUE</key>
	<integer>1</integer>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>EVAL_TYPE</key>
	<string>REPEATED_ADDITION</string>
	<key>DISPLAY_NUMBER_MULTIPLIER</key>
	<real>0.1</real>
	<key>DISPLAY_NUMBER_DP</key>
	<string>1</string>
	<key>REJECT_MODE</key>
	<integer>0</integer>
	<key>EVAL_TARGET</key>
	<integer>10</integer>
	<key>EVAL_INTERVAL</key>
	<string>10</string>
	<key>HIDE_ALL_NUMBERS</key>
	<false/>
	<key>HIDE_ALL_NOTCHES</key>
	<false/>
	<key>SHOW_NOTCHES_AT_INTERVALS</key>
	<array>
		<string>1</string>
	</array>
	<key>HIDE_START_NUMBER</key>
	<false/>
	<key>HIDE_END_NUMBER</key>
	<false/>
	<key>HIDE_START_NOTCH</key>
	<false/>
	<key>HIDE_END_NOTCH</key>
	<false/>
	<key>DISABLE_SNAPPING_TO_NOTCH</key>
	<false/>
	<key>EVAL_PLUS_MINUS_THRESHOLD</key>
	<integer>0</integer>
	<key>JUMP_MODE</key>
	<true/>
	<key>SHOW_COUNT_HISTORY_AT_INTERVALS</key>
	<array>
		<string>5</string>
	</array>
</dict>
</plist>
