<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MASTERY</key>
	<true/>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_COMPLETE_TEXT</key>
		<string>well done!!</string>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$var1-$var2}</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$var2}</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$var3-1}</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$var3+1}</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>{@gname} has {$var1} {@item}, and {@bname} has {$var2} {@item}. How many more does {@gname} have?</string>
		<key>META_QUESTION_INCOMPLETE_TEXT</key>
		<string>Try again</string>
	</dict>
	<key>HOST_BACKGROUND_IMAGE</key>
	<string>/images/bg/bg-ipad-addition_2_7_9.png</string>
	<key>DVARS</key>
	<dict>
		<key>$var1</key>
		<dict>
			<key>MAX</key>
			<string>10</string>
			<key>MIN</key>
			<string>6</string>
		</dict>
		<key>$var2</key>
		<dict>
			<key>MAX</key>
			<string>5</string>
			<key>MIN</key>
			<string>1</string>
		</dict>
		<key>$var3</key>
		<dict>
			<key>VALUE</key>
			<string>{$var1+$var2}</string>
		</dict>
	</dict>
	<key>DSTRINGS</key>
	<dict>
		<key>@bname</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>Gareth</string>
				<string>Nick</string>
				<string>Ed</string>
				<string>Dave</string>
				<string>Richard</string>
				<string>Mark</string>
				<string>Scott</string>
			</array>
		</dict>
		<key>@gname</key>
		<dict>
			<key>DATA</key>
			<array>
				<string>Claire</string>
				<string>Winnie</string>
				<string>Sarah</string>
				<string>Simone</string>
				<string>Elaine</string>
			</array>
			<key>MODE</key>
			<string>RANDOM</string>
		</dict>
		<key>@item</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>cookies</string>
				<string>pens</string>
				<string>crayons</string>
				<string>coins</string>
				<string>batteries</string>
				<string>packs of crisps</string>
				<string>drinks</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
