<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>{$number} is 1 more than which number?</string>
		<key>PICKER_LAYOUT</key>
		<integer>1</integer>
		<key>PICKER_ORIGIN_X</key>
		<integer>0</integer>
		<key>PICKER_ORIGIN_Y</key>
		<integer>0</integer>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<string>{$number-1}</string>
	</dict>
	<key>DVARS</key>
	<dict>
		<key>$number</key>
		<dict>
			<key>MIN</key>
			<string>6</string>
			<key>MAX</key>
			<string>12</string>
		</dict>
	</dict>
</dict>
</plist>
