<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Make as many identical blocks as possible.</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>SOLUTION</key>
	<array>
		<string>9</string>
		<string>9</string>
		<string>9</string>
		<string>9</string>
	</array>
	<key>DSTRINGS</key>
	<dict>
		<key>@bname</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>Gareth</string>
				<string>Nick</string>
				<string>Ed</string>
				<string>Dave</string>
				<string>Richard</string>
				<string>Mark</string>
				<string>Scott</string>
			</array>
		</dict>
		<key>@gname</key>
		<dict>
			<key>DATA</key>
			<array>
				<string>Claire</string>
				<string>Winnie</string>
				<string>Sarah</string>
				<string>Simone</string>
				<string>Elaine</string>
			</array>
			<key>MODE</key>
			<string>RANDOM</string>
		</dict>
		<key>@item</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>cookies</string>
				<string>pens</string>
				<string>crayons</string>
				<string>coins</string>
				<string>batteries</string>
				<string>drinks</string>
			</array>
		</dict>
	</dict>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<integer>12</integer>
			<key>POS_X</key>
			<integer>300</integer>
			<key>POS_Y</key>
			<integer>550</integer>
			<key>COLOUR</key>
			<string>yellow</string>
		</dict>
		<dict>
			<key>QUANTITY</key>
			<integer>4</integer>
			<key>POS_X</key>
			<integer>550</integer>
			<key>POS_Y</key>
			<integer>550</integer>
			<key>COLOUR</key>
			<string>green</string>
		</dict>
		<dict>
			<key>QUANTITY</key>
			<integer>20</integer>
			<key>POS_X</key>
			<integer>800</integer>
			<key>POS_Y</key>
			<integer>550</integer>
			<key>COLOUR</key>
			<string>blue</string>
		</dict>
	</array>
	<key>HOST_BACKGROUND_IMAGE</key>
	<string>/images/bg/bg-ipad-addition_2_7_9.png</string>
	<key>ENABLE_CALCULATOR</key>
	<true/>
</dict>
</plist>
