<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FOUNDATION</key>
	<true/>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Count from 4 to 8 in twos.</string>
	<key>TOOL_KEY</key>
	<string>NLine</string>
	<key>START_VALUE</key>
	<string>4</string>
	<key>MIN_VALUE</key>
	<string>0</string>
	<key>MAX_VALUE</key>
	<string>10</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>EVAL_TYPE</key>
	<string>REPEATED_ADDITION</string>
	<key>EVAL_INTERVAL</key>
	<string>2</string>
	<key>REJECT_MODE</key>
	<integer>0</integer>
	<key>EVAL_TARGET</key>
	<integer>8</integer>
	<key>HIDE_ALL_NUMBERS</key>
	<false/>
	<key>SHOW_NUMBERS_AT_INTERVALS</key>
	<array>
		<string>2</string>
	</array>
	<key>HIDE_ALL_NOTCHES</key>
	<false/>
	<key>HIDE_START_NUMBER</key>
	<false/>
	<key>JUMP_MODE</key>
	<true/>
	<key>HIDE_END_NUMBER</key>
	<false/>
	<key>HIDE_START_NOTCH</key>
	<false/>
	<key>HIDE_END_NOTCH</key>
	<false/>
	<key>DISABLE_SNAPPING_TO_NOTCH</key>
	<false/>
	<key>EVAL_PLUS_MINUS_THRESHOLD</key>
	<integer>0</integer>
	<key>SHOW_COUNT_HISTORY_AT_INTERVALS</key>
	<array>
		<string>2</string>
	</array>
	<key>USER_POPULATED_NUMBERS</key>
	<array/>
	<key>COUNT_OUT_LOUD_AT_INTERVALS</key>
	<array>
		<integer>1</integer>
	</array>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>SELECT_FROM</key>
			<array>
				<string>6</string>
				<string>10</string>
				<string>8</string>
			</array>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$y</string>
			<key>MIN</key>
			<string>3</string>
			<key>MAX</key>
			<string>6</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$z</string>
			<key>VALUE</key>
			<string>{$x+$y}</string>
		</dict>
	</array>
	<key>DSTRINGS</key>
	<dict>
		<key>@ones</key>
		<dict>
			<key>DATA</key>
			<array>
				<string>ones</string>
				<string>1s</string>
			</array>
			<key>MODE</key>
			<string>RANDOM</string>
		</dict>
	</dict>
</dict>
</plist>
