<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>&lt;b:t&gt;{@split} 6&lt;/b:t&gt;&lt;b:obj count=&quot;6&quot;/&gt;&lt;b:t&gt;into groups of 2.&lt;/b:t&gt;</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>SOLUTION</key>
	<array>
		<string>2</string>
		<string>2</string>
		<string>2</string>
	</array>
	<key>DSTRINGS</key>
	<dict>
		<key>@split</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>Split</string>
				<string>Divide</string>
			</array>
		</dict>
		<key>@bname</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>&lt;b:oi tag=&quot;thing_4&quot;/&gt; </string>
				<string>&lt;b:oi tag=&quot;thing_5&quot;/&gt; </string>
				<string>&lt;b:oi tag=&quot;thing_3&quot;/&gt; </string>
			</array>
		</dict>
		<key>@gname</key>
		<dict>
			<key>DATA</key>
			<array>
				<string>&lt;b:oi tag=&quot;thing_1&quot;/&gt; </string>
				<string>&lt;b:oi tag=&quot;thing_2&quot;/&gt; </string>
			</array>
			<key>MODE</key>
			<string>RANDOM</string>
		</dict>
		<key>@item</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>goos</string>
				<string>goos</string>
				<string>goos</string>
				<string>goos</string>
				<string>goos</string>
				<string>goos</string>
			</array>
		</dict>
	</dict>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<integer>6</integer>
			<key>POS_X</key>
			<integer>540</integer>
			<key>POS_Y</key>
			<integer>550</integer>
		</dict>
	</array>
	<key>HOST_BACKGROUND_IMAGE</key>
	<string>/images/bg/bg-ipad-addition_2_7_9.png</string>
</dict>
</plist>
