<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MASTERY</key>
	<true/>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>4+5=?</string>
	<key>EVAL_MODE</key>
	<string>1</string>
	<key>EVAL_TYPE</key>
	<string>EXPRESSION_EQUALITIES</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;has&lt;/b:t&gt;&lt;b:on number=&quot;4&quot;/&gt;&lt;b:t&gt;objects and&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_2}&quot;/&gt;&lt;b:t&gt;has&lt;/b:t&gt;&lt;b:on number=&quot;5&quot;/&gt;&lt;b:t&gt;more. Show this in a sentence.&lt;/b:t&gt; </string>
		<string>&lt;b:on number=&quot;4&quot; enabled=&quot;no&quot;/&gt;
&lt;b:oo value=&quot;+&quot; /&gt;
&lt;b:on number=&quot;5&quot; enabled=&quot;no&quot;/&gt;
&lt;b:oo value=&quot;=&quot; /&gt;
&lt;b:on usePicker=&quot;yes&quot; /&gt;</string>
	</array>
	<key>DSTRINGS</key>
	<dict>
		<key>@thing_1</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>thing_1</string>
				<string>thing_2</string>
				<string>thing_3</string>
			</array>
		</dict>
		<key>@thing_2</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>thing_4</string>
				<string>thing_5</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
