<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
        <string>/Problems/tokcm-authoring/demopipeline/001ld.plist</string>
		<string>/Problems/tokcm-authoring/demopipeline/002ld.plist</string>
		<string>/Problems/tokcm-authoring/demopipeline/003nl.plist</string>
		<string>/Problems/tokcm-authoring/demopipeline/004dt.plist</string>
        <string>/Problems/tokcm-authoring/demopipeline/005dg.plist</string>
		<string>/Problems/tokcm-authoring/demopipeline/006pv.plist</string>
		<string>/Problems/tokcm-authoring/demopipeline/007sb.plist</string>
		<string>/Problems/tokcm-authoring/demopipeline/008seq.plist</string>
		<string>/Problems/tokcm-authoring/demopipeline/009tt.plist</string>
		<string>/Problems/tokcm-authoring/demopipeline/010pvneg.plist</string>
		<string>/Problems/tokcm-authoring/demopipeline/011nb.plist</string>
		<string>/Problems/tokcm-authoring/demopipeline/012ct.plist</string>
</array>
</plist>
