<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>two-digit inequalities tens units agree</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Complete the number sentence.</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:ot tag=&quot;a&quot;&gt;is greater than&lt;/b:ot&gt;
&lt;b:ot tag=&quot;b&quot;&gt;is equal to&lt;/b:ot&gt;
&lt;b:ot tag=&quot;c&quot;&gt;is less than&lt;/b:ot&gt;</string>
		<string>&lt;b:t&gt;73&lt;/b:t&gt;
&lt;b:ot tag=&quot;a&quot; enabled=&quot;no&quot;&gt; &amp;gt; &lt;/b:ot&gt;
&lt;b:t&gt;52&lt;/b:t&gt;</string>
	</array>
</dict>
</plist>
