<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/pickertargetchanges/2698/pdef_23.plist</string>
	<string>/Problems/tools-dev/issues/860/2.plist</string>
	<string>/Problems/pickertargetchanges/0dbf/pdef_7.plist</string>
	<string>/Problems/pickertargetchanges/0dbf/pdef_8.plist</string>
	<string>/Problems/pickertargetchanges/0dbf/pdef_9.plist</string>
	<string>/Problems/pickertargetchanges/0dbf/pdef_10.plist</string>
	<string>/Problems/pickertargetchanges/0dbf/pdef_11.plist</string>
</array>
</plist>
