<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/April release/REVIEWED/ratio_problems/7a49/pdef_0.plist</string>
	<string>/Problems/April release/REVIEWED/ratio_problems/7a49/pdef_1.plist</string>
	<string>/Problems/April release/REVIEWED/ratio_problems/7a49/pdef_2.plist</string>
	<string>/Problems/April release/REVIEWED/ratio_problems/7a49/pdef_3.plist</string>
	<string>/Problems/April release/REVIEWED/ratio_problems/7a49/pdef_4.plist</string>
	<string>/Problems/April release/REVIEWED/ratio_problems/7a49/pdef_5.plist</string>
	<string>/Problems/April release/REVIEWED/ratio_problems/7a49/pdef_6.plist</string>
	<string>/Problems/April release/REVIEWED/ratio_problems/7a49/pdef_7.plist</string>
	<string>/Problems/April release/REVIEWED/ratio_problems/7a49/pdef_8.plist</string>
	<string>/Problems/April release/REVIEWED/ratio_problems/7a49/pdef_9.plist</string>
	<string>/Problems/pickertargetchanges/2698/pdef_23.plist</string>
	<string>/Problems/tools-dev/issues/860/2.plist</string>
	<string>/Problems/pickertargetchanges/0dbf/pdef_7.plist</string>
	<string>/Problems/pickertargetchanges/0dbf/pdef_8.plist</string>
	<string>/Problems/pickertargetchanges/0dbf/pdef_9.plist</string>
	<string>/Problems/pickertargetchanges/0dbf/pdef_10.plist</string>
	<string>/Problems/pickertargetchanges/0dbf/pdef_11.plist</string>
</array>
</plist>
