<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/tokcm-authoring/Second Batch/1547d9/*pdef_9.plist</string>
	<string>/Problems/tokcm-authoring/Second Batch/1547d9/*pdef_10.plist</string>
	<string>/Problems/tokcm-authoring/Second Batch/1547d9/*pdef_13.plist</string>
	<string>/Problems/tokcm-authoring/Second Batch/1547d9/*pdef_17.plist</string>
	<string>/Problems/tokcm-authoring/Second Batch/1547d9/*pdef_8.plist</string>
</array>
</plist>
