<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>TOOL_KEY</key>
    <string>ExprBuilder</string>
    <key>EVAL_TYPE</key>
    <string>ALL_PICKERS_CORRECT</string>
    <key>EVAL_MODE</key>
    <integer>1</integer>
    <key>EXPR_STAGES</key>
    <array>
      <string>&lt;b:oi tag=&quot;thing_4&quot;/&gt;&lt;b:t&gt;travels&lt;/b:t&gt;&lt;b:on numerator=&quot;13&quot; denominator=&quot;5&quot; showAsMixedFraction=&quot;yes&quot;/&gt;&lt;b:t&gt;miles.&lt;/b:t&gt;&lt;b:oi tag=&quot;thing_1&quot;/&gt;&lt;b:t&gt;travels&lt;/b:t&gt;&lt;b:on numerator=&quot;3&quot; denominator=&quot;2&quot; showAsMixedFraction=&quot;yes&quot;/&gt;&lt;b:t&gt;miles less. How far did&lt;/b:t&gt;&lt;b:oi tag=&quot;thing_1&quot;/&gt;&lt;b:t&gt;travel?&lt;/b:t&gt;</string>
      <string>&lt;b:on numerator=&quot;13&quot; denominator=&quot;5&quot; showAsMixedFraction=&quot;yes&quot;/&gt;&lt;b:oo value=&quot;-&quot;/&gt;&lt;b:on numerator=&quot;3&quot; denominator=&quot;2&quot; showAsMixedFraction=&quot;yes&quot;/&gt;&lt;b:oo value=&quot;=&quot;/&gt;&lt;b:on usePicker=&quot;yes&quot; pickerTargetNumerator=&quot;11&quot; pickerTargetDeominator=&quot;10&quot;/&gt;</string>
    </array>
  </dict>
</plist>
