<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>MASTERY</key>
    <true/>
    <key>PROBLEM_DESCRIPTION</key>
    <string>Create a rectangle of {$x} by {$y}. How many squares are inside each section of this rectangle?</string>
    <key>TOOL_KEY</key>
    <string>DotGrid</string>
    <key>EVAL_MODE</key>
    <string>1</string>
    <key>DOTGRID_EVAL_TYPE</key>
    <string>2</string>
    <key>ANCHOR_SPACE</key>
    <integer>40</integer>
    <key>DRAW_MODE</key>
    <integer>0</integer>
    <key>DISABLE_DRAWING</key>
    <true/>
    <key>SHOW_DRAGGABLE_BLOCK</key>
    <true/>
    <key>SHAPE_BASE_SIZE</key>
    <integer>10</integer>
    <key>USE_SHAPE_GROUPS</key>
    <true/>
    <key>SELECT_WHOLE_SHAPE</key>
    <true/>
    <key>SHOW_NUMBERWHEEL_FOR_SHAPES</key>
    <true/>
    <key>SHOW_COUNT_BUBBLE</key>
    <true/>
    <key>RENDER_SHAPE_DIMENSIONS</key>
    <true/>
    <key>AUTO_UPDATE_WHEEL</key>
    <false/>
    <key>SOLUTION_VALUE</key>
    <string>{$x*$y}</string>
    <key>REPEAT_SET</key>
    <string>b</string>
    <key>DVARS</key>
    <array>
      <dict>
        <key>RETAIN</key>
        <true/>
        <key>VAR_NAME</key>
        <string>$x</string>
        <key>MIN</key>
        <string>11</string>
        <key>MAX</key>
        <string>16</string>
      </dict>
      <dict>
        <key>RETAIN</key>
        <true/>
        <key>VAR_NAME</key>
        <string>$y</string>
        <key>MIN</key>
        <string>3</string>
        <key>MAX</key>
        <string>6</string>
      </dict>
    </array>
    <key>REQUIRED_SHAPES</key>
    <array>
      <array>
        <string>10</string>
        <string>{$y}</string>
      </array>
      <array>
        <string>{$x-10}</string>
        <string>{$y}</string>
      </array>
    </array>
    <key>SHOW_MORE_LESS_ARROWS</key>
    <false/>
  </dict>
</plist>
