<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INTRO</key>
	<true/>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Add the 2 blocks together.</string>
	<key>EVAL_MODE</key>
	<integer>0</integer>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<integer>1</integer>
			<key>POS_X</key>
			<integer>525</integer>
			<key>POS_Y</key>
			<integer>550</integer>
		</dict>
		<dict>
			<key>QUANTITY</key>
			<integer>1</integer>
			<key>POS_X</key>
			<integer>525</integer>
			<key>POS_Y</key>
			<integer>350</integer>
		</dict>
	</array>
	<key>SOLUTION</key>
	<array>
		<integer>2</integer>
	</array>
	<key>HOST_BACKGROUND_IMAGE</key>
	<string>/images/bg/bg-ipad-addition_2_7_9.png</string>
</dict>
</plist>
