<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>pv_mq_4_4</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>pv_mq_4_4</string>
	<key>TOOL_KEY</key>
	<string>PlaceValue</string>
	<key>NUMBER_COLS</key>
	<integer>1</integer>
	<key>FIRST_COL_VALUE</key>
	<integer>1</integer>
	<key>COL_BASE_VALUE</key>
	<string>10</string>
	<key>DEFAULT_COL</key>
	<integer>1</integer>
	<key>ROPES_PER_COL</key>
	<integer>4</integer>
	<key>ROWS_PER_COL</key>
	<integer>4</integer>
	<key>ALLOW_CONDENSING</key>
	<false/>
	<key>ALLOW_MULCHING</key>
	<false/>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>REJECT_MODE</key>
	<integer>1</integer>
	<key>SHOW_COUNT</key>
	<false/>
	<key>SHOW_COUNT_BLOCK</key>
	<false/>
	<key>CUSTOM_COLUMN_HEADERS</key>
	<false/>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>PUT_IN_COL</key>
			<integer>0</integer>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>NUMBER</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>PUT_IN_COL</key>
			<integer>0</integer>
			<key>PUT_IN_ROW</key>
			<integer>1</integer>
			<key>NUMBER</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>PUT_IN_COL</key>
			<integer>0</integer>
			<key>PUT_IN_ROW</key>
			<integer>2</integer>
			<key>NUMBER</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>PUT_IN_COL</key>
			<integer>0</integer>
			<key>PUT_IN_ROW</key>
			<integer>3</integer>
			<key>NUMBER</key>
			<integer>4</integer>
		</dict>
	</array>
	<key>SOLUTION</key>
	<dict>
		<key>SOLUTION_TYPE</key>
		<string>TOTAL_COUNT</string>
		<key>SOLUTION_VALUE</key>
		<integer>16</integer>
	</dict>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_COMPLETE_TEXT</key>
		<string>well done!!</string>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>1</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>1</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>2+2+2+2</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>4+4+4+4</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>4+2</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>The rectangle is made of 4 rows of 4 blocks. Which equations correctly express the total number of blocks as a sum of the same number?</string>
		<key>META_QUESTION_INCOMPLETE_TEXT</key>
		<string>Try again</string>
	</dict>
	<key>HOST_BACKGROUND_IMAGE</key>
	<string>/images/bg/bg-ipad-addition_2_7_9.png</string>
	<key>COLUMN_CAGES</key>
	<dict>
		<key>1</key>
		<false/>
	</dict>
	<key>COLUMN_POS_DISABLE_DELETE</key>
	<dict>
		<key>1</key>
		<string>YES</string>
	</dict>
	<key>COLUMN_POS_DISABLE_ADD</key>
	<dict>
		<key>1</key>
		<string>YES</string>
	</dict>
</dict>
</plist>
