<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>EVAL_TYPE</key>
	<string>ALL_PICKERS_CORRECT</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;Fill in the gaps.&lt;/b:t&gt;</string>
		<string>&lt;b:t&gt;2x tables&lt;/b:t&gt;&lt;b:on number=&quot;2&quot;/&gt;&lt;b:on usePicker=&quot;yes&quot; pickerTarget=&quot;4&quot;/&gt;&lt;b:on number=&quot;6&quot;/&gt;</string>
		<string>&lt;b:t&gt;5x tables&lt;/b:t&gt;&lt;b:on number=&quot;5&quot;/&gt;&lt;b:on number=&quot;10&quot;/&gt;&lt;b:on usePicker=&quot;yes&quot; pickerTarget=&quot;15&quot;/&gt;</string>
	</array>
</dict>
</plist>
