<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>REPEAT_AS_IS_MIN</key>
	<string>2</string>
	<key>MASTERY</key>
	<true/>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Which of these is true?</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>inequalities</string>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$beginning} &amp;gt; {$beginning +$inc}</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$beginning} = {$beginning +$inc}</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$beginning} &amp;lt; {$beginning +$inc}</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>Which of these is true?</string>
		<key>INTERNAL_DESCRIPTION</key>
		<string>Which of these is true?</string>
		<key>PROBLEM_DESCRIPTION</key>
		<string>Which of these is true?</string>
	</dict>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$var5</string>
			<key>MIN</key>
			<string>101</string>
			<key>MAX</key>
			<string>899</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$var4</string>
			<key>MIN</key>
			<string>0</string>
			<key>MAX</key>
			<string>9</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$var1</string>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>8</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$var2</string>
			<key>MIN</key>
			<string>0</string>
			<key>MAX</key>
			<string>9</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$var3</string>
			<key>MIN</key>
			<string>0</string>
			<key>MAX</key>
			<string>9</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$inc</string>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>SELECT_FROM</key>
			<array>
				<string>1</string>
			</array>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$thousand</string>
			<key>VALUE</key>
			<string>{$var1*1000}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$hundred</string>
			<key>VALUE</key>
			<string>{$var2*100}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$ten</string>
			<key>VALUE</key>
			<string>{$var3*10}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$hundredandten</string>
			<key>VALUE</key>
			<string>{$hundred+$ten}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$allbutunits</string>
			<key>VALUE</key>
			<string>{$hundredandten+$thousand}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$beginning</string>
			<key>VALUE</key>
			<string>{$var4+$allbutunits}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$right</string>
			<key>VALUE</key>
			<string>{$beginning+$inc}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$xless</string>
			<key>VALUE</key>
			<string>{$beginning-$var5}</string>
		</dict>
	</array>
</dict>
</plist>
