<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>place 4 equal items</string>
	<key>TOOL_KEY</key>
	<string>BlockFloating</string>
	<key>ENABLE_OCCLUDING_SEPARATORS</key>
	<true/>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>TAG</key>
			<string>block3</string>
			<key>DIMENSION_COLS</key>
			<integer>2</integer>
			<key>DIMENSION_ROWS</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>TAG</key>
			<string>block3</string>
			<key>DIMENSION_COLS</key>
			<integer>2</integer>
			<key>DIMENSION_ROWS</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>TAG</key>
			<string>block3</string>
			<key>DIMENSION_COLS</key>
			<integer>2</integer>
			<key>DIMENSION_ROWS</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>TAG</key>
			<string>block3</string>
			<key>DIMENSION_COLS</key>
			<integer>2</integer>
			<key>DIMENSION_ROWS</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>TAG</key>
			<string>block3</string>
			<key>DIMENSION_COLS</key>
			<integer>2</integer>
			<key>DIMENSION_ROWS</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>TAG</key>
			<string>block3</string>
			<key>DIMENSION_COLS</key>
			<integer>2</integer>
			<key>DIMENSION_ROWS</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>TAG</key>
			<string>block3</string>
			<key>DIMENSION_COLS</key>
			<integer>3</integer>
			<key>DIMENSION_ROWS</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>TAG</key>
			<string>block3</string>
			<key>DIMENSION_COLS</key>
			<integer>1</integer>
			<key>DIMENSION_ROWS</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>TAG</key>
			<string>block3</string>
			<key>DIMENSION_COLS</key>
			<integer>3</integer>
			<key>DIMENSION_ROWS</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>INIT_CONTAINERS</key>
	<array>
		<dict>
			<key>TAG</key>
			<string>container1</string>
			<key>CAPACITY_COUNT</key>
			<integer>2</integer>
			<key>MAX_OBJECT_SIZE</key>
			<integer>4</integer>
			<key>CAPACITY_SIZE</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>TAG</key>
			<string>container2</string>
			<key>CAPACITY_COUNT</key>
			<integer>2</integer>
			<key>MAX_OBJECT_SIZE</key>
			<integer>4</integer>
			<key>CAPACITY_SIZE</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>TAG</key>
			<string>container3</string>
			<key>CAPACITY_COUNT</key>
			<integer>2</integer>
			<key>MAX_OBJECT_SIZE</key>
			<integer>4</integer>
			<key>CAPACITY_SIZE</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>TAG</key>
			<string>container4</string>
			<key>CAPACITY_COUNT</key>
			<integer>2</integer>
			<key>MAX_OBJECT_SIZE</key>
			<integer>4</integer>
			<key>CAPACITY_SIZE</key>
			<integer>8</integer>
		</dict>
	</array>
	<key>SOLUTIONS</key>
	<array>
		<dict>
			<key>SOLUTION_SCORE</key>
			<integer>1</integer>
			<key>CLAUSES</key>
			<array>
				<dict>
					<key>ITEM1_CONTAINER_TAG</key>
					<string>container1</string>
					<key>ITEM2_VALUE</key>
					<integer>0</integer>
					<key>CLAUSE_TYPE</key>
					<string>COUNT_GREATER_THAN</string>
				</dict>
				<dict>
					<key>ITEM1_CONTAINER_TAG</key>
					<string>container1</string>
					<key>ITEM2_CONTAINER_TAG</key>
					<string>container2</string>
					<key>CLAUSE_TYPE</key>
					<string>SIZE_EQUAL_TO</string>
				</dict>
				<dict>
					<key>ITEM1_CONTAINER_TAG</key>
					<string>container2</string>
					<key>ITEM2_CONTAINER_TAG</key>
					<string>container3</string>
					<key>CLAUSE_TYPE</key>
					<string>SIZE_EQUAL_TO</string>
				</dict>
				<dict>
					<key>ITEM1_CONTAINER_TAG</key>
					<string>container3</string>
					<key>ITEM2_CONTAINER_TAG</key>
					<string>container4</string>
					<key>CLAUSE_TYPE</key>
					<string>SIZE_EQUAL_TO</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
