<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>How many different rectangles can you make with 5 blocks?</string>
	<key>TOOL_KEY</key>
	<string>DotGrid</string>
	<key>ANCHOR_SPACE</key>
	<integer>70</integer>
	<key>START_X</key>
	<integer>0</integer>
	<key>START_Y</key>
	<integer>0</integer>
	<key>DRAW_MODE</key>
	<integer>0</integer>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>DOTGRID_EVAL_TYPE</key>
	<integer>0</integer>
	<key>DOTGRID_EVAL_TOTALSIZE</key>
	<integer>5</integer>
	<key>DO_NOT_SIMPLIFY_FRACTIONS</key>
	<false/>
	<key>SHOW_RESIZE</key>
	<false/>
	<key>INIT_OBJECTS</key>
	<array/>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$rand1}</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>2</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$rand2}</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>How many different rectangles can you make with 5 blocks?</string>
	</dict>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$rand1</string>
			<key>SELECT_FROM</key>
			<array>
				<string>1</string>
				<string>0</string>
				<string>7</string>
				<string>10</string>
			</array>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$rand2</string>
			<key>MIN</key>
			<string>3</string>
			<key>MAX</key>
			<string>6</string>
		</dict>
	</array>
</dict>
</plist>
