<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>How many ones must I add to 6 to make 10?</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>How many ones must I add to 6 to make 10?</string>
	<key>TOOL_KEY</key>
	<string>PlaceValue</string>
	<key>NUMBER_COLS</key>
	<integer>1</integer>
	<key>FIRST_COL_VALUE</key>
	<integer>1</integer>
	<key>COL_BASE_VALUE</key>
	<string>8</string>
	<key>DEFAULT_COL</key>
	<integer>1</integer>
	<key>ROPES_PER_COL</key>
	<integer>5</integer>
	<key>ROWS_PER_COL</key>
	<integer>2</integer>
	<key>ALLOW_CONDENSING</key>
	<false/>
	<key>ALLOW_MULCHING</key>
	<false/>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>REJECT_MODE</key>
	<integer>1</integer>
	<key>SHOW_CAGE</key>
	<true/>
	<key>SHOW_COUNT</key>
	<false/>
	<key>SHOW_COUNT_BLOCK</key>
	<true/>
	<key>FADE_COUNT</key>
	<false/>
	<key>CUSTOM_COLUMN_HEADERS</key>
	<true/>
	<key>COLUMN_HEADERS</key>
	<dict>
		<key>0</key>
		<string>ones</string>
	</dict>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>PUT_IN_COL</key>
			<integer>0</integer>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>NUMBER</key>
			<integer>5</integer>
			<key>NUMBER_PRE_COUNTED</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>PUT_IN_COL</key>
			<integer>0</integer>
			<key>PUT_IN_ROW</key>
			<integer>1</integer>
			<key>NUMBER</key>
			<integer>1</integer>
			<key>NUMBER_PRE_COUNTED</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>SOLUTION</key>
	<dict>
		<key>SOLUTION_TYPE</key>
		<string>TOTAL_COUNT</string>
		<key>SOLUTION_VALUE</key>
		<integer>25</integer>
	</dict>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_COMPLETE_TEXT</key>
		<string>well done!!</string>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>5</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>3</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>4</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>How many ones must I add to 6 to make 10?</string>
		<key>META_QUESTION_INCOMPLETE_TEXT</key>
		<string>Try again</string>
	</dict>
	<key>MASTERY</key>
	<true/>
	<key>HOST_BACKGROUND_IMAGE</key>
	<string>/images/bg/bg-ipad-addition_2_7_9.png</string>
</dict>
</plist>
