<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>show that 2 x 4 is the same as 4 x 2 </string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>show that 2x4 is the same as 4x2 </string>
	<key>TOOL_KEY</key>
	<string>PartitionTool</string>
	<key>INIT_BARS</key>
	<array>
		<dict>
			<key>LOCKED</key>
			<false/>
			<key>LENGTH</key>
			<string>8</string>
		</dict>
		<dict>
			<key>LOCKED</key>
			<false/>
			<key>LENGTH</key>
			<string>8</string>
		</dict>
	</array>
	<key>INIT_CAGES</key>
	<array>
		<dict>
			<key>LENGTH</key>
			<string>2</string>
			<key>LABEL</key>
			<string>2</string>
			<key>QUANTITY</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>LENGTH</key>
			<string>4</string>
			<key>LABEL</key>
			<string>4</string>
			<key>QUANTITY</key>
			<string>2</string>
		</dict>
	</array>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>EVAL_TARGET</key>
	<integer>8</integer>
	<key>REJECT_MODE</key>
	<integer>0</integer>
</dict>
</plist>
