<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>show that 10 x 5 is the same as 5 x 10 </string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>show that 10x5 is the same as 5x10 </string>
	<key>TOOL_KEY</key>
	<string>PartitionTool</string>
	<key>INIT_BARS</key>
	<array>
		<dict>
			<key>LOCKED</key>
			<false/>
			<key>LENGTH</key>
			<string>10</string>
		</dict>
		<dict>
			<key>LOCKED</key>
			<false/>
			<key>LENGTH</key>
			<string>10</string>
		</dict>
	</array>
	<key>INIT_CAGES</key>
	<array>
		<dict>
			<key>LENGTH</key>
			<string>2</string>
			<key>LABEL</key>
			<string>10</string>
			<key>QUANTITY</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LENGTH</key>
			<string>1</string>
			<key>LABEL</key>
			<string>5</string>
			<key>QUANTITY</key>
			<string>10</string>
		</dict>
	</array>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>EVAL_TARGET</key>
	<integer>10</integer>
	<key>REJECT_MODE</key>
	<integer>0</integer>
</dict>
</plist>
