<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Create a grid that has a total of 15 blocks.</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>Create a grid that has a total of 15 blocks.</string>
	<key>TOOL_KEY</key>
	<string>DotGrid</string>
	<key>ANCHOR_SPACE</key>
	<integer>74</integer>
	<key>START_X</key>
	<integer>1</integer>
	<key>START_Y</key>
	<integer>4</integer>
	<key>DRAW_MODE</key>
	<integer>1</integer>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>DOTGRID_EVAL_TYPE</key>
	<integer>0</integer>
	<key>DOTGRID_EVAL_TOTALSIZE</key>
	<integer>15</integer>
	<key>DO_NOT_SIMPLIFY_FRACTIONS</key>
	<false/>
	<key>SHOW_RESIZE</key>
	<true/>
</dict>
</plist>
