<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>{$var1} div {$var2} is {$varout} {£varout} {&amp;varout}</string>
		<key>INTERNAL_DESCRIPTION</key>
		<string>1-5 x 1-5</string>
		<key>PICKER_LAYOUT</key>
		<integer>1</integer>
		<key>ANIMATE_FROM_PICKER</key>
		<true/>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<string>{$multiplicand*$multiplier}</string>
	</dict>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$var1</string>
			<key>VALUE</key>
			<string>2</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$var2</string>
			<key>VALUE</key>
			<string>3</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>&amp;varout</string>
			<key>VALUE</key>
			<string>{&amp;var1/&amp;var2}</string>
		</dict>
	</array>
	<key>DSTRINGS</key>
	<dict>
		<key>@operator</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>x</string>
				<string>multiplied by</string>
				<string>times</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
