<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>1.772. Button layout 4.</string>
		<key>PICKER_LAYOUT</key>
		<integer>3</integer>
		<key>PICKER_ORIGIN_X</key>
		<integer>800</integer>
		<key>ANIMATE_FROM_PICKER</key>
		<false/>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<real>1.772</real>
	</dict>
</dict>
</plist>
