<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>&lt;b:t&gt;Share 3 between 7 to show&lt;/b:t&gt;&lt;b:on numerator=&quot;3&quot; denominator=&quot;7&quot;/&gt;&lt;b:t&gt;.&lt;/b:t&gt;</string>
	<key>TOOL_KEY</key>
	<string>PieSplitter</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>DIVIDEND</key>
	<integer>3</integer>
	<key>DIVISOR</key>
	<integer>7</integer>
	<key>NUMBER_ACTIVE_PIES</key>
	<integer>0</integer>
	<key>NUMBER_ACTIVE_SQUARES</key>
	<integer>0</integer>
	<key>START_PROBLEM_SPLIT</key>
	<true/>
	<key>NUMBER_CAGED_PIES</key>
	<integer>10</integer>
	<key>NUMBER_CAGED_SQUARES</key>
	<integer>10</integer>
</dict>
</plist>
