<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ColumnAddition</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Add 3.24 and 6.15</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>col add no carrying</string>
	<key>NUMBER_A</key>
	<real>3.24</real>
	<key>NUMBER_B</key>
	<real>6.15</real>
</dict>
</plist>
