<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Show that {$augend} + {$addend} = {$addend} + {$augend}.</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>commutativity</string>
	<key>MASTERY</key>
	<true/>
	<key>TOOL_KEY</key>
	<string>NumberBonds</string>
	<key>INIT_BARS</key>
	<array>
		<dict>
			<key>LOCKED</key>
			<false/>
			<key>LENGTH</key>
			<string>{$addend+$augend}</string>
		</dict>
		<dict>
			<key>LOCKED</key>
			<false/>
			<key>LENGTH</key>
			<string>{$addend+$augend}</string>
		</dict>
	</array>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>LABEL</key>
			<string>{$augend}</string>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>LENGTH</key>
			<string>{$augend}</string>
		</dict>
		<dict>
			<key>LABEL</key>
			<string>{$addend}</string>
			<key>PUT_IN_ROW</key>
			<integer>1</integer>
			<key>LENGTH</key>
			<string>{$addend}</string>
		</dict>
	</array>
	<key>INIT_CAGES</key>
	<array>
		<dict>
			<key>LENGTH</key>
			<string>{$augend}</string>
			<key>LABEL</key>
			<string>{$augend}</string>
			<key>QUANTITY</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LENGTH</key>
			<string> {$addend}</string>
			<key>LABEL</key>
			<string> {$addend}</string>
			<key>QUANTITY</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$augend</string>
			<key>MIN</key>
			<string>15</string>
			<key>MAX</key>
			<string>20</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$addend</string>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>14</string>
		</dict>
	</array>
</dict>
</plist>
