<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>fractions</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;A&lt;/b:t&gt;
&lt;b:ot tag=&quot;b&quot;&gt;pack of 6 yoghurts&lt;/b:ot&gt;
&lt;b:t&gt;costs&lt;/b:t&gt;
&lt;b:ot tag=&quot;a&quot;&gt;£1.50,&lt;/b:ot&gt;
&lt;b:t&gt;and a &lt;/b:t&gt;
&lt;b:ot tag=&quot;d&quot;&gt;pack of 8 yoghurts&lt;/b:ot&gt;
&lt;b:t&gt;costs&lt;/b:t&gt;
&lt;b:ot tag=&quot;c&quot;&gt;£1.60.&lt;/b:ot&gt;
&lt;b:t&gt;Which pack is better value?&lt;/b:t&gt;</string>
		<string>&lt;b:ot tag=&quot;a&quot; enabled=&quot;no&quot;&gt;£1.50&lt;/b:ot&gt;
&lt;b:op op=&quot;÷&quot; picker=&quot;yes&quot; /&gt;
&lt;b:ot tag=&quot;b&quot; enabled=&quot;no&quot;&gt;6 yoghurts&lt;/b:ot&gt;
&lt;b:op op=&quot;=&quot; /&gt;
&lt;b:ot picker=&quot;yes&quot; pickerTarget=&quot;27&quot;&gt;27&lt;/b:ot&gt;
&lt;b:t&gt;per yoghurt&lt;/b:t&gt;</string>
		<string>&lt;b:ot tag=&quot;c&quot; enabled=&quot;no&quot;&gt;£1.60&lt;/b:ot&gt;
&lt;b:op op=&quot;÷&quot; picker=&quot;yes&quot; /&gt;
&lt;b:ot tag=&quot;d&quot; enabled=&quot;no&quot;&gt;8 yoghurts&lt;/b:ot&gt;
&lt;b:op op=&quot;=&quot; /&gt;
&lt;b:ot picker=&quot;yes&quot; pickerTarget=&quot;20&quot;&gt;20&lt;/b:ot&gt;
&lt;b:t&gt;per yoghurt&lt;/b:t&gt;</string>
		<string>&lt;b:t&gt;A&lt;/b:t&gt;
&lt;b:ot tag=&quot;d&quot; enabled=&quot;no&quot;&gt;pack of 8 yoghurts&lt;/b:ot&gt;
&lt;b:t&gt;is better value for money.&lt;b:t&gt;</string>
	</array>
	<key>DVARS</key>
	<dict>
		<key>$apples</key>
		<dict>
			<key>MIN</key>
			<string>4</string>
			<key>MAX</key>
			<string>9</string>
		</dict>
		<key>$decrementor</key>
		<dict>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>3</string>
		</dict>
		<key>$tomsapples</key>
		<dict>
			<key>VALUE</key>
			<string>{$apples-$decrementor}</string>
		</dict>
	</dict>
	<key>DSTRINGS</key>
	<dict>
		<key>$operator</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>x</string>
				<string>multiplied by</string>
				<string>times</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
