<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EVAL_TYPE</key>
    <string>ALL_PICKERS_CORRECT</string>
    <key>TOOL_KEY</key>
    <string>ExprBuilder</string>
    <key>EVAL_EXCLUDE_ROWS</key>
    <array>
      <string>2</string>
    </array>
    <key>EVAL_MODE</key>
    <string>1</string>
    <key>DVARS</key>
    <array>
      <dict>
        <key>VAR_NAME</key>
        <string>$a</string>
        <key>MIN</key>
        <string>6</string>
        <key>MAX</key>
        <string>9</string>
      </dict>
      <dict>
        <key>VAR_NAME</key>
        <string>$b</string>
        <key>MIN</key>
        <string>4</string>
        <key>MAX</key>
        <string>5</string>
      </dict>
      <dict>
        <key>VAR_NAME</key>
        <string>$c</string>
        <key>MIN</key>
        <string>1</string>
        <key>MAX</key>
        <string>3</string>
      </dict>
      <dict>
        <key>VAR_NAME</key>
        <string>$product</string>
        <key>VALUE</key>
        <string>{$b*$c}</string>
      </dict>
    </array>
    <key>EXPR_STAGES</key>
    <array>
      <string>&lt;b:t&gt;Make {$a+$product} in using the following numbers.&lt;/b:t&gt;</string>
      <string>&lt;b:on number=&quot;{$c}&quot; enabled=&quot;yes&quot;/&gt;&lt;b:on number=&quot;{$b}&quot; enabled=&quot;yes&quot;/&gt;&lt;b:on number=&quot;{$a}&quot; enabled=&quot;yes&quot;/&gt;</string>
      <string>&lt;b:t&gt;(&lt;/b:t&gt;&lt;b:on number=&quot;{$b}&quot;/&gt;&lt;b:oo value=&quot;x&quot;/&gt;&lt;b:on usePicker=&quot;yes&quot; pickerTarget=&quot;{$c}&quot;/&gt;&lt;b:t&gt;)&lt;/b:t&gt;&lt;b:oo value=&quot;+&quot;/&gt;&lt;b:on usePicker=&quot;yes&quot; pickerTarget=&quot;{$a}&quot;/&gt;&lt;b:oo value=&quot;=&quot;/&gt;&lt;b:on number=&quot;{$a+$product}&quot; enabled=&quot;yes&quot;/&gt;</string>
    </array>
    <key>INTERNAL_DESCRIPTION</key>
    <string>3x2=6</string>
  </dict>
</plist>
