<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>create a block of 3 and a block of 4</string>
	<key>TOOL_KEY</key>
	<string>BlockFloating</string>
	<key>REJECT_MODE</key>
	<string>0</string>
	<key>EVAL_MODE</key>
	<string>1</string>
	<key>OPERATOR_MODE</key>
	<string>ALL</string>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>TAG</key>
			<string>block1</string>
			<key>DIMENSION_COLS</key>
			<integer>3</integer>
			<key>DIMENSION_ROWS</key>
			<integer>2</integer>
			<key>DIMENSION_UNIT_COUNT</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>TAG</key>
			<string>block4</string>
			<key>DIMENSION_COLS</key>
			<integer>2</integer>
			<key>DIMENSION_ROWS</key>
			<integer>2</integer>
			<key>DIMENSION_UNIT_COUNT</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>TAG</key>
			<string>block5</string>
			<key>DIMENSION_COLS</key>
			<integer>5</integer>
			<key>DIMENSION_ROWS</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>TAG</key>
			<string>block1</string>
			<key>DIMENSION_COLS</key>
			<integer>1</integer>
			<key>DIMENSION_ROWS</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>SOLUTIONS</key>
	<array>
		<dict>
			<key>PLAY_SOUND</key>
			<string>firework.wav</string>
			<key>SOLUTION_DISPLAY_TEXT</key>
			<string>You&apos;ve completed a containment problem, well done.</string>
			<key>SOLUTION_SCORE</key>
			<integer>1</integer>
			<key>CLAUSES</key>
			<array>
				<dict>
					<key>ITEM1_VALUE</key>
					<integer>3</integer>
					<key>CLAUSE_TYPE</key>
					<string>OBJECT_OF_SIZE</string>
				</dict>
				<dict>
					<key>ITEM1_VALUE</key>
					<integer>4</integer>
					<key>CLAUSE_TYPE</key>
					<string>OBJECT_OF_SIZE</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>_TUTORIALS</key>
	<array>
		<dict>
			<key>PROBLEM_SUBTITLE</key>
			<string>drag the object to the first container</string>
			<key>GHOST_OBJECT</key>
			<string>block1</string>
			<key>GHOST_DESTINATION</key>
			<string>container1</string>
			<key>POST_ACTIONS</key>
			<dict>
				<key>PLAY_SOUND</key>
				<string>firework.wav</string>
				<key>INIT_OBJECTS</key>
				<array>
					<dict>
						<key>TAG</key>
						<string>t1block1</string>
						<key>DIMENSION_COLS</key>
						<integer>1</integer>
						<key>DIMENSION_ROWS</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>TAG</key>
						<string>t1block2</string>
						<key>DIMENSION_COLS</key>
						<integer>1</integer>
						<key>DIMENSION_ROWS</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>TAG</key>
						<string>t1block3</string>
						<key>DIMENSION_COLS</key>
						<integer>2</integer>
						<key>DIMENSION_ROWS</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ENABLE_CONTAINERS</key>
				<array>
					<string>container2</string>
				</array>
			</dict>
			<key>CLAUSES</key>
			<array>
				<dict>
					<key>ITEM1_CONTAINER_TAG</key>
					<string>container1</string>
					<key>ITEM2_VALUE</key>
					<integer>0</integer>
					<key>CLAUSE_TYPE</key>
					<string>COUNT_GREATER_THAN</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>PROBLEM_SUBTITLE</key>
			<string>drag the object to the second container</string>
			<key>GHOST_OBJECT</key>
			<string>t1block3</string>
			<key>GHOST_DESTINATION</key>
			<string>container2</string>
			<key>POST_ACTIONS</key>
			<dict>
				<key>INIT_OBJECTS</key>
				<array>
					<dict>
						<key>TAG</key>
						<string>t2block1</string>
						<key>DIMENSION_COLS</key>
						<integer>1</integer>
						<key>DIMENSION_ROWS</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>TAG</key>
						<string>t2block2</string>
						<key>DIMENSION_COLS</key>
						<integer>2</integer>
						<key>DIMENSION_ROWS</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>TAG</key>
						<string>t2block3</string>
						<key>DIMENSION_COLS</key>
						<integer>2</integer>
						<key>DIMENSION_ROWS</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ENABLE_CONTAINERS</key>
				<array>
					<string>container3</string>
				</array>
			</dict>
			<key>CLAUSES</key>
			<array>
				<dict>
					<key>ITEM1_CONTAINER_TAG</key>
					<string>container2</string>
					<key>ITEM2_VALUE</key>
					<integer>0</integer>
					<key>CLAUSE_TYPE</key>
					<string>COUNT_GREATER_THAN</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>PROBLEM_SUBTITLE</key>
			<string>drag the object to the third container</string>
			<key>GHOST_OBJECT</key>
			<string>t2block2</string>
			<key>GHOST_DESTINATION</key>
			<string>container3</string>
			<key>CLAUSES</key>
			<array>
				<dict>
					<key>ITEM1_CONTAINER_TAG</key>
					<string>container3</string>
					<key>ITEM2_VALUE</key>
					<integer>0</integer>
					<key>CLAUSE_TYPE</key>
					<string>COUNT_GREATER_THAN</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
