<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>show that 3 [[$wordorsymbol]] 2 equals 6</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>switching between &quot;times&quot; and &quot;lots of&quot; and &quot;x&quot;</string>
	<key>TOOL_KEY</key>
	<string>PartitionTool</string>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>LENGTH</key>
			<integer>6</integer>
			<key>LABEL</key>
			<string>6</string>
		</dict>
	</array>
	<key>INIT_BARS</key>
	<array>
		<dict>
			<key>LOCKED</key>
			<true/>
			<key>LENGTH</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>LOCKED</key>
			<false/>
			<key>LENGTH</key>
			<string>6</string>
		</dict>
	</array>
	<key>INIT_CAGES</key>
	<array>
		<dict>
			<key>LENGTH</key>
			<integer>2</integer>
			<key>LABEL</key>
			<string>2</string>
			<key>QUANTITY</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>DSTRINGS</key>
	<dict>
		<key>$wordorsymbol</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>times</string>
				<string>lots of</string>
				<string>x</string>
			</array>
		</dict>
	</dict>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>REJECT_MODE</key>
	<integer>0</integer>
</dict>
</plist>
