<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Put the numbers in order.</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>sort numbers up to five</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:commlkp lkpid=&quot;num&quot;&gt;
	&lt;b:lkpitem tag=&quot;b&quot;&gt;{$b}&lt;/b:lkpitem&gt;
	&lt;b:lkpitem tag=&quot;c&quot;&gt;{$c}&lt;/b:lkpitem&gt;
	&lt;b:lkpitem tag=&quot;d&quot;&gt;{$d}&lt;/b:lkpitem&gt;
&lt;/b:commlkp&gt;

&lt;b:commot resortrandom=&quot;yes&quot; sample=&quot;one&quot; /&gt;
&lt;b:commot resortrandom=&quot;yes&quot; sample=&quot;one&quot; /&gt;
&lt;b:commot resortrandom=&quot;yes&quot; sample=&quot;one&quot; /&gt;</string>
		<string>&lt;b:t&gt;{$a}&lt;/b:t&gt;
&lt;b:ot tag=&quot;b&quot; enabled=&quot;no&quot;&gt; {$b} &lt;/b:ot&gt;
&lt;b:ot tag=&quot;c&quot; enabled=&quot;no&quot;&gt; {$c} &lt;/b:ot&gt;
&lt;b:ot tag=&quot;d&quot; enabled=&quot;no&quot;&gt; {$d} &lt;/b:ot&gt;
&lt;b:t&gt;{$e}&lt;/b:t&gt;</string>
	</array>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$a</string>
			<key>MIN</key>
			<string>0</string>
			<key>MAX</key>
			<string>3</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$b</string>
			<key>MIN</key>
			<string>4</string>
			<key>MAX</key>
			<string>7</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$c</string>
			<key>MIN</key>
			<string>8</string>
			<key>MAX</key>
			<string>11</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$d</string>
			<key>MIN</key>
			<string>12</string>
			<key>MAX</key>
			<string>15</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$b</string>
			<key>MIN</key>
			<string>16</string>
			<key>MAX</key>
			<string>20</string>
		</dict>
	</array>
</dict>
</plist>
