<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>tom&apos;s apples</string>
	<key>EVAL_TYPE</key>
	<string>SEQUENCE_ASC</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>NUMBER_CARD_ROW_MIN</key>
	<integer>2</integer>
	<key>NUMBER_CARD_ROW_MAX</key>
	<integer>25</integer>
	<key>NUMBER_CARD_INTERVAL</key>
	<integer>3</integer>
	<key>NUMBER_MODE</key>
	<string>numicon</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:on numbermode=&quot;numicon&quot;&gt;4&lt;/b:on&gt;</string>
		<string>&lt;b:ph /&gt;&lt;b:ph /&gt;&lt;b:ph /&gt;</string>
	</array>
</dict>
</plist>
