<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Which times tables does 6 appear in?</string>
	<key>TOOL_KEY</key>
	<string>TimesTables</string>
	<key>ANCHOR_SPACE</key>
	<integer>65</integer>
	<key>START_X</key>
	<integer>1</integer>
	<key>START_Y</key>
	<integer>1</integer>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>OPERATOR_MODE</key>
	<integer>2</integer>
	<key>SHOW_CALC_BUBBLE</key>
	<true/>
	<key>SHOW_X_AXIS</key>
	<true/>
	<key>SHOW_Y_AXIS</key>
	<true/>
	<key>SWITCH_XY_ANSWER-IGNORE</key>
	<true/>
	<key>SELECTION_MODE</key>
	<integer>1</integer>
	<key>ACTIVE_ROWS-IGNORE</key>
	<array>
		<integer>5</integer>
		<string>0</string>
	</array>
	<key>ACTIVE_COLS-IGNORE</key>
	<array>
		<integer>4</integer>
		<integer>5</integer>
	</array>
	<key>SOLUTIONS</key>
	<array>
		<dict>
			<key>POS_X</key>
			<integer>6</integer>
			<key>POS_Y</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>POS_X</key>
			<integer>1</integer>
			<key>POS_Y</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>POS_X</key>
			<integer>2</integer>
			<key>POS_Y</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>POS_X</key>
			<integer>3</integer>
			<key>POS_Y</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>TIMER</key>
	<dict>
		<key>TIMER_DURATION</key>
		<integer>0</integer>
		<key>TIMER_ACTIONS</key>
		<dict>
			<key>REVEAL_TILES</key>
			<array>
				<dict>
					<key>POS_X</key>
					<integer>6</integer>
					<key>POS_Y</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>1</integer>
					<key>POS_Y</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>2</integer>
					<key>POS_Y</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>POS_X</key>
					<integer>3</integer>
					<key>POS_Y</key>
					<integer>2</integer>
				</dict>
			</array>
			<key>SHOW_X_AXIS</key>
			<false/>
			<key>SHOW_Y_AXIS</key>
			<false/>
			<key>SHOW_CALC_BUBBLE</key>
			<true/>
		</dict>
	</dict>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>1</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>1</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>1</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>2</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>3</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>4</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>5</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>6</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>Which times tables does 6 appear in?</string>
	</dict>
</dict>
</plist>
