<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>how can  you seat 100 guests at a party if every table must have the same number of people sitting at it?</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;How can you seat 100 guests at a party if every table must have the same number of people sitting at it?&lt;/b:t&gt;</string>
		<string>&lt;b:ot picker=&quot;yes&quot; pickerTarget=&quot;10&quot;&gt;10&lt;/b:ot&gt;
&lt;b:t&gt;tables of&lt;/b:t&gt;
&lt;b:ot picker=&quot;yes&quot; pickerTarget=&quot;10&quot;&gt;10&lt;/b:ot&gt;</string>
	</array>
</dict>
</plist>
