<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>[[$name]] went to [[$action]] for {$time1} minutes before taking a {$break} minute break. S/He continues playing for a further {$time2} minutes. How many minutes did s/he spend doing the activity?</string>
		<key>PICKER_LAYOUT</key>
		<integer>1</integer>
		<key>PICKER_ORIGIN_X</key>
		<integer>0</integer>
		<key>PICKER_ORIGIN_Y</key>
		<integer>0</integer>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<string>{$time1+$time2}</string>
		<key>DSTRINGS</key>
		<dict>
			<key>$action</key>
			<dict>
				<key>MODE</key>
				<string>RANDOM</string>
				<key>DATA</key>
				<array>
					<string>tennis</string>
					<string>badminton</string>
					<string>football</string>
					<string>cricket</string>
					<string>swimming</string>
					<string>lacrosse</string>
				</array>
			</dict>
			<key>$name</key>
			<dict>
				<key>MODE</key>
				<string>RANDOM</string>
				<key>DATA</key>
				<array>
					<string>Sarah</string>
					<string>Claire</string>
					<string>Scott</string>
					<string>Gareth</string>
					<string>Dave</string>
					<string>Nick</string>
				</array>
			</dict>
		</dict>
		<key>DVARS</key>
		<dict>
			<key>$break</key>
			<dict>
				<key>MAX</key>
				<string>10</string>
				<key>MIN</key>
				<string>1</string>
			</dict>
			<key>$time1</key>
			<dict>
				<key>MAX</key>
				<string>10</string>
				<key>MIN</key>
				<string>1</string>
			</dict>
			<key>$time2</key>
			<dict>
				<key>MAX</key>
				<string>10</string>
				<key>MIN</key>
				<string>1</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
