<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>LongDivision</string>
	<key>MASTERY</key>
	<true/>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Find {$x}/{$y}</string>
	<key>DIVIDEND</key>
	<string>{$x}</string>
	<key>DIVISOR</key>
	<string>{$y}</string>
	<key>ROW_MULTIPLIER</key>
	<integer>10</integer>
	<key>START_ROW</key>
	<integer>3</integer>
	<key>GOOD_BAD_HIGHLIGHT</key>
	<true/>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>RENDERBLOCK_LABELS</key>
	<true/>
	<key>DVARS</key>
	<dict>
		<key>$y</key>
		<dict>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>5</string>
		</dict>
		<key>$x </key>
		<dict>
			<key>MIN</key>
			<string>5</string>
			<key>MAX</key>
			<string>10</string>
		</dict>
	</dict>
</dict>
</plist>
