<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_1000/5608a59d6797796ce9e11484fd16480b/segment_5_40.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_1000/5608a59d6797796ce9e11484fd16480b/segment_5_260.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_1000/5608a59d6797796ce9e11484fd16480b/segment_5_585.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_1000/5608a59d6797796ce9e11484fd16480b/np_nl_5_40.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_1000/5608a59d6797796ce9e11484fd16480b/segment_10_350.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_1000/5608a59d6797796ce9e11484fd16480b/segment_10_680.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_1000/5608a59d6797796ce9e11484fd16480b/segment_10_760.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_1000/5608a59d6797796ce9e11484fd16480b/np_nl_10_480.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_1000/5608a59d6797796ce9e11484fd16480b/segment_100_400.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_1000/5608a59d6797796ce9e11484fd16480b/segment_100_600.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_1000/5608a59d6797796ce9e11484fd16480b/segment_100_900.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/addition_and_subtraction_up_to_1000/5608a59d6797796ce9e11484fd16480b/np_nl_100_700.plist</string>
</array>
</plist>
