<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>{@bname} had 5 {@item}. {@gname} gives him some more. He now has 12. How many {@item} did {@gname} give to {@bname}?</string>
	<key>TOOL_KEY</key>
	<string>FloatingBlock</string>
	<key>EVAL_MODE</key>
	<integer>0</integer>
	<key>SOLUTION</key>
	<integer>7</integer>
	<key>INIT_BUBBLES</key>
	<integer>2</integer>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>NUMBER</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>NUMBER</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>BUBBLE_AUTO_OPERATE</key>
	<false/>
	<key>SUPPORTED_OPERATORS</key>
	<array>
		<string>+</string>
		<string>-</string>
		<string>x</string>
		<string>/</string>
	</array>
	<key>SHOW_MULTIPLE_CONTROLS</key>
	<true/>
	<key>SHOW_SOLUTION_ON_PIPE</key>
	<false/>
	<key>DSTRINGS</key>
	<dict>
		<key>@bname</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>Gareth</string>
				<string>Nick</string>
				<string>Ed</string>
				<string>Dave</string>
				<string>Richard</string>
				<string>Mark</string>
				<string>Scott</string>
			</array>
		</dict>
		<key>@gname</key>
		<dict>
			<key>DATA</key>
			<array>
				<string>Claire</string>
				<string>Winnie</string>
				<string>Sarah</string>
				<string>Simone</string>
				<string>Elaine</string>
			</array>
			<key>MODE</key>
			<string>RANDOM</string>
		</dict>
		<key>@item</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>cookies</string>
				<string>pens</string>
				<string>crayons</string>
				<string>coins</string>
				<string>batteries</string>
				<string>drinks</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
