<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>DISTRIBUTION_EVAL_TYPE</key>
	<integer>1</integer>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Tom had some marbles, he gave 5 to Jon, now Tom has 3 marbles. Show that Tom had 8 to begin with. </string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<integer>5</integer>
			<key>POS_X</key>
			<integer>400</integer>
			<key>POS_Y</key>
			<integer>550</integer>
			<key>LABEL</key>
			<string>Jon</string>
		</dict>
		<dict>
			<key>QUANTITY</key>
			<integer>3</integer>
			<key>POS_X</key>
			<integer>700</integer>
			<key>POS_Y</key>
			<integer>550</integer>
			<key>LABEL</key>
			<string>Tom</string>
		</dict>
	</array>
	<key>SOLUTION</key>
	<array>
		<dict>
			<key>Tom</key>
			<integer>8</integer>
		</dict>
	</array>
	<key>DSTRINGS</key>
	<dict>
		<key>@item</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>cookies</string>
				<string>scoops of ice cream</string>
				<string>pens</string>
				<string>crayons</string>
				<string>coins</string>
				<string>batteries</string>
				<string>packs of crisps</string>
				<string>drinks</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
