<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DVARS</key>
	<dict>
		<key>$var1</key>
		<dict>
			<key>MAX</key>
			<string>9</string>
			<key>MIN</key>
			<string>3</string>
		</dict>
		<key>$var2</key>
		<dict>
			<key>MAX</key>
			<string>20</string>
			<key>MIN</key>
			<string>10</string>
		</dict>
	</dict>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>{$var2} + {$var1} = x. What is x?</string>
		<key>PICKER_LAYOUT</key>
		<integer>1</integer>
		<key>PICKER_ORIGIN_X</key>
		<integer>0</integer>
		<key>PICKER_ORIGIN_Y</key>
		<integer>0</integer>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<string>{$var2-$var1}</string>
	</dict>
</dict>
</plist>
