<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>MASTERY</key>
	<true/>
	<key>DSTRINGS</key>
	<dict>
		<key>@bname</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>&lt;b:oi tag=&quot;a&quot; icontag=&quot;thing_1&quot;/&gt;</string>
				<string>&lt;b:oi tag=&quot;a&quot; icontag=&quot;thing_2&quot;/&gt;</string>
				<string>&lt;b:oi tag=&quot;a&quot; icontag=&quot;thing_3&quot;/&gt;</string>
			</array>
		</dict>
		<key>@gname</key>
		<dict>
			<key>DATA</key>
			<array>
				<string>&lt;b:oi tag=&quot;a&quot; icontag=&quot;thing_4&quot;/&gt;</string>
				<string>&lt;b:oi tag=&quot;a&quot; icontag=&quot;thing_5&quot;/&gt;</string>
			</array>
			<key>MODE</key>
			<string>RANDOM</string>
		</dict>
	</dict>
	<key>HOST_BACKGROUND_IMAGE</key>
	<string>/images/bg/bg-ipad-addition_2_7_9.png</string>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$addend</string>
			<key>MIN</key>
			<string>3</string>
			<key>MAX</key>
			<string>6</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$augend</string>
			<key>MIN</key>
			<string>3</string>
			<key>MAX</key>
			<string>6</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$total</string>
			<key>VALUE</key>
			<string>{$addend+$augend}</string>
		</dict>
	</array>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>{@gname} &lt;b:t&gt;has {$addend} goo.&lt;/b:t&gt; {@bname} &lt;b:t&gt;has {$augend} goo. How many goo do&lt;/b:t&gt; {@bname} &lt;b:t&gt; and &lt;/b:t&gt; {@gname} &lt;b:t&gt; have together?&lt;/b:t&gt;</string>
		<key>INTERNAL_DESCRIPTION</key>
		<string>002 memorise number facts for addition within 5 - 10</string>
		<key>PICKER_LAYOUT</key>
		<integer>1</integer>
		<key>ANIMATE_FROM_PICKER</key>
		<true/>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<string>{$addend+$augend}</string>
	</dict>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>DISTRIBUTION_EVAL_TYPE</key>
	<integer>1</integer>
	<key>HAS_CAGE</key>
	<true/>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<string>{$addend}</string>
			<key>POS_X</key>
			<integer>80</integer>
			<key>POS_Y</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>QUANTITY</key>
			<string>{$augend}</string>
			<key>POS_X</key>
			<integer>400</integer>
			<key>POS_Y</key>
			<integer>500</integer>
		</dict>
	</array>
</dict>
</plist>
