<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FLASHING_BUTTON</key>
	<true/>
	<key>CORE</key>
	<true/>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Start at 16 and count forward in 3s. Press the counter when it reaches {$x}.</string>
	<key>TOOL_KEY</key>
	<string>CountingTimer</string>
	<key>SOLUTION</key>
	<string>{$x}</string>
	<key>SHOW_COUNT</key>
	<true/>
	<key>COUNT_TYPE</key>
	<integer>1</integer>
	<key>INCREMENT</key>
	<integer>3</integer>
	<key>COUNT_MIN</key>
	<string>16</string>
	<key>COUNT_MAX</key>
	<string>{$x+9}</string>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>SELECT_FROM</key>
			<array>
				<string>28</string>
				<string>31</string>
				<string>34</string>
				<string>25</string>
				<string>37</string>
				<string>40</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
