<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FOUNDATION</key>
	<true/>
	<key>REPEAT_AS_IS_MIN</key>
	<string>2</string>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>9/3</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$var1</string>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>9</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$var2</string>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>9</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$var3</string>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>SELECT_FROM</key>
			<array>
				<string>21</string>
				<string>18</string>
				<string>27</string>
			</array>
		</dict>
	</array>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<integer>1</integer>
			<key>POS_X</key>
			<integer>250</integer>
			<key>POS_Y</key>
			<integer>275</integer>
			<key>LABEL</key>
			<string>&lt;b:oi tag=&quot;thing_1&quot;/&gt;</string>
		</dict>
		<dict>
			<key>QUANTITY</key>
			<integer>3</integer>
			<key>POS_X</key>
			<integer>475</integer>
			<key>POS_Y</key>
			<integer>275</integer>
			<key>LABEL</key>
			<string>{@bname}</string>
		</dict>
		<dict>
			<key>QUANTITY</key>
			<integer>3</integer>
			<key>POS_X</key>
			<integer>700</integer>
			<key>POS_Y</key>
			<integer>275</integer>
			<key>LABEL</key>
			<string>{@gname}</string>
		</dict>
		<dict>
			<key>QUANTITY</key>
			<integer>3</integer>
			<key>POS_X</key>
			<integer>600</integer>
			<key>POS_Y</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>QUANTITY</key>
			<string>{$var3-10}</string>
			<key>POS_X</key>
			<integer>150</integer>
			<key>POS_Y</key>
			<integer>450</integer>
		</dict>
	</array>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_COMPLETE_TEXT</key>
		<string>well done!!</string>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$var3-7}</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$var3-8}</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$var3/3}</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>&lt;b:t&gt;{$var3} {@item} are shared evenly between&lt;/b:t&gt;{@gname}&lt;b:t&gt;,&lt;/b:t&gt; {@bname} &lt;b:t&gt;and &lt;/b:t&gt;&lt;b:oi tag=&quot;thing_1&quot;/&gt;&lt;b:t&gt;. How many {@item} does &lt;/b:t&gt;{@gname} &lt;b:t&gt;get?&lt;/b:t&gt;</string>
		<key>META_QUESTION_INCOMPLETE_TEXT</key>
		<string>Try again</string>
	</dict>
	<key>HOST_BACKGROUND_IMAGE</key>
	<string>/images/bg/bg-ipad-addition_2_7_9.png</string>
	<key>DSTRINGS</key>
	<dict>
		<key>@bname</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>&lt;b:oi tag=&quot;thing_3&quot;/&gt;</string>
				<string>&lt;b:oi tag=&quot;thing_4&quot;/&gt;</string>
			</array>
		</dict>
		<key>@gname</key>
		<dict>
			<key>DATA</key>
			<array>
				<string>&lt;b:oi tag=&quot;thing_2&quot;/&gt;</string>
				<string>&lt;b:oi tag=&quot;thing_5&quot;/&gt;</string>
			</array>
			<key>MODE</key>
			<string>RANDOM</string>
		</dict>
		<key>@item</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>goos</string>
				<string>goos</string>
				<string>goos</string>
				<string>goos</string>
				<string>goos</string>
				<string>goos</string>
				<string>goos</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
