<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FOUNDATION</key>
	<true/>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Which number is smaller?</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>two-digit inequalities</string>
	<key>TOOL_KEY</key>
	<string>NumberBonds</string>
	<key>DVARS</key>
	<dict>
		<key>$var2</key>
		<dict>
			<key>RETAIN</key>
			<true/>
			<key>MIN</key>
			<string>18</string>
			<key>MAX</key>
			<string>28</string>
		</dict>
		<key>$var1</key>
		<dict>
			<key>RETAIN</key>
			<true/>
			<key>MIN</key>
			<string>48</string>
			<key>MAX</key>
			<string>58</string>
		</dict>
	</dict>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_COMPLETE_TEXT</key>
		<string>Great!</string>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$var2}</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$var1}</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>Which number is smaller?</string>
		<key>META_QUESTION_INCOMPLETE_TEXT</key>
		<string>Try again.</string>
	</dict>
</dict>
</plist>
