<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>DISTRIBUTION_EVAL_TYPE</key>
	<integer>1</integer>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Gareth has 15 blue goos and Nick has 9. Gareth gives Nick 8 of his blue goos. Show that Nick is left with 7 goos. </string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<integer>15</integer>
			<key>POS_X</key>
			<integer>400</integer>
			<key>POS_Y</key>
			<integer>530</integer>
			<key>LABEL</key>
			<string>Gareth</string>
		</dict>
		<dict>
			<key>QUANTITY</key>
			<integer>9</integer>
			<key>POS_X</key>
			<integer>700</integer>
			<key>POS_Y</key>
			<integer>530</integer>
			<key>LABEL</key>
			<string>Nick</string>
		</dict>
	</array>
	<key>SOLUTION</key>
	<array>
		<dict>
			<key>Gareth</key>
			<integer>7</integer>
			<key>Nick</key>
			<integer>17</integer>
		</dict>
	</array>
	<key>DSTRINGS</key>
	<dict>
		<key>@item</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>cookies</string>
				<string>scoops of ice cream</string>
				<string>pens</string>
				<string>crayons</string>
				<string>coins</string>
				<string>batteries</string>
				<string>packs of crisps</string>
				<string>drinks</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
