<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CORE</key>
	<true/>
	<key>REPEAT_AND_SCAFFOLD_MIN</key>
	<string>4</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>&lt;b:t&gt; If &lt;/b:t&gt;{@name} &lt;b:t&gt; starts at {$n} and counts forwards in jumps of {$var1}&apos;s. Which of these will &lt;/b:t&gt; {@name}&lt;b:t&gt; eventually land on?&lt;/b:t&gt;</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>jumps of ? from x.</string>
	<key>TOOL_KEY</key>
	<string>NLine</string>
	<key>START_VALUE</key>
	<string>{$n}</string>
	<key>SEGMENT_VALUE</key>
	<integer>1</integer>
	<key>MIN_VALUE</key>
	<string>-10</string>
	<key>MAX_VALUE</key>
	<string>200</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>EVAL_TYPE</key>
	<string>JUMP_SEQUENCE</string>
	<key>REJECT_MODE</key>
	<integer>0</integer>
	<key>HIDE_ALL_NUMBERS</key>
	<false/>
	<key>COUNT_OUT_LOUD_AT_INTERVALS</key>
	<true/>
	<key>HIDE_ALL_NOTCHES</key>
	<false/>
	<key>HIDE_START_NUMBER</key>
	<false/>
	<key>HIDE_END_NUMBER</key>
	<false/>
	<key>HIDE_START_NOTCH</key>
	<false/>
	<key>HIDE_END_NOTCH</key>
	<false/>
	<key>SHOW_NUMBERS_AT_INTERVALS</key>
	<array>
		<string>1</string>
	</array>
	<key>DISABLE_SNAPPING_TO_NOTCH</key>
	<false/>
	<key>EVAL_PLUS_MINUS_THRESHOLD</key>
	<integer>0</integer>
	<key>JUMP_MODE</key>
	<true/>
	<key>DSTRINGS</key>
	<dict>
		<key>@name</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>&lt;b:oi tag=&quot;thing_1&quot;/&gt;</string>
				<string>&lt;b:oi tag=&quot;thing_2&quot;/&gt;</string>
				<string>&lt;b:oi tag=&quot;thing_3&quot;/&gt;</string>
				<string>&lt;b:oi tag=&quot;thing_4&quot;/&gt;</string>
				<string>&lt;b:oi tag=&quot;thing_5&quot;/&gt;</string>
			</array>
		</dict>
	</dict>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$b</string>
			<key>MIN</key>
			<string>6</string>
			<key>MAX</key>
			<string>10</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$var1</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>6</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$n</string>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>5</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$var1jumps</string>
			<key>VALUE</key>
			<string>{$var1*5}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$end</string>
			<key>VALUE</key>
			<string>{$var1jumps+$n}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$bvar1</string>
			<key>VALUE</key>
			<string>{$var1*$b}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$actual</string>
			<key>VALUE</key>
			<string>{$bvar1+$n}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$actual1</string>
			<key>VALUE</key>
			<string>{$actual+$var1}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$actual2</string>
			<key>VALUE</key>
			<string>{$n+$var1}</string>
		</dict>
	</array>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>1</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>1</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$end}</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$actual}</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$actual1}</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$actual2}</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>&lt;b:t&gt; If &lt;/b:t&gt;{@name} &lt;b:t&gt; starts at {$n} and counts forwards in jumps of {$var1}&apos;s. Which of these will &lt;/b:t&gt; {@name}&lt;b:t&gt; eventually land on?&lt;/b:t&gt;</string>
		<key>INTERNAL_DESCRIPTION</key>
		<string>&lt;b:t&gt; If &lt;/b:t&gt;{@name} &lt;b:t&gt; starts at {$n} and counts forwards in jumps of {$var1}&apos;s. Which of these will &lt;/b:t&gt; {@name}&lt;b:t&gt; eventually land on?&lt;/b:t&gt;</string>
		<key>PROBLEM_DESCRIPTION</key>
		<string>&lt;b:t&gt; If &lt;/b:t&gt;{@name} &lt;b:t&gt; starts at {$n} and counts forwards in jumps of {$var1}&apos;s. Which of these will &lt;/b:t&gt; {@name}&lt;b:t&gt; eventually land on?&lt;/b:t&gt;</string>
	</dict>
</dict>
</plist>
