<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>&lt;b:t&gt;Goo comes in packs of {$m}.&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;has {$x} packs of goo and eats {$n} goo from each pack. how many goo does&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;have left?&lt;/b:t&gt;</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<string>{$m}</string>
			<key>POS_X</key>
			<integer>500</integer>
			<key>POS_Y</key>
			<integer>500</integer>
		</dict>
	</array>
	<key>SOLUTION</key>
	<array>
		<integer>3</integer>
		<integer>3</integer>
	</array>
	<key>HAS_CAGE</key>
	<true/>
	<key>DSTRINGS</key>
	<dict>
		<key>@thing_1</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>thing_1</string>
				<string>thing_2</string>
				<string>thing_3</string>
				<string>thing_4</string>
				<string>thing_5</string>
			</array>
		</dict>
	</dict>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$m</string>
			<key>MIN</key>
			<string>6</string>
			<key>MAX</key>
			<string>9</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>4</string>
			<key>MAX</key>
			<string>7</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$n</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>4</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$subtr</string>
			<key>VALUE</key>
			<string>{$m-$n}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$total</string>
			<key>VALUE</key>
			<string>{$subtr*$x}</string>
		</dict>
	</array>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>&lt;b:t&gt;Goo comes in packs of {$m}.&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;has {$x} packs of goo and eats {$n} goo from each pack. how many goo does&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;have left?&lt;/b:t&gt;</string>
		<key>PICKER_LAYOUT</key>
		<integer>1</integer>
		<key>PICKER_ORIGIN_X</key>
		<integer>0</integer>
		<key>PICKER_ORIGIN_Y</key>
		<integer>0</integer>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<string>{$total}</string>
	</dict>
	<key>HOST_BACKGROUND_IMAGE</key>
	<string>/images/bg/bg-ipad-addition_2_7_9.png</string>
</dict>
</plist>
