<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Which number is smaller?</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>Which number is smaller?</string>
	<key>TOOL_KEY</key>
	<string>PlaceValue</string>
	<key>COL_BASE_VALUE</key>
	<integer>10</integer>
	<key>FIRST_COL_VALUE</key>
	<integer>10</integer>
	<key>NUMBER_COLS</key>
	<integer>2</integer>
	<key>DEFAULT_COL</key>
	<integer>1</integer>
	<key>ROPES_PER_COL</key>
	<integer>5</integer>
	<key>ROWS_PER_COL</key>
	<integer>2</integer>
	<key>ALLOW_CONDENSING</key>
	<false/>
	<key>ALLOW_MULCHING</key>
	<false/>
	<key>ALLOW_PANNING</key>
	<string>NO</string>
	<key>SHOW_COLUMN_TOTAL_COUNT</key>
	<false/>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>REJECT_MODE</key>
	<integer>1</integer>
	<key>SHOW_CAGE</key>
	<false/>
	<key>SHOW_COUNT</key>
	<false/>
	<key>SHOW_COUNT_BLOCK</key>
	<false/>
	<key>SHOW_COL_HEADER</key>
	<false/>
	<key>FADE_COUNT</key>
	<false/>
	<key>CUSTOM_COLUMN_HEADERS</key>
	<true/>
	<key>SHOW_BASE_SELECTION</key>
	<true/>
	<key>X_OFFSET</key>
	<real>-0.25</real>
	<key>COLUMN_HEADERS</key>
	<dict>
		<key>0</key>
		<string>ones</string>
	</dict>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>PUT_IN_COL</key>
			<integer>0</integer>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>NUMBER</key>
			<string>5</string>
		</dict>
		<dict>
			<key>PUT_IN_COL</key>
			<integer>0</integer>
			<key>PUT_IN_ROW</key>
			<integer>1</integer>
			<key>NUMBER</key>
			<string>{$number_larger-5}</string>
		</dict>
		<dict>
			<key>PUT_IN_COL</key>
			<integer>1</integer>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>NUMBER</key>
			<string>{$number_smaller}</string>
		</dict>
	</array>
	<key>SOLUTION</key>
	<dict>
		<key>SOLUTION_TYPE</key>
		<string>TOTAL_COUNT</string>
		<key>SOLUTION_VALUE</key>
		<integer>25</integer>
	</dict>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_RANDOMISE_ANSWERS</key>
		<false/>
		<key>META_QUESTION_COMPLETE_TEXT</key>
		<string>well done!!</string>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$number_larger}</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$number_smaller}</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>Which number is {@less}?</string>
		<key>META_QUESTION_INCOMPLETE_TEXT</key>
		<string>Try again</string>
	</dict>
	<key>MASTERY</key>
	<true/>
	<key>HOST_BACKGROUND_IMAGE</key>
	<string>/images/bg/bg-ipad-addition_2_7_9.png</string>
	<key>DVARS</key>
	<dict>
		<key>$number_larger</key>
		<dict>
			<key>MAX</key>
			<string>10</string>
			<key>MIN</key>
			<string>6</string>
		</dict>
		<key>$number_smaller</key>
		<dict>
			<key>MAX</key>
			<string>5</string>
			<key>MIN</key>
			<string>1</string>
		</dict>
	</dict>
	<key>COLUMN_CAGES</key>
	<dict>
		<key>1</key>
		<false/>
		<key>10</key>
		<false/>
	</dict>
	<key>DSTRINGS</key>
	<dict>
		<key>@more</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>larger</string>
				<string>the biggest</string>
				<string>greater</string>
			</array>
		</dict>
		<key>@less</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>the least</string>
				<string>smaller</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
