<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CORE</key>
	<true/>
	<key>REPEAT_SET</key>
	<string>A</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Starting at {$n}. Count forward in {$x}. Stop when you reach {$xy+$n}</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>Starting at {$n}. Count forward in {$x}. Stop as soon as you pass {$xy}</string>
	<key>TOOL_KEY</key>
	<string>NLine</string>
	<key>START_VALUE</key>
	<string>{$n}</string>
	<key>MIN_VALUE</key>
	<string>0</string>
	<key>MAX_VALUE</key>
	<string>{$xy+10}</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>SEGMENT_VALUE</key>
	<integer>1</integer>
	<key>EVAL_TYPE</key>
	<string>JUMP_SEQUENCE</string>
	<key>REJECT_MODE</key>
	<integer>0</integer>
	<key>EVAL_TARGET</key>
	<string>{$xy+$n}</string>
	<key>HIDE_ALL_NUMBERS</key>
	<false/>
	<key>HIDE_ALL_NOTCHES</key>
	<false/>
	<key>COUNT_OUT_LOUD_AT_INTERVALS</key>
	<true/>
	<key>HIDE_START_NUMBER</key>
	<false/>
	<key>HIDE_END_NUMBER</key>
	<false/>
	<key>HIDE_START_NOTCH</key>
	<false/>
	<key>HIDE_END_NOTCH</key>
	<false/>
	<key>SHOW_NUMBERS_AT_INTERVALS</key>
	<array>
		<string>1</string>
	</array>
	<key>DISABLE_SNAPPING_TO_NOTCH</key>
	<false/>
	<key>EVAL_PLUS_MINUS_THRESHOLD</key>
	<integer>0</integer>
	<key>JUMP_MODE</key>
	<true/>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$n</string>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>5</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>6</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$y</string>
			<key>MIN</key>
			<string>3</string>
			<key>MAX</key>
			<string>5</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$var3</string>
			<key>MIN</key>
			<string>0</string>
			<key>MAX</key>
			<string>9</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$inc</string>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>SELECT_FROM</key>
			<array>
				<string>100</string>
				<string>10</string>
				<string>1</string>
			</array>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$xy</string>
			<key>VALUE</key>
			<string>{$x*$y}</string>
		</dict>
	</array>
</dict>
</plist>
