<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>A bag of 18 goo is divided equally between some people, and each get 6 goo. How many people shared?</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>INIT_OBJECTS</key>
	<array/>
	<key>SOLUTION</key>
	<array>
		<integer>6</integer>
		<integer>6</integer>
		<integer>6</integer>
	</array>
	<key>DSTRINGS</key>
	<dict>
		<key>@bname</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>&lt;b:oi tag=&quot;thing_4&quot;/&gt; </string>
				<string>&lt;b:oi tag=&quot;thing_5&quot;/&gt; </string>
				<string>&lt;b:oi tag=&quot;thing_3&quot;/&gt; </string>
			</array>
		</dict>
		<key>@gname</key>
		<dict>
			<key>DATA</key>
			<array>
				<string>&lt;b:oi tag=&quot;thing_1&quot;/&gt; </string>
				<string>&lt;b:oi tag=&quot;thing_2&quot;/&gt; </string>
			</array>
			<key>MODE</key>
			<string>RANDOM</string>
		</dict>
		<key>@item</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>goos</string>
				<string>goos</string>
				<string>goos</string>
				<string>goos</string>
				<string>goos</string>
				<string>goos</string>
			</array>
		</dict>
	</dict>
	<key>HAS_CAGE</key>
	<true/>
	<key>HOST_BACKGROUND_IMAGE</key>
	<string>/images/bg/bg-ipad-addition_2_7_9.png</string>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>A bag of 18 goo is divided equally between some people, and each get 6 goo. How many people shared?</string>
		<key>PICKER_LAYOUT</key>
		<integer>1</integer>
		<key>PICKER_ORIGIN_X</key>
		<integer>0</integer>
		<key>PICKER_ORIGIN_Y</key>
		<integer>0</integer>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
