<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FLASHING_BUTTON</key>
	<true/>
	<key>FOUNDATION</key>
	<true/>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Start at 28 and count backwards in 3s. Press the counter when it reaches 16.</string>
	<key>TOOL_KEY</key>
	<string>CountingTimer</string>
	<key>SOLUTION</key>
	<string>16</string>
	<key>SHOW_COUNT</key>
	<true/>
	<key>COUNT_TYPE</key>
	<integer>1</integer>
	<key>INCREMENT</key>
	<integer>-3</integer>
	<key>COUNT_MIN</key>
	<string>13</string>
	<key>COUNT_MAX</key>
	<string>28</string>
	<key>DVARS</key>
	<array>
		<dict>
			<key>RECALL</key>
			<string>{$var1}</string>
			<key>VAR_NAME</key>
			<string>$var1</string>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>8</string>
		</dict>
		<dict>
			<key>RECALL</key>
			<string>{$n}</string>
			<key>VAR_NAME</key>
			<string>$n</string>
			<key>MIN</key>
			<string>3</string>
			<key>MAX</key>
			<string>8</string>
		</dict>
		<dict>
			<key>RECALL</key>
			<string>{$var2}</string>
			<key>VAR_NAME</key>
			<string>$var2</string>
			<key>MIN</key>
			<string>0</string>
			<key>MAX</key>
			<string>9</string>
		</dict>
		<dict>
			<key>RECALL</key>
			<string>{$var3}</string>
			<key>VAR_NAME</key>
			<string>$var3</string>
			<key>MIN</key>
			<string>0</string>
			<key>MAX</key>
			<string>9</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$ten</string>
			<key>VALUE</key>
			<string>{$var2*10}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$nten</string>
			<key>VALUE</key>
			<string>{$n*10}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$hundred</string>
			<key>VALUE</key>
			<string>{$var1*100}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$hundredsandtens</string>
			<key>VALUE</key>
			<string>{$hundred+$ten}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$hundredandtenandn</string>
			<key>VALUE</key>
			<string>{$hundredsandtens+$nten}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$total</string>
			<key>VALUE</key>
			<string>{$hundredandtenandn+$var3}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$beginning</string>
			<key>VALUE</key>
			<string>{$hundredsandtens+$var3}</string>
		</dict>
	</array>
</dict>
</plist>
