<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Starting at 3, press when it counts to {$x} in threes. </string>
	<key>TOOL_KEY</key>
	<string>CountingTimer</string>
	<key>SOLUTION</key>
	<string>{$x}</string>
	<key>SHOW_COUNT</key>
	<false/>
	<key>COUNT_TYPE</key>
	<integer>2</integer>
	<key>INCREMENT</key>
	<integer>3</integer>
	<key>COUNT_MIN</key>
	<integer>3</integer>
	<key>COUNT_MAX</key>
	<string>{$x+6}</string>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>SELECT_FROM</key>
			<array>
				<string>9</string>
				<string>12</string>
				<string>15</string>
				<string>18</string>
			</array>
		</dict>
	</array>
	<key>REPEAT_AND_SCAFFOLD_MIN</key>
	<integer>2</integer>
</dict>
</plist>
