<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MASTERY</key>
	<true/>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Is the total number of blocks even or odd?</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>Is the total number of blocks even or odd?</string>
	<key>TOOL_KEY</key>
	<string>DotGrid</string>
	<key>ANCHOR_SPACE</key>
	<integer>85</integer>
	<key>START_X</key>
	<integer>1</integer>
	<key>START_Y</key>
	<integer>1</integer>
	<key>DRAW_MODE</key>
	<integer>2</integer>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>DOTGRID_EVAL_TYPE</key>
	<integer>0</integer>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>START_X</key>
			<integer>3</integer>
			<key>START_Y</key>
			<integer>3</integer>
			<key>END_X</key>
			<string>8</string>
			<key>END_Y</key>
			<string>7</string>
		</dict>
	</array>
	<key>DOTGRID_EVAL_TOTALSIZE</key>
	<integer>15</integer>
	<key>DO_NOT_SIMPLIFY_FRACTIONS</key>
	<false/>
	<key>SHOW_RESIZE</key>
	<true/>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_RANDOMISE_ANSWERS</key>
		<false/>
		<key>META_QUESTION_COMPLETE_TEXT</key>
		<string>well done!!</string>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>Even</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>Odd</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>Is the total number of blocks even or odd?</string>
		<key>META_QUESTION_INCOMPLETE_TEXT</key>
		<string>Try again</string>
	</dict>
</dict>
</plist>
