<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>7 is an odd number. Divide the 7 blocks into as many blocks of 2 as possible.</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<integer>7</integer>
			<key>POS_X</key>
			<integer>525</integer>
			<key>POS_Y</key>
			<integer>475</integer>
		</dict>
	</array>
	<key>SOLUTION</key>
	<array>
		<integer>2</integer>
		<string>2</string>
		<string>2</string>
		<string>1</string>
	</array>
</dict>
</plist>
