<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INTERNAL_DESCRIPTION</key>
	<string>&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;buys {$n} blue goo, and {$m} green goo.&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;spends {$xm+$yn} goobles. Each blue goo costs {$y} goobles. How much is a green goo?&lt;/b:t&gt;</string>
	<key>DSTRINGS</key>
	<dict>
		<key>@thing_1</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>thing_1</string>
				<string>thing_2</string>
				<string>thing_3</string>
				<string>thing_4</string>
				<string>thing_5</string>
			</array>
		</dict>
	</dict>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;buys {$n} blue goo, and {$m} green goo.&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;spends {$xm+$yn} goobles. Each blue goo costs {$y} goobles. How much is a green goo?&lt;/b:t&gt;</string>
		<key>PICKER_LAYOUT</key>
		<integer>1</integer>
		<key>PICKER_ORIGIN_X</key>
		<integer>0</integer>
		<key>PICKER_ORIGIN_Y</key>
		<integer>0</integer>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<string>{$x}</string>
	</dict>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$m</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>5</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$n</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>6</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>4</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$y</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>6</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$xm</string>
			<key>VALUE</key>
			<string>{$x*$m}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$yn</string>
			<key>VALUE</key>
			<string>{$n*$y}</string>
		</dict>
	</array>
</dict>
</plist>
