<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>How many objects are there?</string>
	<key>EVAL_MODE</key>
	<integer>0</integer>
	<key>HOST_BACKGROUND_IMAGE</key>
	<string>/images/bg/bg-ipad-addition_2_7_9.png</string>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<string>{$x}</string>
			<key>POS_X</key>
			<integer>350</integer>
			<key>POS_Y</key>
			<integer>450</integer>
		</dict>
		<dict>
			<key>QUANTITY</key>
			<string>{$y}</string>
			<key>POS_X</key>
			<integer>550</integer>
			<key>POS_Y</key>
			<integer>650</integer>
		</dict>
	</array>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>How many objects are there?</string>
		<key>INTERNAL_DESCRIPTION</key>
		<string>count diff objects - 2types</string>
		<key>PICKER_LAYOUT</key>
		<integer>1</integer>
		<key>ANIMATE_FROM_PICKER</key>
		<true/>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<string>{$x+$y}</string>
	</dict>
	<key>DVARS</key>
	<dict>
		<key>$x</key>
		<dict>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>3</string>
		</dict>
		<key>$y</key>
		<dict>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>3</string>
		</dict>
	</dict>
</dict>
</plist>
