<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>9/3</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<integer>1</integer>
			<key>POS_X</key>
			<integer>250</integer>
			<key>POS_Y</key>
			<integer>275</integer>
			<key>LABEL</key>
			<string>Jack</string>
		</dict>
		<dict>
			<key>QUANTITY</key>
			<integer>1</integer>
			<key>POS_X</key>
			<integer>475</integer>
			<key>POS_Y</key>
			<integer>275</integer>
			<key>LABEL</key>
			<string>{@bname}</string>
		</dict>
		<dict>
			<key>QUANTITY</key>
			<integer>1</integer>
			<key>POS_X</key>
			<integer>700</integer>
			<key>POS_Y</key>
			<integer>275</integer>
			<key>LABEL</key>
			<string>{@gname}</string>
		</dict>
		<dict>
			<key>QUANTITY</key>
			<integer>7</integer>
			<key>POS_X</key>
			<integer>400</integer>
			<key>POS_Y</key>
			<integer>450</integer>
		</dict>
		<dict>
			<key>QUANTITY</key>
			<integer>8</integer>
			<key>POS_X</key>
			<integer>650</integer>
			<key>POS_Y</key>
			<integer>450</integer>
		</dict>
	</array>
	<key>SOLUTION</key>
	<array>
		<integer>100</integer>
	</array>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_COMPLETE_TEXT</key>
		<string>well done!!</string>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>4</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>5</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>6</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>18 {@item} are shared evenly between {@gname}, {@bname} and Jack. How many {@item} does {@gname} get?</string>
		<key>META_QUESTION_INCOMPLETE_TEXT</key>
		<string>Try again</string>
	</dict>
	<key>HOST_BACKGROUND_IMAGE</key>
	<string>/images/bg/bg-ipad-addition_2_7_9.png</string>
	<key>DSTRINGS</key>
	<dict>
		<key>@bname</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>Gareth</string>
				<string>Nick</string>
				<string>Ed</string>
				<string>Dave</string>
				<string>Richard</string>
				<string>Mark</string>
				<string>Scott</string>
			</array>
		</dict>
		<key>@gname</key>
		<dict>
			<key>DATA</key>
			<array>
				<string>Claire</string>
				<string>Winnie</string>
				<string>Sarah</string>
				<string>Simone</string>
				<string>Elaine</string>
			</array>
			<key>MODE</key>
			<string>RANDOM</string>
		</dict>
		<key>@item</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>cookies</string>
				<string>pens</string>
				<string>crayons</string>
				<string>coins</string>
				<string>batteries</string>
				<string>packs of crisps</string>
				<string>drinks</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
