<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Claire, Sarah and Jo share 9 {@item} equally. Show that they get 3 each. </string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<integer>9</integer>
			<key>POS_X</key>
			<integer>550</integer>
			<key>POS_Y</key>
			<integer>500</integer>
		</dict>
	</array>
	<key>SOLUTION</key>
	<array>
		<integer>3</integer>
		<string>3</string>
		<string>3</string>
	</array>
	<key>DSTRINGS</key>
	<dict>
		<key>@item</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>blue goo</string>
				<string>red goo</string>
				<string>cookies</string>
				<string>pens</string>
				<string>crayons</string>
				<string>yellow goo</string>
				<string>green goo</string>
			</array>
		</dict>
	</dict>
	<key>HOST_BACKGROUND_IMAGE</key>
	<string>/images/bg/bg-ipad-addition_2_7_9.png</string>
</dict>
</plist>
