<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>REPEAT_AS_IS_MIN</key>
	<string>3</string>
	<key>MASTERY</key>
	<true/>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$n</string>
			<key>VALUE</key>
			<string>{$m*$p}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$m</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>6</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$p</string>
			<key>MIN</key>
			<string>3</string>
			<key>MAX</key>
			<string>6</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$var3</string>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>SELECT_FROM</key>
			<array>
				<string>6</string>
				<string>8</string>
				<string>10</string>
			</array>
		</dict>
	</array>
	<key>DSTRINGS</key>
	<dict>
		<key>@cname</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>fairly</string>
				<string>equally</string>
			</array>
		</dict>
		<key>@bname</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>&lt;b:oi tag=&quot;thing_1&quot;/&gt;</string>
				<string>&lt;b:oi tag=&quot;thing_2&quot;/&gt;</string>
				<string>&lt;b:oi tag=&quot;thing_3&quot;/&gt;</string>
				<string>&lt;b:oi tag=&quot;thing_4&quot;/&gt;</string>
				<string>&lt;b:oi tag=&quot;thing_5&quot;/&gt;</string>
			</array>
		</dict>
	</dict>
	<key>HOST_BACKGROUND_IMAGE</key>
	<string>/images/bg/bg-ipad-addition_2_7_9.png</string>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>{$m*$p} goos are shared {@cname} between {$m} goo people. How many goos does each goo person get?</string>
		<key>PICKER_LAYOUT</key>
		<integer>1</integer>
		<key>ANIMATE_FROM_PICKER</key>
		<true/>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<string>{$p}</string>
	</dict>
</dict>
</plist>
