<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Add blocks to {$y} to make {$z} </string>
	<key>TOOL_KEY</key>
	<string>PlaceValue</string>
	<key>NUMBER_COLS</key>
	<integer>1</integer>
	<key>FIRST_COL_VALUE</key>
	<integer>1</integer>
	<key>COL_BASE_VALUE</key>
	<string>10</string>
	<key>DEFAULT_COL</key>
	<integer>1</integer>
	<key>ROPES_PER_COL</key>
	<string>{$z/2}</string>
	<key>ROWS_PER_COL</key>
	<integer>4</integer>
	<key>ALLOW_CONDENSING</key>
	<false/>
	<key>ALLOW_MULCHING</key>
	<false/>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>REJECT_MODE</key>
	<integer>0</integer>
	<key>SHOW_CAGE</key>
	<true/>
	<key>SHOW_COUNT</key>
	<false/>
	<key>SHOW_COUNT_BLOCK</key>
	<true/>
	<key>FADE_COUNT</key>
	<false/>
	<key>REPEAT_MIN</key>
	<integer>2</integer>
	<key>CUSTOM_COLUMN_HEADERS</key>
	<true/>
	<key>COLUMN_HEADERS</key>
	<dict>
		<key>0</key>
		<string>ones</string>
	</dict>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>PUT_IN_COL</key>
			<integer>0</integer>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>NUMBER</key>
			<string>{$y}</string>
			<key>NUMBER_PRE_COUNTED</key>
			<string>{$y}</string>
		</dict>
	</array>
	<key>SOLUTION</key>
	<dict>
		<key>SOLUTION_TYPE</key>
		<string>TOTAL_COUNT</string>
		<key>SOLUTION_VALUE</key>
		<string>{$z}</string>
	</dict>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>8</string>
			<key>MAX</key>
			<string>13</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$z</string>
			<key>MIN</key>
			<string>14</string>
			<key>MAX</key>
			<string>19</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$y</string>
			<key>VALUE</key>
			<string>{$z-$x}</string>
		</dict>
	</array>
</dict>
</plist>
