<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MASTERY</key>
	<true/>
	<key>REPEAT_SET</key>
	<string>9?+10</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>This is {$ran1}{$ran2}{$ran3}. {@name1} 10.</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>adding 10 to xxx</string>
	<key>TOOL_KEY</key>
	<string>PlaceValue</string>
	<key>COL_BASE_VALUE</key>
	<integer>10</integer>
	<key>FIRST_COL_VALUE</key>
	<integer>100</integer>
	<key>NUMBER_COLS</key>
	<integer>3</integer>
	<key>DEFAULT_COL</key>
	<integer>2</integer>
	<key>ROPES_PER_COL</key>
	<integer>2</integer>
	<key>ROWS_PER_COL</key>
	<integer>5</integer>
	<key>ALLOW_CONDENSING</key>
	<true/>
	<key>ALLOW_MULCHING</key>
	<true/>
	<key>ALLOW_PANNING</key>
	<false/>
	<key>SHOW_CAGE</key>
	<true/>
	<key>X_OFFSET</key>
	<real>0.3</real>
	<key>DEFAULT_SCALE</key>
	<real>0.9</real>
	<key>COLUMN_SPACING</key>
	<real>0.3</real>
	<key>SHOW_NEG_CAGE</key>
	<true/>
	<key>SHOW_COL_HEADER</key>
	<false/>
	<key>SHOW_VALUE</key>
	<true/>
	<key>SHOW_BASE_SELECTION</key>
	<true/>
	<key>PICKUP_SPRITE_FILENAME</key>
	<string>/images/placevalue/cage-neg.png</string>
	<key>PROXIMITY_SPRITE_FILENAME</key>
	<string>/images/placevalue/cage-pos.png</string>
	<key>CUSTOM_COLUMN_HEADERS</key>
	<dict>
		<key>100</key>
		<string>hundreds</string>
		<key>10</key>
		<string>tens</string>
		<key>1</key>
		<string>ones</string>
	</dict>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>PUT_IN_COL</key>
			<integer>0</integer>
			<key>NUMBER</key>
			<string>{$ran1}</string>
		</dict>
		<dict>
			<key>PUT_IN_COL</key>
			<integer>1</integer>
			<key>NUMBER</key>
			<string>9</string>
		</dict>
		<dict>
			<key>PUT_IN_COL</key>
			<integer>2</integer>
			<key>NUMBER</key>
			<string>{$ran3}</string>
		</dict>
	</array>
	<key>REJECT_MODE</key>
	<integer>1</integer>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>SOLUTION</key>
	<dict>
		<key>SOLUTION_TYPE</key>
		<string>TOTAL_COUNT</string>
		<key>SOLUTION_VALUE</key>
		<string>{$ran1+1}{$ran2-9}{$ran3}</string>
		<key>SOLUTION_DISPLAY_TEXT</key>
		<string>{$ran1+1}{$ran2-9}{$ran3}</string>
		<key>PLAY_SOUND</key>
		<string>complete.wav</string>
	</dict>
	<key>COLUMN_SPRITES</key>
	<dict>
		<key>100</key>
		<string>/images/placevalue/obj-placevalue-unit100.png</string>
		<key>10</key>
		<string>/images/placevalue/obj-placevalue-unit10.png</string>
		<key>1</key>
		<string>/images/placevalue/obj-placevalue-unit1.png</string>
	</dict>
	<key>COLUMN_CAGES</key>
	<dict>
		<key>100</key>
		<true/>
		<key>10</key>
		<true/>
		<key>1</key>
		<true/>
	</dict>
	<key>COLUMN_NEG_CAGES</key>
	<dict>
		<key>10</key>
		<false/>
		<key>1</key>
		<false/>
	</dict>
	<key>DSTRINGS</key>
	<dict>
		<key>@name1</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>Add</string>
				<string>Add on</string>
				<string>Increase this by</string>
			</array>
		</dict>
	</dict>
	<key>DVARS</key>
	<dict>
		<key>$ran1</key>
		<dict>
			<key>RETAIN</key>
			<true/>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>9</string>
		</dict>
		<key>$ran2</key>
		<dict>
			<key>RETAIN</key>
			<true/>
			<key>SELECT_FROM</key>
			<array>
				<string>9</string>
			</array>
		</dict>
		<key>$ran3</key>
		<dict>
			<key>RETAIN</key>
			<true/>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>9</string>
		</dict>
	</dict>
</dict>
</plist>
