<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MASTERY</key>
	<true/>
	<key>REPEAT_AS_IS_MIN</key>
	<string>2</string>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>SELECT_FROM</key>
			<array>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
			</array>
		</dict>
	</array>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>{$x},{$x+6},{$x+12},{$x+18},...</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>7,12,19,25,...</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>6,12,19,27,...</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>8,15,21,27,...</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>A sequence is made by starting from a number and adding on 6 each time. Which of these could it be?</string>
	</dict>
</dict>
</plist>
