<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MASTERY</key>
	<true/>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>1 to 10</string>
	<key>EVAL_MODE</key>
	<string>1</string>
	<key>EVAL_TYPE</key>
	<string>ALL_ENABLED</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Sort the numbers from smallest to largest starting on the left.</string>
	<key>NUMBER_MODE</key>
	<string>numicon</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:on number=&quot;9&quot; /&gt;
&lt;b:on number=&quot;7&quot; /&gt;
&lt;b:on number=&quot;2&quot; /&gt;
&lt;b:on number=&quot;4&quot; /&gt;
&lt;b:on number=&quot;8&quot; /&gt;
&lt;b:on number=&quot;10&quot; /&gt;
&lt;b:on number=&quot;5&quot; /&gt;
&lt;b:on number=&quot;3&quot; /&gt;
&lt;b:on number=&quot;1&quot; /&gt;
&lt;b:on number=&quot;6&quot; /&gt;</string>
		<string>&lt;b:on number=&quot;1&quot; enabled=&quot;no&quot;/&gt;
&lt;b:on number=&quot;2&quot; enabled=&quot;no&quot;/&gt;
&lt;b:on number=&quot;3&quot; enabled=&quot;no&quot;/&gt;
&lt;b:on number=&quot;4&quot; enabled=&quot;no&quot;/&gt;
&lt;b:on number=&quot;5&quot; enabled=&quot;no&quot;/&gt;
&lt;b:on number=&quot;6&quot; enabled=&quot;no&quot;/&gt;
&lt;b:on number=&quot;7&quot; enabled=&quot;no&quot;/&gt;
&lt;b:on number=&quot;8&quot; enabled=&quot;no&quot;/&gt;
&lt;b:on number=&quot;9&quot; enabled=&quot;no&quot;/&gt;
&lt;b:on number=&quot;10&quot; enabled=&quot;no&quot;/&gt;</string>
	</array>
	<key>DVARS</key>
	<dict/>
	<key>DSTRINGS</key>
	<dict>
		<key>@object</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>apples</string>
				<string>sweets</string>
				<string>pens</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
