<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MASTERY</key>
	<true/>
	<key>HOST_BACKGROUND_IMAGE</key>
	<string>/images/bg/bg-ipad-addition_2_7_9.png</string>
	<key>DVARS</key>
	<dict>
		<key>$number_larger</key>
		<dict>
			<key>MAX</key>
			<string>20</string>
			<key>MIN</key>
			<string>15</string>
		</dict>
		<key>$number_smaller</key>
		<dict>
			<key>MAX</key>
			<string>13</string>
			<key>MIN</key>
			<string>11</string>
		</dict>
	</dict>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>How much larger is {$number_larger} than {$number_smaller}?</string>
		<key>PICKER_LAYOUT</key>
		<integer>1</integer>
		<key>PICKER_ORIGIN_X</key>
		<integer>0</integer>
		<key>PICKER_ORIGIN_Y</key>
		<integer>0</integer>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<string>{$number_larger-$number_smaller}</string>
	</dict>
</dict>
</plist>
