<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FOUNDATION</key>
	<true/>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>DISTRIBUTION_EVAL_TYPE</key>
	<integer>1</integer>
	<key>PROBLEM_DESCRIPTION</key>
	<string>&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt; &lt;b:t&gt;has some goo. It gives {$x} goo to&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_2}&quot;/&gt; &lt;b:t&gt;.&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;now has {$y} goo. How many did it have {@first}?&lt;/b:t&gt;</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<string>{$x}</string>
			<key>POS_X</key>
			<integer>400</integer>
			<key>POS_Y</key>
			<integer>400</integer>
			<key>LABEL</key>
			<string>&lt;b:oi tag=&quot;thing_1&quot;/&gt;</string>
		</dict>
		<dict>
			<key>QUANTITY</key>
			<string>{$y}</string>
			<key>POS_X</key>
			<integer>700</integer>
			<key>POS_Y</key>
			<integer>400</integer>
			<key>LABEL</key>
			<string>&lt;b:oi tag=&quot;thing_2&quot;/&gt;</string>
		</dict>
	</array>
	<key>SOLUTION</key>
	<array>
		<dict>
			<key>Ed</key>
			<integer>9</integer>
			<key>Claire</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>DSTRINGS</key>
	<dict>
		<key>@first</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>at first</string>
				<string>to start with</string>
			</array>
		</dict>
		<key>@thing_1</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>thing_1</string>
				<string>thing_2</string>
				<string>thing_3</string>
			</array>
		</dict>
		<key>@thing_2</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>thing_4</string>
				<string>thing_5</string>
			</array>
		</dict>
	</dict>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt; &lt;b:t&gt;has some goo. It gives {$x} goo to&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_2}&quot;/&gt; &lt;b:t&gt;.&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;now has {$y} goo. How many did it have {@first}?&lt;/b:t&gt;</string>
		<key>PICKER_LAYOUT</key>
		<integer>1</integer>
		<key>PICKER_ORIGIN_X</key>
		<integer>0</integer>
		<key>PICKER_ORIGIN_Y</key>
		<integer>0</integer>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<string>{$z}</string>
	</dict>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>4</string>
			<key>MAX</key>
			<string>7</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$y</string>
			<key>MIN</key>
			<string>3</string>
			<key>MAX</key>
			<string>6</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$z</string>
			<key>VALUE</key>
			<string>{$x+$y}</string>
		</dict>
	</array>
	<key>REPEAT_AS_IS_MIN</key>
	<integer>2</integer>
</dict>
</plist>
