<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MASTERY</key>
	<true/>
	<key>PROBLEM_DESCRIPTION</key>
	<string>&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt; &lt;b:t&gt;thinks of a number.&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;adds {$x} to the number and gets 17. What number was&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;thinking of?&lt;/b:t&gt;</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt; &lt;b:t&gt;thinks of a number.&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;adds {$x} to the number and gets 17. What number was&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;thinking of?&lt;/b:t&gt;</string>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>6</string>
			<key>MAX</key>
			<string>8</string>
		</dict>
	</array>
	<key>DSTRINGS</key>
	<dict>
		<key>@first</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>at first</string>
				<string>to start with</string>
			</array>
		</dict>
		<key>@thing_1</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>thing_1</string>
				<string>thing_2</string>
				<string>thing_3</string>
			</array>
		</dict>
		<key>@thing_2</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>thing_4</string>
				<string>thing_5</string>
			</array>
		</dict>
	</dict>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt; &lt;b:t&gt;thinks of a number.&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;adds {$x} to the number and gets 17. What number was&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;thinking of?&lt;/b:t&gt;</string>
		<key>PICKER_LAYOUT</key>
		<integer>1</integer>
		<key>PICKER_ORIGIN_X</key>
		<integer>0</integer>
		<key>PICKER_ORIGIN_Y</key>
		<integer>0</integer>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<string>{17-$x}</string>
	</dict>
</dict>
</plist>
