<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Starting at {$x}, jump on {$y}. </string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>Starting at {$x}, jump on {$y}. </string>
	<key>TOOL_KEY</key>
	<string>NLine</string>
	<key>START_VALUE</key>
	<string>{$x}</string>
	<key>MIN_VALUE</key>
	<string>0</string>
	<key>MAX_VALUE</key>
	<string>30</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>REJECT_MODE</key>
	<integer>1</integer>
	<key>EVAL_INTERVAL</key>
	<string>1</string>
	<key>EVAL_TYPE</key>
	<string>JUMP_SEQUENCE</string>
	<key>EVAL_TARGET</key>
	<string>{$z}</string>
	<key>EVAL_JUMP_SET</key>
	<array>
		<string>{$y}</string>
	</array>
	<key>HIDE_ALL_NUMBERS</key>
	<true/>
	<key>JUMP_MODE</key>
	<true/>
	<key>SHOW_NUMBERS_AT_INTERVALS</key>
	<array>
		<string>2</string>
	</array>
	<key>HIDE_ALL_NOTCHES</key>
	<false/>
	<key>SHOW_NOTCHES_AT_INTERVALS</key>
	<array/>
	<key>HIDE_START_NUMBER</key>
	<false/>
	<key>HIDE_END_NUMBER</key>
	<false/>
	<key>HIDE_START_NOTCH</key>
	<false/>
	<key>HIDE_END_NOTCH</key>
	<false/>
	<key>DISABLE_SNAPPING_TO_NOTCH</key>
	<false/>
	<key>EVAL_PLUS_MINUS_THRESHOLD</key>
	<integer>0</integer>
	<key>COUNT_OUT_LOUD_AT_INTERVALS</key>
	<array>
		<integer>1</integer>
	</array>
	<key>SHOW_COUNT_HISTORY_AT_INTERVALS</key>
	<array/>
	<key>USER_POPULATED_NUMBERS</key>
	<array>
		<string>2</string>
		<string>4</string>
		<string>6</string>
		<string>8</string>
	</array>
	<key>RENDER_STITCHES_AT_INTERVAL</key>
	<integer>0</integer>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>6</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$y</string>
			<key>MIN</key>
			<string>6</string>
			<key>MAX</key>
			<string>11</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$z</string>
			<key>VALUE</key>
			<string>{$x+$y}</string>
		</dict>
	</array>
	<key>REPEAT_AND_SCAFFOLD_MIN</key>
	<integer>3</integer>
</dict>
</plist>
