<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Claire and Sarah share 3 packs of {@item} fairly. Each pack has 2 {@item}. How many does Claire get compared to Sarah?</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<integer>2</integer>
			<key>POS_X</key>
			<integer>550</integer>
			<key>POS_Y</key>
			<integer>550</integer>
		</dict>
		<dict>
			<key>QUANTITY</key>
			<integer>2</integer>
			<key>POS_X</key>
			<integer>550</integer>
			<key>POS_Y</key>
			<integer>450</integer>
		</dict>
		<dict>
			<key>QUANTITY</key>
			<integer>2</integer>
			<key>POS_X</key>
			<integer>550</integer>
			<key>POS_Y</key>
			<integer>350</integer>
		</dict>
	</array>
	<key>SOLUTION</key>
	<array>
		<integer>7</integer>
	</array>
	<key>DSTRINGS</key>
	<dict>
		<key>@item</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>blue goo</string>
				<string>red goo</string>
				<string>goos</string>
				<string>goos</string>
				<string>goos</string>
				<string>yellow goo</string>
				<string>green goo</string>
			</array>
		</dict>
	</dict>
	<key>HOST_BACKGROUND_IMAGE</key>
	<string>/images/bg/bg-ipad-addition_2_7_9.png</string>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_RANDOMISE_ANSWERS</key>
		<false/>
		<key>META_QUESTION_COMPLETE_TEXT</key>
		<string>well done!!</string>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>More</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>Same</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>Less</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>&lt;b:oi tag=&quot;thing_3&quot;/&gt; &lt;b:t&gt; and&lt;/b:t&gt; &lt;b:oi tag=&quot;thing_1&quot;/&gt;  &lt;b:t&gt;share 3 packs of {@item} fairly. Each pack has 2 {@item}. How many does &lt;/b:t&gt;&lt;b:oi tag=&quot;thing_3&quot;/&gt; &lt;b:t&gt; get compared to &lt;/b:t&gt;&lt;b:oi tag=&quot;thing_1&quot;/&gt; &lt;b:t&gt;?&lt;/b:t&gt;</string>
		<key>META_QUESTION_INCOMPLETE_TEXT</key>
		<string>Try again</string>
	</dict>
</dict>
</plist>
