<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INTERNAL_DESCRIPTION</key>
	<string>&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;buys {$n} blue goo and {$m} green goo.&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_2}&quot;/&gt;&lt;b:t&gt;buys {$p} blue goo and {$q} green goo. Each blue goo costs {$x} gobbles and each green goo costs {$y} gobbles. How much more or less did&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_2}&quot;/&gt;&lt;b:t&gt;spend than&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;?&lt;/b:t&gt;</string>
	<key>DSTRINGS</key>
	<dict>
		<key>@thing_1</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>thing_1</string>
				<string>thing_2</string>
				<string>thing_3</string>
			</array>
		</dict>
		<key>@thing_2</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>thing_4</string>
				<string>thing_5</string>
			</array>
		</dict>
	</dict>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;buys {$n} blue goo and {$m} green goo.&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_2}&quot;/&gt;&lt;b:t&gt;buys {$p} blue goo and {$q} green goo. Each blue goo costs {$x} gobbles and each green goo costs {$y} gobbles. How much more or less did&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_2}&quot;/&gt;&lt;b:t&gt;spend than&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;?&lt;/b:t&gt;</string>
		<key>PICKER_LAYOUT</key>
		<integer>1</integer>
		<key>PICKER_ORIGIN_X</key>
		<integer>0</integer>
		<key>PICKER_ORIGIN_Y</key>
		<integer>0</integer>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<string>{$1tot-$2tot}</string>
	</dict>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$m</string>
			<key>MIN</key>
			<string>4</string>
			<key>MAX</key>
			<string>7</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$n</string>
			<key>MIN</key>
			<string>5</string>
			<key>MAX</key>
			<string>8</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$p</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>5</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$q</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>5</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>6</string>
			<key>MAX</key>
			<string>8</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$y</string>
			<key>MIN</key>
			<string>3</string>
			<key>MAX</key>
			<string>5</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$xn</string>
			<key>VALUE</key>
			<string>{$x*$n}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$xp</string>
			<key>VALUE</key>
			<string>{$x*$p}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$ym</string>
			<key>VALUE</key>
			<string>{$y*$m}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$yq</string>
			<key>VALUE</key>
			<string>{$y*$q}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$1tot</string>
			<key>VALUE</key>
			<string>{$xn+$ym}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$2tot</string>
			<key>VALUE</key>
			<string>{$xp+$yq}</string>
		</dict>
	</array>
</dict>
</plist>
