<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MASTERY</key>
	<true/>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Counting down from 19, press at 14.</string>
	<key>TOOL_KEY</key>
	<string>CountingTimer</string>
	<key>SOLUTION</key>
	<integer>14</integer>
	<key>SHOW_COUNT</key>
	<true/>
	<key>COUNT_TYPE</key>
	<integer>1</integer>
	<key>INCREMENT</key>
	<integer>-1</integer>
	<key>COUNT_MIN</key>
	<integer>10</integer>
	<key>COUNT_MAX</key>
	<integer>19</integer>
</dict>
</plist>
