<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MASTERY</key>
	<true/>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Write an equation to express this.</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>1</string>
	<key>EVAL_MODE</key>
	<string>1</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;Arrange these numbers from smallest to largest.&lt;/b:t&gt;
&lt;b:ot tag=&quot;b&quot;&gt;{$var1+1}&lt;/b:ot&gt;
&lt;b:t&gt;,&lt;/b:t&gt;
&lt;b:ot tag=&quot;d&quot;&gt;{$var1+3}&lt;/b:ot&gt;
&lt;b:t&gt;,&lt;/b:t&gt;
&lt;b:ot tag=&quot;a&quot;&gt;{$var1}&lt;/b:ot&gt;
&lt;b:t&gt;,&lt;/b:t&gt;
&lt;b:ot tag=&quot;c&quot;&gt;{$var1+2}&lt;/b:ot&gt;
&lt;b:t&gt;.&lt;/b:t&gt;</string>
		<string>&lt;b:ot tag=&quot;a&quot; enabled=&quot;no&quot;&gt;{$var1}&lt;/b:ot&gt;
&lt;b:op op=&quot;,&quot; picker=&quot;yes&quot; /&gt;
&lt;b:ot tag=&quot;b&quot; enabled=&quot;no&quot;&gt;{$var1+1}&lt;/b:ot&gt;
&lt;b:op op=&quot;,&quot; picker=&quot;yes&quot; /&gt;
&lt;b:ot tag=&quot;c&quot; enabled=&quot;no&quot;&gt;{$var1+2}&lt;/b:ot&gt;
&lt;b:op op=&quot;,&quot; picker=&quot;yes&quot; /&gt;
&lt;b:ot tag=&quot;d&quot; enabled=&quot;no&quot;&gt;{$var1+3}&lt;/b:ot&gt;</string>
	</array>
	<key>EVAL_TYPE</key>
	<string>ALL_ENABLED</string>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$var1</string>
			<key>RETAIN</key>
			<true/>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>7</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$oneten</string>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>SELECT_FROM</key>
			<array>
				<string>10</string>
				<string>1</string>
			</array>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$actual</string>
			<key>VALUE</key>
			<string>{$var1+$oneten}</string>
		</dict>
	</array>
</dict>
</plist>
