<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Goo are split between 5 containers. Is there more goo in each container if there are 10 goo or 15 goo?</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>202brackets</string>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_RANDOMISE_ANSWERS</key>
		<false/>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>10</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>15</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>Goos are split between 5 containers. Is there more goo in each container if there are 10 goo or 15 goo?</string>
	</dict>
</dict>
</plist>
