<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MASTERY</key>
	<true/>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>&lt;b:oi tag=&quot;thing_5&quot;/&gt; &lt;b:t&gt;has 11 goos. &lt;/b:t&gt;&lt;b:oi tag=&quot;thing_5&quot;/&gt; &lt;b:t&gt;gives away 6 of them. How many does&lt;/b:t&gt;&lt;b:oi tag=&quot;thing_5&quot;/&gt;&lt;b:t&gt;have now?&lt;/b:t&gt;</string>
		<key>PICKER_LAYOUT</key>
		<integer>1</integer>
		<key>PICKER_ORIGIN_X</key>
		<integer>0</integer>
		<key>PICKER_ORIGIN_Y</key>
		<integer>0</integer>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<integer>5</integer>
	</dict>
</dict>
</plist>
