<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>How many tens between {$x} and {$y}?</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>How many tens between {$x} and {$y}?</string>
	<key>TOOL_KEY</key>
	<string>NLine</string>
	<key>START_VALUE</key>
	<string>{$x}</string>
	<key>MIN_VALUE</key>
	<string>0</string>
	<key>MAX_VALUE</key>
	<string>300</string>
	<key>JUMP_MODE</key>
	<true/>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>EVAL_TYPE</key>
	<string>REPEATED_ADDITION</string>
	<key>EVAL_INTERVAL</key>
	<string>10</string>
	<key>REJECT_MODE</key>
	<integer>1</integer>
	<key>EVAL_TARGET</key>
	<integer>1</integer>
	<key>HIDE_ALL_NUMBERS</key>
	<false/>
	<key>SHOW_NUMBERS_AT_INTERVALS</key>
	<array>
		<string>20</string>
	</array>
	<key>HIDE_ALL_NOTCHES</key>
	<false/>
	<key>HIDE_START_NUMBER</key>
	<false/>
	<key>HIDE_END_NUMBER</key>
	<false/>
	<key>HIDE_START_NOTCH</key>
	<false/>
	<key>HIDE_END_NOTCH</key>
	<false/>
	<key>DISABLE_SNAPPING_TO_NOTCH</key>
	<false/>
	<key>EVAL_PLUS_MINUS_THRESHOLD</key>
	<integer>0</integer>
	<key>COUNT_OUT_LOUD_AT_INTERVALS</key>
	<array>
		<integer>10</integer>
	</array>
	<key>SHOW_COUNT_HISTORY_AT_INTERVALS</key>
	<array>
		<string>10</string>
	</array>
	<key>RENDER_STITCHES_AT_INTERVAL</key>
	<integer>0</integer>
	<key>SEGMENT_VALUE</key>
	<integer>10</integer>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>SELECT_FROM</key>
			<array>
				<string>0</string>
				<string>10</string>
				<string>30</string>
				<string>20</string>
			</array>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$y</string>
			<key>SELECT_FROM</key>
			<array>
				<string>50</string>
				<string>60</string>
				<string>70</string>
				<string>80</string>
				<string>90</string>
				<string>100</string>
			</array>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$z</string>
			<key>VALUE</key>
			<string>{$y-$x}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$ans</string>
			<key>VALUE</key>
			<string>{$z/10}</string>
		</dict>
	</array>
	<key>REPEAT_AS_IS_MIN</key>
	<integer>3</integer>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>How many tens between {$x} and {$y}?</string>
		<key>PICKER_LAYOUT</key>
		<integer>1</integer>
		<key>PICKER_ORIGIN_X</key>
		<integer>0</integer>
		<key>PICKER_ORIGIN_Y</key>
		<integer>0</integer>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<string>{$ans}</string>
	</dict>
</dict>
</plist>
