<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CORE</key>
	<true/>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Show that {$wx}+{$yz}={$wx+$yz}.</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>Starting at 1, count forward in 3s. Stop when you reach 16.</string>
	<key>TOOL_KEY</key>
	<string>NLine</string>
	<key>START_VALUE</key>
	<string>{$wx}</string>
	<key>MIN_VALUE</key>
	<string>0</string>
	<key>MAX_VALUE</key>
	<string>20</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>EVAL_TYPE</key>
	<string>JUMP_SEQUENCE</string>
	<key>REJECT_MODE</key>
	<integer>0</integer>
	<key>EVAL_TARGET</key>
	<string>{$wx+$yz}</string>
	<key>HIDE_ALL_NUMBERS</key>
	<false/>
	<key>HIDE_ALL_NOTCHES</key>
	<false/>
	<key>COUNT_OUT_LOUD_AT_INTERVALS</key>
	<true/>
	<key>HIDE_START_NUMBER</key>
	<false/>
	<key>HIDE_END_NUMBER</key>
	<false/>
	<key>HIDE_START_NOTCH</key>
	<false/>
	<key>HIDE_END_NOTCH</key>
	<false/>
	<key>SHOW_NUMBERS_AT_INTERVALS</key>
	<array>
		<string>1</string>
	</array>
	<key>DISABLE_SNAPPING_TO_NOTCH</key>
	<false/>
	<key>EVAL_PLUS_MINUS_THRESHOLD</key>
	<integer>0</integer>
	<key>JUMP_MODE</key>
	<true/>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$w</string>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>SELECT_FROM</key>
			<array>
				<string>0</string>
				<string>10</string>
			</array>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>5</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$yz</string>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>4</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$wx</string>
			<key>VALUE</key>
			<string>{$w+$x}</string>
		</dict>
	</array>
</dict>
</plist>
