<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>DISTRIBUTION_EVAL_TYPE</key>
	<integer>1</integer>
	<key>PROBLEM_DESCRIPTION</key>
	<string>&lt;b:oi tag=&quot;thing_1&quot;/&gt; &lt;b:t&gt;has {$x} goo and &lt;/b:t&gt;&lt;b:oi tag=&quot;thing_3&quot;/&gt; &lt;b:t&gt;has {$y} goo. &lt;/b:t&gt;&lt;b:oi tag=&quot;thing_1&quot;/&gt;&lt;b:t&gt; gives some to &lt;/b:t&gt;&lt;b:oi tag=&quot;thing_3&quot;/&gt;&lt;b:t&gt;, and is left with {$z} goo. How many were given away?&lt;/b:t&gt;</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<string>{$x}</string>
			<key>POS_X</key>
			<integer>400</integer>
			<key>POS_Y</key>
			<integer>550</integer>
			<key>LABEL</key>
			<string>&lt;b:oi tag=&quot;thing_1&quot;/&gt;</string>
		</dict>
		<dict>
			<key>QUANTITY</key>
			<string>{$y}</string>
			<key>POS_X</key>
			<integer>700</integer>
			<key>POS_Y</key>
			<integer>550</integer>
			<key>LABEL</key>
			<string>&lt;b:oi tag=&quot;thing_3&quot;/&gt;</string>
		</dict>
	</array>
	<key>SOLUTION</key>
	<array>
		<dict>
			<key>Ed</key>
			<integer>9</integer>
			<key>Claire</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>DSTRINGS</key>
	<dict>
		<key>@item</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>goos</string>
				<string>goos</string>
				<string>goos</string>
				<string>goos</string>
			</array>
		</dict>
	</dict>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>&lt;b:oi tag=&quot;thing_1&quot;/&gt; &lt;b:t&gt;has {$x} goo and &lt;/b:t&gt;&lt;b:oi tag=&quot;thing_3&quot;/&gt; &lt;b:t&gt;has {$y} goo. &lt;/b:t&gt;&lt;b:oi tag=&quot;thing_1&quot;/&gt;&lt;b:t&gt; gives some to &lt;/b:t&gt;&lt;b:oi tag=&quot;thing_3&quot;/&gt;&lt;b:t&gt;, and is left with {$z} goo. How many were given away?&lt;/b:t&gt;</string>
		<key>PICKER_LAYOUT</key>
		<integer>1</integer>
		<key>PICKER_ORIGIN_X</key>
		<integer>0</integer>
		<key>PICKER_ORIGIN_Y</key>
		<integer>0</integer>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<string>{$ans}</string>
	</dict>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>9</string>
			<key>MAX</key>
			<string>18</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$y</string>
			<key>MIN</key>
			<string>3</string>
			<key>MAX</key>
			<string>8</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$z</string>
			<key>MIN</key>
			<string>4</string>
			<key>MAX</key>
			<string>8</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$ans</string>
			<key>VALUE</key>
			<string>{$x-$z}</string>
		</dict>
	</array>
	<key>REPEAT_AS_IS_MIN</key>
	<integer>3</integer>
</dict>
</plist>
