<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FOUNDATION</key>
	<true/>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>What number can be added to {$b} to make {$a}?</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<string>{$b}</string>
			<key>POS_X</key>
			<integer>550</integer>
			<key>POS_Y</key>
			<integer>550</integer>
		</dict>
	</array>
	<key>SOLUTION</key>
	<array>
		<string>2</string>
	</array>
	<key>DSTRINGS</key>
	<dict>
		<key>@bname</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>Gareth</string>
				<string>Nick</string>
				<string>Ed</string>
				<string>Dave</string>
				<string>Richard</string>
				<string>Mark</string>
				<string>Scott</string>
			</array>
		</dict>
		<key>@gname</key>
		<dict>
			<key>DATA</key>
			<array>
				<string>Claire</string>
				<string>Winnie</string>
				<string>Sarah</string>
				<string>Simone</string>
				<string>Elaine</string>
			</array>
			<key>MODE</key>
			<string>RANDOM</string>
		</dict>
		<key>@item</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>cookies</string>
				<string>pens</string>
				<string>crayons</string>
				<string>coins</string>
				<string>batteries</string>
				<string>drinks</string>
			</array>
		</dict>
	</dict>
	<key>HOST_BACKGROUND_IMAGE</key>
	<string>/images/bg/bg-ipad-addition_2_7_9.png</string>
	<key>HAS_CAGE</key>
	<true/>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>What number can be added to 8 to make 10?</string>
		<key>PICKER_LAYOUT</key>
		<integer>1</integer>
		<key>PICKER_ORIGIN_X</key>
		<integer>0</integer>
		<key>PICKER_ORIGIN_Y</key>
		<integer>0</integer>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<string>{$z}</string>
	</dict>
	<key>DVARS</key>
	<array>
		<dict>
			<key>RECALL</key>
			<string>$a</string>
		</dict>
		<dict>
			<key>RECALL</key>
			<string>$b</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$z</string>
			<key>VALUE</key>
			<string>{$a-$b}</string>
		</dict>
	</array>
	<key>REPEAT_MY_SET_MIN</key>
	<integer>2</integer>
</dict>
</plist>
