<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>Arrange in order of smallest to largest starting on the left.</string>
	<key>EVAL_MODE</key>
	<string>1</string>
	<key>EVAL_TYPE</key>
	<string>ALL_ENABLED</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Arrange in order of smallest to largest starting on the left.</string>
	<key>NUMBER_MODE</key>
	<string>numicon</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:on number=&quot;{$y}&quot; /&gt;
&lt;b:on number=&quot;{$w}&quot; /&gt;
&lt;b:on number=&quot;{$z}&quot; /&gt;
&lt;b:on number=&quot;{$x}&quot; /&gt;</string>
		<string>&lt;b:on number=&quot;{$w}&quot; enabled=&quot;no&quot;/&gt;
&lt;b:on number=&quot;{$x}&quot; enabled=&quot;no&quot;/&gt;
&lt;b:on number=&quot;{$y}&quot; enabled=&quot;no&quot;/&gt;
&lt;b:on number=&quot;{$z}&quot; enabled=&quot;no&quot;/&gt;</string>
	</array>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$w</string>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>3</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>4</string>
			<key>MAX</key>
			<string>6</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$y</string>
			<key>MIN</key>
			<string>7</string>
			<key>MAX</key>
			<string>8</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$z</string>
			<key>MIN</key>
			<string>9</string>
			<key>MAX</key>
			<string>10</string>
		</dict>
	</array>
	<key>DSTRINGS</key>
	<dict>
		<key>@object</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>apples</string>
				<string>sweets</string>
				<string>pens</string>
			</array>
		</dict>
	</dict>
	<key>REPEAT_AND_SCAFFOLD_MIN</key>
	<integer>2</integer>
</dict>
</plist>
