<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CORE</key>
	<true/>
	<key>REPEAT_SET</key>
	<string>A</string>
	<key>REPEAT_MY_SET_MIN</key>
	<string>3</string>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Write an equation to express this.</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>1</string>
	<key>EVAL_MODE</key>
	<string>1</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;Starting at &lt;/b:t&gt;&lt;b:ot tag=&quot;a&quot; enabled=&quot;yes&quot;&gt;{$n}&lt;/b:ot&gt;
&lt;b:t&gt;. Count forward in&lt;/b:t&gt;&lt;b:ot tag=&quot;b&quot; enabled=&quot;yes&quot;&gt;{$x}&lt;/b:ot&gt;
&lt;b:t&gt;s. What are the first five numbers you come to?&lt;/b:t&gt;&lt;b:ot tag=&quot;q&quot;&gt;{$xn}&lt;/b:ot&gt;
&lt;b:t&gt;,&lt;/b:t&gt;
&lt;b:ot tag=&quot;c&quot;&gt;{$xn21}&lt;/b:ot&gt;
&lt;b:t&gt;,&lt;/b:t&gt;
&lt;b:ot tag=&quot;d&quot;&gt;{$xn2}&lt;/b:ot&gt;
&lt;b:t&gt;,&lt;/b:t&gt;
&lt;b:ot tag=&quot;e&quot;&gt;{$xn3}&lt;/b:ot&gt;
&lt;b:t&gt;,&lt;/b:t&gt;
&lt;b:ot tag=&quot;f&quot;&gt;{$xn31}&lt;/b:ot&gt;
&lt;b:t&gt;,&lt;/b:t&gt;
&lt;b:ot tag=&quot;g&quot;&gt;{$xn4}&lt;/b:ot&gt;
&lt;b:t&gt;,&lt;/b:t&gt;
&lt;b:ot tag=&quot;h&quot;&gt;{$xn41}&lt;/b:ot&gt;
&lt;b:t&gt;,&lt;/b:t&gt;
&lt;b:ot tag=&quot;i&quot;&gt;{$xn51}&lt;/b:ot&gt;
&lt;b:t&gt;,&lt;/b:t&gt;
&lt;b:ot tag=&quot;j&quot;&gt;{$xn5}&lt;/b:ot&gt;
&lt;b:t&gt;,&lt;/b:t&gt;
&lt;b:ot tag=&quot;k&quot;&gt;{$xn6}&lt;/b:ot&gt;
&lt;b:t&gt;,&lt;/b:t&gt;
&lt;b:ot tag=&quot;l&quot;&gt;{$xn61}&lt;/b:ot&gt;
&lt;b:t&gt;,&lt;/b:t&gt;
&lt;b:ot tag=&quot;m&quot;&gt;{$xn7}&lt;/b:ot&gt;
&lt;b:t&gt;.&lt;/b:t&gt;</string>
		<string>&lt;b:ot tag=&quot;a&quot; enabled=&quot;yes&quot;&gt;{$n}&lt;/b:ot&gt;
&lt;b:op op=&quot;,&quot; picker=&quot;yes&quot; /&gt;
&lt;b:ot tag=&quot;q&quot; enabled=&quot;no&quot;&gt;{$xn}&lt;/b:ot&gt;
&lt;b:op op=&quot;,&quot; picker=&quot;yes&quot; /&gt;
&lt;b:ot tag=&quot;d&quot; enabled=&quot;no&quot;&gt; {$xn2}&lt;/b:ot&gt;
&lt;b:op op=&quot;,&quot; picker=&quot;yes&quot; /&gt;
&lt;b:ot tag=&quot;e&quot; enabled=&quot;no&quot;&gt;{$xn3}&lt;/b:ot&gt;
&lt;b:op op=&quot;,&quot; picker=&quot;yes&quot; /&gt;
&lt;b:ot tag=&quot;g&quot; enabled=&quot;no&quot;&gt;{$xn4}&lt;/b:ot&gt;
&lt;b:op op=&quot;and&quot; picker=&quot;yes&quot; /&gt;
&lt;b:ot tag=&quot;j&quot; enabled=&quot;no&quot;&gt;{$xn5}&lt;/b:ot&gt;</string>
	</array>
	<key>EVAL_TYPE</key>
	<string>ALL_ENABLED</string>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$n</string>
			<key>RETAIN</key>
			<true/>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>5</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>RETAIN</key>
			<true/>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>6</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$xn</string>
			<key>VALUE</key>
			<string>{$x+$n}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$xn2</string>
			<key>VALUE</key>
			<string>{$xn+$x}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$xn21</string>
			<key>VALUE</key>
			<string>{$xn2-1}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$xn3</string>
			<key>VALUE</key>
			<string>{$xn2+$x}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$xn31</string>
			<key>VALUE</key>
			<string>{$xn3+1}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$xn4</string>
			<key>VALUE</key>
			<string>{$xn3+$x}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$xn41</string>
			<key>VALUE</key>
			<string>{$xn4+1}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$xn5</string>
			<key>VALUE</key>
			<string>{$xn4+$x}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$xn51</string>
			<key>VALUE</key>
			<string>{$xn5-1}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$xn6</string>
			<key>VALUE</key>
			<string>{$xn5+$x}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$xn61</string>
			<key>VALUE</key>
			<string>{$xn6+1}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$xn7</string>
			<key>VALUE</key>
			<string>{$xn6+$x}</string>
		</dict>
	</array>
</dict>
</plist>
