<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>PROBLEM_DESCRIPTION</key>
    <string>-4 C _ -6 C. What is the missing symbol?</string>
    <key>INTERNAL_DESCRIPTION</key>
    <string>-4 C _ -6 C. What is the missing symbol?</string>
    <key>TOOL_KEY</key>
    <string>NLine</string>
    <key>START_VALUE</key>
    <string>-4</string>
    <key>MIN_VALUE</key>
    <string>-10</string>
    <key>MAX_VALUE</key>
    <string>3</string>
    <key>SHOW_NUMBERS_AT_INTERVALS</key>
    <array>
      <string>1</string>
    </array>
    <key>COUNT_OUT_LOUD_AT_INTERVALS</key>
    <array/>
    <key>SHOW_COUNT_HISTORY_AT_INTERVALS</key>
    <array>
      <string>1</string>
    </array>
    <key>META_QUESTION</key>
    <dict>
      <key>META_QUESTION_COMPLETE_TEXT</key>
      <string>well done!!</string>
      <key>META_QUESTION_ANSWERS</key>
      <array>
        <dict>
          <key>META_ANSWER_TEXT</key>
          <string>&amp;lt;</string>
        </dict>
        <dict>
          <key>META_ANSWER_TEXT</key>
          <string>&amp;gt;</string>
        </dict>
      </array>
      <key>META_QUESTION_TITLE</key>
      <string>&lt;b:t&gt;-4 C &lt;/b:t&gt;&lt;b:oi tag=&quot;30_QM&quot;/&gt;&lt;b:t&gt; -6 C. What is the missing symbol?&lt;/b:t&gt;</string>
      <key>META_QUESTION_INCOMPLETE_TEXT</key>
      <string>Try again</string>
    </dict>
    <key>HOST_BACKGROUND_IMAGE</key>
    <string>/images/bg/bg-ipad-addition_2_7_9.png</string>
  </dict>
</plist>
