<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>LongDivision</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>what is 700 / 70 ?</string>
	<key>DIVIDEND</key>
	<integer>700</integer>
	<key>DIVISOR</key>
	<integer>70</integer>
	<key>GOOD_BAD_HIGHLIGHT</key>
	<true/>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>START_ROW</key>
	<integer>1</integer>
</dict>
</plist>
