<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>DotGrid Intro</string>
	<key>TOOL_KEY</key>
	<string>DotGrid</string>
	<key>IS_INTRO_PLIST</key>
	<true/>
</dict>
</plist>
