<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>DotGrid problem y0!</string>
	<key>TOOL_KEY</key>
	<string>DotGrid</string>
	<key>ANCHOR_SPACE</key>
	<integer>85</integer>
	<key>START_X</key>
	<integer>0</integer>
	<key>START_Y</key>
	<integer>0</integer>
	<key>DRAW_MODE</key>
	<integer>1</integer>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>DO_NOT_SIMPLIFY_FRACTIONS</key>
	<false/>
	<key>INIT_OBJECTS</key>
	<array/>
	<key>HIDDEN_ROWS</key>
	<dict>
		<key>3</key>
		<true/>
	</dict>
</dict>
</plist>
