<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>DISTRIBUTION_EVAL_TYPE</key>
	<integer>1</integer>
	<key>PROBLEM_DESCRIPTION</key>
	<string>There are 13 red goos and 6 blue goos. 6 red goos are mixed with the blue. How many red goos are left?</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>QUANTITY</key>
			<integer>13</integer>
			<key>POS_X</key>
			<integer>250</integer>
			<key>POS_Y</key>
			<integer>300</integer>
			<key>LABEL</key>
			<string>Red goo</string>
		</dict>
		<dict>
			<key>QUANTITY</key>
			<integer>6</integer>
			<key>POS_X</key>
			<integer>250</integer>
			<key>POS_Y</key>
			<integer>400</integer>
			<key>LABEL</key>
			<string>Blue goo</string>
		</dict>
	</array>
	<key>SOLUTION</key>
	<array>
		<dict>
			<key>Claire</key>
			<integer>7</integer>
			<key>Sarah</key>
			<integer>15</integer>
		</dict>
	</array>
	<key>DSTRINGS</key>
	<dict>
		<key>@item</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>cookies</string>
				<string>scoops of ice cream</string>
				<string>pens</string>
				<string>crayons</string>
				<string>coins</string>
				<string>batteries</string>
				<string>packs of crisps</string>
				<string>drinks</string>
			</array>
		</dict>
	</dict>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>Claire has 16 blue goos and Sarah has 6. Claire gives Sarah 9 of her blue goos, how many does Claire have now?</string>
		<key>PICKER_LAYOUT</key>
		<integer>1</integer>
		<key>PICKER_ORIGIN_X</key>
		<integer>0</integer>
		<key>PICKER_ORIGIN_Y</key>
		<integer>0</integer>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<integer>7</integer>
	</dict>
</dict>
</plist>
