<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/tokcm-authoring/Number/addition_and_subtraction/odd_and_even_numbers/5608a59d6797796ce9e11484fd16a572/dt_2_even.plist</string>
	<string>/Problems/tokcm-authoring/Number/addition_and_subtraction/odd_and_even_numbers/5608a59d6797796ce9e11484fd16a572/dt_3_odd.plist</string>
	<string>/Problems/tokcm-authoring/Number/addition_and_subtraction/odd_and_even_numbers/5608a59d6797796ce9e11484fd16a572/dt_5_odd.plist</string>
	<string>/Problems/tokcm-authoring/Number/addition_and_subtraction/odd_and_even_numbers/5608a59d6797796ce9e11484fd16a572/dt_7_odd.plist</string>
	<string>/Problems/tokcm-authoring/Number/addition_and_subtraction/odd_and_even_numbers/5608a59d6797796ce9e11484fd16a572/dt_4_even.plist</string>
	<string>/Problems/tokcm-authoring/Number/addition_and_subtraction/odd_and_even_numbers/5608a59d6797796ce9e11484fd16a572/dt_8_even.plist</string>
	<string>/Problems/tokcm-authoring/Number/addition_and_subtraction/odd_and_even_numbers/5608a59d6797796ce9e11484fd16a572/dt_6_even.plist</string>
	<string>/Problems/tokcm-authoring/Number/addition_and_subtraction/odd_and_even_numbers/5608a59d6797796ce9e11484fd16a572/dt_9_odd.plist</string>
	<string>/Problems/tokcm-authoring/Number/addition_and_subtraction/odd_and_even_numbers/5608a59d6797796ce9e11484fd16a572/dt_14_even.plist</string>
	<string>/Problems/tokcm-authoring/Number/addition_and_subtraction/odd_and_even_numbers/5608a59d6797796ce9e11484fd16a572/dt_18_even.plist</string>
	<string>/Problems/tokcm-authoring/Number/addition_and_subtraction/odd_and_even_numbers/5608a59d6797796ce9e11484fd16a572/dt_15_odd.plist</string>
	<string>/Problems/tokcm-authoring/Number/addition_and_subtraction/odd_and_even_numbers/5608a59d6797796ce9e11484fd16a572/dt_12_even.plist</string>
	<string>/Problems/tokcm-authoring/Number/addition_and_subtraction/odd_and_even_numbers/5608a59d6797796ce9e11484fd16a572/dt_17_odd.plist</string>
	<string>/Problems/tokcm-authoring/Number/addition_and_subtraction/odd_and_even_numbers/5608a59d6797796ce9e11484fd16a572/dt_19_odd.plist</string>
</array>
</plist>
