<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>place one block in each container</string>
	<key>TOOL_KEY</key>
	<string>BlockFloating</string>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>TAG</key>
			<string>block1</string>
			<key>DIMENSION_COLS</key>
			<integer>1</integer>
			<key>DIMENSION_ROWS</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>TAG</key>
			<string>block2</string>
			<key>DIMENSION_COLS</key>
			<integer>1</integer>
			<key>DIMENSION_ROWS</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>TAG</key>
			<string>block3</string>
			<key>DIMENSION_COLS</key>
			<integer>1</integer>
			<key>DIMENSION_ROWS</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>INIT_CONTAINERS</key>
	<array>
		<dict>
			<key>TAG</key>
			<string>container1</string>
		</dict>
		<dict>
			<key>TAG</key>
			<string>container2</string>
		</dict>
		<dict>
			<key>TAG</key>
			<string>container3</string>
		</dict>
	</array>
	<key>SOLUTIONS</key>
	<array>
		<dict>
			<key>PLAY_SOUND</key>
			<string>complete.wav</string>
			<key>SOLUTION_SCORE</key>
			<integer>1</integer>
			<key>CLAUSES</key>
			<array>
				<dict>
					<key>ITEM1_CONTAINER_TAG</key>
					<string>container1</string>
					<key>ITEM2_VALUE</key>
					<integer>0</integer>
					<key>CLAUSE_TYPE</key>
					<string>COUNT_GREATER_THAN</string>
				</dict>
				<dict>
					<key>ITEM1_CONTAINER_TAG</key>
					<string>container2</string>
					<key>ITEM2_VALUE</key>
					<integer>0</integer>
					<key>CLAUSE_TYPE</key>
					<string>COUNT_GREATER_THAN</string>
				</dict>
				<dict>
					<key>ITEM1_CONTAINER_TAG</key>
					<string>container3</string>
					<key>ITEM2_VALUE</key>
					<integer>0</integer>
					<key>CLAUSE_TYPE</key>
					<string>COUNT_GREATER_THAN</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>TUTORIALS</key>
	<array>
		<dict>
			<key>PROBLEM_SUBTITLE</key>
			<string>drag one ice cube into the first container</string>
			<key>GHOST_OBJECT</key>
			<string>block1</string>
			<key>GHOST_DESTINATION</key>
			<string>container1</string>
			<key>PRE_ACTIONS</key>
			<dict>
				<key>PLAY_SOUND</key>
				<string>place_one_object_in_each_container.wav</string>
			</dict>
			<key>POST_ACTIONS</key>
			<dict>
				<key>PLAY_SOUND</key>
				<string>complete_2of3.wav</string>
			</dict>
			<key>CLAUSES</key>
			<array>
				<dict>
					<key>ITEM1_CONTAINER_TAG</key>
					<string>container1</string>
					<key>ITEM2_VALUE</key>
					<integer>0</integer>
					<key>CLAUSE_TYPE</key>
					<string>COUNT_GREATER_THAN</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>PROBLEM_SUBTITLE</key>
			<string>drag one ice cube into the second container</string>
			<key>GHOST_OBJECT</key>
			<string>block2</string>
			<key>GHOST_DESTINATION</key>
			<string>container2</string>
			<key>POST_ACTIONS</key>
			<dict>
				<key>PLAY_SOUND</key>
				<string>complete_1of3.wav</string>
			</dict>
			<key>CLAUSES</key>
			<array>
				<dict>
					<key>ITEM1_CONTAINER_TAG</key>
					<string>container2</string>
					<key>ITEM2_VALUE</key>
					<integer>0</integer>
					<key>CLAUSE_TYPE</key>
					<string>COUNT_GREATER_THAN</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>PROBLEM_SUBTITLE</key>
			<string>drag the ice cube into the last container</string>
			<key>GHOST_OBJECT</key>
			<string>block3</string>
			<key>GHOST_DESTINATION</key>
			<string>container3</string>
			<key>CLAUSES</key>
			<array>
				<dict>
					<key>ITEM1_CONTAINER_TAG</key>
					<string>container3</string>
					<key>ITEM2_VALUE</key>
					<integer>0</integer>
					<key>CLAUSE_TYPE</key>
					<string>COUNT_GREATER_THAN</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
