<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_PIPELINE-tools</key>
	<string>/Problems/dotgrid-demo</string>
	<key>PROBLEM_PIPELINE-d</key>
	<string>DATABASE</string>
	<key>PROBLEM_PIPELINE</key>
	<string>/pipeline-testing/sarah-pipeline2.plist</string>
	<key>PROBLEM_PIPELINE-0</key>
	<string>/pipeline-testing/sarah-pipeline.plist</string>
	<key>PROBLEM-PIPELINE-99</key>
	<string>/pipeline-testing/02count-pipeline.plist</string>
	<key>New item</key>
	<string>/pipeline-testing/01sort-pipeline.plist</string>
	<key>RELEASE_MODE</key>
	<false/>
</dict>
</plist>
