<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tcontainer</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BContainerRender</key>
			<dict/>
			<key>BDropTarget</key>
			<dict/>
			<key>BMount</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>TfloatContainer</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BContainerRender</key>
			<dict/>
			<key>BDropTarget</key>
			<dict/>
			<key>BMount</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>TplaceValueContainer</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BPlaceValueContainerRender</key>
			<dict/>
			<key>BPlaceValueDropTarget</key>
			<dict/>
			<key>BPlaceValueMount</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>TplaceValueCage</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BPlaceValueObjectSpawn</key>
			<dict/>
			<key>BPlaceValueDropTarget</key>
			<dict/>
			<key>BPlaceValueMount</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>TfloatObject</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BFloatPickupTarget</key>
			<dict/>
			<key>BFloatObjectRender</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>TplaceValueObject</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BPlaceValueMountable</key>
			<dict/>
			<key>BPlaceValuePickupTarget</key>
			<dict/>
			<key>BPlaceValueObjectRender</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>Tstore</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BDropTarget</key>
			<dict/>
			<key>BMount</key>
			<dict/>
			<key>BStoreRender</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>Tobject</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BPickupTarget</key>
			<dict/>
			<key>BMountable</key>
			<dict/>
			<key>BObjectRender</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
</dict>
</plist>
