<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tcontainer</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BContainerRender</key>
			<dict/>
			<key>BDropTarget</key>
			<dict/>
			<key>BMount</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>TfloatContainer</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BContainerRender</key>
			<dict/>
			<key>BDropTarget</key>
			<dict/>
			<key>BMount</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>TplaceValueContainer</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BPlaceValueContainerRender</key>
			<dict/>
			<key>BPlaceValueDropTargetNet</key>
			<dict/>
			<key>BPlaceValueMountNet</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>TplaceValueCage</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BPlaceValueObjectSpawn</key>
			<dict/>
			<key>BPlaceValueDropTargetCage</key>
			<dict/>
			<key>BPlaceValueMountCage</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>TfloatObject</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BFloatPickupTarget</key>
			<dict/>
			<key>BFloatObjectRender</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>TplaceValueObject</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BPlaceValueSelectionMgr</key>
			<dict/>
			<key>BPlaceValueMountable</key>
			<dict/>
			<key>BPlaceValuePickupTarget</key>
			<dict/>
			<key>BPlaceValueObjectRender</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>Tstore</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BDropTarget</key>
			<dict/>
			<key>BMount</key>
			<dict/>
			<key>BStoreRender</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>Tobject</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BPickupTarget</key>
			<dict/>
			<key>BMountable</key>
			<dict/>
			<key>BObjectRender</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>TnLineRambler</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BNLineRamblerInput</key>
			<dict/>
			<key>BNLineRamblerRender</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>TnLineSelector</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BNLineSelectorInput</key>
			<dict/>
			<key>BNLineSelectorRender</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>TnBondObject</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BNBondPickupTarget</key>
			<dict/>
			<key>BNBondMountable</key>
			<dict/>
			<key>BNBondObjectRender</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>TnBondStore</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BNBondStoreRender</key>
			<dict/>
			<key>BNBondStoreDropTarget</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>TnBondRow</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BNBondRowRender</key>
			<dict/>
			<key>BNBondMount</key>
			<dict/>
			<key>BNBondRowDropTarget</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>TdotgridAnchor</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BDotGridAnchorObjectRender</key>
			<dict/>
			<key>BDotGridAnchorTouch</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>TdotgridHandle</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BDotGridHandleObjectRender</key>
			<dict/>
			<key>BDotGridHandleTouch</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>TdotgridTile</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BDotGridTileObjectRender</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>TdotgridShape</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BDotGridShapeTouch</key>
			<dict/>
			<key>BDotGridShapeObjectRender</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>TdotgridShapeGroup</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BDotGridShapeGroupObjectRender</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>TtimestablesTile</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BTTTileTouch</key>
			<dict/>
			<key>BTTTileObjectRender</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>TpieSplitterSlice</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BPieSplitterSliceObjectRender</key>
			<dict/>
			<key>BPieSplitterSliceTouch</key>
			<dict/>
			<key>BPieSplitterSliceMount</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>TpieSplitterPie</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BPieSplitterPieObjectRender</key>
			<dict/>
			<key>BPieSplitterPieTouch</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>TpieSplitterContainer</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BPieSplitterContainerObjectRender</key>
			<dict/>
			<key>BPieSplitterContainerMountable</key>
			<dict/>
			<key>BPieSplitterContainerTouch</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
	<key>TnumberWheel</key>
	<dict>
		<key>BEHAVIOURS</key>
		<dict>
			<key>BNWheelObjectRender</key>
			<dict/>
		</dict>
		<key>IMPLEMENT_TEMPLATES</key>
		<array/>
		<key>OBJECT_DATA</key>
		<dict/>
	</dict>
</dict>
</plist>
