<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ColumnAddition</key>
	<dict>
		<key>SCALE_MIN</key>
		<real>0.3</real>
		<key>SCALE_MAX</key>
		<real>0.8</real>
		<key>SCALING_PASS_THRU</key>
		<false/>
	</dict>
	<key>NLine</key>
	<dict>
		<key>TOOL_DEPTH</key>
		<integer>3</integer>
		<key>SCALE_MIN</key>
		<integer>1</integer>
		<key>SCALE_MAX</key>
		<integer>1</integer>
		<key>SCALING_PASS_THRU</key>
		<false/>
		<key>DISALLOW_BTXE_TOUCH</key>
		<true/>
	</dict>
	<key>NumberBonds</key>
	<dict>
		<key>SCALE_MIN</key>
		<integer>1</integer>
		<key>SCALE_MAX</key>
		<integer>1</integer>
		<key>SCALING_PASS_THRU</key>
		<false/>
		<key>DISALLOW_BTXE_TOUCH</key>
		<false/>
	</dict>
	<key>PlaceValue</key>
	<dict>
		<key>SCALE_MIN</key>
		<integer>1</integer>
		<key>SCALE_MAX</key>
		<integer>1</integer>
		<key>SCALING_PASS_THRU</key>
		<true/>
		<key>DISALLOW_BTXE_TOUCH</key>
		<true/>
	</dict>
	<key>DotGrid</key>
	<dict>
		<key>SCALE_MIN</key>
		<integer>1</integer>
		<key>SCALE_MAX</key>
		<integer>1</integer>
		<key>SCALING_PASS_THRU</key>
		<false/>
		<key>DISALLOW_BTXE_TOUCH</key>
		<true/>
	</dict>
	<key>CountingTimer</key>
	<dict>
		<key>SCALE_MIN</key>
		<integer>1</integer>
		<key>SCALE_MAX</key>
		<integer>1</integer>
		<key>SCALING_PASS_THRU</key>
		<false/>
		<key>DISALLOW_BTXE_TOUCH</key>
		<true/>
	</dict>
	<key>FloatingBlock</key>
	<dict>
		<key>SCALE_MIN</key>
		<integer>1</integer>
		<key>SCALE_MAX</key>
		<integer>1</integer>
		<key>SCALING_PASS_THRU</key>
		<false/>
		<key>DISALLOW_BTXE_TOUCH</key>
		<true/>
	</dict>
	<key>LongDivision</key>
	<dict>
		<key>TOOL_DEPTH</key>
		<string>3</string>
		<key>SCALING_PASS_THRU</key>
		<true/>
		<key>DISALLOW_BTXE_TOUCH</key>
		<true/>
	</dict>
	<key>TimesTables</key>
	<dict>
		<key>SCALING_PASS_THRU</key>
		<false/>
		<key>SCALE_MIN</key>
		<integer>1</integer>
		<key>SCALE_MAX</key>
		<integer>1</integer>
		<key>DISALLOW_BTXE_TOUCH</key>
		<true/>
	</dict>
	<key>PieSplitter</key>
	<dict>
		<key>SCALING_PASS_THRU</key>
		<false/>
		<key>SCALE_MIN</key>
		<integer>1</integer>
		<key>SCALE_MAX</key>
		<integer>1</integer>
		<key>DISALLOW_BTXE_TOUCH</key>
		<true/>
	</dict>
</dict>
</plist>
