<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>thing_1</key>
	<string>dikfore</string>
	<key>thing_2</key>
	<string>buttfore</string>
	<key>thing_3</key>
	<string>slutfore</string>
	<key>thing_4</key>
	<string>badass motherfucker</string>
</dict>
</plist>
