<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/Addition/ac-dev/01pv/floatingblock-001.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/anline_addition_10_2_12.plist</string>
	<string>/Problems/Addition/ac-dev/addition_10_2_12.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/floatingblock-002.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/anline_addition_10_4_14.plist</string>
	<string>/Problems/Addition/ac-dev/addition_10_4_14.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/floatingblock-003.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/anline_addition_10_7_17.plist</string>
	<string>/Problems/Addition/ac-dev/addition_10_7_17.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem011.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem012.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem013.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem014.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem015.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem016.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem017.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem018.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem019.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem001.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem002.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem003.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem021.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem022.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem023.plist</string>
</array>
</plist>
