<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/Addition/ac-dev/06columnadd/columnadd-problem001.plist</string>
	<string>/Problems/Addition/ac-dev/06columnadd/columnadd-problem002.plist</string>
	<string>/Problems/Addition/ac-dev/06columnadd/columnadd-problem003.plist</string>
	<string>/Problems/Addition/ac-dev/06columnadd/columnadd-problem004.plist</string>
	<string>/Problems/Addition/ac-dev/06columnadd/columnadd-problem005.plist</string>
	<string>/Problems/Addition/ac-dev/06columnadd/columnadd-problem006.plist</string>
	<string>/Problems/Addition/ac-dev/06columnadd/columnadd-problem007.plist</string>
	<string>/Problems/Addition/ac-dev/06columnadd/columnadd-problem008.plist</string>
	<string>/Problems/Addition/ac-dev/06columnadd/columnadd-problem009.plist</string>
	<string>/Problems/Addition/ac-dev/06columnadd/columnadd-problem010.plist</string>
	<string>/Problems/Addition/ac-dev/06columnadd/columnadd-problem011.plist</string>
	<string>/Problems/Addition/ac-dev/06columnadd/columnadd-problem012.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem061.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem062.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem063.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem041.plist</string>
	<string>/Problems/Addition/ac-dev/addition_13_10_23.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem042.plist</string>
	<string>/Problems/Addition/ac-dev/addition_22_13_35.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem043.plist</string>
	<string>/Problems/Addition/ac-dev/subtraction_24_12_12.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem044.plist</string>
	<string>/Problems/Addition/ac-dev/addition_31_14_45.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem045.plist</string>
	<string>/Problems/Addition/ac-dev/subtraction_23_21_2.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem046.plist</string>
	<string>/Problems/Addition/ac-dev/addition_24_35_59.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem047.plist</string>
	<string>/Problems/Addition/ac-dev/addition_14_8_22.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem048.plist</string>
	<string>/Problems/Addition/ac-dev/subtraction_33_8_25.plist</string>
	<string>/Problems/Addition/ac-dev/02count/count-fb-hard-3.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/floatingblock-001.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/anline_addition_10_2_12.plist</string>
	<string>/Problems/Addition/ac-dev/addition_10_2_12.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/floatingblock-002.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/anline_addition_10_4_14.plist</string>
	<string>/Problems/Addition/ac-dev/addition_10_4_14.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/floatingblock-003.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/anline_addition_10_7_17.plist</string>
	<string>/Problems/Addition/ac-dev/addition_10_7_17.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem011.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem012.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem013.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem014.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem015.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem016.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem017.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem018.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem019.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem001.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem002.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem003.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem021.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem022.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/placevalue-problem023.plist</string>
	<string>/Problems/Addition/ac-dev/float-problem0001.plist</string>
	<string>/Problems/Addition/ac-dev/float-problem0002.plist</string>
	<string>/Problems/Addition/ac-dev/float-problem0003.plist</string>
	<string>/Problems/Addition/ac-dev/pv_add_count_2_1_3.plist</string>
	<string>/Problems/Addition/ac-dev/pv_add_count_3_1_4.plist</string>
	<string>/Problems/Addition/ac-dev/pv_add_count_4_1_5.plist</string>
	<string>/Problems/tools-dev/nline-dev/nline_count_on_2_1_3.plist</string>
	<string>/Problems/tools-dev/nline-dev/nline_count_on_3_1_4.plist</string>
	<string>/Problems/tools-dev/nline-dev/nline_count_on_4_1_5.plist</string>
	<string>/Problems/Addition/ac-dev/addition_2_1_3.plist</string>
	<string>/Problems/Addition/ac-dev/addition_3_1_4.plist</string>
	<string>/Problems/Addition/ac-dev/addition_4_1_5.plist</string>
	<string>/Problems/Addition/ac-dev/pv_add_count_3_2_5.plist</string>
	<string>/Problems/Addition/ac-dev/pv_add_count_3_3_6.plist</string>
	<string>/Problems/Addition/ac-dev/pv_add_count_3_4_7.plist</string>
	<string>/Problems/tools-dev/nline-dev/nline_count_on_3_2_5.plist</string>
	<string>/Problems/tools-dev/nline-dev/nline_count_on_3_3_6.plist</string>
	<string>/Problems/tools-dev/nline-dev/nline_count_on_3_4_7.plist</string>
	<string>/Problems/Addition/ac-dev/addition_3_2_5.plist</string>
	<string>/Problems/Addition/ac-dev/addition_3_3_6.plist</string>
	<string>/Problems/Addition/ac-dev/addition_3_4_7.plist</string>
	<string>/Problems/tools-dev/nline-dev/nline_addition_3_5_8.plist</string>
	<string>/Problems/tools-dev/nline-dev/nline_addition_2_7_9.plist</string>
	<string>/Problems/tools-dev/nline-dev/nline_addition_4_2_6.plist</string>
	<string>/Problems/Addition/ac-dev/addition_3_5_8.plist</string>
	<string>/Problems/Addition/ac-dev/addition_2_7_9.plist</string>
	<string>/Problems/Addition/ac-dev/addition_4_2_6.plist</string>
	<string>/Problems/Addition/ac-dev/pv_add_count_2_4_6.plist</string>
	<string>/Problems/Addition/ac-dev/pv_add_count_4_5_9.plist</string>
	<string>/Problems/Addition/ac-dev/pv_add_count_3_7_10.plist</string>
	<string>/Problems/Addition/ac-dev/addition_missing_addend_2_4_6.plist</string>
	<string>/Problems/Addition/ac-dev/addition_missing_addend_4_5_9.plist</string>
	<string>/Problems/Addition/ac-dev/addition_missing_addend_3_7_10.plist</string>
</array>
</plist>
