<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/tools-dev/da-pt/partition-test8.plist</string>
	<string>/intro-problems/DISTRIBUTIONTOOL_REMOVE_TO_CAGE.plist</string>
	<string>/Problems/tools-dev/da-dg/dg1.plist</string>
	<string>/Problems/tools-dev/da-dg/dg6.plist</string>
	<string>/Problems/tools-dev/da-pv/placevalue-problem030a.plist</string>
	<string>/Problems/tools-dev/da-float/fb003.plist</string>
	<string>/Problems/tools-dev/da-ld/ld1.plist</string>
	<string>/Problems/tools-dev/da-dg/dg-factorsof6.plist</string>
	<string>/Problems/tools-dev/da-ct/ct001.plist</string>
	<string>/Problems/tools-dev/da-dt/dt-evalareavalue.plist</string>
	<string>/Problems/tools-dev/da-dt/dt-tagging.plist</string>
	<string>/Problems/tools-dev/issues/pdef_0.plist</string>
	<string>/Problems/tools-dev/ExprBuilder/picker/picker1.plist</string>
	<string>/Problems/tools-dev/gj-dev/gj-mq1.plist</string>
	<string>/Problems/tools-dev/ExprBuilder/cardsandseq/cards3.plist</string>
	<string>/Problems/tools-dev/da-dt/dt-evalcontainervalue.plist</string>
	<string>/Problems/tools-dev/issues/pdef_2.plist</string>
	<string>/Problems/tools-dev/da-pt/partition-test.plist</string>
	<string>/Problems/tools-dev/da-pt/partition-test2.plist</string>
	<string>/Problems/tools-dev/da-pt/partition-test3.plist</string>
	<string>/Problems/tools-dev/da-pt/partition-test4.plist</string>
	<string>/Problems/tools-dev/da-pt/partition-test5.plist</string>
	<string>/Problems/tools-dev/da-pt/partition-test6.plist</string>
	<string>/Problems/tools-dev/da-pt/partition-test7.plist</string>
	<string>/Problems/tools-dev/da-dt/dt-numbervalues.plist</string>
	<string>/Problems/tools-dev/da-pt/partition-test2.plist</string>
	<string>/Problems/tools-dev/da-dg/dg6.plist</string>
	<string>/Problems/tools-dev/da-dg/dg-14x3gridmultiplication.plist</string>
	<string>/Problems/tools-dev/da-dg/dg-intro.plist</string>
	<string>/Problems/tools-dev/da-dg/dg-nonproportional.plist</string>
	<string>/Problems/tools-dev/da-dg/dg1-dimensions.plist</string>
	<string>/Problems/tools-dev/da-dg/dg1-dragblock.plist</string>
	<string>/Problems/tools-dev/da-dg/dg1-selectshape.plist</string>
	<string>/Problems/tools-dev/da-dg/dg2.plist</string>
	<string>/Problems/tools-dev/da-dg/dg3.plist</string>
	<string>/Problems/tools-dev/da-dg/dg4.plist</string>
	<string>/Problems/tools-dev/da-dg/dg5.plist</string>
	<string>/Problems/tools-dev/da-dg/dg7.plist</string>
	<string>/Problems/tools-dev/da-pv/placevalue-problem026.plist</string>
	<string>/Problems/tools-dev/da-dt/dt-alwaysbond.plist</string>
	<string>/Problems/tools-dev/ExprBuilder/picker/picker1.plist</string>
	<string>/Problems/tools-dev/da-dg/dg2.plist</string>
	<string>/Problems/tools-dev/da-dg/dg-14x3gridmultiplication.plist</string>
	<string>/Problems/tools-dev/da-dg/dg1.plist</string>
	<string>/Problems/issues/pdef_0.plist</string>
	<string>/Problems/tools-dev/da-dt/dt3.plist</string>
	<string>/Problems/tools-dev/da-dg/dg-factorsof6.plist</string>
	<string>/Problems/tools-dev/da-tt/tt2.plist</string>
	<string>/Problems/tools-dev/da-dg/dg7.plist</string>
	<string>/Problems/tools-dev/gj-dev/gj-mq1.plist</string>
	<string>/Problems/tools-dev/da-dg/dg-intro.plist</string>
	<string>/Problems/tools-dev/da-ct/ct-intro.plist</string>
	<string>/Problems/tools-dev/da-pv/placevalue-problem026.plist</string>
	<string>/Problems/tools-dev/da-frb/fb002.plist</string>
	<string>/Problems/tools-dev/da-dg/dg1.plist</string>
	<string>/Problems/tools-dev/da-pv/showmorelessarrows.plist</string>
	<string>/Problems/issues/pdef_2.plist</string>
	<string>/Problems/issues/pdef_3.plist</string>
	<string>/Problems/tools-dev/da-pt/partition-test8.plist</string>
	<string>/Problems/tools-dev/da-ct/ct002.plist</string>
	<string>/Problems/tools-dev/da-ct/ct003.plist</string>
	<string>/Problems/tools-dev/da-ct/ct004.plist</string>
	<string>/Problems/tools-dev/da-ct/ct005.plist</string>
	<string>/Problems/tools-dev/da-np/np2.plist</string>
	<string>/Problems/tools-dev/da-dt/dt2.plist</string>
	<string>/Problems/tools-dev/da-ratio/ratio-1-unknown.plist</string>
	<string>/Problems/tools-dev/da-ld/ld1.plist</string>
	<string>/Problems/tools-dev/da-ld/ld2.plist</string>
	<string>/Problems/tools-dev/da-dg/dg2.plist</string>
	<string>/Problems/tools-dev/da-dg/dg3.plist</string>
	<string>/Problems/tools-dev/da-dg/dg4.plist</string>
	<string>/Problems/tools-dev/da-pt/partition-test3.plist</string>
	<string>/Problems/tools-dev/da-pt/partition-test4.plist</string>
	<string>/Problems/tools-dev/da-pt/partition-test5.plist</string>
	<string>/Problems/tools-dev/da-pt/partition-test6.plist</string>
	<string>/Problems/tools-dev/da-pt/partition-test7.plist</string>
	<string>/Problems/tools-dev/nline-dev/nline_count_to_3.plist</string>
	<string>/Problems/tokcm-authoring/Number/negative_and_irrational_numbers/addition_and_subtraction_with_negative_numbers/5608a59d6797796ce9e11484fd128e15/202positivenegative.plist</string>
	<string>/Problems/tokcm-authoring/Number/negative_and_irrational_numbers/addition_and_subtraction_with_negative_numbers/5608a59d6797796ce9e11484fd128e15/400addpositiveblocks.plist</string>
	<string>/Problems/tokcm-authoring/Number/negative_and_irrational_numbers/addition_and_subtraction_with_negative_numbers/5608a59d6797796ce9e11484fd128e15/400addpositiveblocks.plist</string>
	<string>/Problems/tokcm-authoring/Number/negative_and_irrational_numbers/addition_and_subtraction_with_negative_numbers/5608a59d6797796ce9e11484fd128e15/401addnegativeblocks.plist</string>
	<string>/Problems/tokcm-authoring/Number/negative_and_irrational_numbers/addition_and_subtraction_with_negative_numbers/5608a59d6797796ce9e11484fd128e15/402addpositiveblocks.plist</string>
	<string>/Problems/tokcm-authoring/Number/negative_and_irrational_numbers/addition_and_subtraction_with_negative_numbers/5608a59d6797796ce9e11484fd128e15/502takepositiveblocks.plist</string>
	<string>/Problems/tokcm-authoring/Number/negative_and_irrational_numbers/addition_and_subtraction_with_negative_numbers/5608a59d6797796ce9e11484fd128e15/503addpositiveblocks.plist</string>
	<string>/Problems/tools-dev/da-pv/placevalue-problem028.plist</string>
	<string>/Problems/tools-dev/da-pv/placevalue-problem029.plist</string>
	<string>/Problems/tools-dev/da-pv/placevalue-problem024.plist</string>
	<string>/Problems/tools-dev/da-pv/placevalue-problem025.plist</string>
	<string>/Problems/tools-dev/da-pv/placevalue-problem027.plist</string>
	<string>/Problems/tools-dev/da-ct/ct002.plist</string>
	<string>/Problems/tools-dev/da-float/fb003.plist</string>
	<string>/Problems/tools-dev/da-float/fb004.plist</string>
	<string>/Problems/tools-dev/da-float/fb005.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/sharing/5608a59d6797796ce9e11484fd165fa9/dt_cage_intro_1.plist</string>
	<string>/Problems/tokcm-authoring/Number/counting_matching_and_sorting/comparing_numbers/5608a59d6797796ce9e11484fd1748a8/mq_dyn_larger_left.plist</string>
	<string>/Problems/tokcm-authoring/Number/negative_and_irrational_numbers/addition_and_subtraction_with_negative_numbers/5608a59d6797796ce9e11484fd128e11/105mq-additiveinverse.plist</string>
	<string>/Problems/tools-dev/da-float/fb006.plist</string>
	<string>/Problems/tools-dev/da-float/fb007.plist</string>
	<string>/Problems/tools-dev/da-ps/ps1.plist</string>
	<string>/Problems/tokcm-authoring/Number/negative_and_irrational_numbers/addition_and_subtraction_with_negative_numbers/5608a59d6797796ce9e11484fd128e11/105mq-additiveinverse.plist</string>
	<string>/Problems/tokcm-authoring/Number/negative_and_irrational_numbers/addition_and_subtraction_with_negative_numbers/5608a59d6797796ce9e11484fd128e11/105mq-additiveinverse.plist</string>
	<string>/Problems/tokcm-authoring/Number/operations_patterns_and_rules/patterns_and_rules/5608a59d6797796ce9e11484fd1511ce/101addthree.plist</string>
	<string>/Problems/tokcm-authoring/Number/negative_and_irrational_numbers/addition_and_subtraction_with_negative_numbers/5608a59d6797796ce9e11484fd128e11/105mq-additiveinverse.plist</string>
	<string>/Problems/tokcm-authoring/Number/place_value/tens_and_ones/5608a59d6797796ce9e11484fd16fc3e/403makenumber.plist</string>
	<string>/Problems/tokcm-authoring/Number/addition_and_subtraction/number_bonds/5608a59d6797796ce9e11484fd17267c/105_mq-bigger-dyn.plist</string>
	<string>/Problems/tools-dev/da-pv/placevalue-problem023.plist</string>
	<string>/Problems/tools-dev/da-pv/placevalue-problem024.plist</string>
	<string>/Problems/tools-dev/da-pv/placevalue-problem021.plist</string>
	<string>/Problems/tools-dev/da-pv/placevalue-problem001.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/sharing/5608a59d6797796ce9e11484fd167ab6/dt_6.plist</string>
	<string>/Problems/tokcm-authoring/Number/counting_matching_and_sorting/counting_forward/5608a59d6797796ce9e11484fd11e438/103mqcountin2s.plist</string>
	<string>/Problems/tools-dev/featuredemo/fractionbuilder/fb-addition.plist</string>
	<string>/Problems/tools-dev/da-frb/fb001.plist</string>
	<string>/Problems/tokcm-legacy/fractions/5608a59d6797796ce9e11484fd1554fb/CCSS_3_NF_3b_001.plist</string>
	<string>/Problems/tokcm-legacy/fractions/5608a59d6797796ce9e11484fd1554fb/CCSS_3_NF_3b_002.plist</string>
	<string>/Problems/tokcm-legacy/fractions/5608a59d6797796ce9e11484fd1554fb/CCSS_3_NF_3b_003.plist</string>
	<string>/Problems/tokcm-legacy/fractions/5608a59d6797796ce9e11484fd1554fb/CCSS_3_NF_3b_004.plist</string>
	<string>/Problems/tokcm-legacy/fractions/5608a59d6797796ce9e11484fd1554fb/CCSS_3_NF_3b_005.plist</string>
	<string>/Problems/tools-dev/da-np/np1.plist</string>
	<string>/Problems/tools-dev/da-np/np2.plist</string>
	<string>/Problems/tools-dev/da-np/np3.plist</string>
	<string>/Problems/tools-dev/da-np/np4.plist</string>
	<string>/Problems/tools-dev/nline-dev/nline_count_to_4.plist</string>
	<string>/Problems/tools-dev/nline-dev/nline_count_to_5.plist</string>
	<string>/Problems/tools-dev/nline-dev/nline_count_to_6.plist</string>
	<string>/Problems/tools-dev/nline-dev/nline_count_to_7.plist</string>
	<string>/Problems/tools-dev/da-ps/ps2.plist</string>
	<string>/Problems/tools-dev/da-dg/dg1.plist</string>
	<string>/Problems/tools-dev/da-pv/placevalue-problem022.plist</string>
	<string>/Problems/tools-dev/da-ps/ps1.plist</string>
	<string>/Problems/tools-dev/da-ld/ld2.plist</string>
	<string>/Problems/Addition/ac-dev/97amalgamation/am_017.plist</string>
	<string>/Problems/tools-dev/da-ld/ld2.plist</string>
	<string>/Problems/tools-dev/da-fb/float-problem0002.plist</string>
	<string>/Problems/tools-dev/da-pt/partition-test2.plist</string>
	<string>/Problems/tools-dev/da-pt/partition-test3.plist</string>
	<string>/Problems/tools-dev/da-pt/partition-test4.plist</string>
</array>
</plist>
