<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/tools-dev/gj-dev/gj-mq1.plist</string>
	<string>/Problems/tools-dev/gj-dev/gj-f1.plist</string>
	<string>/Problems/tools-dev/gj-dev/gj-f2.plist</string>
	<string>/Problems/tools-dev/gj-dev/gj-mq1.plist</string>
	<string>/Problems/tools-dev/gj-dev/float-noops.plist</string>
	<string>/Problems/FloatingBlock/float-problem0001.plist</string>
	<string>/Problems/FloatingBlock/float-problem0001.plist</string>
	<string>/Problems/tools-dev/da-pv/placevalue-problem020.plist</string>
	<string>/Problems/tools-dev/da-pv/placevalue-problem021.plist</string>
	<string>/Problems/tools-dev/da-pv/placevalue-problem022.plist</string>
	<string>/Problems/tools-dev/da-pv/placevalue-problem023.plist</string>
</array>
</plist>
