<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/PlaceValue/placevalue-problem001.plist</string>
	<string>/Problems/FloatingBlock/float-problem015.plist</string>
	<string>/Problems/FloatingBlock/float-problem014.plist</string>
	<string>/Problems/FloatingBlock/float-problem0001.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem008.plist</string>
	<string>/Problems/FloatingBlock/float-problem0002.plist</string>
	<string>/Problems/FloatingBlock/float-problem017.plist</string>
	<string>/Problems/FloatingBlock/float-problem018.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem012.plist</string>
	<string>/Problems/FloatingBlock/float-problem019.plist</string>
	<string>/Problems/FloatingBlock/float-problem008.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem001.plist</string>
</array>
</plist>
