<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/FloatingBlock/single_block_0001.plist</string>
	<string>/Problems/FloatingBlock/single_block_0002.plist</string>
	<string>/Problems/FloatingBlock/single_block_0003.plist</string>
	<string>/Problems/FloatingBlock/single_block_0004.plist</string>
	<string>/Problems/FloatingBlock/single_block_0005.plist</string>
	<string>/Problems/FloatingBlock/single_block_0006.plist</string>
	<string>/Problems/FloatingBlock/single_block_0007.plist</string>
	<string>/Problems/FloatingBlock/single_block_0008.plist</string>
	<string>/Problems/FloatingBlock/single_block_0009.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem008.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem009.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem010.plist</string>
	<string>/Problems/FloatingBlock/single_block_0010.plist</string>
	<string>/Problems/FloatingBlock/single_block_0011.plist</string>
	<string>/Problems/FloatingBlock/single_block_0012.plist</string>
	<string>/Problems/FloatingBlock/single_block_0013.plist</string>
	<string>/Problems/FloatingBlock/single_block_0014.plist</string>
	<string>/Problems/FloatingBlock/single_block_0015.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem001.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem002.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem003.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem004.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem005.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem006.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem007.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem011.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem012.plist</string>
</array>
</plist>
