<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/Addition/ac-dev/97amalgamation/am_001.plist</string>
	<string>/Problems/Addition/ac-dev/97amalgamation/am_002.plist</string>
	<string>/Problems/Addition/ac-dev/97amalgamation/am_003.plist</string>
	<string>/Problems/Addition/ac-dev/97amalgamation/am_004.plist</string>
	<string>/Problems/Addition/ac-dev/97amalgamation/am_005.plist</string>
	<string>/Problems/Addition/ac-dev/97amalgamation/am_006.plist</string>
	<string>/Problems/Addition/ac-dev/97amalgamation/am_007.plist</string>
	<string>/Problems/Addition/ac-dev/97amalgamation/am_008.plist</string>
	<string>/Problems/Addition/ac-dev/97amalgamation/am_009.plist</string>
	<string>/Problems/Addition/ac-dev/97amalgamation/am_010.plist</string>
	<string>/Problems/Addition/ac-dev/97amalgamation/am_011.plist</string>
	<string>/Problems/Addition/ac-dev/97amalgamation/am_012.plist</string>
	<string>/Problems/Addition/ac-dev/97amalgamation/am_013.plist</string>
	<string>/Problems/Addition/ac-dev/97amalgamation/am_014.plist</string>
	<string>/Problems/Addition/ac-dev/97amalgamation/am_015.plist</string>
	<string>/Problems/Addition/ac-dev/97amalgamation/am_016.plist</string>
	<string>/Problems/Addition/ac-dev/97amalgamation/am_017.plist</string>
	<string>/Problems/Addition/ac-dev/97amalgamation/am_018.plist</string>
</array>
</plist>
