<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/PlaceValue/placevalue-problem001-mq.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem001.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem002.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem003.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem004.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem005.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem006.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem007.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem008.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem009.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem010.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem011.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem012.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem013.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem014.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem015.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem016.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem017.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem018.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem019.plist</string>
	<string>/Problems/PlaceValue/placevalue-problem020.plist</string>
</array>
</plist>
