<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/Addition/PlaceValues/addition_pv_pv_013.plist</string>
	<string>/Problems/Addition/PlaceValues/addition_pv_pv_001.plist</string>
	<string>/Problems/Addition/PlaceValues/addition_pv_pv_002.plist</string>
	<string>/Problems/Addition/PlaceValues/addition_pv_pv_003.plist</string>
	<string>/Problems/Addition/PlaceValues/addition_pv_pv_004.plist</string>
	<string>/Problems/Addition/PlaceValues/addition_pv_pv_005.plist</string>
	<string>/Problems/Addition/PlaceValues/addition_pv_pv_006.plist</string>
	<string>/Problems/Addition/PlaceValues/addition_pv_pv_007.plist</string>
	<string>/Problems/Addition/PlaceValues/addition_pv_pv_008.plist</string>
	<string>/Problems/Addition/PlaceValues/addition_pv_pv_009.plist</string>
	<string>/Problems/Addition/PlaceValues/addition_pv_pv_010.plist</string>
	<string>/Problems/Addition/PlaceValues/addition_pv_pv_011.plist</string>
	<string>/Problems/Addition/PlaceValues/addition_pv_pv_012.plist</string>
</array>
</plist>
