<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/Addition/ac-dev/02count/earlymap_001.plist</string>
	<string>/Problems/Addition/ac-dev/02count/earlymap_002.plist</string>
	<string>/Problems/Addition/ac-dev/02count/earlymap_003.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/earlytest_001.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/earlytest_005.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/earlytest_004.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/CCSS_K_OA_4_001.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/CCSS_K_OA_4_002.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/CCSS_K_OA_4_003.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/CCSS_K_OA_4_004.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/CCSS_K_OA_4_005.plist</string>
	<string>/Problems/partitioning/CCSS_K_OA_3_003.plist</string>
	<string>/Problems/partitioning/CCSS_K_OA_3_004.plist</string>
	<string>/Problems/partitioning/CCSS_K_OA_3_005.plist</string>
	<string>/Problems/partitioning/CCSS_K_OA_3_006.plist</string>
	<string>/Problems/partitioning/CCSS_K_OA_3_007.plist</string>
	<string>/Problems/partitioning/CCSS_1_OA_3_001.plist</string>
	<string>/Problems/partitioning/CCSS_1_OA_3_002.plist</string>
	<string>/Problems/partitioning/CCSS_1_OA_3_003.plist</string>
	<string>/Problems/partitioning/CCSS_1_OA_3_004.plist</string>
	<string>/Problems/partitioning/CCSS_1_OA_3_005.plist</string>
	<string>/Problems/partitioning/early_001.plist</string>
	<string>/Problems/partitioning/early_002.plist</string>
	<string>/Problems/partitioning/early_003.plist</string>
	<string>/Problems/partitioning/early_004.plist</string>
	<string>/Problems/partitioning/early_005.plist</string>
	<string>/Problems/partitioning/CCSS_1_OA_3a_001.plist</string>
	<string>/Problems/partitioning/CCSS_1_OA_3a_002.plist</string>
	<string>/Problems/partitioning/CCSS_1_OA_3a_003.plist</string>
	<string>/Problems/partitioning/CCSS_1_OA_3a_004.plist</string>
	<string>/Problems/partitioning/CCSS_1_OA_3a_005.plist</string>
	<string>/Problems/partitioning/CCSS_K_NBT_1_002.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/CCSS_1_NBT_2c_001.plist</string>
	<string>/Problems/Addition/ac-dev/01pv/CCSS_K_OA_3_003.plist</string>
	<string>/Problems/partitioning/CCSS_5_NF_7b_001.plist</string>
	<string>/Problems/dot_grid/CCSS_5_NF_7a_001.plist</string>
	<string>/Problems/partitioning/CCSS_5_NF_7_001.plist</string>
	<string>/Problems/partitioning/CCSS_5_NF_4_002.plist</string>
	<string>/Problems/partitioning/CCSS_5_NF_4_001.plist</string>
	<string>/Problems/partitioning/CCSS_5_NF_3_001.plist</string>
	<string>/Problems/partitioning/CCSS_4_NF_3c_001.plist</string>
	<string>/Problems/dot_grid/CCSS_4_NF_3b_001.plist</string>
	<string>/Problems/dot_grid/CCSS_5_NF_1_002.plist</string>
	<string>/Problems/dot_grid/CCSS_5_NF_1_001.plist</string>
	<string>/Problems/dot_grid/CCSS_4_NF_3a_001.plist</string>
	<string>/Problems/partitioning/CCSS_4_NF_3a_002.plist</string>
	<string>/Problems/dot_grid/CCSS_4_NF_6_001.plist</string>
	<string>/Problems/dot_grid/CCSS_4_NF_5_001.plist</string>
	<string>/Problems/dot_grid/CCSS_4_NF_4_001.plist</string>
	<string>/Problems/dot_grid/CCSS_4_NF_3_001.plist</string>
	<string>/Problems/partitioning/CCSS_4_NF_3_002.plist</string>
	<string>/Problems/dot_grid/CCSS_4_NF_2_001.plist</string>
	<string>/Problems/partitioning/CCSS_3_NF_3d_001.plist</string>
	<string>/Problems/dot_grid/CCSS_3_NF_3b_001.plist</string>
	<string>/Problems/dot_grid/CCSS_3_NF_3b_002.plist</string>
	<string>/Problems/dot_grid/CCSS_3_NF_3b_003.plist</string>
	<string>/Problems/dot_grid/CCSS_3_NF_3b_004.plist</string>
	<string>/Problems/dot_grid/CCSS_3_NF_3b_005.plist</string>
	<string>/Problems/partitioning/CCSS_3_NF_3b_006.plist</string>
	<string>/Problems/partitioning/CCSS_3_NF_3d_001.plist</string>
	<string>/Problems/partitioning/CCSS_3_NF_1_001.plist</string>
	<string>/Problems/partitioning/CCSS_3_NF_1_002.plist</string>
	<string>/Problems/partitioning/partition_017.plist</string>
	<string>/Problems/partitioning/partition_013.plist</string>
	<string>/Problems/partitioning/partition_014.plist</string>
	<string>/Problems/partitioning/partition_015.plist</string>
	<string>/Problems/partitioning/partition_016.plist</string>
	<string>/Problems/dot_grid/dg_f_001.plist</string>
	<string>/Problems/dot_grid/dg_f_002.plist</string>
	<string>/Problems/dot_grid/dg_f_002.plist</string>
	<string>/Problems/dot_grid/dg_m_011.plist</string>
	<string>/Problems/dot_grid/dg_m_001.plist</string>
	<string>/Problems/dot_grid/dg_m_002.plist</string>
	<string>/Problems/dot_grid/dg_m_003.plist</string>
	<string>/Problems/partitioning/partition_001.plist</string>
	<string>/Problems/partitioning/partition_002.plist</string>
	<string>/Problems/partitioning/partition_003.plist</string>
	<string>/Problems/partitioning/partition_004.plist</string>
	<string>/Problems/partitioning/partition_005.plist</string>
	<string>/Problems/partitioning/partition_006.plist</string>
	<string>/Problems/partitioning/partition_007.plist</string>
	<string>/Problems/partitioning/partition_008.plist</string>
	<string>/Problems/partitioning/partition_009.plist</string>
	<string>/Problems/partitioning/partition_010.plist</string>
	<string>/Problems/partitioning/partition_011.plist</string>
	<string>/Problems/partitioning/partition_012.plist</string>
	<string>/Problems/dot_grid/dg001.plist</string>
	<string>/Problems/dot_grid/dg001.plist</string>
	<string>/Problems/dot_grid/dg002.plist</string>
	<string>/Problems/dot_grid/dg003.plist</string>
	<string>/Problems/dot_grid/dg004.plist</string>
	<string>/Problems/dot_grid/dg005.plist</string>
	<string>/Problems/dot_grid/dg006.plist</string>
	<string>/Problems/dot_grid/dg007.plist</string>
	<string>/Problems/dot_grid/dg008.plist</string>
	<string>/Problems/dot_grid/dg009.plist</string>
</array>
</plist>
