<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/19thJuly/dyn_5608a59d6797796ce9e11484fd17369e/1nline1.plist</string>
	<string>/Problems/19thJuly/dyn_5608a59d6797796ce9e11484fd17369e/1nline2.plist</string>
	<string>/Problems/19thJuly/dyn_5608a59d6797796ce9e11484fd17369e/2columnadd1.plist</string>
	<string>/Problems/19thJuly/dyn_5608a59d6797796ce9e11484fd17369e/3np1.plist</string>
</array>
</plist>
