<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/understanding_multiplication/dd95d7d0a2a52c6bc89724b163044d51/nb_6.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/understanding_multiplication/dd95d7d0a2a52c6bc89724b163044d51/fbl_3_2.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/understanding_multiplication/dd95d7d0a2a52c6bc89724b163044d51/dt_mq_3_2.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/understanding_multiplication/dd95d7d0a2a52c6bc89724b163044d51/mq_3_2.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/understanding_multiplication/dd95d7d0a2a52c6bc89724b163044d51/nb_8.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/understanding_multiplication/dd95d7d0a2a52c6bc89724b163044d51/fbl_4_2.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/understanding_multiplication/dd95d7d0a2a52c6bc89724b163044d51/dt_mq_4_2.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/understanding_multiplication/dd95d7d0a2a52c6bc89724b163044d51/mq_4_2.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/understanding_multiplication/dd95d7d0a2a52c6bc89724b163044d51/dt_mq_3_3.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/understanding_multiplication/dd95d7d0a2a52c6bc89724b163044d51/mq_3_3.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/understanding_multiplication/dd95d7d0a2a52c6bc89724b163044d51/dt_mq_4_3.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/understanding_multiplication/dd95d7d0a2a52c6bc89724b163044d51/mq_4_3.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/understanding_multiplication/dd95d7d0a2a52c6bc89724b163044d51/nb_6_equiv.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/understanding_multiplication/dd95d7d0a2a52c6bc89724b163044d51/mq_equal_6_2.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/understanding_multiplication/dd95d7d0a2a52c6bc89724b163044d51/nb_8_equiv.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/understanding_multiplication/dd95d7d0a2a52c6bc89724b163044d51/mq_equal_8_2.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/understanding_multiplication/dd95d7d0a2a52c6bc89724b163044d51/nb_10_equiv.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/understanding_multiplication/dd95d7d0a2a52c6bc89724b163044d51/mq_what_x_represents_dyn.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/understanding_multiplication/dd95d7d0a2a52c6bc89724b163044d51/dt_mq_4_4.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/understanding_multiplication/dd95d7d0a2a52c6bc89724b163044d51/dt_mq_5_2.plist</string>
</array>
</plist>
