<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/early_multiplication_and_division/5608a59d6797796ce9e11484fd15ca68/np_4_2_x.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/early_multiplication_and_division/5608a59d6797796ce9e11484fd15ca68/np_4_x_2.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/early_multiplication_and_division/5608a59d6797796ce9e11484fd15ca68/np_x_4_2.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/early_multiplication_and_division/5608a59d6797796ce9e11484fd15ca68/np_2_2_x_m.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/early_multiplication_and_division/5608a59d6797796ce9e11484fd15ca68/np_12_4_x.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/early_multiplication_and_division/5608a59d6797796ce9e11484fd15ca68/np_12_6_x.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/early_multiplication_and_division/5608a59d6797796ce9e11484fd15ca68/np_12_x_6.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/early_multiplication_and_division/5608a59d6797796ce9e11484fd15ca68/np_6_x_12_m.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/early_multiplication_and_division/5608a59d6797796ce9e11484fd15ca68/np_mult_dyn.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/early_multiplication_and_division/5608a59d6797796ce9e11484fd15ca68/np_x_4_6.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/early_multiplication_and_division/5608a59d6797796ce9e11484fd15ca68/np_6_x_60_m.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/early_multiplication_and_division/5608a59d6797796ce9e11484fd15ca68/np_x_3_8.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/early_multiplication_and_division/5608a59d6797796ce9e11484fd15ca68/np_3_8_x_m.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/early_multiplication_and_division/5608a59d6797796ce9e11484fd15ca68/np_9_x_3.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/early_multiplication_and_division/5608a59d6797796ce9e11484fd15ca68/np_mult_dyn.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/early_multiplication_and_division/5608a59d6797796ce9e11484fd15ca68/np_x_10_6.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/early_multiplication_and_division/5608a59d6797796ce9e11484fd15ca68/np_7_x_49_m.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/early_multiplication_and_division/5608a59d6797796ce9e11484fd15ca68/np_40_5_x.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/early_multiplication_and_division/5608a59d6797796ce9e11484fd15ca68/np_mult_dyn.plist</string>
	<string>/Problems/tokcm-authoring/Number/multiplication_and_division/early_multiplication_and_division/5608a59d6797796ce9e11484fd15ca68/np_x_3_27_m.plist</string>
</array>
</plist>
