<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>EVAL_TYPE</key>
	<string>ALL_PICKERS_CORRECT</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;What is 2 divided by 5?&lt;/b:t&gt;</string>
		<string>&lt;b:on usePicker=&quot;yes&quot; pickerTargetNumerator=&quot;2&quot; pickerTargetDenominator=&quot;5&quot;/&gt;</string>
	</array>
</dict>
</plist>
