<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>TOOL_KEY</key>
    <string>RatioTool</string>
    <key>INTERNAL_DESCRIPTION</key>
    <string>simplify down to 1:x</string>
    <key>FOUNDATION</key>
    <true/>
    <key>PROBLEM_DESCRIPTION</key>
    <string>Mix green and blue in the ratio 200 : 150</string>
    <key>EVAL_MODE</key>
    <string>1</string>
    <key>REJECT_MODE</key>
    <string>0</string>
    <key>RECIPE_RED</key>
    <integer>0</integer>
    <key>RECIPE_GREEN</key>
    <integer>200</integer>
    <key>RECIPE_BLUE</key>
    <integer>150</integer>
    <key>EVAL_VALUE_RED</key>
    <integer>0</integer>
    <key>EVAL_VALUE_GREEN</key>
    <integer>200</integer>
    <key>WHEEL_MAX</key>
    <integer>250</integer>
    <key>INIT_VALUE_BLUE</key>
    <integer>150</integer>
  </dict>
</plist>
