<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>TOOL_KEY</key>
    <string>RatioTool</string>
    <key>PROBLEM_DESCRIPTION</key>
    <string>Red, green and blue goo is mixed in the ratio {$r} : {$g} : {$b}. {100*$b} blue goo are used. Complete the mix.</string>
    <key>EVAL_MODE</key>
    <string>1</string>
    <key>REJECT_MODE</key>
    <string>0</string>
    <key>RECIPE_RED</key>
    <string>{$r}</string>
    <key>RECIPE_GREEN</key>
    <string>{$g}</string>
    <key>RECIPE_BLUE</key>
    <string>{$b}</string>
    <key>EVAL_VALUE_RED</key>
    <string>{100*$r}</string>
    <key>EVAL_VALUE_GREEN</key>
    <string>{100*$g}</string>
    <key>WHEEL_MAX</key>
    <string>999</string>
    <key>INIT_VALUE_BLUE</key>
    <string>{100*$b}</string>
    <key>DVARS</key>
    <array>
      <dict>
        <key>VAR_NAME</key>
        <string>$r</string>
        <key>RETAIN</key>
        <true/>
        <key>MIN</key>
        <string>4</string>
        <key>MAX</key>
        <string>7</string>
      </dict>
      <dict>
        <key>VAR_NAME</key>
        <string>$g</string>
        <key>RETAIN</key>
        <true/>
        <key>MIN</key>
        <string>2</string>
        <key>MAX</key>
        <string>4</string>
      </dict>
      <dict>
        <key>VAR_NAME</key>
        <string>$b</string>
        <key>RETAIN</key>
        <true/>
        <key>MIN</key>
        <string>1</string>
        <key>MAX</key>
        <string>3</string>
      </dict>
    </array>
  </dict>
</plist>
