<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MASTERY</key>
	<true/>
	<key>PROBLEM_DESCRIPTION</key>
	<string>10 = 8 + 3. True or false?</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>10 = 8 + 3. True or false?</string>
	<key>TOOL_KEY</key>
	<string>NumberBonds</string>
	<key>INIT_BARS</key>
	<array>
		<dict>
			<key>LOCKED</key>
			<true/>
			<key>LENGTH</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>LOCKED</key>
			<false/>
			<key>LENGTH</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>LABEL</key>
			<string>10</string>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>LENGTH</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>INIT_CAGES</key>
	<array>
		<dict>
			<key>LENGTH</key>
			<integer>1</integer>
			<key>LABEL</key>
			<string>1</string>
			<key>QUANTITY</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>LENGTH</key>
			<integer>2</integer>
			<key>LABEL</key>
			<string>2</string>
			<key>QUANTITY</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>LENGTH</key>
			<integer>3</integer>
			<key>LABEL</key>
			<string>3</string>
			<key>QUANTITY</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>LENGTH</key>
			<integer>4</integer>
			<key>LABEL</key>
			<string>4</string>
			<key>QUANTITY</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>LENGTH</key>
			<integer>5</integer>
			<key>LABEL</key>
			<string>5</string>
			<key>QUANTITY</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>LENGTH</key>
			<integer>6</integer>
			<key>LABEL</key>
			<string>6</string>
			<key>QUANTITY</key>
			<integer>7</integer>
		</dict>
	</array>
	<key>SOLUTION_MODE</key>
	<integer>1</integer>
	<key>SOLUTIONS</key>
	<array>
		<array>
			<integer>14</integer>
		</array>
		<array>
			<integer>7</integer>
			<integer>7</integer>
		</array>
	</array>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_COMPLETE_TEXT</key>
		<string>well done!!</string>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>True</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>False</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>10 = 8 + 3. True or false?</string>
		<key>META_QUESTION_INCOMPLETE_TEXT</key>
		<string>Try again</string>
	</dict>
	<key>HOST_BACKGROUND_IMAGE</key>
	<string>/images/bg/bg-ipad-addition_2_7_9.png</string>
</dict>
</plist>
