<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>PROBLEM_DESCRIPTION</key>
    <string>Show that 8 is made of four groups of 2.</string>
    <key>INTERNAL_DESCRIPTION</key>
    <string>Show that 8 is made of 4 groups of 2.</string>
    <key>TOOL_KEY</key>
    <string>NumberBonds</string>
    <key>SOLUTION_MODE</key>
    <integer>1</integer>
    <key>INIT_BARS</key>
    <array>
      <dict>
        <key>LOCKED</key>
        <true/>
        <key>LENGTH</key>
        <integer>8</integer>
      </dict>
      <dict>
        <key>LOCKED</key>
        <false/>
        <key>LENGTH</key>
        <integer>8</integer>
      </dict>
    </array>
    <key>INIT_OBJECTS</key>
    <array>
      <dict>
        <key>LABEL</key>
        <string>8</string>
        <key>PUT_IN_ROW</key>
        <integer>0</integer>
        <key>LENGTH</key>
        <integer>8</integer>
      </dict>
    </array>
    <key>EVAL_MODE</key>
    <integer>1</integer>
    <key>SHOW_BADGES</key>
    <false/>
    <key>INIT_CAGES</key>
    <array>
      <dict>
        <key>LENGTH</key>
        <integer>1</integer>
        <key>LABEL</key>
        <string>1</string>
        <key>QUANTITY</key>
        <integer>10</integer>
      </dict>
      <dict>
        <key>LENGTH</key>
        <integer>2</integer>
        <key>LABEL</key>
        <string>2</string>
        <key>QUANTITY</key>
        <integer>10</integer>
      </dict>
      <dict>
        <key>LENGTH</key>
        <integer>3</integer>
        <key>LABEL</key>
        <string>3</string>
        <key>QUANTITY</key>
        <integer>10</integer>
      </dict>
      <dict>
        <key>LENGTH</key>
        <integer>4</integer>
        <key>LABEL</key>
        <string>4</string>
        <key>QUANTITY</key>
        <integer>10</integer>
      </dict>
      <dict>
        <key>LENGTH</key>
        <integer>5</integer>
        <key>LABEL</key>
        <string>5</string>
        <key>QUANTITY</key>
        <integer>10</integer>
      </dict>
      <dict>
        <key>LENGTH</key>
        <integer>6</integer>
        <key>LABEL</key>
        <string>6</string>
        <key>QUANTITY</key>
        <integer>10</integer>
      </dict>
      <dict>
        <key>LENGTH</key>
        <integer>7</integer>
        <key>LABEL</key>
        <string>7</string>
        <key>QUANTITY</key>
        <integer>10</integer>
      </dict>
    </array>
    <key>HOST_BACKGROUND_IMAGE</key>
    <string>/images/bg/bg-ipad-addition_2_7_9.png</string>
    <key>SOLUTIONS</key>
    <array>
      <array>
        <integer>2</integer>
        <integer>2</integer>
        <integer>2</integer>
        <integer>2</integer>
      </array>
    </array>
  </dict>
</plist>
