<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>Express 3 groups of 2 as an addition.</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;Express &lt;/b:t&gt;
&lt;b:ot tag=&quot;a&quot;&gt;3&lt;/b:ot&gt;
&lt;b:t&gt;groups of&lt;/b:t&gt;
&lt;b:ot tag=&quot;b&quot;&gt;2&lt;/b:ot&gt;
&lt;b:t&gt;as expression with addition.&lt;/b:t&gt;</string>
		<string>&lt;b:commlkp lkpid=&quot;cl1&quot;&gt;
 &lt;b:lkpitem tag=&quot;a&quot;&gt;3&lt;/b:lkpitem&gt;
 &lt;b:lkpitem tag=&quot;b&quot;&gt;2&lt;/b:lkpitem&gt;
&lt;/b:commlkp&gt;

&lt;b:commot lkpid=&quot;cl1&quot; sample=&quot;2&quot; preftag=&quot;b&quot; /&gt;
&lt;b:oo value=&quot;+&quot; picker=&quot;yes&quot; /&gt;
&lt;b:commot lkpid=&quot;cl1&quot; sample=&quot;2&quot; preftag=&quot;b&quot; /&gt;
&lt;b:oo value=&quot;+&quot; picker=&quot;yes&quot; /&gt;
&lt;b:commot lkpid=&quot;cl1&quot; sample=&quot;2&quot; preftag=&quot;b&quot; /&gt;</string>
	</array>
	<key>DVARS</key>
	<dict>
		<key>$object</key>
		<dict>
			<key>MIN</key>
			<string>4</string>
			<key>MAX</key>
			<string>9</string>
		</dict>
		<key>$decrementor</key>
		<dict>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>3</string>
		</dict>
		<key>$number</key>
		<dict>
			<key>VALUE</key>
			<string>{$object-$decrementor}</string>
		</dict>
	</dict>
	<key>DSTRINGS</key>
	<dict>
		<key>@object</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>apples</string>
				<string>sweets</string>
				<string>pens</string>
			</array>
		</dict>
	</dict>
	<key>EVAL_TYPE</key>
	<string>ALL_ENABLED</string>
</dict>
</plist>
