<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>PROBLEM_DESCRIPTION</key>
    <string>Show that 3 groups of 3 blocks makes 9 blocks in total.</string>
    <key>TOOL_KEY</key>
    <string>FloatingBlock</string>
    <key>EVAL_MODE</key>
    <integer>0</integer>
    <key>SOLUTION</key>
    <integer>9</integer>
    <key>INIT_BUBBLES</key>
    <integer>2</integer>
    <key>INIT_OBJECTS</key>
    <array>
      <dict>
        <key>NUMBER</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>NUMBER</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>NUMBER</key>
        <integer>3</integer>
      </dict>
    </array>
    <key>BUBBLE_AUTO_OPERATE</key>
    <false/>
    <key>SUPPORTED_OPERATORS</key>
    <array>
      <string>+</string>
    </array>
    <key>SHOW_MULTIPLE_CONTROLS</key>
    <true/>
    <key>SHOW_SOLUTION_ON_PIPE</key>
    <true/>
    <key>MAX_BLOCKS_FROM_PIPE</key>
    <integer>3</integer>
    <key>SHOW_INPUT_PIPE</key>
    <false/>
  </dict>
</plist>
