<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>NODE_ID</key>
		<string>5608a59d6797796ce9e11484fd159370</string>
		<key>PIPELINE_NAME</key>
		<string>build_1.06</string>
		<key>PROBLEMS</key>
        <array>
            <string>/Problems/tokcm-authoring/Number/counting_matching_and_sorting/comparing_numbers/5608a59d6797796ce9e11484fd159370/nb_10_6.plist</string>
            <string>/Problems/tokcm-authoring/Number/counting_matching_and_sorting/comparing_numbers/5608a59d6797796ce9e11484fd159370/nb_10_4.plist</string>
            <string>/Problems/tokcm-authoring/Number/counting_matching_and_sorting/comparing_numbers/5608a59d6797796ce9e11484fd159370/mq_pv_6_4.plist</string>
            <string>/Problems/tokcm-authoring/Number/counting_matching_and_sorting/comparing_numbers/5608a59d6797796ce9e11484fd159370/mq_pv_6_3.plist</string>
            <string>/Problems/tokcm-authoring/Number/counting_matching_and_sorting/comparing_numbers/5608a59d6797796ce9e11484fd159370/mq_pv_6_2.plist</string>
            <string>/Problems/tokcm-authoring/Number/counting_matching_and_sorting/comparing_numbers/5608a59d6797796ce9e11484fd159370/mq_dyn_1-5_6-10.plist</string>
            <string>/Problems/tokcm-authoring/Number/counting_matching_and_sorting/comparing_numbers/5608a59d6797796ce9e11484fd159370/mq_dyn_1-5_6-10.plist</string>
            <string>/Problems/tokcm-authoring/Number/counting_matching_and_sorting/comparing_numbers/5608a59d6797796ce9e11484fd159370/mq_dyn_1-5_6-10.plist</string>
            <string>/Problems/tokcm-authoring/Number/counting_matching_and_sorting/comparing_numbers/5608a59d6797796ce9e11484fd159370/np_dyn_10-14_15-20.plist</string>
            <string>/Problems/tokcm-authoring/Number/counting_matching_and_sorting/comparing_numbers/5608a59d6797796ce9e11484fd159370/np_dyn_10-14_15-20.plist</string>
            <string>/Problems/tokcm-authoring/Number/counting_matching_and_sorting/comparing_numbers/5608a59d6797796ce9e11484fd159370/np_dyn_10-14_15-20.plist</string>
        </array>
	</dict>
</plist>
