<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Which is more?</string>
	<key>TOOL_KEY</key>
	<string>PieSplitter</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>DIVIDEND</key>
	<integer>3</integer>
	<key>DIVISOR</key>
	<integer>4</integer>
	<key>NUMBER_ACTIVE_PIES</key>
	<integer>2</integer>
	<key>NUMBER_ACTIVE_SQUARES</key>
	<integer>3</integer>
	<key>SPLIT_WITH_CORRECT_NUMBERS</key>
	<false/>
</dict>
</plist>
