<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>REJECT_MODE</key>
    <integer>0</integer>
    <key>INTERNAL_DESCRIPTION</key>
    <string>How far away is each marker from 0?</string>
    <key>JUMP_MODE</key>
    <false/>
    <key>HIDE_ALL_NUMBERS</key>
    <false/>
    <key>EVAL_PLUS_MINUS_THRESHOLD</key>
    <integer>0</integer>
    <key>HIDE_END_NUMBER</key>
    <false/>
    <key>HIDE_END_NOTCH</key>
    <false/>
    <key>NUMBER_PICKER</key>
    <dict>
      <key>NUMBER_PICKER_DESCRIPTION</key>
      <string>How far away is each&lt;/b:t&gt;&lt;b:oi tag="30_NL_Yellow" /&gt;&lt;b:t&gt;from 0?</string>
      <key>PICKER_LAYOUT</key>
      <integer>1</integer>
      <key>ANIMATE_FROM_PICKER</key>
      <true/>
      <key>PICKER_EVAL_MODE</key>
      <integer>1</integer>
      <key>EVAL_VALUE</key>
      <string>{$ab}</string>
      <key>SHOW_DROPBOX</key>
      <true/>
    </dict>
    <key>HIDE_ALL_NOTCHES</key>
    <false/>
    <key>HIDE_START_NUMBER</key>
    <false/>
    <key>SEGMENT_VALUE</key>
    <integer>5</integer>
    <key>MIN_VALUE</key>
    <string>-60</string>
    <key>DISABLE_SNAPPING_TO_NOTCH</key>
    <false/>
    <key>MARKER_POSITIONS</key>
    <array>
      <string>-{$ab}</string>
      <string>{$ab}</string>
    </array>
    <key>MAX_VALUE</key>
    <string>60</string>
    <key>CORE</key>
    <true/>
    <key>HIDE_START_NOTCH</key>
    <false/>
    <key>PROBLEM_DESCRIPTION</key>
    <string>How far away is each marker from 0?</string>
    <key>START_VALUE</key>
    <string>-{$ab}</string>
    <key>COUNT_OUT_LOUD_AT_INTERVALS</key>
    <true/>
    <key>DVARS</key>
    <array>
      <dict>
        <key>MIN</key>
        <string>3</string>
        <key>MAX</key>
        <string>11</string>
        <key>VAR_NAME</key>
        <string>$a</string>
      </dict>
      <dict>
        <key>VALUE</key>
        <string>{5*$a}</string>
        <key>VAR_NAME</key>
        <string>$ab</string>
      </dict>
    </array>
    <key>TOOL_KEY</key>
    <string>NLine</string>
    <key>EVAL_MODE</key>
    <integer>1</integer>
  </dict>
</plist>
