<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>make 7</string>
	<key>TOOL_KEY</key>
	<string>NumberBonds</string>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>LENGTH</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>LENGTH</key>
			<integer>4</integer>
		</dict>
	</array>
	<key>INIT_BARS</key>
	<array>
		<dict>
			<key>LOCKED</key>
			<true/>
			<key>LENGTH</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>LOCKED</key>
			<false/>
			<key>LENGTH</key>
			<string>7</string>
		</dict>
		<dict>
			<key>LOCKED</key>
			<false/>
			<key>LENGTH</key>
			<string>7</string>
		</dict>
	</array>
	<key>INIT_CAGES</key>
	<array>
		<dict>
			<key>LENGTH</key>
			<integer>1</integer>
			<key>LABEL</key>
			<string>1</string>
			<key>QUANTITY</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LENGTH</key>
			<integer>2</integer>
			<key>LABEL</key>
			<string>2</string>
			<key>QUANTITY</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LENGTH</key>
			<integer>5</integer>
			<key>LABEL</key>
			<string>5</string>
			<key>QUANTITY</key>
			<string>1</string>
		</dict>
		<dict>
			<key>LENGTH</key>
			<integer>6</integer>
			<key>LABEL</key>
			<string>6</string>
			<key>QUANTITY</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>SOLUTIONS</key>
	<array/>
	<key>EVAL_MODE</key>
	<integer>1</integer>
</dict>
</plist>
