<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/tokcm-authoring/Number/operations_patterns_and_rules/patterns_and_rules/5608a59d6797796ce9e11484fd1511ce/101addthree.plist</string>
	<string>/Problems/tokcm-authoring/Number/operations_patterns_and_rules/patterns_and_rules/5608a59d6797796ce9e11484fd1511ce/102addthree.plist</string>
	<string>/Problems/tokcm-authoring/Number/operations_patterns_and_rules/patterns_and_rules/5608a59d6797796ce9e11484fd1511ce/103addthree.plist</string>
	<string>/Problems/tokcm-authoring/Number/operations_patterns_and_rules/patterns_and_rules/5608a59d6797796ce9e11484fd1511ce/104addthree-oddoreven.plist</string>
	<string>/Problems/tokcm-authoring/Number/operations_patterns_and_rules/patterns_and_rules/5608a59d6797796ce9e11484fd1511ce/105addthree-nextterm.plist</string>
	<string>/Problems/tokcm-authoring/Number/operations_patterns_and_rules/patterns_and_rules/5608a59d6797796ce9e11484fd1511ce/201squarenumbers.plist</string>
	<string>/Problems/tokcm-authoring/Number/operations_patterns_and_rules/patterns_and_rules/5608a59d6797796ce9e11484fd1511ce/202mqsquarenumbers.plist</string>
	<string>/Problems/tokcm-authoring/Number/operations_patterns_and_rules/patterns_and_rules/5608a59d6797796ce9e11484fd1511ce/203mqsquarenumbers.plist</string>
	<string>/Problems/tokcm-authoring/Number/operations_patterns_and_rules/patterns_and_rules/5608a59d6797796ce9e11484fd1511ce/204mqsquarenumbers.plist</string>
	<string>/Problems/tokcm-authoring/Number/operations_patterns_and_rules/patterns_and_rules/5608a59d6797796ce9e11484fd1511ce/205npsquarenumbers.plist</string>
</array>
</plist>
