<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>I start at {$x}. What is the nearest multiple of 10?</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>Round x to the nearest 10.</string>
	<key>MASTERY</key>
	<true/>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>140</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>160</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>150</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>I start at {$x}. What is the nearest multiple of 10?</string>
	</dict>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>145</string>
			<key>MAX</key>
			<string>154</string>
		</dict>
	</array>
</dict>
</plist>
