<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/Problems/26-03-13/127c98/pdef_0.plist</string>
	<string>/Problems/26-03-13/127c98/pdef_1.plist</string>
	<string>/Problems/26-03-13/127c98/pdef_2.plist</string>
	<string>/Problems/26-03-13/127c98/pdef_3.plist</string>
	<string>/Problems/26-03-13/127c98/pdef_4.plist</string>
	<string>/Problems/26-03-13/127c98/pdef_5.plist</string>
	<string>/Problems/26-03-13/127c98/pdef_6.plist</string>
	<string>/Problems/26-03-13/127c98/pdef_7.plist</string>
	<string>/Problems/26-03-13/127c98/pdef_8.plist</string>
</array>
</plist>
