<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Break down 1 1/4 into whole numbers and/or fractions.</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>Break down 1 1/4 into whole numbers and/or fractions.</string>
	<key>TOOL_KEY</key>
	<string>NumberBonds</string>
	<key>SOLUTION_MODE</key>
	<integer>0</integer>
	<key>SOLUTIONS</key>
	<array/>
	<key>INIT_BARS</key>
	<array>
		<dict>
			<key>LOCKED</key>
			<true/>
			<key>LENGTH</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>LOCKED</key>
			<false/>
			<key>LENGTH</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>LOCKED</key>
			<false/>
			<key>LENGTH</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>LABEL</key>
			<string>1 1/4</string>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>LENGTH</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>INIT_CAGES</key>
	<array>
		<dict>
			<key>LENGTH</key>
			<integer>2</integer>
			<key>LABEL</key>
			<string>1/4</string>
			<key>QUANTITY</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>LENGTH</key>
			<integer>4</integer>
			<key>LABEL</key>
			<string>2/4</string>
			<key>QUANTITY</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>LENGTH</key>
			<integer>6</integer>
			<key>LABEL</key>
			<string>3/4</string>
			<key>QUANTITY</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>LENGTH</key>
			<integer>8</integer>
			<key>LABEL</key>
			<string>1</string>
			<key>QUANTITY</key>
			<integer>10</integer>
		</dict>
	</array>
</dict>
</plist>
