<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FOUNDATION</key>
	<true/>
	<key>EVAL_TYPE</key>
	<string>SEQUENCE_ASC</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>x to (x+5)</string>
	<key>DVARS</key>
	<array>
		<dict>
			<key>MIN</key>
			<string>6</string>
			<key>MAX</key>
			<string>9</string>
			<key>VAR_NAME</key>
			<string>$x</string>
		</dict>
	</array>
	<key>EVAL_MODE</key>
	<string>1</string>
	<key>NUMBER_CARD_ROW_MAX</key>
	<string>{$x+5}</string>
	<key>NUMBER_CARD_INTERVAL</key>
	<integer>1</integer>
	<key>NUMBER_CARD_RANDOMISE</key>
	<true/>
	<key>NUMBER_CARD_ROW_MIN</key>
	<string>{$x+1}</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;Arrange from smallest to largest.&lt;/b:t&gt;</string>
		<string>&lt;b:ph/&gt;&lt;b:ph/&gt;&lt;b:on number=&quot;{$x+3}&quot;/&gt;&lt;b:ph/&gt;&lt;b:ph/&gt;</string>
	</array>
	<key>REPEAT_AS_IS_MIN</key>
	<integer>2</integer>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
</dict>
</plist>
