<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Find all solutions to make 24. </string>
	<key>TOOL_KEY</key>
	<string>TimesTables</string>
	<key>ANCHOR_SPACE</key>
	<integer>65</integer>
	<key>START_X</key>
	<integer>1</integer>
	<key>START_Y</key>
	<integer>2</integer>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>OPERATOR_MODE</key>
	<integer>2</integer>
	<key>SHOW_CALC_BUBBLE</key>
	<true/>
	<key>SHOW_X_AXIS</key>
	<true/>
	<key>SHOW_Y_AXIS</key>
	<true/>
	<key>SWITCH_XY_ANSWER-IGNORE</key>
	<true/>
	<key>SELECTION_MODE</key>
	<integer>1</integer>
	<key>ACTIVE_ROWS-IGNORE</key>
	<array/>
	<key>ACTIVE_COLS-IGNORE</key>
	<array/>
	<key>REVEAL_ROWS</key>
	<array/>
	<key>REVEAL_COLS</key>
	<array/>
	<key>REVEAL_TILES</key>
	<array/>
	<key>SOLUTIONS</key>
	<array>
		<dict>
			<key>POS_X</key>
			<integer>4</integer>
			<key>POS_Y</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>POS_X</key>
			<integer>6</integer>
			<key>POS_Y</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>POS_X</key>
			<integer>8</integer>
			<key>POS_Y</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>POS_X</key>
			<integer>3</integer>
			<key>POS_Y</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>POS_X</key>
			<integer>12</integer>
			<key>POS_Y</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>POS_X</key>
			<integer>2</integer>
			<key>POS_Y</key>
			<integer>12</integer>
		</dict>
	</array>
	<key>TIMER</key>
	<dict>
		<key>TIMER_DURATION</key>
		<integer>0</integer>
		<key>TIMER_ACTIONS</key>
		<dict>
			<key>REVEAL_ROWS</key>
			<array/>
			<key>REVEAL_COLS</key>
			<array/>
			<key>REVEAL_TILES</key>
			<array/>
			<key>SHOW_X_AXIS</key>
			<false/>
			<key>SHOW_Y_AXIS</key>
			<false/>
			<key>SHOW_CALC_BUBBLE</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
