<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>NODE_ID</key>
		<string>5608a59d6797796ce9e11484fd14cd0b</string>
		<key>PIPELINE_NAME</key>
		<string>build_1.06</string>
		<key>PROBLEMS</key>
        <array>
            <string>/Problems/tokcm-authoring/Number/fractions/early_fractions/5608a59d6797796ce9e11484fd14cd0b/nb_4-9.plist</string>
            <string>/Problems/tokcm-authoring/Number/fractions/early_fractions/5608a59d6797796ce9e11484fd14cd0b/np_nb_5-9.plist</string>
            <string>/Problems/tokcm-authoring/Number/fractions/early_fractions/5608a59d6797796ce9e11484fd14cd0b/dt_4-5.plist</string>
            <string>/Problems/tokcm-authoring/Number/fractions/early_fractions/5608a59d6797796ce9e11484fd14cd0b/dt_9-10_cage.plist</string>
            <string>/Problems/tokcm-authoring/Number/fractions/early_fractions/5608a59d6797796ce9e11484fd14cd0b/dt_5-8.plist</string>
            <string>/Problems/tokcm-authoring/Number/fractions/early_fractions/5608a59d6797796ce9e11484fd14cd0b/np_nb_7-8.plist</string>
            <string>/Problems/tokcm-authoring/Number/fractions/early_fractions/5608a59d6797796ce9e11484fd14cd0b/dt_3-8.plist</string>
            <string>/Problems/tokcm-authoring/Number/fractions/early_fractions/5608a59d6797796ce9e11484fd14cd0b/dt_3-7_cage.plist</string>
            <string>/Problems/tokcm-authoring/Number/fractions/early_fractions/5608a59d6797796ce9e11484fd14cd0b/nb_7-10.plist</string>
            <string>/Problems/tokcm-authoring/Number/fractions/early_fractions/5608a59d6797796ce9e11484fd14cd0b/np_nb_8-10.plist</string>
            <string>/Problems/tokcm-authoring/Number/fractions/early_fractions/5608a59d6797796ce9e11484fd14cd0b/dt_2-10.plist</string>
            <string>/Problems/tokcm-authoring/Number/fractions/early_fractions/5608a59d6797796ce9e11484fd14cd0b/dt_5-8.plist</string>
        </array>
	</dict>
</plist>
