<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MASTERY</key>
	<true/>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>10/2=5</string>
	<key>EVAL_MODE</key>
	<string>1</string>
	<key>EVAL_TYPE</key>
	<string>ALL_ENABLED</string>
	<key>PROBLEM_DESCRIPTION</key>
	<string>.</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;What is&lt;/b:t&gt;
&lt;b:ot tag=&quot;a&quot;&gt;half&lt;/b:ot&gt;
&lt;b:t&gt;of&lt;/b:t&gt;
&lt;b:ot tag=&quot;b&quot;&gt;16&lt;/b:ot&gt;
&lt;b:t&gt;?&lt;/b:t&gt;</string>
		<string>&lt;b:on numerator=&quot;1&quot; denominator=&quot;2&quot;/&gt;
&lt;b:t&gt;of&lt;/b:t&gt;
&lt;b:ot tag=&quot;b&quot; enabled=&quot;no&quot;&gt;16&lt;/b:ot&gt;
&lt;b:op op=&quot;=&quot; /&gt;
&lt;b:ot picker=&quot;yes&quot; pickerTarget=&quot;8&quot; enabled=&quot;no&quot;&gt;8&lt;/b:ot&gt;</string>
	</array>
</dict>
</plist>
