<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Show that 5 x 1/7 = 5/7.</string>
	<key>TOOL_KEY</key>
	<string>FractionBuilder</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>INIT_FRACTIONS</key>
	<array>
		<dict>
			<key>POS_Y</key>
			<integer>500</integer>
			<key>FRACTION_MODE</key>
			<integer>0</integer>
			<key>VALUE</key>
			<integer>1</integer>
			<key>TAG</key>
			<integer>1</integer>
			<key>SHOW_CURRENT_FRACTIONS</key>
			<true/>
		</dict>
	</array>
	<key>SOLUTIONS</key>
	<array>
		<dict>
			<key>TAG</key>
			<integer>1</integer>
			<key>DIVIDEND</key>
			<integer>5</integer>
			<key>DIVISOR</key>
			<string>7</string>
		</dict>
	</array>
</dict>
</plist>
