<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anglerswim0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,912},{97,54}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,71},{97,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,813},{97,54}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,71},{97,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,912},{97,54}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,71},{97,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,813},{97,54}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,71},{97,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,746},{97,56}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{97,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{97,56}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{97,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,462},{99,56}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,69},{99,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,460},{99,56}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,69},{99,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{99,56}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,69},{99,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,460},{99,56}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,69},{99,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,746},{97,56}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,69},{97,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,699},{97,56}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,69},{97,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,690},{97,56}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,69},{97,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,415},{99,56}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{99,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,404},{99,56}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{99,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,402},{99,56}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{99,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{99,56}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{99,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,402},{99,56}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{99,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,357},{99,56}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{99,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,346},{99,56}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{99,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,688},{97,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,69},{97,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{97,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,69},{97,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,688},{97,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,69},{97,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,641},{97,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,69},{97,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,632},{97,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,69},{97,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,630},{97,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,69},{97,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{97,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,69},{97,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,200},{97,58}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,68},{97,58}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,101},{97,58}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,68},{97,58}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{97,58}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,68},{97,58}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,630},{97,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,69},{97,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,344},{99,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,69},{99,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{99,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,69},{99,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,344},{99,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,69},{99,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,299},{99,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,69},{99,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,288},{99,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,69},{99,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,286},{99,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,69},{99,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{99,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,69},{99,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,286},{99,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,69},{99,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,230},{99,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,69},{99,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{101,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{101,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,60},{101,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{101,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,60},{101,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{101,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,60},{101,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{101,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{101,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{101,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{101,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{101,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{101,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{101,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{101,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{101,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{101,56}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,230},{101,54}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,70},{101,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{101,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,70},{101,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,230},{101,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,70},{101,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,174},{101,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,70},{101,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,174},{101,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,70},{101,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{101,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,70},{101,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,174},{101,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,70},{101,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,118},{101,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,70},{101,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,118},{101,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,70},{101,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,118},{101,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,70},{101,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,585},{99,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,70},{99,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,576},{99,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,70},{99,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,574},{99,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,70},{99,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{99,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,70},{99,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,574},{99,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,70},{99,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,529},{99,54}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,70},{99,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,520},{99,54}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,70},{99,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,518},{99,54}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,70},{99,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{99,54}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,70},{99,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,518},{99,54}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,70},{99,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,473},{99,54}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,71},{99,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{97,54}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,70},{97,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,813},{97,54}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,71},{97,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,757},{97,54}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,71},{97,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>anglerswim0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,748},{97,54}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,71},{97,54}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anglerswim.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e94d1a106f4ba010bc07629291adc36b$</string>
            <key>textureFileName</key>
            <string>anglerswim.png</string>
        </dict>
    </dict>
</plist>
