<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jellyfishswim0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{57,112}}</string>
                <key>offset</key>
                <string>{-30,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,51},{57,112}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,409},{59,106}}</string>
                <key>offset</key>
                <string>{-30,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,52},{59,106}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,422},{59,102}}</string>
                <key>offset</key>
                <string>{-29,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,52},{59,102}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,69},{59,98}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,52},{59,98}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,469},{59,94}}</string>
                <key>offset</key>
                <string>{-29,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,51},{59,94}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,470},{61,90}}</string>
                <key>offset</key>
                <string>{-29,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,51},{61,90}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,531},{61,86}}</string>
                <key>offset</key>
                <string>{-29,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,51},{61,86}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,483},{63,80}}</string>
                <key>offset</key>
                <string>{-29,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,52},{63,80}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,533},{63,76}}</string>
                <key>offset</key>
                <string>{-29,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,52},{63,76}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{65,74}}</string>
                <key>offset</key>
                <string>{-29,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,50},{65,74}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,665},{65,72}}</string>
                <key>offset</key>
                <string>{-29,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,49},{65,72}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,548},{65,70}}</string>
                <key>offset</key>
                <string>{-29,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,48},{65,70}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,597},{65,68}}</string>
                <key>offset</key>
                <string>{-29,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,48},{65,68}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,599},{67,66}}</string>
                <key>offset</key>
                <string>{-29,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,47},{67,66}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{67,66}}</string>
                <key>offset</key>
                <string>{-29,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,44},{67,66}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,615},{67,66}}</string>
                <key>offset</key>
                <string>{-29,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,44},{67,66}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,530},{67,68}}</string>
                <key>offset</key>
                <string>{-29,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,43},{67,68}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{69,70}}</string>
                <key>offset</key>
                <string>{-29,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,41},{69,70}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,598},{69,72}}</string>
                <key>offset</key>
                <string>{-29,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,40},{69,72}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,594},{69,72}}</string>
                <key>offset</key>
                <string>{-29,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,40},{69,72}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,530},{65,76}}</string>
                <key>offset</key>
                <string>{-29,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,41},{65,76}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{63,82}}</string>
                <key>offset</key>
                <string>{-29,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,41},{63,82}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,470},{59,88}}</string>
                <key>offset</key>
                <string>{-29,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,43},{59,88}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{57,98}}</string>
                <key>offset</key>
                <string>{-29,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,42},{57,98}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,414},{53,106}}</string>
                <key>offset</key>
                <string>{-29,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,43},{53,106}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,361},{51,114}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,44},{51,114}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,248},{47,122}}</string>
                <key>offset</key>
                <string>{-29,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,45},{47,122}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,88},{45,130}}</string>
                <key>offset</key>
                <string>{-29,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,47},{45,130}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{41,138}}</string>
                <key>offset</key>
                <string>{-29,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,48},{41,138}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,146}}</string>
                <key>offset</key>
                <string>{-29,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,49},{39,146}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{39,142}}</string>
                <key>offset</key>
                <string>{-29,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,50},{39,142}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{41,140}}</string>
                <key>offset</key>
                <string>{-29,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,49},{41,140}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,43},{43,136}}</string>
                <key>offset</key>
                <string>{-30,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,50},{43,136}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{45,132}}</string>
                <key>offset</key>
                <string>{-30,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,51},{45,132}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,45},{45,130}}</string>
                <key>offset</key>
                <string>{-30,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,50},{45,130}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,92},{47,126}}</string>
                <key>offset</key>
                <string>{-30,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,51},{47,126}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,141},{49,124}}</string>
                <key>offset</key>
                <string>{-30,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,50},{49,124}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,196},{51,120}}</string>
                <key>offset</key>
                <string>{-30,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,51},{51,120}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{53,116}}</string>
                <key>offset</key>
                <string>{-31,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,52},{53,116}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,354},{53,114}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,51},{53,114}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,308},{53,116}}</string>
                <key>offset</key>
                <string>{-30,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,51},{53,116}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,306},{53,116}}</string>
                <key>offset</key>
                <string>{-30,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,52},{53,116}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,251},{53,118}}</string>
                <key>offset</key>
                <string>{-29,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,51},{53,118}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{55,118}}</string>
                <key>offset</key>
                <string>{-29,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,52},{55,118}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,192},{57,122}}</string>
                <key>offset</key>
                <string>{-29,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,51},{57,122}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{57,124}}</string>
                <key>offset</key>
                <string>{-29,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,52},{57,124}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{59,128}}</string>
                <key>offset</key>
                <string>{-29,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,51},{59,128}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,135},{59,124}}</string>
                <key>offset</key>
                <string>{-29,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,52},{59,124}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,189},{57,122}}</string>
                <key>offset</key>
                <string>{-29,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,51},{57,122}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,249},{57,118}}</string>
                <key>offset</key>
                <string>{-29,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,52},{57,118}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,297},{55,116}}</string>
                <key>offset</key>
                <string>{-29,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,52},{55,116}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,130},{57,114}}</string>
                <key>offset</key>
                <string>{-30,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,52},{57,114}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>jellyfishswim0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,363},{57,112}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,52},{57,112}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jellyfish.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:760e5b95b307a6a6bc64ce273d18ea7c$</string>
            <key>textureFileName</key>
            <string>jellyfish.png</string>
        </dict>
    </dict>
</plist>
