<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>schoolswim0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,108},{163,102}}</string>
                <key>offset</key>
                <string>{-32,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,30},{163,102}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>schoolswim0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{163,100}}</string>
                <key>offset</key>
                <string>{-32,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,31},{163,100}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>schoolswim0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,312},{163,100}}</string>
                <key>offset</key>
                <string>{-33,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,31},{163,100}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>schoolswim0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{161,100}}</string>
                <key>offset</key>
                <string>{-33,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,31},{161,100}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>schoolswim0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,524},{161,100}}</string>
                <key>offset</key>
                <string>{-33,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,31},{161,100}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>schoolswim0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,518},{161,100}}</string>
                <key>offset</key>
                <string>{-34,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,31},{161,100}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>schoolswim0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{161,100}}</string>
                <key>offset</key>
                <string>{-33,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,31},{161,100}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>schoolswim0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,212},{163,100}}</string>
                <key>offset</key>
                <string>{-33,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,31},{163,100}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>schoolswim0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{163,100}}</string>
                <key>offset</key>
                <string>{-33,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,31},{163,100}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>schoolswim0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,210},{163,100}}</string>
                <key>offset</key>
                <string>{-32,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{163,100}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>schoolswim0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{163,102}}</string>
                <key>offset</key>
                <string>{-33,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,31},{163,102}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>schoolswim0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,106},{163,102}}</string>
                <key>offset</key>
                <string>{-33,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,31},{163,102}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>schoolswim0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,420},{161,102}}</string>
                <key>offset</key>
                <string>{-33,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{161,102}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>schoolswim0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,414},{161,102}}</string>
                <key>offset</key>
                <string>{-34,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,32},{161,102}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>schoolswim0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{161,104}}</string>
                <key>offset</key>
                <string>{-33,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,30},{161,104}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>schoolswim0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,314},{161,104}}</string>
                <key>offset</key>
                <string>{-33,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,30},{161,104}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>schoolswim0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{163,104}}</string>
                <key>offset</key>
                <string>{-33,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,30},{163,104}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>schoolswim0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{163,102}}</string>
                <key>offset</key>
                <string>{-33,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,31},{163,102}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
            <key>schoolswim0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,104}}</string>
                <key>offset</key>
                <string>{-32,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{163,104}}</string>
                <key>sourceSize</key>
                <string>{275,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>schoolswim.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:040de18b330a323de320faf3d5019d98$</string>
            <key>textureFileName</key>
            <string>schoolswim.png</string>
        </dict>
    </dict>
</plist>
