<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>DSTRINGS</key>
    <dict>
      <key>@thing_1</key>
      <dict>
        <key>MODE</key>
        <string>RANDOM</string>
        <key>DATA</key>
        <array>
          <string>thing_1</string>
          <string>thing_2</string>
          <string>thing_3</string>
          <string>thing_4</string>
          <string>thing_5</string>
        </array>
      </dict>
    </dict>
    <key>NUMBER_PICKER</key>
    <dict>
      <key>SHOW_DROPBOX</key>
      <true/>
      <key>NUMBER_PICKER_DESCRIPTION</key>
      <string>&lt;b:oi tag="30_DT_Shape_Ellipse"/&gt;&lt;b:t&gt;are sold in blocks of {$x}. If&lt;/b:t&gt;&lt;b:oi tag="{@thing_1}"/&gt;&lt;b:t&gt;needs {$tot1}&lt;/b:t&gt;&lt;b:oi tag="30_DT_Shape_Ellipse"/&gt;&lt;b:t&gt;, how many blocks does&lt;/b:t&gt;&lt;b:oi tag="{@thing_1}"/&gt;&lt;b:t&gt;need to buy?&lt;/b:t&gt;</string>
      <key>PICKER_ORIGIN_Y</key>
      <integer>0</integer>
      <key>PICKER_EVAL_MODE</key>
      <integer>1</integer>
      <key>EVAL_VALUE</key>
      <string>6</string>
      <key>PICKER_LAYOUT</key>
      <integer>1</integer>
      <key>PICKER_ORIGIN_X</key>
      <integer>0</integer>
    </dict>
    <key>INTERNAL_DESCRIPTION</key>
    <string>&lt;b:oi tag="30_DT_Shape_Ellipse"/&gt;&lt;b:t&gt; goo is sold in blocks of {$x}.&lt;/b:t&gt;&lt;b:oi tag="{@thing_1}"/&gt;&lt;b:t&gt;needs {$tot1} &lt;/b:t&gt;&lt;b:oi tag="30_DT_Shape_Ellipse"/&gt;&lt;b:t&gt; goo. How many blocks does&lt;/b:t&gt;&lt;b:oi tag="{@thing_1}"/&gt;&lt;b:t&gt;need to buy?&lt;/b:t&gt;</string>
    <key>DVARS</key>
    <array>
      <dict>
        <key>MIN</key>
        <string>4</string>
        <key>MAX</key>
        <string>8</string>
        <key>VAR_NAME</key>
        <string>$x</string>
      </dict>
      <dict>
        <key>VALUE</key>
        <string>{5*$x}</string>
        <key>VAR_NAME</key>
        <string>$sum</string>
      </dict>
      <dict>
        <key>MIN</key>
        <string>1</string>
        <key>MAX</key>
        <string>4</string>
        <key>VAR_NAME</key>
        <string>$a</string>
      </dict>
      <dict>
        <key>VALUE</key>
        <string>{$sum+$a}</string>
        <key>VAR_NAME</key>
        <string>$tot1</string>
      </dict>
    </array>
  </dict>
</plist>
