<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MASTERY</key>
	<true/>
	<key>INTERNAL_DESCRIPTION</key>
	<string>&lt;b:oi tag=&quot;30_DT_Shape_Diamond&quot;/&gt;&lt;b:t&gt;goo is sold in blocks of {$x}, and cost {$p} goobles each.&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;needs {$tot1} &lt;/b:t&gt;&lt;b:oi tag=&quot;30_DT_Shape_Diamond&quot;/&gt;&lt;b:t&gt; goo.&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;pays with a {$money} note. How much change does&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;get?&lt;/b:t&gt;</string>
	<key>DSTRINGS</key>
	<dict>
		<key>@thing_1</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>thing_1</string>
				<string>thing_2</string>
				<string>thing_3</string>
				<string>thing_4</string>
				<string>thing_5</string>
			</array>
		</dict>
	</dict>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>&lt;b:oi tag=&quot;30_DT_Shape_Diamond&quot;/&gt;&lt;b:t&gt;are sold in blocks of {$x}, and costs {$p} goobles each.&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;needs {$tot1}&lt;/b:t&gt;&lt;b:oi tag=&quot;30_DT_Shape_Diamond&quot;/&gt;&lt;b:t&gt; and pays with a {$money} gooble note. How much change will&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;receive?&lt;/b:t&gt;</string>
		<key>PICKER_LAYOUT</key>
		<integer>1</integer>
		<key>PICKER_ORIGIN_X</key>
		<integer>0</integer>
		<key>PICKER_ORIGIN_Y</key>
		<integer>0</integer>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<string>{$ans}</string>
	</dict>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$p</string>
			<key>MIN</key>
			<string>4</string>
			<key>MAX</key>
			<string>7</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>4</string>
			<key>MAX</key>
			<string>6</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$a</string>
			<key>MIN</key>
			<string>1</string>
			<key>MAX</key>
			<string>3</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$b</string>
			<key>MIN</key>
			<string>4</string>
			<key>MAX</key>
			<string>8</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$sum</string>
			<key>VALUE</key>
			<string>{3*$x}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$tot1</string>
			<key>VALUE</key>
			<string>{$sum+$a}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$money</string>
			<key>VALUE</key>
			<string>{$sum+12}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$given</string>
			<key>VALUE</key>
			<string>{$p*4}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$ans</string>
			<key>VALUE</key>
			<string>{$money-$given}</string>
		</dict>
	</array>
</dict>
</plist>
