<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INTERNAL_DESCRIPTION</key>
	<string>&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;buys {$n}&lt;/b:t&gt;&lt;b:oi tag=&quot;30_DT_Shape_Diamond&quot;/&gt;&lt;b:t&gt;and {$m}&lt;/b:t&gt;&lt;b:oi tag=&quot;30_DT_Shape_House&quot;/&gt;&lt;b:t&gt;. Each&lt;/b:t&gt;&lt;b:oi tag=&quot;30_DT_Shape_Diamond&quot;/&gt;&lt;b:t&gt;costs 3 goobles, each&lt;/b:t&gt;&lt;b:oi tag=&quot;30_DT_Shape_House&quot;/&gt;&lt;b:t&gt;costs 4 goobles. How much does&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;spend?&lt;/b:t&gt;</string>
	<key>TOOL_KEY</key>
	<string>DistributionTool</string>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>DSTRINGS</key>
	<dict>
		<key>@thing_1</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>thing_1</string>
				<string>thing_2</string>
				<string>thing_3</string>
				<string>thing_4</string>
				<string>thing_5</string>
			</array>
		</dict>
	</dict>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>BLOCK_TYPE</key>
			<string>Diamond</string>
			<key>QUANTITY</key>
			<string>{$n}</string>
		</dict>
		<dict>
			<key>BLOCK_TYPE</key>
			<string>House</string>
			<key>QUANTITY</key>
			<string>{$m}</string>
		</dict>
	</array>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;buys {$n}&lt;/b:t&gt;&lt;b:oi tag=&quot;30_DT_Shape_Diamond&quot;/&gt;&lt;b:t&gt; which cost 3 goobles each.&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;also buys {$m}&lt;/b:t&gt;&lt;b:oi tag=&quot;30_DT_Shape_House&quot;/&gt;
&lt;b:t&gt; which cost 4 goobles each. How much does&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;spend in total?&lt;/b:t&gt;</string>
		<key>PICKER_LAYOUT</key>
		<integer>1</integer>
		<key>PICKER_ORIGIN_X</key>
		<integer>0</integer>
		<key>PICKER_ORIGIN_Y</key>
		<integer>0</integer>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<string>{$green+$blue}</string>
	</dict>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$m</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>5</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$n</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>5</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$green</string>
			<key>VALUE</key>
			<string>{4*$m}</string>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$blue</string>
			<key>VALUE</key>
			<string>{3*$n}</string>
		</dict>
	</array>
</dict>
</plist>
