<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>DSTRINGS</key>
    <dict>
      <key>@thing_1</key>
      <dict>
        <key>MODE</key>
        <string>RANDOM</string>
        <key>DATA</key>
        <array>
          <string>thing_1</string>
          <string>thing_2</string>
          <string>thing_3</string>
        </array>
      </dict>
      <key>@thing_2</key>
      <dict>
        <key>MODE</key>
        <string>RANDOM</string>
        <key>DATA</key>
        <array>
          <string>thing_4</string>
          <string>thing_5</string>
        </array>
      </dict>
    </dict>
    <key>NUMBER_PICKER</key>
    <dict>
      <key>SHOW_DROPBOX</key>
      <true/>
      <key>NUMBER_PICKER_DESCRIPTION</key>
      <string>&lt;b:oi tag="{@thing_1}"/&gt;&lt;b:t&gt;buys {$m}&lt;/b:t&gt;&lt;b:oi tag="30_DT_Shape_RoundedSquare"/&gt;&lt;b:t&gt;and {$n}&lt;/b:t&gt;&lt;b:oi tag="30_DT_Shape_Ellipse"/&gt;&lt;b:t&gt;, while&lt;/b:t&gt;&lt;b:oi tag="{@thing_2}"/&gt;&lt;b:t&gt;buys {$p}&lt;/b:t&gt;&lt;b:oi tag="30_DT_Shape_RoundedSquare"/&gt;&lt;b:t&gt;and {$q}&lt;/b:t&gt;&lt;b:oi tag="30_DT_Shape_Ellipse"/&gt;&lt;b:t&gt;. Each&lt;/b:t&gt;&lt;b:oi tag="30_DT_Shape_RoundedSquare"/&gt;&lt;b:t&gt;costs {$x} goobles and each&lt;/b:t&gt;&lt;b:oi tag="30_DT_Shape_Ellipse"/&gt;&lt;b:t&gt;costs {$y} goobles. How much did they spend in total?&lt;/b:t&gt;</string>
      <key>PICKER_ORIGIN_Y</key>
      <integer>0</integer>
      <key>PICKER_EVAL_MODE</key>
      <integer>1</integer>
      <key>EVAL_VALUE</key>
      <string>{$1tot+$2tot}</string>
      <key>PICKER_LAYOUT</key>
      <integer>1</integer>
      <key>PICKER_ORIGIN_X</key>
      <integer>0</integer>
    </dict>
    <key>INTERNAL_DESCRIPTION</key>
    <string>&lt;b:oi tag="{@thing_1}"/&gt;&lt;b:t&gt;buys {$m}&lt;/b:t&gt;&lt;b:oi tag="30_DT_Shape_RoundedSquare"/&gt;&lt;b:t&gt; goo and {$n} &lt;/b:t&gt;&lt;b:oi tag="30_DT_Shape_Ellipse"/&gt;&lt;b:t&gt; goo.&lt;/b:t&gt;&lt;b:oi tag="{@thing_2}"/&gt;&lt;b:t&gt;buys {$p} &lt;/b:t&gt;&lt;b:oi tag="30_DT_Shape_RoundedSquare"/&gt;&lt;b:t&gt; goo and {$q} &lt;/b:t&gt;&lt;b:oi tag="30_DT_Shape_Ellipse"/&gt;&lt;b:t&gt; goo. Each&lt;/b:t&gt;&lt;b:oi tag="30_DT_Shape_RoundedSquare"/&gt;&lt;b:t&gt;costs {$x} goobles and each &lt;/b:t&gt;&lt;b:oi tag="30_DT_Shape_Ellipse"/&gt;&lt;b:t&gt; costs {$y} goobles. How much did they spend in total?&lt;/b:t&gt;</string>
    <key>DVARS</key>
    <array>
      <dict>
        <key>MIN</key>
        <string>2</string>
        <key>MAX</key>
        <string>5</string>
        <key>VAR_NAME</key>
        <string>$m</string>
      </dict>
      <dict>
        <key>MIN</key>
        <string>2</string>
        <key>MAX</key>
        <string>5</string>
        <key>VAR_NAME</key>
        <string>$n</string>
      </dict>
      <dict>
        <key>MIN</key>
        <string>2</string>
        <key>MAX</key>
        <string>5</string>
        <key>VAR_NAME</key>
        <string>$p</string>
      </dict>
      <dict>
        <key>MIN</key>
        <string>2</string>
        <key>MAX</key>
        <string>5</string>
        <key>VAR_NAME</key>
        <string>$q</string>
      </dict>
      <dict>
        <key>MIN</key>
        <string>2</string>
        <key>MAX</key>
        <string>4</string>
        <key>VAR_NAME</key>
        <string>$x</string>
      </dict>
      <dict>
        <key>MIN</key>
        <string>2</string>
        <key>MAX</key>
        <string>5</string>
        <key>VAR_NAME</key>
        <string>$y</string>
      </dict>
      <dict>
        <key>VALUE</key>
        <string>{$x*$m}</string>
        <key>VAR_NAME</key>
        <string>$xm</string>
      </dict>
      <dict>
        <key>VALUE</key>
        <string>{$x*$p}</string>
        <key>VAR_NAME</key>
        <string>$xp</string>
      </dict>
      <dict>
        <key>VALUE</key>
        <string>{$y*$n}</string>
        <key>VAR_NAME</key>
        <string>$yn</string>
      </dict>
      <dict>
        <key>VALUE</key>
        <string>{$y*$q}</string>
        <key>VAR_NAME</key>
        <string>$yq</string>
      </dict>
      <dict>
        <key>VALUE</key>
        <string>{$xm+$yn}</string>
        <key>VAR_NAME</key>
        <string>$1tot</string>
      </dict>
      <dict>
        <key>VALUE</key>
        <string>{$xp+$yq}</string>
        <key>VAR_NAME</key>
        <string>$2tot</string>
      </dict>
    </array>
  </dict>
</plist>
