<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INTERNAL_DESCRIPTION</key>
	<string>&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;buys {$n} &lt;/b:t&gt;&lt;b:oi tag=&quot;30_DT_Shape_House&quot;/&gt;&lt;b:t&gt;and {$q} &lt;/b:t&gt;&lt;b:oi tag=&quot;30_DT_Shape_Diamond&quot;/&gt;&lt;b:t&gt;.&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_2}&quot;/&gt;&lt;b:t&gt;buys {$n+3} &lt;/b:t&gt;&lt;b:oi tag=&quot;30_DT_Shape_House&quot;/&gt;&lt;b:t&gt;and {$q} &lt;/b:t&gt;&lt;b:oi tag=&quot;30_DT_Shape_Square&quot;/&gt;&lt;b:t&gt;.&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;spends {$tot1}, and&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_2}&quot;/&gt;&lt;b:t&gt;spends {$tot2}. How much is a  &lt;/b:t&gt;&lt;b:oi tag=&quot;30_DT_Shape_House&quot;/&gt;&lt;b:t&gt; goo?&lt;/b:t&gt;</string>
	<key>DSTRINGS</key>
	<dict>
		<key>@thing_1</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>thing_1</string>
				<string>thing_2</string>
				<string>thing_3</string>
			</array>
		</dict>
		<key>@thing_2</key>
		<dict>
			<key>MODE</key>
			<string>RANDOM</string>
			<key>DATA</key>
			<array>
				<string>thing_4</string>
				<string>thing_5</string>
			</array>
		</dict>
	</dict>
	<key>NUMBER_PICKER</key>
	<dict>
		<key>SHOW_DROPBOX</key>
		<true/>
		<key>NUMBER_PICKER_DESCRIPTION</key>
		<string>&lt;b:oi tag=&quot;{@thing_1}&quot;/&gt;&lt;b:t&gt;spends {$tot1} on {$n}&lt;/b:t&gt;&lt;b:oi tag=&quot;30_DT_Shape_House&quot;/&gt;&lt;b:t&gt;and {$q}&lt;/b:t&gt;&lt;b:oi tag=&quot;30_DT_Shape_Diamond&quot;/&gt;&lt;b:t&gt;, while&lt;/b:t&gt;&lt;b:oi tag=&quot;{@thing_2}&quot;/&gt;&lt;b:t&gt;spends {$tot2} on {$n+3}&lt;/b:t&gt;&lt;b:oi tag=&quot;30_DT_Shape_House&quot;/&gt;&lt;b:t&gt;and {$q}&lt;/b:t&gt;&lt;b:oi tag=&quot;30_DT_Shape_Diamond&quot;/&gt;&lt;b:t&gt;. How much does each &lt;/b:t&gt;&lt;b:oi tag=&quot;30_DT_Shape_House&quot;/&gt;&lt;b:t&gt;cost?&lt;/b:t&gt;</string>
		<key>PICKER_ORIGIN_Y</key>
		<integer>0</integer>
		<key>PICKER_EVAL_MODE</key>
		<integer>1</integer>
		<key>EVAL_VALUE</key>
		<string>{$x}</string>
		<key>PICKER_LAYOUT</key>
		<integer>1</integer>
		<key>PICKER_ORIGIN_X</key>
		<integer>0</integer>
	</dict>
	<key>DVARS</key>
	<array>
		<dict>
			<key>MIN</key>
			<string>3</string>
			<key>MAX</key>
			<string>6</string>
			<key>VAR_NAME</key>
			<string>$n</string>
		</dict>
		<dict>
			<key>MIN</key>
			<string>3</string>
			<key>MAX</key>
			<string>5</string>
			<key>VAR_NAME</key>
			<string>$m</string>
		</dict>
		<dict>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>4</string>
			<key>VAR_NAME</key>
			<string>$q</string>
		</dict>
		<dict>
			<key>MIN</key>
			<string>3</string>
			<key>MAX</key>
			<string>6</string>
			<key>VAR_NAME</key>
			<string>$x</string>
		</dict>
		<dict>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>5</string>
			<key>VAR_NAME</key>
			<string>$y</string>
		</dict>
		<dict>
			<key>VALUE</key>
			<string>{$n*$x}</string>
			<key>VAR_NAME</key>
			<string>$nx</string>
		</dict>
		<dict>
			<key>VALUE</key>
			<string>{$q*$y}</string>
			<key>VAR_NAME</key>
			<string>$qy</string>
		</dict>
		<dict>
			<key>VALUE</key>
			<string>{$nx+$qy}</string>
			<key>VAR_NAME</key>
			<string>$tot1</string>
		</dict>
		<dict>
			<key>VALUE</key>
			<string>{$n+3}</string>
			<key>VAR_NAME</key>
			<string>$n3</string>
		</dict>
		<dict>
			<key>VALUE</key>
			<string>{$n3*$x}</string>
			<key>VAR_NAME</key>
			<string>$nx3</string>
		</dict>
		<dict>
			<key>VALUE</key>
			<string>{$nx3+$qy}</string>
			<key>VAR_NAME</key>
			<string>$tot2</string>
		</dict>
	</array>
	<key>MASTERY</key>
	<true/>
</dict>
</plist>
