<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>show that 3^5 x 3^-2  is 3^3</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>cm: showing that 3^5 x 3^-2 is the same as 3^3</string>
	<key>TOOL_KEY</key>
	<string>PartitionTool</string>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>LENGTH</key>
			<integer>2</integer>
			<key>LABEL</key>
			<string>3</string>
		</dict>
		<dict>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>LENGTH</key>
			<integer>2</integer>
			<key>LABEL</key>
			<string>3</string>
		</dict>
		<dict>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>LENGTH</key>
			<integer>2</integer>
			<key>LABEL</key>
			<string>3</string>
		</dict>
		<dict>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>LENGTH</key>
			<integer>2</integer>
			<key>LABEL</key>
			<string>3</string>
		</dict>
		<dict>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>LENGTH</key>
			<integer>2</integer>
			<key>LABEL</key>
			<string>3</string>
		</dict>
	</array>
	<key>INIT_BARS</key>
	<array>
		<dict>
			<key>LOCKED</key>
			<false/>
			<key>LENGTH</key>
			<integer>14</integer>
			<key>SHOW_RESULT</key>
			<false/>
		</dict>
	</array>
	<key>INIT_CAGES</key>
	<array>
		<dict>
			<key>LENGTH</key>
			<integer>2</integer>
			<key>LABEL</key>
			<string>1/3</string>
			<key>QUANTITY</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>REJECT_MODE</key>
	<integer>0</integer>
</dict>
</plist>
