<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>EVAL_TYPE</key>
	<string>ALL_PICKERS_CORRECT</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:t&gt;What&apos;s the missing number?&lt;/b:t&gt;</string>
		<string>&lt;b:t&gt;{$x}x tables&lt;/b:t&gt;&lt;b:ot&gt;{$x*5}&lt;/b:ot&gt;&lt;b:ot&gt;{$x*9}&lt;/b:ot&gt;</string>
		<string>&lt;b:t&gt;{$y}x tables&lt;/b:t&gt;&lt;b:ot&gt;{$y*5}&lt;/b:ot&gt;&lt;b:on usePicker=&quot;yes&quot; pickerTarget=&quot;{$y*9}&quot;/&gt;</string>
	</array>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>SELECT_FROM</key>
			<array>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
			</array>
		</dict>
		<dict>
			<key>VAR_NAME</key>
			<string>$y</string>
			<key>SELECT_FROM</key>
			<array>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
			</array>
		</dict>
	</array>
	<key>EVAL_MODE</key>
	<integer>1</integer>
</dict>
</plist>
