<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>MASTERY</key>
	<true/>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Complete</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>make the biggest total</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:ot tag=&quot;a&quot;&gt;8&lt;/b:ot&gt;
&lt;b:ot tag=&quot;b&quot;&gt;5&lt;/b:ot&gt;
&lt;b:ot tag=&quot;c&quot;&gt;40&lt;/b:ot&gt;</string>
		<string>&lt;b:t&gt;8 x 5 = 40 &lt;br /&gt; &lt;/b:t&gt;
&lt;b:t&gt;5 &amp;times; &lt;/b:t&gt; &lt;b:ot tag=&quot;a&quot; enabled=&quot;no&quot;&gt; 8 &lt;/b:ot&gt; &lt;b:t&gt; &amp;equiv; 40 &lt;br /&gt; &lt;/b:t&gt;
&lt;b:t&gt;40 &amp;divide; 8 &amp;equiv;&lt;/b:t&gt; &lt;b:ot tag=&quot;b&quot; enabled=&quot;no&quot;&gt; 5 &lt;/b:ot&gt;
&lt;b:t&gt; &lt;br /&gt; &lt;/b:t&gt; &lt;b:ot tag=&quot;c&quot; enabled=&quot;no&quot;&gt; 40 &lt;/b:ot&gt;  &lt;b:t&gt; &amp;divide; 5 &amp;equiv; 8 &lt;/b:t&gt; </string>
	</array>
</dict>
</plist>
