<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOOL_KEY</key>
	<string>ExprBuilder</string>
	<key>MASTERY</key>
	<true/>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Make the biggest total using the numbers below.</string>
	<key>INTERNAL_DESCRIPTION</key>
	<string>make the biggest total</string>
	<key>EXPR_STAGES</key>
	<array>
		<string>&lt;b:ot tag=&quot;a&quot;&gt;1&lt;/b:ot&gt;
&lt;b:ot tag=&quot;b&quot;&gt; 2 &lt;/b:ot&gt;
&lt;b:ot tag=&quot;c&quot;&gt;3&lt;/b:ot&gt;
&lt;b:ot tag=&quot;d&quot;&gt;4&lt;/b:ot&gt;</string>
		<string>&lt;b:ot tag=&quot;a&quot; enabled=&quot;no&quot;&gt; 1 &lt;/b:ot&gt;
&lt;b:op op=&quot;+&quot; /&gt;
&lt;b:t&gt;&amp;#040;&lt;/b:t&gt;
&lt;b:ot tag=&quot;d&quot; enabled=&quot;no&quot;&gt; 4 &lt;/b:ot&gt;
&lt;b:op op=&quot;*&quot; /&gt;
&lt;b:ot tag=&quot;c&quot; enabled=&quot;no&quot;&gt; 3 &lt;/b:ot&gt;
&lt;b:t&gt;&amp;#041;&lt;/b:t&gt;
&lt;b:op op=&quot;+&quot; /&gt;
&lt;b:ot tag=&quot;b&quot; enabled=&quot;no&quot;&gt; 2 &lt;/b:ot&gt;
&lt;b:op op=&quot;=&quot; /&gt;
&lt;b:ot picker=&quot;yes&quot; pickerTarget=&quot;15&quot;&gt;15&lt;/b:ot&gt;</string>
	</array>
</dict>
</plist>
