<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROBLEM_DESCRIPTION</key>
	<string>Make {$x}%.</string>
	<key>TOOL_KEY</key>
	<string>PlaceValue</string>
	<key>COL_BASE_VALUE</key>
	<integer>10</integer>
	<key>FIRST_COL_VALUE</key>
	<integer>1</integer>
	<key>NUMBER_COLS</key>
	<integer>3</integer>
	<key>DEFAULT_COL</key>
	<integer>2</integer>
	<key>ROPES_PER_COL</key>
	<integer>2</integer>
	<key>ROWS_PER_COL</key>
	<integer>5</integer>
	<key>ALLOW_CONDENSING</key>
	<true/>
	<key>ALLOW_MULCHING</key>
	<false/>
	<key>ALLOW_PANNING</key>
	<false/>
	<key>SHOW_CAGE</key>
	<true/>
	<key>X_OFFSET</key>
	<real>0.3</real>
	<key>COLUMN_SPACING</key>
	<real>0.3</real>
	<key>SOLUTION</key>
	<dict>
		<key>SOLUTION_TYPE</key>
		<string>TOTAL_COUNT</string>
		<key>SOLUTION_VALUE</key>
		<string>0.{$x}</string>
		<key>SOLUTION_DISPLAY_TEXT2</key>
		<string>success!</string>
	</dict>
	<key>REJECT_MODE</key>
	<integer>1</integer>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>DEFAULT_SCALE</key>
	<real>0.85</real>
	<key>DVARS</key>
	<array>
		<dict>
			<key>VAR_NAME</key>
			<string>$x</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>9</string>
		</dict>
	</array>
	<key>COLUMN_SPRITES</key>
	<dict>
		<key>0.1</key>
		<string>/images/placevalue/obj-placevalue-unit10percent.png</string>
		<key>0.01</key>
		<string>/images/placevalue/obj-placevalue-unit1percent.png</string>
	</dict>
</dict>
</plist>
