<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INTRO</key>
	<true/>
	<key>META_QUESTION</key>
	<dict>
		<key>META_QUESTION_EVAL_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWER_MODE</key>
		<integer>0</integer>
		<key>META_QUESTION_ANSWERS</key>
		<array>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>1/{$m}</string>
				<key>META_ANSWER_VALUE</key>
				<false/>
			</dict>
			<dict>
				<key>META_ANSWER_TEXT</key>
				<string>1/{$n}</string>
				<key>META_ANSWER_VALUE</key>
				<true/>
			</dict>
		</array>
		<key>META_QUESTION_TITLE</key>
		<string>What size is the small block?</string>
	</dict>
	<key>TOOL_KEY</key>
	<string>NumberBonds</string>
	<key>New item</key>
	<string></string>
	<key>INIT_BARS</key>
	<array>
		<dict>
			<key>LOCKED</key>
			<true/>
			<key>LENGTH</key>
			<string>{$n}</string>
		</dict>
		<dict>
			<key>LOCKED</key>
			<false/>
			<key>LENGTH</key>
			<string>{$n}</string>
		</dict>
	</array>
	<key>INIT_OBJECTS</key>
	<array>
		<dict>
			<key>LABEL</key>
			<string>1</string>
			<key>PUT_IN_ROW</key>
			<integer>0</integer>
			<key>LENGTH</key>
			<string>{$n}</string>
		</dict>
	</array>
	<key>INIT_CAGES</key>
	<array>
		<dict>
			<key>LENGTH</key>
			<integer>1</integer>
			<key>LABEL</key>
			<string> </string>
			<key>QUANTITY</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>EVAL_MODE</key>
	<integer>1</integer>
	<key>SHOW_BADGES</key>
	<false/>
	<key>SOLUTIONS</key>
	<array/>
	<key>SOLUTION_MODE</key>
	<integer>4</integer>
	<key>EVAL_UNIQUE_COMPOSITION_TARGET</key>
	<integer>10</integer>
	<key>DVARS</key>
	<array>
		<dict>
			<key>RECALL</key>
			<string>{$m}</string>
			<key>VAR_NAME</key>
			<string>$m</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>7</string>
		</dict>
		<dict>
			<key>RECALL</key>
			<string>{$n}</string>
			<key>VAR_NAME</key>
			<string>$n</string>
			<key>MIN</key>
			<string>2</string>
			<key>MAX</key>
			<string>7</string>
		</dict>
	</array>
	<key>REPEAT_MY_SET_MIN</key>
	<integer>1</integer>
	<key>REPEAT_SET</key>
	<string>A</string>

</dict>
</plist>
